/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../../common/variables" as *;
@use "../../common/mixins" as *;

body.demo {

	#app {
		padding-top: 0;
	}

	header {
		display: none;
	}

	.Urlslab-Faq__items {
		padding: 0 1.5em;
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		.Urlslab-Faq__items {
			columns: 2;
		}
	}
}

.RequestDemo {


	&.DemoLogo {

		&--wrapper {
			height: 0;

			.elementor-widget-wrap {
				height: 0;
			}

			.DemoLogo {
				top: 1.5em;
				z-index: 2;
				margin-left: 1em;

				&.elementor-widget-image {
					text-align: left;

					a img[src$=".svg"] {
						width: 8.125rem;
					}
				}

			}

			@media (min-width: $breakpoint-tablet-landscape) {


				.DemoLogo {
					margin-left: 2em;
				}
			}
		}
	}

	&.Block {
		margin-bottom: 0 !important;
		padding: 0 !important;
		background: url(../../images/demo_bg.jpg) center center no-repeat;
		background-size: cover;

		body.demo & {
			margin-top: 0 !important;
			margin-bottom: 3em !important;
		}

		.elementor-widget-heading h2.elementor-heading-title {
			margin-bottom: 10px !important;
		}


		.DemoWhatYoulearn {
			background-color: #feefe0;
			padding: 1em 1.5em;
			margin-bottom: 1.5em;
			border-radius: 8px;

			* {
				font-size: 0.75rem;
			}

			h5 {
				margin-bottom: 0.5em;
			}

			.checklist {
				max-width: none;
				margin-bottom: 0;
			}
		}

		.DemoVideo {

			&.elementor-widget-video .elementor-widget-container {
				overflow: visible;
			}

			video {
				width: auto;
				border: 0;
				clip-path: polygon(-15% 0, 99.15% 0.47%, 99.78% 80.72%, 99.65% 89.97%, 87.82% 96.97%, -11.91% 100.46%);
				max-width: none;
				mask-image: linear-gradient(180deg, transparent 0%, rgba($black-real, 1) 15%, rgba($black-real, 1) 90%, transparent 95%), linear-gradient(to right, transparent 90%, rgba($black-real, 1) 100%);
				mask-size: 100% 100%, 100% 100%;
				mask-position: 0 0, 0 10%;
				mask-repeat: no-repeat;
				mask-composite: exclude;
				mask-composite: xor;
			}

			@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
				display: none;
			}

			@media (max-width: ($breakpoint-desktop-hd + 20px)) {

				.e-hosted-video {
					height: 60rem;
				}

				video {
					height: 60rem;
				}
			}

			@media (min-width: ($breakpoint-desktop-hd + 20px)) {
				min-height: 60rem;

				.e-hosted-video {
					height: 60rem;
				}

				video {
					max-height: 60rem;
				}
			}
		}

		.ScheduleForm {
			position: relative;
			z-index: 1;

			@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
				width: 100%;
				flex-shrink: 0;
			}
		}

		.wrapper {
			padding: 0 !important;
			padding-top: 2rem !important;
			position: relative;

			&::after {
				position: absolute;
				content: "";
				left: -26%;
				top: 14%;
				width: 50%;
				height: 41%;
				z-index: 0;
				background: url(../../images/demo_this_can_be_you.png) center center no-repeat;
				background-size: contain;
			}

			@media (min-width: $breakpoint-tablet-landscape) {
				padding: 2rem !important;
			}

			&--inn {

				> .elementor-container {
					align-items: center;
				}

				@media (min-width: $breakpoint-tablet-landscape) {
					margin-top: 1em;
				}
			}
		}

		@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
			padding-top: 3em !important;
			padding-bottom: 0 !important;

			.wrapper {
				margin-top: 0 !important;
			}
		}

		iframe,
		.ScheduleForm .elementor-widget-html {
			margin-bottom: 0.625em;
			width: 100% !important;
		}

		.elementor-section .elementor-container {

			.Box--shadow:first-of-type {

				@include color(box-shadow, box-shadow);
				@include color(background-color, main-background);
				padding: 1em !important;
				border-radius: $border-radius-16;

				@media (min-width: $breakpoint-desktop) {
					width: 65% !important;
					padding: 1em 3em !important;
				}
			}

			.DemoVideo--wrap {
				width: 40%;
			}
		}
	}


}

