{
	"env": {
		"browser": true,
		"worker": true,
		"es6": true
	},
	"globals": {
		"fetch": true,
		"sessionStorage": true,
		"localStorage": true,
		"IntersectionObserver": true,
		"ResizeObserver": true
	},
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"requireConfigFile": false
	},
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended-with-formatting"
	]
}
