.features {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;

	&--optional {

		color: $light-gray-icon;
		background-color: $pricing-gray;
		font-size: 0.75rem;
		font-weight: $font-weight-bold;
		text-transform: uppercase;
		padding: 0.25em 1em;
		margin-bottom: 1em;
		border-radius: 1em;
	}

	@media (min-width: $breakpoint-tablet) {
		justify-content: space-between;
	}
}
