.shortcode--generator {
	position: relative;
	width: 100%;

	textarea {
		width: 100%;
	}

	&__message {

		color: $white;
		@include absoluteCenter();
		position: absolute;
		z-index: 1;
		background-color: rgba($black-real, 0.6);
		padding: 1.5em;
		border-radius: $border-radius-16;
	}
}
