#webcalcroot {
		font-size: $font-size-default;
	font-weight: $font-weight-normal;
	line-height: $line-height-default;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.flex {
	display: flex;
	flex-direction: column;

	&--column {
		flex-direction: column;
	}

	&--align-center {
		align-items: center;
	}

	@media (min-width: $breakpoint-tablet) {
		flex-direction: row;
	}
}

.full {
	width: 100%;

	@media (max-width: $breakpoint-tablet) {

		* {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.mobile--only {

	@media (min-width: $breakpoint-tablet) {
		display: none;
	}
}

.desktop--only {

	@media (max-width: $breakpoint-tablet - 1px) {
		display: none;
	}
}

[class*="--modal"] {
	position: relative;
}

.modal--close {
	position: absolute;
	font-size: 2.25rem;
	right: 0.5em;
	top: 0.5em;
	color: $light-gray-icon;
	cursor: pointer;

	&:hover {

		color: $dark-orange;
	}
}

