/* stylelint-disable selector-class-pattern */

h1,
h2,
h3,
h4 {
	font-weight: $font-weight-bold;
	text-align: center;
}

h2 {
	font-size: 1rem !important;
	line-height: 1.3 !important;
	margin: 0 auto 0.75em !important;

	@media (min-width: $breakpoint-tablet) {
		line-height: 1.3 !important;
		margin: 0 auto 1.5em !important;
	}

	&.smaller {
		font-size: 0.85rem !important;
		line-height: 1.3 !important;

		@media (min-width: $breakpoint-tablet) {
			font-size: 1.1rem !important;
			line-height: 1.3 !important;
			margin: 0 -6em 1em !important;
		}
	}
}

h4 {
	font-size: 0.875rem;
}

p {

	@include color(color, font-color-normal);
	font-size: 0.875rem;
	line-height: 1.6;

	&.subtitle--icon {
		text-align: center;
		font-weight: 700;
		color: $black;

		img,
		svg {
			height: 1.25em;
			margin-right: 0.75em;
		}
	}
}

ul {
	font-size: 0.875rem;
}

a:not(.Button) {
	transition: color 0.2s;

	&::after {
		display: none !important;
	}

	&:hover {

		@include color(color, primary-color);
	}
}

.highlight {

	@include color(color, primary-color);

	&-gradient {

		@include color(background, background);
		background-clip: text;
		color: transparent;
		box-decoration-break: clone;
	}
}

.error {

	@include color(color, error-color);
}
