/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

body.alternatives.single {

	figure.wp-block-table,
	.AlternativeTable,
	.Content {

		tbody tr {

			&.stars td:not(:first-of-type):not(:empty) {

				&::after {
					content: "★★★★★";
					display: block;
					font-size: 0.875rem;
					line-height: 1;
					letter-spacing: 1px;
					background: linear-gradient(90deg, #ffbe35 calc(var(--rating) / 5 * 100%), #dedede calc(var(--rating) / 5 * 100%));
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
		}


		td,
		th {

			&:nth-of-type(2) {
				background-color: $medium-orange;
			}

			@media (min-width: $breakpoint-tablet) {

				&:not(:first-of-type) {
					text-align: center;
				}
			}
		}
	}
}

body.page-template {

	.AlternativeTable {

		&__cell__text {
			display: flex;
			align-items: center;
			justify-content: center;

		}

		.ComparePlans__tooltip {
			display: flex;

			.AlternativeTable__cell__icon--done {
				width: 100%;
				height: 100%;
				display: flex;
				position: relative;

				&::before {

					@include square(1.25em);
					content: url(../../images/done.svg);
					display: block;
				}

				p {
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
				}
			}

			.AlternativeTable__cell__icon--cancel {
				width: 100%;
				height: 100%;
				display: flex;
				position: relative;

				&::before {

					@include square(1.25em);
					content: url(../../images/cancel.svg);
					display: block;
				}

				p {
					position: absolute;
					top: 0;
					left: 0;
					margin: 0;
				}
			}
		}
	}
}
