/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

body.alternatives.single {

	figure.wp-block-table,
	.AlternativeTable,
	.Content {

		tbody tr {

			&.stars td:not(:first-of-type):not(:empty) {

				&::after {
					content: "★★★★★";
					display: block;
					font-size: 0.875rem;
					font-family: $font-primary;
					line-height: 1;
					letter-spacing: 1px;
					background: linear-gradient(90deg, #ffbe35 calc(var(--rating) / 5 * 100%), #dedede calc(var(--rating) / 5 * 100%));
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
		}


		td,
		th {

			&:nth-of-type(2) {
				background-color: $medium-orange;
			}

			@media (min-width: $breakpoint-tablet) {

				&:not(:first-of-type) {
					text-align: center;
				}
			}
		}
	}
}
