/* stylelint-disable selector-class-pattern, no-descending-specificity */

.BlockPricing {
	padding-top: 0 !important;
	padding-bottom: 0 !important;

	.wrapper,
	.wrapper__wide {
		padding-top: 50px !important;
		padding-bottom: 50px !important;

		.elementor-row {
			align-items: center;
		}

		.elementor-container {
			width: 100%;

			.wrapper,
			.wrapper__wide {

				.elementor-column {
					max-width: 40%;

					&:last-of-type {
						max-width: 60%;
					}
				}
			}
		}
	}

	.wrapper__wide {
		padding: 3.125em;
		border-radius: $border-radius-16;

		@media (min-width: $breakpoint-desktop-box) {
			padding: 3.125em 7.5em;
		}
	}

	.elementor-col-50 {

		&:first-of-type {

			.elementor-heading-title {

				@media (min-width: $breakpoint-tablet) {
					font-size: 2.5rem;
				}
			}
		}
	}


	.elementor-text-editor {

		p {

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__container {
		display: flex;
		flex-flow: wrap row;
		justify-content: flex-end;
		align-items: stretch;

		&__item {
			position: relative;
			width: 100%;
			max-width: 285px;
			vertical-align: top;

			@media (min-width: $breakpoint-desktop) {

				+ .BlockPricing__container__item {
					margin-left: 2.5em;
				}
			}

			&::before {

				@include color(background-color, main-background);
				@include color(box-shadow, box-shadow);
				border-radius: $border-radius-16;
				content: "";
				display: inline-block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}

			.Block-orange--glass &::before {
				box-shadow: 0 4px 38px rgba(249, 128, 6, 0.14);
			}

			.PricingTable__header {
				display: flex;
				flex-direction: column;
				position: relative;
				height: 100%;
				padding: 3rem;
				z-index: 3;

				&__title h3 {
					font-size: 24px;
				}

				&__description {
					font-family: $font-primary;
				}

				&__icon {
					width: 45%;
					max-width: 5.25rem;
					margin: 0 0 2rem;

					img {
						width: 100%;
					}
				}

				&__price {
					font-family: $font-secondary;
					font-weight: 700;
					align-items: center;
					margin: auto 0 1rem;
					font-size: 20px;

					&__before {
						display: block;
						width: 100%;
						font-weight: $font-weight-bold;
					}
				}

				&__button {

					a {
						width: 100%;
						text-align: center;
						margin-bottom: 0;
					}

					.Button {
						margin-top: 0;
					}
				}
			}
		}
	}

	&--outside {

		@media (min-width: $breakpoint-desktop) {
			margin-top: 150px !important;
			margin-bottom: 150px !important;

			.wrapper .elementor-column {

				&:last-of-type {
					margin-top: -100px;
					margin-bottom: -100px;
				}
			}
		}

		@media (max-width: $breakpoint-desktop) {
			margin: 100px 0 !important;

			.wrapper .elementor-column {

				&:last-of-type {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}

	@media (max-width: $breakpoint-desktop-box) {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
	}

	@media (max-width: $breakpoint-desktop) {
		padding-top: 100px !important;
		padding-bottom: 100px !important;

		&:not(.Block--background) {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}

		.elementor-row,
		.elementor-container {
			flex-flow: wrap column !important;
		}

		.wrapper,
		.wrapper__wide {

			.elementor-column {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				max-width: none !important;
			}
		}

		&__container {
			justify-content: center;
			margin-top: 80px;

			&__item {
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {

		p {
			font-size: 14px;
			line-height: 24px;
		}

		&__container {
			margin-top: 0;

			&__item {
				max-width: none;
				margin-bottom: 50px;
				border-left: 0;
				border-right: 0;

				.PricingTable__header {
					width: 100%;

					&__title {
						margin-bottom: 15px;
					}

					&__description {
						margin-bottom: 10px;
					}

					&__price {
						margin-bottom: 40px;
					}
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}
