@use "../common/variables" as *;
@use "../common/mixins" as *;

.block-coupon {
	$color: #f72f49;
	$gradient-1: #c04297;
	$gradient-2: #ff4c6c;
	$gradient-3: #ff7b6c;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: em(500);
	padding-top: em(64);
	padding-bottom: em(64);
	background: linear-gradient(90deg, $gradient-1 2%, $gradient-2 50%, $gradient-3 98%);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&:not(:first-child) {
		margin-top: em(40);
	}

	&:not(:last-child) {
		margin-bottom: em(40);
	}

	.elementor {

		&-widget {

			&-wrap {
				display: flex;
				flex-direction: column;
				align-content: center;
				align-items: center;
				justify-content: center;
				text-align: center;

				> .elementor-element {
					width: initial;
				}
			}

			&-heading {

				&:not(:last-child) {
					margin-bottom: em(16);
				}

				h2.elementor-heading-title {

					font-size: em(32);
					margin: 0;
					color: $white;

					@media (min-width: $breakpoint-mobile) {
						font-size: em(48);
					}

					@media (min-width: $breakpoint-tablet-landscape) {
						font-size: em(55);
					}
				}
			}

			&-shortcode {
				color: $white;

				&:not(:last-child) {
					margin-bottom: em(40);
				}
			}

			&-text-editor {

				&,
				* {
					font-family: $font-secondary;
					color: $white;
				}

				&:not(:last-child) {
					margin-bottom: em(28);
				}

				p {
					font-size: em($font-size-default);
					line-height: 1.5;

					@media (min-width: $breakpoint-mobile) {
						font-size: em($font-size-bigger);
					}
				}
			}

			&-html {

				&:not(:last-child) {
					margin-bottom: em(16);
				}

				.elementor-widget-container {
					display: flex;
					flex-wrap: wrap;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					@media (min-width: $breakpoint-mobile) {
						flex-direction: row;
					}

					> * {
						margin: 0.25em;
					}

					p {
						font-family: $font-secondary;
						font-weight: $font-weight-semi;
						color: $white;
					}
				}
			}
		}

		&-background-overlay {
			display: none;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;

			@media (min-width: $breakpoint-tablet-landscape) {
				display: block;
			}
		}
	}

	.el-countdown {

		&__items {
			display: flex;
		}

		&__item {
			position: relative;
			margin: 0 !important;
			font-family: $font-secondary;
			font-size: em(24);

			@media (min-width: $breakpoint-tablet) {
				font-size: em(32);
			}

			&:not(:last-child) {
				padding-right: 0.75em;

				&::after {
					content: ":";
					position: absolute;
					right: 0;
					top: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 0.75em;
					height: 2em;
				}
			}
		}

		&__digits {

			@include square(2em);
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 0.5em;
			color: $color;
			background-color: $white;
		}

		&__label {
			font-size: 0.4375em;
			text-align: center;
		}
	}

	&__btn {

		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		width: auto;
		min-width: em(260);
		height: $button-height-normal;
		padding: 0 0.5em;
		margin: 0;
		border: 0;
		border-radius: $border-radius - 2;
		font-size: $button-font-size-normal;
		font-family: $font-secondary;
		font-weight: $font-weight-semi;
		color: $color;
		background-color: $white;
		cursor: pointer;
		transition: all 0.3s;

		@media (min-width: $breakpoint-mobile) {
			min-width: em(220);
		}

		span::before {
			display: none;
		}

		svg {
			width: 1em;
			margin-right: 0.5em;
			fill: $color;
			transition: all 0.3s;
		}

		&:active,
		&:focus,
		&:hover {

			color: $white;
			background-color: $gray;

			svg {
				fill: $white;
			}
		}
	}

	&__code {
		display: flex;
		overflow: hidden;
		border-radius: $border-radius - 2;

		&-text {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0 $button-padding-normal;
			font-size: $button-font-size-normal;
			font-family: $font-secondary;
			font-weight: $font-weight-semi;
			color: $white;
			background-color: rgba($white, 0.2);
		}

		@media (min-width: $breakpoint-mobile) {

			&-btn {
				min-width: em(180);
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		@media (max-width: ($breakpoint-mobile - 1)) {
			flex-direction: column;

			&-text {
				height: $button-height-normal;
			}

			&-btn {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
}
