/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Block--startup {

	&::before {
		position: absolute;
		content: "";
		background-color: $lightest-gray;
		border-radius: $border-radius-16;

		@media (min-width: 1300px) {
			content: url(../../images/block-startup-bg.png);
			background-size: contain;
			background-color: transparent;
		}
	}

	&.wrapper__wide {
		background-position: left center;

		> .elementor-container {
			padding: 8em 7em 8em 7em !important;
			align-items: center;
		}
	}

	.elementor-top-column {

		@media (min-width: $breakpoint-desktop) {

			&:first-of-type {
				width: 50% !important;

				> * {
					margin-left: 0 !important;
				}
			}
		}
	}


	.elementor-widget-text-editor {
		width: 100%;
	}

	@media (max-width: $breakpoint-tablet-landscape) {

		&.wrapper__wide > .elementor-container {
			padding: 2em !important;
		}
	}

	.elementor-container {

		.elementor-column {

			@media (min-width: $breakpoint-tablet) {
				width: 50% !important;
			}

			@media (min-width: $breakpoint-desktop) {
				width: 40% !important;
			}

			* {
				text-align: left;
			}
		}

		.Block--startup__graphics {
			all: unset;
			align-self: center;
			height: 100%;
			display: flex;
			align-items: center;
			width: 100% !important;
			margin-top: 6em !important;

			@media (min-width: $breakpoint-tablet) {
				width: 50% !important;
			}

			@media (min-width: $breakpoint-desktop) {
				width: 60% !important;
			}

			&.elementor-top-column.elementor-column.elementor-col-50 {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}


			> .elementor-widget-wrap {

				> .elementor-section {

					> .elementor-container {
						display: grid;
						grid-template-columns: 0 1fr;
						grid-template-rows: auto;
					}
				}
			}

			@media (min-width: $breakpoint-desktop) {
				//width: 100% !important;

				> .elementor-widget-wrap {

					> .elementor-section {

						> .elementor-container {
							display: grid;
							grid-template-columns: 0.4fr 1fr 8.4375em;
							justify-content: end;
						}
					}
				}
			}

			&[class].elementor-column[class] {
				position: relative;
				padding-left: 0 !important;
				padding-right: 0 !important;
			}

			&--first.elementor-column[class] {
				position: absolute;
				max-width: 33.5em;
				top: 15%;
				left: 0;
				padding: 0 !important;
				margin-left: -3em;
				width: 100% !important;

				.elementor-widget-wrap {
					margin-left: 0 !important;
				}

				@media (max-width: ($breakpoint-desktop - 1px)) {
					display: none;
				}
			}

			&--mid.elementor-column[class] {

				@include color(background-color, main-background);
				box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
				font-size: 1.2rem;
				border-radius: $border-radius-16;
				padding: 1.5em !important;
				z-index: 1;
				margin-left: auto;
				grid-column-start: 2;
				width: 100% !important;
				min-width: 19.75em;

				.elementor-widget-wrap {
					margin-left: 0 !important;
				}

				* {
					font-size: inherit !important;
					text-align: left;
				}

				.most-popular {
					min-height: 5em;

					p {

						@include color(background, background);
						background-clip: text;
						color: transparent;
						box-decoration-break: clone;
						font-size: 1rem !important;
						font-weight: $font-weight-semi;
					}
				}

				.price {
					position: absolute;
					top: 0;
					right: -5em;
					transform: translate(-2em, calc(-50% + -0.15em));
					width: auto;

					&::before {

						@include square(100%);
						position: absolute;
						background: url(../../images/pricing_crossover.svg) center center no-repeat;
						background-size: 40%;
						margin-top: 0.5em;
						right: 0.75em;
						z-index: 2;
						content: "";
					}

					&::after {
						content: url(../../images/startups_price_crown.svg);
					}

					.elementor-widget-container {
						position: absolute;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						height: 100%;
						margin-top: 1.5em;
						left: calc(50% - 0.75em);
						transform: translateX(-50%);
						color: $white;
						z-index: 1;

						h3 {
							font-size: 2.125rem !important;
							margin-bottom: 0;
						}

						* {
							color: currentcolor;
						}
					}
				}

				@media (min-width: $breakpoint-tablet) {
					width: 100% !important;
				}
			}

			&--last.elementor-column[class],
			&--last[class] {
				margin-bottom: auto;
				background-color: $saturated-green;
				border-radius: $border-radius-16;
				color: $white;
				overflow: hidden;
				z-index: 1;
				width: unset !important;
				padding: 1em !important;

				.elementor-widget-wrap {

					> .elementor-element:last-child {
						margin-top: 1em;

						strong {
							margin-left: 0.5em;
						}

					}
				}

				&::after {
					content: "";

					position: absolute;
					top: 0;
					width: 200%;
					height: 100%;
					background: linear-gradient(to bottom, rgba($white, 0.12), rgba($white, 0));
					transform: skewX(-35deg);
					z-index: 1;
				}

				* {
					position: relative;
					text-align: center;
					font-family: inherit;
					color: inherit;
					z-index: 2;
					margin-bottom: 0;
				}

				.elementor-widget-text-editor {
					width: 100% !important;
				}

				.price {
					margin-top: 1.5em;

					.elementor-heading-title {
						font-size: 2.375rem;
					}
				}

				@media (min-width: $breakpoint-mobile) {

					.elementor-widget-wrap {
						flex-direction: row;
						flex-wrap: nowrap;
						align-items: center !important;

						.elementor-element {
							margin-top: 0;
						}
					}
				}

				@media (max-width: $breakpoint-desktop) {
					grid-column-start: 1;
					grid-column-end: span col4-start;
					grid-row-start: 2;
					grid-row-end: span 2;
					max-width: 100%;

				}

				@media (min-width: $breakpoint-desktop) {

					.elementor-widget-wrap {
						flex-direction: column;
						flex-wrap: wrap;
					}
				}
			}

			@media (min-width: $breakpoint-tablet) {

				.elementor-widget-wrap {
					width: 100% !important;
					margin-right: 0 !important;
				}

				& &--last.elementor-column[class] {
					border-radius: 0 $border-radius-16 $border-radius-16 0;
				}
			}
		}
	}

}
