/* stylelint-disable selector-class-pattern,
no-descending-specificity, value-keyword-case */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Blog__header {
	text-align: center;

	&__title {
		font-size: 2rem;
		line-height: 1.5;
	}

	&__navigation {
		margin: 1.5em auto 0;

		.nav {
			display: inline-block;
			font-weight: $font-weight-semi;
		}

		.menu-item-description {
			display: none;
		}

		.menu-item {
			display: inline-block;

			+ li {
				margin-left: 1em;
			}
		}

		a {

			color: $black;
			text-decoration: none !important;
		}

		@mixin highlight() {

			color: $dark-orange;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				width: 100%;
				border-bottom: 2px solid $dark-orange;
				bottom: -0.5em;
				left: 0;
			}
		}

		.current-menu-item {

			a {

				@include highlight;

				&::after {
					display: none;
				}
			}
		}

		@media (min-width: $breakpoint-tablet) {
			margin: 4.5em auto 7em;

			.Blog__searchResults & {
				margin: 4.5em auto 2em;
			}

			.current-menu-item {

				a {

					&::after {
						display: block;
					}
				}
			}
		}

		@media (min-width: $breakpoint-desktop) {
			margin: 4.5em auto 4em;

			.menu-item {

				+ li {
					margin-left: 3.25em;
				}
			}

			a {

				&:hover {

					@include highlight;
				}
			}
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		margin-top: 2.5em;

		&__title {

			font-size: 3rem;
		}
	}
}
