/* stylelint-disable selector-class-pattern */

.BlockQuote {
	position: relative;
	background-repeat: no-repeat;
	background-position: 92% 0;
	background-size: auto 122%;
	margin: 40px 0;
	padding: 40px !important;
	border-radius: $border-radius-16;

	@media (min-width: $breakpoint-tablet-landscape) {

		.Post__content &:not(.BlockQuote--discover) {
			width: 41.875rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&::before {
		content: "";
		display: block;
		width: 100px;
		height: 75px;
		position: absolute;
		top: 30px;
		left: 30px;
		z-index: 1;
		background-image: url(../images/bg_blockquote.svg);
		background-repeat: no-repeat;
		opacity: 0.25;
	}

	&--support-portal {
		background-color: #fa9531;
		background-image: url(../images/bg_support_portal.png);
		background-size: 60% auto;
	}

	&--owl {
		background: $dark-orange url(../images/bg_blockquote_owl.svg) right center no-repeat;
		background-size: 40% auto;
	}

	&--hamster {
		background-color: #fa9531;
		background-image: url(../images/bg_blockquote_hamster.svg);
	}

	p {

		@include color(color, font-color-light);
		max-width: 60%;
		margin: 0;
		position: relative;
		z-index: 2;
	}

	&__text {
		font-size: 1.5rem;
		line-height: 1.33;
		font-weight: 700;
		font-style: italic;
		margin-bottom: 25px !important;

		&::before {
			content: '"';
		}

		&::after {
			content: '"';
		}

		@at-root {

			@media (min-width: $breakpoint-tablet-landscape) {

				.BlockQuote--support-portal & {
					font-size: 1.15rem;
					width: 40%;
				}
			}
		}
	}

	&__author {
		font-size: 12px;
		line-height: 24px;
	}

	@media (max-width: $breakpoint-tablet) {
		background-image: none;

		p {
			max-width: 100%;
		}
	}
}
