/* stylelint-disable selector-class-pattern */

.BlockSolution {
	margin-bottom: 200px;

	.elementor-inner-section {
		position: relative;
	}

	.business-solution-wrapper {
		max-width: $breakpoint-desktop-box;
		padding: 4.5em 7.5em 3.7em !important;
	}

	.elementor-row {
		display: flex;
		flex-flow: wrap column;

		@media (min-width: $breakpoint-desktop) {
			flex-flow: row;
		}
	}


	.column--solution {
		position: relative;
		width: 295px !important;
		margin-top: 2em;
		align-self: flex-start;
		flex-shrink: 0;

		@media (min-width: $breakpoint-desktop) {
			margin: 0;
			margin-left: 1em;
		}

		&::after {

			@include square(100%);
			border-radius: $border-radius-16;
			content: "";
			position: absolute;
			background: $white;
			z-index: 1;
		}

		&-main-text {
			max-width: 430px;
			width: 100%;
			align-self: flex-start;

			@media (min-width: $breakpoint-desktop) {
				margin-right: 8%;
				min-width: none;
			}

			.tag {
				margin-bottom: 0;
			}

			.elementor-widget-html {
				margin-top: 0;
			}

			.elementor-widget-heading {

				h2 {
					font-size: 30px;
					line-height: 42px;
					max-width: 80%;
					font-weight: $font-weight-bold;
					font-family: $font-secondary;
					margin-bottom: 0;
				}
			}
		}
	}

	.solution {

		&--image {
			margin: 0.5em;
			z-index: 2;
		}

		&--heading {
			position: absolute;
			padding-left: 2.5em;
			margin-top: 6em;
		}

		&--text {
			z-index: 2;
			font-family: $font-primary;
			font-weight: $font-weight-normal;
			line-height: 1.7;
			padding-left: 2.5em;
			margin-top: 1.2em;
		}

		&--text span {
			display: block;
		}

		&--learn-more {
			opacity: 0.3;
			padding-left: 2.5em;
			margin: 0;
			margin-bottom: 1em;
			z-index: 2;

			a {
				font-family: $font-secondary;
				font-weight: $font-weight-normal;
			}
		}
	}
}
