/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;

.FormBlock {
	background-color: $level4;
	border-radius: $border-radius-16;

	&__content[class] {

		.elementor-widget-heading {

			h2 {
				font-size: 2.5rem;
				line-height: 1.4;
			}
		}

		@media (max-width: $breakpoint-tablet) {
			padding: 1em !important;

			> .elementor-widget-wrap {
				min-height: 20rem;
			}
		}

		@media (max-width: $breakpoint-mobile) {

		> .elementor-widget-wrap {
			min-height: 30rem;
		}
	}
	}

	&__form[class] {
		padding: 3.125em 4.375em 3.75em !important;

		.elementor-widget-heading {
			margin: 0;
			text-align: left;

			h2 {
				margin: 0;
				font-size: 2rem;
				font-weight: $font-weight-bold;
				line-height: 1.5;
			}
		}

		.elementor-widget-text-editor {
			margin-bottom: 1.5em;
			text-align: left;

			p {
				margin: 0;
				color: $dark-gray;
				font-size: $font-size-smaller;
				line-height: 1.57;
			}
		}

		@media (max-width: $breakpoint-tablet) {
			padding: 1em !important;

			iframe {
				width: 100% !important;
			}
		}
	}
}
