/* stylelint-disable selector-class-pattern, no-descending-specificity */
/* stylelint-disable scss/at-extend-no-missing-placeholder */

.Block {
	margin-top: 100px !important;
	margin-bottom: 100px !important;

	&.no-margin-top {
		margin-top: 0 !important;
	}

	&.no-margin-bottom {
		margin-bottom: 0 !important;
	}

	.elementor-widget:not(:last-child):not(.elementor-widget-spacer) {
		margin-bottom: 0 !important;
	}

	.wrapper {

		.elementor-widget-wrap {
			display: flex;
			flex-flow: wrap column;
			justify-content: center;
		}
	}

	.wrapper__wide {
		padding: 2.5em;

		&.no-padding {
			padding: 0;
		}

		@media (min-width: $breakpoint-desktop-box) {
			padding: 3.25em 7.5em;
		}
	}

	h1,
	h2 {
		font-size: $font-size-h1;
		line-height: $line-height-h1 !important;
		margin-bottom: 15px !important;
	}

	.Button {
		margin-top: 20px;
		margin-right: 30px;

		+ .Button {
			margin-top: 10px !important;
			margin-left: 0 !important;
		}

		@media (max-width: $breakpoint-mobile) {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	img[src*="Medal.svg"] {
		max-width: 2.5rem;
	}

	.no-cc {
		margin-top: 1.5em;
	}

	&--big,
	&--new {

		.elementor-text-editor {

			p {
				font-size: 24px;
				line-height: 36px;
			}
		}
	}

	&--redesign {

		h2 {
			font-size: 2.5rem;
			line-height: 1.36 !important;
			text-align: center;

			a {
				color: inherit;
				font-size: inherit;
				line-height: inherit;
			}
		}

		.elementor-text-editor {

			@include color(color, font-color-medium);
			font-size: 1rem;
			line-height: 1.625;
			text-align: center;
		}

		&__basic {
			margin-bottom: 3em !important;

			*:not(.elementor-inner-section) {

				h2,
				h3 {
					text-align: center !important;
				}

				.elementor-text-editor.elementor-text-editor {
					width: 100%;
					text-align: center;
				}
			}

		}

		@media (min-width: $breakpoint-tablet + 1px) {

			h2 {
				text-align: left;
			}

			.checklist {
				max-width: none;
			}

			.elementor-text-editor {

				width: 88%;
				text-align: left;
			}

			.elementor-image {
				padding: 0;
			}

			&.image-left {

				.elementor-section .elementor-container .elementor-column:first-of-type {
					width: 53%;
					margin-right: 4%;
				}
			}

			&.image-right {

				.elementor-section .elementor-container .elementor-column:last-of-type {
					width: 53%;
					margin-left: 4%;
				}
			}
		}


		&__testimonials {

			.wrapper {
				background: $lightest-gray url(../images/earth.svg) left center no-repeat;
			}

			.Button--full {
				padding: 0 5em;
			}

			.elementor-section .elementor-container .elementor-column {

				&:first-of-type {
					width: 33%;

					@media (max-width: $breakpoint-tablet - 1px) {
						text-align: center;
					}
				}

				&:last-of-type {
					width: 65%;
					margin-left: auto;
					margin-right: -2em;

					@media (max-width: $breakpoint-desktop-box) {
						margin-right: 0;
					}
				}

				@media (max-width: $breakpoint-tablet) {

					&:first-of-type,
					&:last-of-type {
						width: 100%;
						margin: 0;
					}
				}
			}

			@media (max-width: $breakpoint-desktop-box) {

				&.Block--background {
					padding-top: 2rem !important;
					padding-bottom: 2rem !important;
				}
			}
		}

		.value__boxes {
			background: #feefe0 url(../images/value-boxes_bg.svg) left bottom no-repeat;
			background-size: contain;
			border-radius: $border-radius * 2;
			width: 100% !important;
			margin-left: 0 !important;

			@media (max-width: $breakpoint-tablet - 1px) {
				order: 2 !important;
				width: 50% !important;
				margin-top: 75px !important;
			}

			@media (min-width: $breakpoint-tablet-landscape) {
				width: 65% !important;
			}

			@media (min-width: $breakpoint-desktop) {
				left: 4% !important;
			}

			.elementor-column-wrap {
				padding: 4rem 2.5rem !important;
			}

			.Button {
				font-size: 0.875rem;
				width: 100%;
				padding: 1.75em 1em;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.value__box {

				@include color(background-color, main-background);
				display: flex;
				align-items: center;
				margin-bottom: 2.4em;
				border-radius: $border-radius * 2;
				box-shadow: 0 1px 20px 0 rgba(250, 149, 49, 0.15);
				overflow: hidden;

				&--value {
					display: flex;
					align-items: center;
					width: 38%;
					padding: 2.75em 2.5em;
					background: url(../images/value-boxes-path.svg) right center no-repeat;
					background-size: auto 100%;

					strong {

						@include color(background, background);
						background-clip: text;
						color: transparent;
						font-size: 3rem;
						line-height: 1.5;
					}
				}

				@media (max-width: $breakpoint-desktop-box) {
					margin-bottom: 1.5em;

					&--value {
						padding: 2em;
					}
				}

				&--text {
					width: 60%;
					padding: 0 1.5em;

					h4 {
						font-size: 1.25rem;
					}

					p {

						@include color(color, font-color-normal);
					}
				}

				@media (max-width: $breakpoint-tablet - 1px) {
					flex-direction: column;

					&--value,
					&--text {
						display: block;
						text-align: center;
						background-image: none;
						padding: 1em;
						width: 100%;
					}

					&--value {
						padding-bottom: 1.5em;
						background: url(../images/box-star-white_bg.svg) 0 bottom no-repeat;
						background-size: cover;
					}
				}
			}
		}
	}

	&.image-left {

		.elementor-section .elementor-container .elementor-column:first-of-type {
			padding-right: 0 !important;
		}
	}

	&.image-right {

		.elementor-section .elementor-container .elementor-column:last-of-type {
			padding-left: 0 !important;
		}
	}

	&--big.image-left {

		.elementor-section .elementor-container .elementor-column {

			&:first-of-type {
				width: 60%;
			}

			&:last-of-type {
				width: 40%;
				padding-left: 0 !important;
			}
		}
	}

	&--big.image-right {

		.elementor-section .elementor-container .elementor-column {

			&:first-of-type {
				width: 40%;
				padding-right: 0 !important;
			}

			&:last-of-type {
				width: 60%;
			}
		}
	}

	@media (min-width: $breakpoint-desktop) {

		&--big,
		&--new {

			.elementor-section .elementor-container {

				.elementor-column {

					&:first-of-type {
						padding-right: 85px;
					}

					&:last-of-type {
						padding-left: 85px;
					}
				}
			}

			.elementor-image {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	@media (max-width: $breakpoint-desktop) {

		h1,
		h2 {
			font-size: $font-size-h2;
			line-height: 42px !important;
		}

		&--big,
		&--new {

			.elementor-text-editor {

				p {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {
		margin-top: 0 !important;
		margin-bottom: 75px !important;

		&.image-right {

			.elementor-container {

				.elementor-col-50 {

					&:first-of-type {
						margin-top: 50px;
						order: 2;
					}

					&:last-of-type {
						margin-top: 0;
						order: 1;
					}
				}
			}
		}

		.elementor-container {

			.elementor-column {

				&:last-of-type {
					margin-top: 50px;
				}
			}
		}

		h1 {
			font-size: 32px;
			line-height: 42px !important;
		}

		h2 {
			font-size: 28px;
			line-height: 38px !important;
		}

		.elementor-image {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media (max-width: $breakpoint-mobile) {

		.Button {
			margin-top: 15px;
			margin-right: 15px;
		}
	}
}

.elementor-section-wrap {

	.Block:not(.Block--background).no-margin-top:first-child {
		margin-top: 50px !important;
	}
}

.Block--background {

	@extend .Box;
	@extend .Box--gray;
	padding-top: 0 !important;
	padding-bottom: 0 !important;

	.wrapper {
		padding-top: 100px !important;
		padding-bottom: 100px !important;
	}

	@media (max-width: $breakpoint-desktop-box) {
		padding-top: 100px !important;
		padding-bottom: 100px !important;

		.wrapper {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}

	@media (max-width: $breakpoint-desktop) {

		.wrapper {
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	@media (max-width: $breakpoint-tablet) {
		margin-top: 75px !important;
		margin-bottom: 75px !important;
		padding-top: 75px !important;
		padding-bottom: 75px !important;
	}
}

.Block--elements {
	background-color: rgba($lightest-gray, 0.4);

	.wrapper {
		background-color: rgba($lightest-gray, 0.4);
	}

	@media (min-width: $breakpoint-desktop-box) {
		background-color: transparent;

		.wrapper {
			background: transparent url(../images/background__elements.svg) center center no-repeat;
			background-size: cover;
		}
	}
}

.Block--background-orange {

	@extend .Box--orange;
}

.Block-orange--glass {

	.wrapper {

		@include color(background-color, orange-background);
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		.wrapper {

			background: url(../images/orange_glass_effect_bg.jpg) center center no-repeat;
			background-size: cover;
		}
	}
}

.Block--background-violet {

	@extend .Box--violet;
}

.Block--background-glass {
	padding: 0 !important;

	.wrapper {
		background-color: $lightest-gray !important;
		padding: 2.5em 1.5em 3em !important;

		.badge {
			width: auto !important;
			margin: 0 auto;
		}
	}

	&.orange {

		.wrapper {
			background-color: $medium-orange !important;
		}
	}

	.elementor-inner-section .elementor-row {
		align-items: center;
	}

	@media (max-width: $breakpoint-tablet) {

		.startusing .Button + .Button {
			margin-top: 1.5em !important;
		}
	}

	@media (min-width: $breakpoint-tablet) {

		.wrapper {
			padding: 2.5em 4.5em 3em !important;

			&-narrow {
				padding: 2.5em !important;
			}
		}

		.startusing .Button + .Button {
			margin-top: 0 !important;
		}
	}

	@media (min-width: $breakpoint-desktop-box) {

		&.orange {

			.wrapper {
				background-color: rgba($medium-orange, 0.8) !important;
			}
		}

		.wrapper {
			padding: 4.5em 12.25em 6em !important;
			background-color: rgba($lightest-gray, 0.8) !important;

			&-narrow {
				padding: 3.5em 7.5em !important;
			}

			&::after {

				@include posCustom(-2.375em, -3em, -5em, -3em);
				content: "";
				position: absolute;
				background: url(../images/bg_glass_elements.svg) -1.5em 0 no-repeat;
				background-size: calc(100% + 2em);
				z-index: -1;
			}
		}
	}
}
