/* stylelint-disable selector-class-pattern */
/* stylelint-disable scss/at-extend-no-missing-placeholder */

.BlogCTA {

	&__wrapper {
		display: flex;
		justify-content: center;
		border-radius: $border-radius-16;
		overflow: hidden;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

	&__element {
		position: relative;
		padding: 2em;
		background: url(../images/cta_new_bg_blurred.svg) left top no-repeat;
		background-size: cover;
		width: 100%;

		&__image {
			display: none;
		}

		&__text {
			font-family: $font-primary;
			font-size: 1.25rem;
			line-height: 1.5;
			font-weight: 700;
			color: $white;

			&.quote {
				position: relative;

				&::before {
					content: "";
					display: block;
					width: 100px;
					height: 75px;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					background-image: url(../images/bg_blockquote.svg);
					background-repeat: no-repeat;
					opacity: 0.25;
				}
			}

			&__quote {
				font-style: italic;

				&::before {
					content: '"';
				}

				&::after {
					content: '"';
				}
			}
		}

		&__author {
			color: $white !important;
			font-size: 0.875rem;
			margin-top: 1em;
		}

		@media (min-width: $breakpoint-tablet) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 2em 3.75em;

			&__image {

				@include posZero;
				display: block;
				position: absolute;
				background: url(../images/cta_new_chat.png) 55% calc(100% + 1px) no-repeat;
				background-size: auto 95%;
			}

			&__text {
				width: 39%;
			}
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		margin-top: 1.5em;

		.Button {
			padding: 0.5em 1.5em;
			width: 100%;

			+ .Button {
				margin-left: 0;
				margin-top: 1em;
			}
		}

		@media (min-width: $breakpoint-tablet) {
			margin-top: 0;
		}
	}
}
