/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.BlogPost__share {
	margin: 3em auto;

	&__title {

		color: $black;
		font-size: 0.875rem;
		font-weight: $font-weight-bold;
		margin-bottom: 8px;
		text-align: center;
	}

	&__items {
		display: flex;
		flex-flow: wrap row;
		justify-content: center;

		&__item {
			margin: 0 10px;

			button {

				@include square(1.875em);
				color: $white;
				display: block;
				background-color: #000;
				border-radius: 50%;
				font-size: 1rem;
				line-height: 1.875;
				text-align: center;
				transition: all 0.3s ease;
				padding: 0;

				&:active,
				&:focus,
				&:hover {

					background-color: $dark-orange;
				}
			}
		}
	}
}
