/* stylelint-disable selector-class-pattern, no-descending-specificity */
/* stylelint-disable scss/at-extend-no-missing-placeholder */

.BlockDiscover {
	position: relative;
	margin: 2.5em auto;
	padding: 40px !important;
	border-radius: $border-radius-16;
	background: url(../images/cta_new_bg.svg) left top no-repeat;
	background-size: cover;

	&::before {

		@media (min-width: $breakpoint-tablet) {

			@include posZero;
			position: absolute;
			content: "";
			background: url(../images/cta_new_chat.png) 100% bottom no-repeat;
			background-size: 50% auto;
		}

		@media (min-width: $breakpoint-desktop) {
			background-size: auto 100%;
			background-position: 95% bottom;
		}
	}

	.Button + .Button {
		top: 0;
	}

	h4 {

		@include color(color, font-color-light);
		margin: 0;
		font-size: 1.75rem;
		line-height: 1.285;
		font-weight: 600;
	}

	p {

		@include color(color, font-color-light, !important);
		margin-bottom: 15px !important;
		letter-spacing: 0 !important;

		strong {

			@include color(color, font-color-light);
			font-size: $font-size-bigger;
			line-height: $line-height-bigger;
		}
	}

	.Newsletter__form {
		width: 100%;
		margin-top: 15px;
		justify-content: flex-start;

		form {
			width: 100%;

			.Input {
				min-width: 355px;
			}
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		margin-top: 1.5em;

		.Button {
			padding: 0.5em 1.5em;
		}

		@media (max-width: $breakpoint-tablet-landscape) {

			.Button {
				padding: 0.5em 1.5em;
				width: 100%;

				+ .Button {
					margin-left: 0;
					margin-top: 1em;
				}
			}
		}

	}

	@media (min-width: $breakpoint-tablet) {

		h4,
		p,
		&__buttons {
			max-width: 48%;
		}
	}

	@media (min-width: $breakpoint-desktop) {

		h4,
		p {
			max-width: 50%;
		}

		&__buttons {
			flex-direction: row;
			max-width: 58%;

			.Button.Button {
				white-space: nowrap;
				max-width: 50%;
			}
		}
	}
}
