/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Block--signupform {

	&__simple {

		.wrapper {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			padding-right: 0 !important;
			background: url(../../images/bg_glassy_block_signup.jpg) left center no-repeat;
			background-size: cover;
		}

		@media (min-width: $breakpoint-tablet) {

			.wrapper {
				border-radius: 30px;
			}

			.elementor-heading-title[class] {
				font-size: 1.75rem;
				line-height: 1.35 !important;
			}

			.elementor-col-50:first-of-type {
				padding-right: 7.25%;
			}
		}
	}
}
