.BlockDiscover {
	background-repeat: no-repeat;
	background-position: 95% -4px;
	background-size: auto 110%;
	margin: 40px -50px;
	padding: 40px !important;
	border-radius: $border-radius-16;

	&--discover {
		background-color: #fa9531;
		background-image: url(../images/bg_discover.png);
	}

	&--support-portal {
		background-color: #fa9531;
		background-image: url(../images/bg_support_portal.png);
		background-position: 95% 100%;
		background-size: 55% auto;

		p {
			padding-right: 3em;

			&:first-of-type {
				padding-right: 0;
			}
		}
	}

	h4 {

		@include color(color, font-color-light);
		margin: 0;
		font-size: 42px;
		line-height: 48px;
		font-weight: 700;
		max-width: 45%;
	}

	p {

		@include color(color, font-color-light, !important);
		max-width: 50%;
		margin-bottom: 15px !important;
		letter-spacing: 0 !important;

		strong {

			@include color(color, font-color-light);
			font-size: $font-size-bigger;
			line-height: $line-height-bigger;
		}
	}

	.Button {

		@extend .Button--white;
		@include color(color, font-color-dark, !important);

		&:active,
		&:focus,
		&:hover {

			@include color(background-color, font-color-dark, !important);
			@include color(color, font-color-light, !important);
		}
	}

	.Newsletter__form {
		width: 100%;
		margin-top: 15px;
		justify-content: flex-start;

		form {
			width: 100%;

			.Input {
				min-width: 355px;
			}
		}
	}

	@media (max-width: $breakpoint-desktop) {
		background-image: none;

		h4,
		p {
			max-width: 100%;
		}
	}

	@media (max-width: $breakpoint-tablet) {
		margin-left: 0;
		margin-right: 0;

		.Newsletter__form {

			form {
				display: flex;
				flex-flow: wrap column;

				.Input {
					margin-right: 0;
					margin-bottom: 15px;
				}
			}
		}
	}
}
