/* stylelint-disable selector-class-pattern */
/* stylelint-disable scss/at-extend-no-missing-placeholder */

.BlockChannels {
	margin-top: 100px !important;
	margin-bottom: 100px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;

	.elementor-widget:not(:last-child) {
		margin-bottom: 0 !important;
	}

	h2 {
		font-size: $font-size-h1;
		line-height: $line-height-h1 !important;
		text-align: center;
	}

	.elementor-text-editor {
		text-align: center;

		p {
			text-align: center;
		}
	}

	.elementor-section-boxed {
		margin-top: 40px !important;
	}

	.elementor-col-25 {

		@include color(background-color, main-background);
		max-width: 265px !important;
		margin: 10px;
		padding: 40px;
		border-radius: $border-radius-16;

		img {
			display: block;
			max-width: 60px !important;
			max-height: 60px;
			margin-bottom: 25px;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

		h3 {
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 15px;
		}

		.elementor-text-editor {
			text-align: left;

			p {
				text-align: left;
				margin-bottom: 0;
			}
		}

		.Button {
			width: 100%;
			margin-top: 25px;
			text-align: center;
		}
	}

	@media (max-width: 1250px) and (min-width: 1024px) {

		.elementor-col-25 {
			width: 23% !important;
			max-width: none !important;
			margin: 1% !important;
		}
	}

	@media (max-width: $breakpoint-desktop) {

		h2 {
			font-size: $font-size-h2;
			line-height: $line-height-h2 !important;
		}

		.elementor-row,
		.elementor-container {
			flex-wrap: wrap;
		}

		.elementor-col-25 {
			width: 48% !important;
			margin: 1% !important;
			max-width: none !important;
		}
	}

	@media (max-width: $breakpoint-tablet) {
		margin-top: 75px !important;
		margin-bottom: 75px !important;

		.elementor-col-25 {
			width: 100% !important;
			margin: 10px 0 !important;
		}
	}
}

.BlockChannels--boxes {

	.elementor-col-25 {

		@include color(background-color, secondary-background);
	}
}

.BlockChannels--background {

	@extend .Box;
	@extend .Box--gray;
	padding-top: 0 !important;
	padding-bottom: 0 !important;

	.wrapper {
		padding-top: 100px !important;
		padding-bottom: 100px !important;
	}

	@media (max-width: $breakpoint-desktop-box) {
		padding-top: 100px !important;
		padding-bottom: 100px !important;

		.wrapper {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}

	@media (max-width: $breakpoint-desktop) {

		.wrapper {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.BlockChannels--background-orange {

	&.BlockChannels--background {

		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	&.Boxes .elementor-container {
		padding: 0;
	}

	.wrapper {
		padding-left: 1.25em !important;
		padding-right: 1.25em !important;
		background: $medium-orange url(../images/value-boxes_bg.svg) left bottom no-repeat !important;
		// background-size: 100% !important;
		// background-color: $medium-orange !important;
	}

	@media (min-width: $breakpoint-desktop) {

		.wrapper {
			background-size: auto 115% !important;
			padding: 6em 7.25em 3em !important;
		}
	}
}
