/* stylelint-disable selector-class-pattern,
no-descending-specificity, scss/at-extend-no-missing-placeholder */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/Typography" as *;

.Box {

	.wrapper,
	.wrapper__wide {

		@include color(background-color, main-background);
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		align-items: center;
		max-width: 1380px;
		padding: 65px 120px;
	}

	@media (max-width: $breakpoint-desktop-box) {

		@include color(background-color, main-background);
		padding: 65px 0;

		.wrapper,
		.wrapper__wide {
			max-width: 1180px;
			padding: 65px 20px;
			background-color: transparent;
		}
	}

	@media (max-width: $breakpoint-desktop) {

		.wrapper,
		.wrapper__wide {
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	@media (max-width: $breakpoint-tablet) {
		padding: 0;
	}
}

.Box--gray {

	.wrapper,
	.wrapper__wide {

		@include color(background-color, newsletter-background);
	}

	@media (max-width: $breakpoint-desktop-box) {

		@include color(background-color, newsletter-background);
	}
}

.Box--orange {

	.wrapper,
	.wrapper__wide {

		@include color(background-color, orange-background);
	}

	@media (max-width: $breakpoint-desktop-box) {

		@include color(background-color, orange-background);
	}
}

.Box--violet {

	.wrapper,
	.wrapper__wide {
		background-color: $desaturated-violet;
	}

	@media (max-width: $breakpoint-desktop-box) {
		background-color: $desaturated-violet;
	}
}

.Box--violet-fx {
	background: linear-gradient(90deg, #483ff0 0%, #9d3cf9 100%);
	box-shadow: 0 em(15) em(66) em(-15) rgba(72, 63, 240, 0.5);

	&::after {

		@include posZero();
		content: "";
		position: absolute;
		z-index: 1;
		display: block;
		background: url(../images/box-fx-horizontal01.svg) center center no-repeat;
		background-size: cover;
	}

	> * {
		position: relative;
		z-index: 2;
	}

	* {
		color: $white;
	}
}

.Box--regular {

	@include color(background-color, main-background);
	box-shadow: 0 0.25em 4em 0 rgba($black-real, 0.1);
	border-radius: $border-radius-16;
	overflow: hidden;

	padding: 1.5em;

	&.padding-narrow {
		padding: 0.35em;

		.elementor-widget-image {
			border-radius: $border-radius-16;
			overflow: hidden;
		}

		.elementor-widget-heading,
		.elementor-widget-text-editor {
			padding: 0 1.5em;
		}
	}

	&__icon {
		transition: transform 0.2s;

		@media (hover: hover) {
			transform: translateY(0);

			&:hover {
				transform: translateY(-1em);

				.learn-more a {
					color: $black !important;

					&::after {
						filter: brightness(0);
					}
				}
			}
		}

		* {
			position: static;
		}

		.elementor-widget-heading .elementor-heading-title {
			margin-bottom: 1em;

			a {
				text-decoration: none !important;
			}
		}

		div[data-widget_type*="image"] {

			@include square(3.75em);
			background-color: $pricing-gray;
			border-radius: 0.875rem;
			padding: 1.125em;
			margin-bottom: 1.5em !important;

			.elementor-widget-container {

				img {

					height: 1.5rem !important;
				}
			}

		}

		.learn-more {

			a {

				color: $light-gray-icon !important;
				font-size: 0.875rem;
				transition: all 0.2s;

				&::after {
					filter: brightness(40);
					transition: all 0.2s;
				}

				&::before {
					content: "";
					position: absolute;

					@include posZero;
					z-index: 1;
				}
			}
		}
	}

	@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
		margin-top: 2.5em;
	}

	@media (max-width: $breakpoint-desktop) {

		.elementor-widget-text-editor p {
			font-size: 0.875rem;
			line-height: 1.33;
		}
	}

	@media (min-width: $breakpoint-desktop) {
		padding: 2.625em;

		&.padding-narrow {
			padding: 0.75em;

			.elementor-widget-heading,
			.elementor-widget-text-editor {
				padding: 0 2.625em;
			}
		}

		&__icon {
			padding: 2em;
		}
	}

	[class*="Block"] & {

		@media (min-width: $breakpoint-tablet-small) {

			+ .Box--regular {
				margin-left: 1.5em;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			+ .Box--regular {
				margin-left: 2.5em;
			}
		}
	}

	.elementor-widget-image {
		width: auto;

		.elementor-widget-container {
			padding: 0;

			img[src*="icon"] {
				width: auto;
				height: 3.75em;
			}
		}
	}

	.elementor-heading-title {
		margin-bottom: 0;
	}

	&.highlight-title {

		.elementor-heading-title {

			@extend .highlight-gradient;
			font-size: 1.5rem;
		}
	}
}

.Box--link {

	@include hover() {

		.learn-more a {

			@include learn-more-hover;
		}
	}

	.box-link {
		position: initial;

		a {

			@include posZero;
			position: absolute;
			z-index: 10;
		}
	}
}

.Box--medium {

	@include color(background-color, main-background);
	max-width: em(837);
	padding: em(24) em(18);
	margin-left: auto;
	margin-right: auto;
	border-radius: $border-radius-16;
	box-shadow: 0 em(15) em(66) em(-15) rgba($black-real, 0.5);
	font-size: $font-size-default;
	overflow: hidden;

	* {
		line-height: 1.33;
		font-size: em(30);
		font-weight: $font-weight-bold;
		text-align: center;
	}

	@media (min-width: $breakpoint-tablet) {
		padding: em(35) em(60);
	}
}

.Box--center {

	.elementor-widget-image .elementor-widget-container {
		display: flex;
		align-items: center;
	}

	* {
		text-align: left !important;
	}

	@media (min-width: $breakpoint-tablet) {

		* {
			justify-content: center !important;
			text-align: center !important;
		}

		.elementor-widget-container {
			display: flex;
		}
	}
}
