/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Breadcrumb {

	&__items {
		margin-bottom: $default-element-margin;

		span {

			color: $dark-gray;
			font-size: $font-size-smaller;
			line-height: $line-height-smaller;
		}

		a {

			color: $dark-gray;
		}
	}
}

.Block {

	.Breadcrumb {

		&__items {
			margin-bottom: 25px;
		}
	}
}
