/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Category__item {

	position: relative;

	a {
		text-decoration: none !important;
	}

	&:not(.Category__item--blogLike) {

		border: 1px solid $light-gray;
		border-radius: $border-radius-16;
		padding: 1em;
		margin-bottom: 1.375em;
		max-height: 18.125em;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0);
		transition: box-shadow 0.5s;
		overflow: hidden;
		cursor: pointer;

		&:active,
		&:focus,
		&:hover {
			box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
		}

		.Category__item {

			&__thumbnail {
				display: flex;
				align-items: center;
				width: 100%;
				height: 3.125em;
				margin-bottom: 1.5em;
				overflow: hidden;

				img {
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}

			&__title {
				max-height: 2.75em;
				overflow: hidden;

				a {
					color: $black;
					text-decoration: none;
				}
			}

			&__excerpt {

				p,
				> a {
					color: $medium-gray-quotes;
					font-size: $font-size-smaller;
					line-height: $line-height-smaller;
					text-decoration: none;
				}
			}
		}


		@media (min-width: $breakpoint-tablet) {
			padding: 2.5em;
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			.Category__item {

				&__excerpt {
					max-height: 5em;
					overflow: hidden;

					p,
					> a {
						max-height: 5.25em;
						overflow: hidden;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}

.Category__item.pillar {

	align-items: center;
	background-size: 100% auto;
	width: 100%;

	a {

		&::after {
			display: none !important;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		display: flex;

		.Category__item__wrap {
			width: 58%;
		}
	}

	.Category__item {

		&__thumbnail {
			position: relative;
			justify-content: center;
			width: 42%;
			height: 9em;
			margin-bottom: 0;
			left: -1.25em;
			overflow: visible;
			display: none;

			img {

				@include square(100%);
				object-fit: contain;
			}

			@media (min-width: 1024px) {
				display: block;

				&__image {
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					width: 350px;
					height: 100%;
					background-size: auto 90%;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}

		&__title {

			font-size: 1.25em;
			line-height: 1.4166;
		}

		&__excerpt {
			position: relative;
			overflow: visible;

			p,
			> a {
				color: $dark-gray;
				display: block;
				font-weight: $font-weight-bold;

				@media (min-width: $breakpoint-tablet-landscape) {
					max-height: 70px;
					overflow: hidden;
				}

				@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
					max-width: 435px;
				}
			}

			span {
				color: $dark-orange;
				display: flex;
				font-weight: $font-weight-bold;

				@media (min-width: $breakpoint-tablet-landscape) {
					position: absolute;
					right: 0;
					bottom: -2.25em;
				}

				@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
					justify-content: flex-end;
					width: 100%;
					margin-top: 0.5em;
				}

				&::after {

					@include square(1.3125rem);
					content: "";
					display: block;
					margin-left: 10px;
					background-image: url(../../images/icon_read-more-orange.svg);
					transition: margin-left 0.3s;
				}

				&:active,
				&:focus,
				&:hover {

					&::after {
						margin-left: 0.5em;
					}
				}
			}
		}
	}
}

.Category__item--videos {
	max-height: none !important;

	.Category__item {

		&__title {
			padding: 1em 1.5em 0;
			margin-bottom: 0;
		}

		&__thumbnail {
			display: inline-block;
			width: 100%;
			height: 9.375em !important;
			border-radius: 1rem 1rem 0 0;
			overflow: hidden;


			img {

				@include square(100%);
				object-fit: cover;
			}
		}

		&__excerpt[class] {
			padding: 1.5em;
			max-height: none;
			overflow: visible;

			> a {
				display: block;
				max-height: none;
				overflow: visible;
				font-size: 0.825rem;
				color: $black;
				line-height: 1.25 !important;
				word-break: break-word;
				hyphens: auto;
			}
		}

		&__duration {
			text-align: right;
			padding: 0 1.5em 1.5em;
			font-size: 0.825rem;
			color: $dark-gray;
			margin-left: auto;
		}
	}
}

.Category__item--blogLike {
	border: 1px solid $light-gray;
	border-radius: $border-radius-16;
	box-shadow: 0 15px 66px -15px rgba($black-real, 0.12);
	transition: transform 0.2s;
	cursor: pointer;
	margin-bottom: 1.375em;

	&:hover {
		transform: translateY(-2em);
	}

	&__thumbnail {
		position: relative;
		display: block;
		height: 9.375em;

		.postLabels {
			position: absolute;
			display: flex;
			flex-direction: column;
			top: 2.5em;
			right: -0.5em;
			font-size: 0.625rem;
		}

		.postLabel {
			position: relative;
			display: flex;
			align-items: center;
			border-radius: 5px;
			background-color: $saturated-blue;
			color: $white;
			margin-left: auto;
			padding: 0.75em 1em 0.75em 0.15em;
			font-weight: $font-weight-semi;
			line-height: 1.25;
			z-index: 2;

			+ .postLabel {
				margin-top: 1em;
			}

			svg {

				fill: $saturated-blue;
				height: 100%;
				position: absolute;
				top: 0;
				right: calc(100% - 3px);
				z-index: -1;
			}
		}

		img {

			@include square(100%);
			object-fit: cover;
			border-radius: $border-radius-16 $border-radius-16 0 0;
		}
	}

	&__content {
		padding: 2em;
		text-align: center;

		.Blog__item__meta__categories {
			margin-bottom: 1em;
		}

		p {
			font-size: 0.875rem;
		}

		a {
			color: $black;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		margin-bottom: 3em;
	}
}


.redesign[class*="redesign"] {
	padding: 0 !important;
	max-height: 23.125em;
	box-shadow: 0 0 0 2px transparent;
	transition: 0.2s;
	margin-bottom: 2.5em;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 3%;
		z-index: -1;
	}

	&:hover {
		box-shadow: 0 0 0 2px $dark-orange;
		transition: 0.2s;
		border-width: 1px;
		border-style: solid;
		border-color: $dark-orange;

		.Category__item {

			&__content {

				&__title {

					a {

						color: $dark-orange;
					}
				}
			}
		}
	}


	.Category__item {

		&__header {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			position: relative;
			height: 5em;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: bottom left;

			&__image {
				display: flex;
				align-items: center;
				justify-content: center;
				backdrop-filter: blur(0.5em);
				margin-left: 1.5em;
				border-radius: 0.5em 0.5em 0 0;
				background-color: rgba($white, 85%);
				box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
				width: 4.625em;
				height: 4.25em;

				img {

					@include square(2.875em);
				}
			}

			&__label {
				padding: 2px 12px 3px 20px;
				background-color: $white;
				border-radius: $border-radius;
				margin-bottom: 10px;
				box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
				backdrop-filter: blur(8.5px);
				margin-right: 8px;

				span {
					font-size: 12px;
					position: relative;

					&::before {
						content: "";
						width: 8px;
						height: 8px;
						position: absolute;
						top: 50%;
						left: -1em;
						border-radius: 100%;
						transform: translateY(-50%);
					}
				}
			}
		}

		&__content {
			padding: 18px 30px 22px 30px;
			position: relative;
			z-index: 2;
			background-color: $white;
			height: 145px;

			&__title {
				font-size: 1.125rem;
				margin-bottom: 0.4em;

				a {

					&:hover {
						color: $dark-orange;
					}
				}

			}

			&__excerpt {
				margin-bottom: 0.6em;

				a {

					display: flex;
					flex-direction: column;
					overflow: hidden;
					text-overflow: ellipsis;
					-moz-box-orient: vertical;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					-ms-flex-line-pack: center;
					align-items: flex-start;
					height: 5em;
					font-size: 0.875rem;
					font-weight: $font-weight-normal;
					max-height: 100%;
					margin-bottom: 0;

					&:hover {
						color: unset;
					}
				}
			}

		}


		&__cta {
			position: relative;
			bottom: 0;
			right: 0;
			color: $black;
			font-weight: $font-weight-semi;
			display: flex;
			gap: 0.5em;

		}

	}

	&.pillar {
		margin-top: 1.25em;

		&.Category__item--features {
			padding: 0;
			z-index: 1;
		}

		&:hover {
			border: 1px solid $light-gray;
			box-shadow: none;
		}

		.Category__item {

			&__thumbnail {
				left: 0;
				height: 100%;

				&__image {
					position: relative;
					height: 100%;
					width: 100%;
					background-size: contain;
					background-position: bottom;
					left: 1.2em;
					background-repeat: no-repeat;
				}

			}

			&__wrap {
				padding: 4.1875em;
				padding-right: 2.5em;
			}

			&__title {
				font-size: 1.75rem;
				margin-bottom: 0.4em;
			}

			&__excerpt {
				margin-bottom: 0.4em;

				a {
					font-size: 16px;
					font-weight: $font-weight-normal;
					margin-bottom: 0;
				}
			}

			&__cta {
				position: relative;
				bottom: 0;
				right: 0;
				color: $black;
				font-weight: $font-weight-semi;
				display: flex;
				gap: 0.5em;
				font-size: 14px;

				&::after {
					display: block !important;
					width: 1.3125rem;
					height: 1.3125rem;
					content: "";
					transition: 0.3s;
					background-image: url(../../images/icon_read-more.svg);
				}

				&:hover {

					&::after {
						transform: translate(30%, 0);
						transition: 0.3s;

					}
				}
			}
		}
	}
}

