/* stylelint-disable selector-class-pattern, value-keyword-case */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/menuArrow" as *;

.Checklists__toc {

	&__main {
		display: flex;
		align-items: center;
		border-radius: 0.75em;
		background-color: $lightest-gray;

		@media (min-width: $breakpoint-desktop-box) {
			padding-right: 2em;
		}
	}

	&__label {

		@include color(color, font-color-normal);
		min-width: 7.5em;
		padding: 0 0.5em 0 1em;
		font-size: 0.75em;
		font-weight: $font-weight-bold;
	}

	&__title {
		width: 23em;
		height: 2.9em;
		line-height: 2.9;
		padding: 0 3em 0 1em;
		border: 0.071em solid $medium-gray-inputs;
		border-radius: 0.714em;
		font-size: 0.875em;
		font-weight: $font-weight-bold;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		background-color: $white;
		user-select: none;
	}

	&__block {
		position: relative;
		display: block;
		z-index: 1;
	}

	&__activator {

		@extend %menuArrow;
		position: absolute;
		display: block;
		top: 50%;
		right: 1em;
		transform: translateY(-50%);

		&::after {

			@include square(0.5em);
			border: 0.125em solid $black;
			border-top: 0;
			border-right: 0;
		}
	}

	&__wrapper {

		@include color(background-color, main-background);
		position: fixed;
		top: 100%;
		left: 0;
		transform: translate(0, -2em);
		width: 100%;
		opacity: 0;
		border-radius: $border-radius-16;
		transition: all 0.25s;
		filter: drop-shadow(0 3px 20px rgba($black-real, 0.15));

		&.visible {
			transform: translate(0, 0);
			opacity: 1;
		}

		.Post__header__small:not(.visible) & {
			transform: translate(0, -100%);
		}


		@media (min-width: $breakpoint-tablet) {
			position: absolute;
			transform: translate(0, -2em);

			&.visible {
				transform: translate(0, 0);
			}

			.Post__header__small:not(.visible) & {
				transform: translate(0, -100%);
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&::before {
				left: auto;
				right: 2.25em;
			}
		}
	}

	&__inn {
		width: 100%;
		padding: 0.75em 1em 0.75em 0;

		ul {

			@include scrollbar;
			max-height: 19em;
			overflow-y: scroll;
			position: relative;
			padding: 0;
			margin: 0 -0.75em 0 0;
		}
	}

	&__item {

		@include color(color, font-color-dark);
		position: relative;
		line-height: 1.2;
		font-size: 0.875em;
		font-weight: $font-weight-bold;

		a {
			display: block;
			padding: 0.5em 0 0.5em 1em;
			text-decoration: none !important;
		}

		&:hover {

			a {

				@include color(color, primary-color);
			}
		}
	}
}
