/* stylelint-disable selector-class-pattern, value-keyword-case */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/menuArrow" as *;

.Checklists__toc {

	&__main {
		display: flex;
		align-items: center;
		border-radius: 0.75em;
		background-color: $lightest-gray;
	}

	&__label {

		color: $dark-gray;
		min-width: 7.5em;
		padding: 0 0.5em 0 1em;
		font-size: 0.75em;
		font-weight: $font-weight-bold;
	}

	&__title {
		position: relative;
		z-index: 11;
		width: 23em;
		height: 2.9em;
		line-height: 2.9;
		padding: 0 3em 0 1em;
		border: 0.071em solid $medium-gray-inputs;
		border-radius: 0.714em;
		font-size: 0.875em;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		background-color: $white;
		user-select: none;
		cursor: pointer;
	}

	&__block {
		position: relative;
		display: block;
		z-index: 1;
	}

	&__activator {

		@extend %menuArrow;
		position: absolute;
		z-index: 12;
		display: block;
		top: 50%;
		right: 1em;
		transform: translateY(-50%);

		&::after {

			@include square(0.5em);
			border: 0.125em solid $black;
			border-top: 0;
			border-right: 0;
		}
	}

	&__wrapper {

		background-color: $white;
		position: absolute;
		z-index: 10;
		top: 100%;
		left: 0;
		width: 100%;
		pointer-events: none;
		opacity: 0;
		overflow: hidden;
		border-radius: 0.625em;
		transition: opacity 0.1s;
		box-shadow: 0 0.063em 0.375em rgba($black, 0.16);

		&.visible {
			opacity: 1;
			pointer-events: initial;
		}

		.Post__header__small:not(.visible) & {
			pointer-events: none;
			opacity: 0;
		}


		@media (min-width: $breakpoint-tablet) {

			&.visible {
				opacity: 1;
				pointer-events: initial;
			}

			.Post__header__small:not(.visible) & {
				pointer-events: none;
				opacity: 0;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&::before {
				left: auto;
				right: 2.25em;
			}
		}
	}

	&__inn {
		position: relative;
		width: 100%;
		padding: 0.75em 1em 0.75em 0;

		&::before {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 0.7em;
			background-color: $lightest-gray;
		}

		ul {

			@include scrollbar(0.5em);
			max-height: 19em;
			overflow-y: scroll;
			position: relative;
			padding: 0;
			margin: 0 -0.75em 0 0;
		}
	}

	&__item {

		color: $black;
		position: relative;
		font-size: 0.875em;

		a {
			display: block;
			padding: 0.5em 0 0.5em 1em;
			text-decoration: none !important;
		}

		&:hover {

			a {

				color: $dark-orange;
			}
		}
	}
}
