/* stylelint-disable selector-class-pattern,
no-descending-specificity, scss/at-extend-no-missing-placeholder */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/Typography" as *;
@forward "../elements/FakeChatButton";

$links: 4;
$minWidth: 16.125em;

$colors: (
	"green": $desaturated-green,
	"red": $desaturated-red,
	"violet": #efe6f8,
	"orange": $medium-orange,
	"blue": #984ad726,
);

.ContactUs {
	position: fixed;
	bottom: 1.125em;
	right: 1.125em;
	z-index: 999997;

	&__chatBotOnly {
		position: fixed;
		bottom: 1.5em;
		right: 1.5em;
		padding: 0;
		z-index: 999997;
		background: transparent;

		.ContactUs__icon {

			@include square(4.5em);
			border-radius: 50%;
			box-shadow: 0 3px 10px rgba($black-real, 0.3);
		}
	}

	&__button {
		all: unset;
		position: relative;
		padding: 0.625em 1em 0.625em 1.5em;
		font-weight: $font-weight-semi;
		color: $white;
		background: $light-orange;
		box-shadow: 0 0.25em 2em rgba($black-real, 0.12);
		border-radius: $border-radius-16;
		transition: all 0.35s;
		user-select: none;
		cursor: pointer;

		span {
			position: relative;
			z-index: 1;
			user-select: none;
		}

		&::before,
		&::after {
			content: "";

			@include posZero;
			position: absolute;
			border-radius: $border-radius-16;
			transition: all 0.35s;
		}

		&::before {
			background: var(--background);
			opacity: 1;
			z-index: 1;
		}

		&::after {
			background: $white;
			opacity: 0;
		}

		&.active {
			color: $black;

			&::before {

				opacity: 0;
			}

			&::after {
				opacity: 1;
			}

			.ContactUs__button--icon {
				fill: $dark-orange !important;

				&__wrap {

					&::after {
						background: rgba($white, 1);
					}
				}
			}
		}

		&--icon {

			@include square(2.5em);
			position: relative;
			z-index: 2;
			fill: $white !important;
			transition: fill 0.35s;

			&__wrap {
				position: relative;
				margin-left: 0.75em;
				border-radius: 50%;
				overflow: hidden;
				z-index: 1;
				transform: translateZ(10px);
				box-shadow: 0 0.25em 1em 0 rgba($black-real, 0.15);

				&::after {
					content: "";

					@include posZero;
					border-radius: 50%;
					position: absolute;
					background: rgba($white, 0);
					transition: all 0.35s;
				}
			}

			@media (min-width: $breakpoint-tablet) {

				@include square(3.5em);
			}
		}

		@media (hover: hover) {

			&:hover {
				background: rgba($light-orange, 1);
				color: $white;

				&::before,
				&::after {
					opacity: 0;
				}
			}

			&.active:hover {
				color: $white;

				.ContactUs__button--icon {
					fill: $white !important;

					&__wrap {

						&::after {
							background: transparent;
						}
					}
				}
			}
		}
	}

	&__form {
		position: fixed;
		bottom: 1.125em;
		left: 50%;
		z-index: 999998;
		padding: 1.5em;
		background-color: $white;
		border-radius: $border-radius-16;
		box-shadow: 0 0.25em 1.375em rgba($black-real, 0.12);
		transform: translate(-50%, calc(100% + 1.125em));
		transition: transform 0.2s;
		width: 100%;

		&.visible {
			transform: translate(-50%, 0);
		}

		iframe {
			width: 100% !important;
			min-height: 35em;
		}

		@media (min-width: $breakpoint-tablet) {
			width: auto;
			left: auto;
			right: 1.125em;
			transform: translateY(calc(100% + 1.125em));

			&.visible {
				transform: translateY(0);
			}

			iframe {
				width: auto;
				min-width: 25em;
				min-height: 35em;
			}
		}

		.ContactUs__menu--close {
			opacity: 1;
			position: absolute;
			top: 0.75em;
			right: 0.75em;
		}
	}

	&__menu {
		min-width: $minWidth;
		padding-top: 0;
		padding-bottom: 1em;
		margin-right: -0.75em;
		margin-bottom: -1em;
		overflow: hidden;

		&--wrap {
			position: absolute;
			border-radius: $border-radius-16;
			bottom: calc(100% + 1em);
			right: 0;
			text-align: right;
			padding: 0.75em;
			background-color: $white;
			filter: drop-shadow(0 0.25em 1.375em rgba($black-real, 0.12));
			max-height: 0;

			overflow: hidden;
			transition: max-height 0.4s ease-out, visibility 0.4s ease-out, opacity 0.2s ease-out;
			visibility: hidden;
			opacity: 0;
			display: unset !important;


			&::before,
			&::after {
				content: "";
				position: absolute;
				background-color: $white;
			}

			&::before {
				width: 100%;
				height: 1em;
				left: 0;
				bottom: 0;
				border-radius: 0 0 $border-radius-16 $border-radius-16;
				opacity: 0;
			}

			&.visible {
				max-height: 800px;
				visibility: visible;
				opacity: 1;

				&::before {
					opacity: 1;
					transition-delay: 0s;
				}

				.ContactUs {

					&__menu {

						&--close,
						&--text {
							opacity: 1;
						}

						&--link {
							opacity: 1;
						}

					}
				}
			}
		}

		&--item {
			margin-bottom: 0.625em;

			&.top {
				position: relative;
				z-index: 2;
			}
		}

		&--link[class] {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 100%;
			height: auto;
			padding: 0.25em 1em 0.25em 0.25em;
			border-radius: $border-radius-16;
			font-size: 1rem;
			font-weight: $font-weight-semi;
			color: $black-real;
			text-decoration: none;
			opacity: 0;
			transform: translateZ(10px);
			transition: all 0.25s 0.15s;
			z-index: 1;
			cursor: pointer;


			&::after {
				content: "";

				@include posZero;
				right: 0.75em;
				position: absolute;
				transform: translateX(calc(100% + 0.75em));
				transition: transform 0.2s;
				border-radius: $border-radius-16;
				z-index: -1;
			}

			&:hover {
				text-decoration: none !important;
				color: $black-real !important;

				&::after {
					transform: translateX(0);
				}
			}

			@each $class, $color in $colors {
				&.#{$class} {

					&::after {

						background-color: $color;
					}
				}
			}

			&.chat[class] {


				.circleChatButtonWrap.circleChatButtonWrap[class] {

					position: relative;
					transform: scale(0.6115);
					transform-origin: 0 0;
					box-shadow: none !important;

					&:hover {
						box-shadow: none !important;
						filter: none;
					}

					&::after {
						content: "";
						position: absolute;
						height: 100%;
						width: $minWidth;
						top: 0;
						right: 0;
					}

					@media (min-width: $breakpoint-tablet) {
						transform: scale(0.8615);
					}
				}

				> div[id] > div {

					@include square(3.5em);
					position: static !important;
				}
			}

			.fakeChatButton {

				&__msg {
					width: $minWidth * 1.33 - 1.5em;
				}
			}

			.ContactUs__icon,
			> div:not(.fakeChatButton) {

				@include square(2.5em);
				margin-left: 1em;

				@media (min-width: $breakpoint-tablet) {

					@include square(3.5em);
				}
			}
		}

		&--close {
			all: unset;

			@include appearance;
			margin-bottom: 1.5em;
			cursor: pointer;

			svg {

				@include square(1em);
			}
		}

		&--text {
			font-size: 0.825rem;
			line-height: 1.5;
			margin-bottom: 0.75em;
		}

		&--close,
		&--text {
			opacity: 0;
			transition-delay: 0s;
		}
	}

	&__status {
		text-align: right;

		&--info {
			$outage-color: #ce212d;
			margin-top: 0;


			$infoColor: (
				"ok": #187e36,
				"outage":$outage-color,
				"degradation": $primary,
				"unavailable": $medium-gray
			);

			li {
				display: none;
				align-items: center;
				text-align: left;
				font-size: 0.75rem;
				line-height: 1.15;
				cursor: pointer;

				strong {
					font-weight: 600;
					text-decoration: underline;
				}

				svg {

					@include square(2em);
					fill: currentcolor;
					margin-right: 1em;
				}

				@media (hover: hover) {

					&[class]:hover {
						background-color: rgba($outage-color, 0.25);
					}
				}

				&.outage {
					border: 1px solid $outage-color;
					background-color: rgba($outage-color, 0.125);
					color: $outage-color;
					padding: 0.75em;
					border-radius: 6px;
				}

				&.degradation {
					border: 1px solid $primary;
					background-color: rgba($primary, 0.125);
					color: $primary;
					padding: 0.75em;
					border-radius: 6px;

					&[class]:hover {
						background-color: rgba($primary, 0.25);
					}
				}
			}
		}
	}
}
