/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../common/animations" as *;


.Medovnicky { // Naming as Slovak “gingerbread“ due to adblocks

	background-color: $black;
	color: $white;
	@include shakeX(2em);
	position: fixed;
	left: 25px;
	z-index: 9999999;
	bottom: -225px;
	flex-flow: wrap row;
	justify-content: flex-start;
	align-items: center;
	width: 400px;
	max-width: 100%;
	height: auto;
	overflow: hidden;
	border-radius: $border-radius-16;
	transition: bottom 0.5s;

	&.shakeX {
		animation: shakeX 0.75s;
	}

	.wrapper {
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		align-items: center;
		padding: 25px;
	}

	p {

		color: inherit;
		font-size: 14px;
		line-height: 26px;
		margin-bottom: 0;

		a {
			color: inherit;
			text-decoration: underline;

			&:active,
			&:focus,
			&:hover {

				color: $dark-orange;
				text-decoration: none;
			}
		}
	}

	&__buttons[class] {
		margin-top: 25px;
		width: 100%;
		display: flex;
		flex-flow: wrap row;
		justify-content: flex-end;

		.Button--full[class] {

			background: $white;
			color: $black;
			transition: all 0.75s;

			&::before,
			&::after {
				opacity: 0;
			}

			&:hover {

				color: $white;
				background: transparent;

				&::before,
				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__button {

		&--more[class] {

			color: $white;
			border-color: transparent !important;
			padding: 0;
			font-weight: $font-weight-normal;
			text-decoration: underline;

			&:active,
			&:focus,
			&:hover {

				color: $dark-orange;
				text-decoration: none;
			}
		}

		+ .Button[class] {
			margin-top: 0;
			margin-left: 1em;
		}
	}

	&.show {
		bottom: 25px;
	}

	&.hide {
		bottom: -235px;
	}

	@media (max-width: $breakpoint-tablet) {
		left: 0;
		width: 100%;
		z-index: 10000000;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		p {
			font-size: $font-size-smaller;
			line-height: $line-height-smaller;
		}

		.wrapper {
			padding: 30px;
		}

		&__buttons[class] {
			justify-content: center;
		}

		&.show {
			bottom: 0;
		}

		&.hide {
			bottom: -225px;
		}
	}
}
