@import "../elements/Checklist";

.ExtraFaq.ExtraFaq {
	display: block !important;

	h2 {
		font-size: 2rem;
		line-height: 1.5;
		margin-top: 1em;
	}

	ul {

		@extend %checklist;
	}

	.ExtraFaq__item {
		border: 1px solid $light-gray;
		border-radius: 0.5rem;
		padding: 0 2rem;
		margin-bottom: 1.15em;
		overflow: hidden;

		h3 {

			@include color(background-color, secondary-background);
			font-size: $font-size-smaller;
			line-height: $line-height-smaller;
			margin: 0 -2rem 1rem;
			padding: 1rem 2rem;
		}

		p {
			font-size: $font-size-smaller;

			&:empty {
				display: none;
			}
		}
	}
}
