/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.GoodHands {
	position: relative;
	background: linear-gradient(88deg, rgba(254, 181, 109, 0.3) 0.06%, #ffac5a4d 0.07%, rgba(169, 188, 255, 0.3) 60.59%, rgba(253, 108, 108, 0.3) 85.51%);
	text-align: center;

	&__new {
		background: $level4 url(../../images/landing-ppc-bg_goodhands_mobile.png) left bottom no-repeat !important;
		background-size: cover !important;
		height: auto !important;
		border-radius: 0 !important;
		padding-top: 4em;
		width: calc(100% - 3em);
		margin: 0 auto;
		margin-top: 0 !important;
		text-align: left;

		.Buttons {
			text-align: left;
		}

		.wrapper[class] {

			padding: 4em 1.5em !important;
		}

		.GoodHands__image {
			display: block;
		}

		@media (max-width: ($breakpoint-tablet-landscape - 1px)) {

			.GoodHands__image {
				margin-top: 8em;
				margin-bottom: 4em;
			}
		}

		@media (min-width: $breakpoint-tablet) {
			background: url(../../images/landing-ppc-bg_goodhands_tablet.png) center bottom no-repeat !important;
			background-size: 100% 100% !important;
			width: calc(100% - 5em);

			.GoodHands__image {
				width: 50%;
			}

			.wrapper[class] {

				padding: 4em 2.5em !important;
				align-items: center;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			background: url(../../images/landing-ppc-bg_goodhands.jpg) center bottom no-repeat !important;
			background-size: cover !important;
			width: 100%;
		}

		.Button {
			height: 2.5rem;
		}

		@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-tablet-landscape) {

			.GoodHands__text {
				padding-right: 0;
			}

			h3 {
				font-size: 2.5rem !important;
			}
		}

		@media (min-width: $breakpoint-desktop-box) {

			.wrapper[class] {

				padding: 4em 0 !important;
			}
		}
	}

	.wrapper {

		padding: 2.5em 0;
	}

	body:not(.home) & {
		margin-top: 6.5em;
		margin-bottom: em(-100);

		@media (max-width: ($breakpoint-tablet - 1px)) {
			margin-top: 4em;
			margin-bottom: em(-60);
		}
	}

	h3 {
		font-size: 1.75rem;
		line-height: 1.33;
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		height: 28.5em;

		h3 {
			font-size: 2.5rem;
		}
	}


	&__image {
		display: none;
		margin-top: 0.25em;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center bottom;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			width: 53%;
		}

		@media (min-width: $breakpoint-desktop) {
			width: 36.75em;
			height: 26.75em;

			.partnerWithUs & {
				width: 53%;
				height: auto;
			}
		}
	}

	&__logos {
		margin-top: 1.5em;
		margin-bottom: 0;
		flex-wrap: wrap;
		justify-content: center;

		@media (min-width: $breakpoint-tablet-landscape) {
			margin-bottom: 1.5em;
		}
	}

	&__logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(50% - 1.5em);
		margin-bottom: 1.5em;

		img {
			height: 1.5em;
		}
	}


	&__stars {
		display: flex;
		margin-top: 0.5em;

		svg {

			@include square(0.75em);

			+ svg {
				margin-left: 0.25em;
			}
		}
	}

	@media (max-width: ($breakpoint-tablet-landscape - 1px)) {

		.Button + .Button {
			margin-left: 0;
			margin-top: 1em;
		}
	}

	@media (min-width: $breakpoint-tablet) {
		text-align: left;

		.wrapper {
			display: flex;
			padding: 1.5em 0 0 1.5em !important;
		}

		&__button {
			margin-top: 1.5em;
		}

		&__image {
			display: block;
		}

		&__text {
			width: 50%;
			padding: 3.125em 3.125em 3.125em 0;
		}

		&.partnerWithUs &__text {
			width: 31.125%;
			padding: 3.125em 0;
			margin-right: auto;
		}

		&__logos {
			flex-wrap: nowrap;
			justify-content: space-between;
			padding-right: 20%;
		}

		&.partnerWithUs &__logos {
			padding-right: 0;
		}

		&__logo {
			align-items: flex-start;
			width: calc(33% - 2em);
		}
	}
}

body.category-blog,
body.post-type-archive-ms_awards {

	.GoodHands {
		display: none;
	}
}
