/* stylelint-disable selector-class-pattern */
@use "../common/variables" as *;

.elementor-widget-heading {

	&.heading-icon {
		position: relative;
		margin: 0;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0;
		}

		&::before {
			content: "";
			position: absolute;
			top: -0.125rem;
			left: 0;
			width: 1.5rem;
			height: 1.5rem;
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		&--key {

			&::before {
				background-image: url(../../images/icon-key.svg);
			}
		}

		&--chatbot {

			&::before {
				background-image: url(../../images/icon-message-chatbot.svg);
			}
		}

		&--file-description {

			&::before {
				background-image: url(../../images/icon-file-description.svg);
			}
		}

		&--pencil-plus {

			&::before {
				background-image: url(../../images/icon-pencil-plus.svg);
			}
		}

		.elementor-widget-container {

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				padding-left: 2.5rem;
			}
		}
	}
}
