/* stylelint-disable selector-class-pattern, no-duplicate-selectors */

@use "../common/variables" as *;
@use "../common/mixins" as *;

$bg-color: #f9f9fa;

.Header__flags__mobile {

	@media (min-width: $breakpoint-tablet-landscape) {
		display: none;
	}
}

.Header__flags {

	display: none;

	@media (min-width: $breakpoint-tablet-landscape) {
		display: block;
	}

	@media (min-width: $breakpoint-desktop) {
		margin-left: 1.875em;
		border-left: 0.0625em solid #000;
	}

	ul {
		margin: 0;
	}

	&__title,
	p {
		display: none;
	}

	&--item {
		break-inside: avoid;

		&-flag {

			@include square(1.5em);
			margin-right: 0.5rem;
			border-radius: 50%;
			box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.5);
		}

		&-link[class] {

			color: $medium-gray-quotes;
			position: relative;
			display: flex;
			align-items: center;
			padding: 0.5em 0;
			font-size: 0.75rem;
			line-height: 1;
			text-decoration: none !important;

			&:not(.active)::before {

				@include square(100%);
				background-color: rgba(0, 0, 0, 0.06);
				content: "";
				position: absolute;
				bottom: 0;
				left: -0.5em;
				z-index: 1;
				transform: scaleX(0);
				transform-origin: left center;
				transition: all 0.5s ease;
				pointer-events: none;
			}

			&.active {
				opacity: 0.6;
			}

			&:active,
			&:focus,
			&:hover {

				color: $medium-gray-quotes;

				&::before {
					transform: scaleX(1);
				}
			}
		}

		&-toggle {
			cursor: pointer;

			.Header__flags--item-flag {
				box-shadow: 0 0 0.5em 0 rgba($black-real, 0.3);
			}

			&::after {
				content: "\e821";
				font-family: fontello, sans-serif;
				font-size: 0.75rem;
				top: 0.5625em;
				right: 0;
				width: 0.75em;
				display: inline-block;
			}

			&:active,
			&:focus,
			&:hover {

				.Header__flags--item-flag {
					box-shadow: 0 0 0.75em 0 rgba($black-real, 0.75);
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {
				padding: 0 1.25em;

				h3 {
					display: none;
				}
			}
		}
	}

	&--mainmenu {

		background-color: $white;
		position: fixed;
		overflow: scroll;
		width: 100vw;
		height: 100vh;
		padding: 1.25em;
		opacity: 0;
		left: 0;
		top: 4em;
		transition: opacity 0.2s;

		&.active {
			display: block;

			&.visible {
				opacity: 1;
			}
		}

		@media (min-width: $breakpoint-tablet) {

			.Header__flags--region-asia {
				margin-top: 1em;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			@include clear;
			position: absolute;
			overflow: visible;
			border-radius: $border-radius-16;
			padding: 1.75em 0 1.75em 3em;
			width: auto;
			height: auto;
			min-width: 32rem;
			top: 4em;
			left: auto;
			right: 6.5em;
			box-shadow: 0 0.18em 4em 0 rgba($black-real, 0.15);
			display: none;
		}

		@media (min-width: $breakpoint-desktop) {
			right: 2.5em;
		}
	}

	&--region {
		height: auto;
		margin-right: 1em;
		margin-bottom: 1em;
		float: left;

		ul {
			display: flex;
			flex-wrap: wrap;

			li {
				transform: translateZ(0);
				margin-right: 0.75em;
			}
		}

		&-title {
			position: relative;
			font-size: 0.875rem;
			line-height: 1.25;
			margin: 0 0 0.25em 0;
		}

		&-europe {
			float: none;
			margin-right: 0;
			column-count: 2;
			column-gap: 2em;

			h4,
			.h4 {
				column-span: all;
			}

			ul {
				display: block;

				li {
					margin-right: 0;
				}
			}
		}

		//Region switcher mobile - Prepared for more languages
		&-switcher {
			display: none;
			width: 100%;
		}

		@media (min-width: $breakpoint-tablet) {
			width: calc(100% / 3 - 1em);
			float: right;
			margin-right: 0;

			ul {
				display: block;

				li {
					margin-right: 0;
				}
			}

			&-europe {
				float: left;
				width: calc(100% / 3 * 2);
				height: 100%;
				margin-bottom: 0;
			}

			&-switchers {
				display: none;
			}
		}
	}
}

// Temporary disable flags for not finished languages

.Header__flags--item {

	&-sv,
	&-ja,
	&-fi,
	&-no {
		display: none !important;
	}
}

.Header__navigation {

	&.active {

		&.mobile-active {

			.Header__flags {

				&__mobile__title {
					display: none;
				}

				&--main {

					> ul {
						margin: 0;
					}
				}

				&--mainmenu {

					position: relative;
					padding: 0 1.5em;
					height: auto;
					top: unset;


					&.active {
						display: flex;
						background-color: $bg-color;
					}
				}

				&--item-toggle {
					display: flex;
					justify-content: space-between;
					padding: 0 1.25em;
					align-items: center;

					&.active {
						background-color: $pricing-gray;
					}

					h3 {
						font-size: 1rem;
						line-height: 3.75;
						margin: 0;
					}

					svg {
						display: none;
					}
				}

				&--regions {
					padding-left: 0.5em;
				}

				&--region {
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					> ul {
						display: grid;
						grid-template-columns: 1fr 1fr 1fr;
						gap: 0.5em 1em;
						width: 100%;
					}

					&.Header__flags--region-europe {
						margin-top: 1em;
					}
				}
			}

			.Header__flags__mobile {

				.Header__flags--mainmenu {
					transition: height 0.5s ease-out;
					opacity: 1;
					height: 0;

					&.active {
						transition: height 0.5s ease-out;
					}
				}

			}
		}

	}

}
