/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.heroBanner {
	margin-top: 1em;

	.elementor-container {
		align-items: center;
	}

	&__content {

		&__title {

			.elementor-heading-title {
				margin-bottom: 0;
				line-height: 1.2;
				text-align: center;
				font-size: 1.875rem;
			}
		}

		&__subtitle {

			p,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			pre,
			div {
				font-size: 1.25rem;
				font-weight: 400;
				line-height: 1.4;
				margin-bottom: 0;
				text-align: center;
			}
		}

		&__footer {

			.elementor-widget-container {
				display: flex;
				flex-direction: column;
				align-items: center;

			}

			.no-cc {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				column-gap: 1rem;

				li {
					width: fit-content;
					text-align: center;
				}
			}

			&__cta {

				@media (max-width: $breakpoint-tablet) {
					text-align: center;
				}

				.Buttons {
					display: flex;
					flex-wrap: wrap;
					gap: 1em;
					row-gap: 0.5em;

					@media (max-width: $breakpoint-tablet) {
						justify-content: center;
						margin-bottom: 0.5em;
					}
				}

				.Button {
					width: auto;

					+ .Button {
						margin: 0;
					}
				}

				.info__under__button {

					@media (max-width: $breakpoint-tablet) {
						text-align: center;

						span {
							margin-right: 0;
						}
					}

					span {
						color: $medium-gray-quotes;
						font-size: 0.8125rem;

						&:first-child {
							margin-right: 0.625em;
						}

					}
				}
			}


		}
	}

	&__image[class] {
		display: none;
		position: relative;
		z-index: 1;
	}

	&--takeATour {

		.heroBanner__image__cta__img {
			width: 50% !important;
		}
	}

	&--free-plan {

		&__content {
			align-items: center;

			.elementor-widget-heading {

				h1 {
					margin: 0 0 1.125rem 0 !important;
					font-size: 3.25em;
					font-weight: $font-weight-bold;
					line-height: 1.23 !important;

					span {
						display: block;
					}

				}
			}

			.elementor-widget-text-editor {

				p {
					width: 100%;
					max-width: 100%;
					margin: 0 0 2.125rem 0;
					font-size: 1.625em;
					font-weight: $font-weight-normal;
					line-height: 1.46;
				}
			}
		}
	}

	@media (min-width: $breakpoint-tablet) {

		&__content {

			&__title {

				.elementor-heading-title {
					text-align: left;
					font-size: 2.125em;
				}
			}

			&__subtitle {

				p,
				h1,
				h2,
				h3,
				h4,
				h5,
				h6,
				pre,
				div {
					text-align: left;
				}
			}

			&__footer {

				.elementor-widget-container {
					align-items: flex-start;

				}

				.no-cc {

					justify-content: flex-start;

					li {
						text-align: left;
					}
				}

			}
		}

		&__image {

			&[class] {
				display: block;
			}

			img {

				width: 35.625em;
				height: auto;
			}

			.heroBanner__image__cta__img {
				position: absolute;
				left: 0;
				top: 50%;
				width: 50%;
				height: auto;
				z-index: 2;
				transform: translateY(-50%);
				cursor: pointer;

				img {
					height: auto;
				}
			}
		}

	}

	@media (min-width: $breakpoint-tablet-landscape) {

		&__content {

			&__title {

				.elementor-heading-title {
					font-size: 3rem;
				}
			}

			&__subtitle {

				p,
				h1,
				h2,
				h3,
				h4,
				h5,
				h6,
				pre,
				div {
					font-size: 1.625rem;
				}
			}

			.no-cc {
				width: 75%;
			}

		}
	}

}
