/* stylelint-disable selector-class-pattern,
no-descending-specificity, selector-id-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "LoaderTabIcons" as *;

/* ---------------------------- LOADING SCREEN ----------------------------- */

#loader {

	@include color(background, main-background);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 50px 0;
	display: flex;
	flex-flow: wrap row;
	justify-content: center;
	align-items: center;
	opacity: 1;
	overflow: auto;
	z-index: 99;

	&.invisible {
		opacity: 0 !important;
		visibility: hidden !important;
	}

	.loaderIn {
		text-align: center;
		padding: 0 35px;

		h2 {
			margin-top: 25px;
			margin-bottom: 15px;
		}
	}

}


#redirectButtonPanel[style*="block"] + .mobileSignupFinal {

	@media (max-width: 1024px) {
		display: flex;
	}
}

#redirectButtonPanel[style*="block"] {
	display: flex;
}

#redirectButtonPanel {
	flex-flow: wrap row;
	justify-content: center;
	align-items: center;

	.FinalButton {

		@include color(background, background);
		@include color(color, font-color-light);
		display: inline-block;
		margin: 0;
		padding: 0 57px 0 35px;
		border: 0;
		border-radius: $border-radius-small;
		font-size: 14px;
		line-height: 48px;
		font-weight: $font-weight-bold;
		text-align: center;
		text-decoration: none;
		transition: all 0.3s;
		cursor: pointer;
		position: relative;
		overflow: hidden;

		&::after {
			content: url(/assets/images/arrow_right_white.svg);
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(-100%, -44%);
		}


		&:active,
		&:focus,
		&:hover {

			@include color(background, background-invert, !important);
			@include color(color, font-color-light);
			outline: 0;
			text-decoration: none;
		}
	}
}

[class*="--mobile"] {
	display: none !important;
}

@media (max-width: 1024px) {

	[class*="--desktop"] {
		display: none !important;
	}

	[class*="--mobile"] {
		display: block !important;
	}
}

.BuildingApp {
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
	max-width: $wrapper-width;
	cursor: initial !important;

	&__progress {
		width: 100%;
		max-width: 800px;

		&__header {

			display: grid;
			grid-template-columns: 50px 1fr max-content;
			align-items: center;
			gap: 1em;
			margin-bottom: 12px;

			&__logo {
				display: block;
				width: 50px;
				height: auto;
			}

			&__title {
				display: block;
				text-align: left;
				font-size: 24px;
				margin-bottom: 0;
			}

			&__percentage {
				font-family: $font-third;
				font-size: $font-size-h2;
				font-style: normal;
				justify-self: flex-end;

			}

		}

		.progress__bar__container {
			position: relative;
			width: 100%;
			height: 10px;

			@include color(background-color, third-color);
			border-radius: $border-radius-small;

			.progress__bar {
				position: absolute;
				top: 0;
				left: 0;
				height: 10px;

				@include color(background-image, background);
				width: 0;
				transition: width 0.5s;
				border-radius: $border-radius-small;
			}

			.progress__ball {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(-5px, -50%);
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background-color: #fff;
				transition: left 0.5s;
				z-index: 99;
				border: 2px solid $dark-orange;
			}
		}


		&__wrap__text {
			margin: 2em 0;
		}

	}

	&__videos {
		padding: 25px 0;
		border-radius: $border-radius;

		background: #f7f7f9;

		&__title {
			margin-top: 0;
			margin-bottom: 30px;

		}

		&__tabs {
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1.25em 1em;
			padding: 0 1em;

			.RadioInputContainer {
				position: relative;
				line-height: 1.2;
				padding: 12px 22px 12px 68px;
				border-radius: 0.429em;
				border: 2px solid $white;
				cursor: pointer !important;
				width: 100%;

				@include color(background, main-background);
				@include color(box-shadow, box-shadow);


				* {
					cursor: pointer !important;
				}


				&.selected {

					@include color(background, third-color);
					@include color(border-color, primary-color);
				}

				&:hover {

					@include color(border-color, primary-color);

					[type="radio"] {

						&::before {
							background: url(../images/radio-input-inactive-hover.svg) center center no-repeat;
							background-size: contain;
						}
					}

				}

				[type="radio"] {
					appearance: none;

					&::before {
						content: "";
						position: absolute;

						@include square(1.5em);
						background: url(../images/radio-input-inactive.svg) center center no-repeat;
						background-size: contain;
						top: 50%;
						transform: translateY(-50%);
						left: 10px;
					}

					~ label {
						position: relative;

						.tab-icon {
							background-size: contain;
							content: "";
							position: absolute;

							@include square(26px);
							left: -6px;
							top: 50%;
							transform: translate(-100%, -50%);
						}

					}

					&:checked {

						&::before {
							background: url(../images/radio-input-active.svg) center center no-repeat;
							background-size: contain;
						}

					}
				}


				@media (min-width: $breakpoint-tablet-small) {
					width: 48%;

				}

				@media (min-width: $breakpoint-tablet) {
					width: 30%;

				}

				@media (min-width: $breakpoint-desktop) {
					width: auto;

					&::after {
						content: "";
						background: url(../images/doted-line.svg) center center no-repeat;
						position: absolute;
						top: 50%;
						right: -2px;
						transform: translate(100%, -50%);
						width: 30px;
						height: 2px;
						gap: 1.25em;
					}

					&:nth-child(6n) {

						&::after {
							content: none;
						}

					}
				}
			}

			@media (min-width: $breakpoint-desktop) {
				padding: 0 2em;
			}
		}

		&__contents {
			position: relative;

			.tab-content {
				width: auto;
				height: 120px;
				margin-top: 3em;
				display: none;
				z-index: 9;

				&:first-child {
					display: block;
				}

				video {
					width: 100%;
					height: auto;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					z-index: 9;
				}

				@media (min-width: $breakpoint-desktop) {
					height: 300px;

				}
			}
		}

	}

}

.ApplicationReady {

	.BuildingApp__subtitle,
	.BuildingApp__text,
	.BuildingApp__title.BuildingApp--mobile {
		display: none !important;
	}

	.BuildingApp__title.BuildingApp--desktop {
		display: block !important;
	}

	#redirectButtonPanel {
		margin-top: 65px;
	}

	&--spam {

		.BuildingApp__text.BuildingApp--desktop {
			display: block !important;
		}
	}
}

@media (max-width: 1024px) {

	.ApplicationReady.ApplicationReady.ApplicationReady {

		.BuildingApp {

			.BuildingApp__text.BuildingApp--desktop {
				display: block !important;
			}
		}
	}
}

/* -------------------------- PASSING DATA SCREEN -------------------------- */
#createButtonmain[disabled],
[data-id="createButtonmain"][disabled] {

	.WorkingPanel {

		display: flex !important;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 5;
		margin-right: 12px;

		.gear-wheels {
			position: relative;
			z-index: 9;
			width: 37px;
			height: 37px;
		}


		@keyframes spin-one {

			from {
				transform: rotate(0deg);
			}

			to {
				transform: rotate(-359deg);
			}
		}

		@media (max-width: 400px) {

			.one,
			.two {
				display: none;
			}

			.one {
				display: block;
			}
		}
	}
}
