/* stylelint-disable selector-class-pattern,
no-descending-specificity, selector-id-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../shortcodes/IntroductionVideos" as *;

/* ---------------------------- LOADING SCREEN ----------------------------- */

#loader {

	@include color(background, main-background);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 50px 0;
	display: flex;
	flex-flow: wrap row;
	justify-content: center;
	align-items: center;
	opacity: 1;
	overflow: auto;
	z-index: 999;

	&.invisible {
		opacity: 0 !important;
		visibility: hidden !important;
	}

	.loaderIn {
		text-align: center;

		h2 {
			margin-top: 25px;
			margin-bottom: 15px;
		}
	}

}


#redirectButtonPanel[style*="block"] + .mobileSignupFinal {

	@media (max-width: 1024px) {
		display: flex;
	}
}

#redirectButtonPanel[style*="block"] {
	display: flex;
}

#redirectButtonPanel,
.redirectButtonPanel {
	flex-flow: wrap row;
	justify-content: center;
	align-items: center;

	.FinalButton {

		@include color(background, background);
		@include color(color, font-color-light);
		display: inline-block;
		margin: 0;
		padding: 0 57px 0 35px;
		border: 0;
		border-radius: $border-radius-small;
		font-size: 14px;
		line-height: 48px;
		font-weight: $font-weight-bold;
		text-align: center;
		text-decoration: none;
		transition: all 0.3s;
		cursor: pointer;
		position: relative;
		overflow: hidden;

		&::after {
			content: url(/assets/images/arrow_right_white.svg);
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(-100%, -44%);
		}


		&:active,
		&:focus,
		&:hover {

			@include color(background, background-invert, !important);
			@include color(color, font-color-light);
			outline: 0;
			text-decoration: none;
		}

		@media (max-width: $breakpoint-mobile) {

			&::after {
				right: unset;
				transform: translate(70%, -44%);
			}
		}
	}
}

[class*="--mobile"] {
	display: none !important;
}

@media (max-width: 1024px) {

	[class*="--desktop"] {
		display: none !important;
	}

	[class*="--mobile"] {
		display: block !important;
	}
}

.BuildingApp {
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
	max-width: $wrapper-width;
	cursor: initial !important;

	&__progress {
		width: 100%;
		max-width: 800px;
		padding: 0 21px;

		&__header {

			display: grid;
			grid-template-columns: 45px 1fr max-content;
			align-items: center;
			gap: 1em;
			margin-bottom: 12px;

			~ .BuildingApp__progress__wrap__text {
				padding-top: 0;
			}

			&.progress--done {
				position: fixed;
				width: 100%;
				top: 0;
				left: 0;
				padding: 21px;
				z-index: 90;
				background-color: $white;
				column-gap: 0;
				margin-bottom: 0;

				@include color( box-shadow, box-shadow );

				.BuildingApp__progress__header__action__wrapper {
					display: flex;
					width: 100%;
					grid-column: 1 / span 2;
					justify-content: center;
				}

				~ .BuildingApp__progress__wrap__text {
					padding-top: 120px;
				}
			}

			&__logo {
				display: block;
				width: 36px;
				height: auto;
			}

			&__title {
				display: block;
				text-align: left;
				font-size: 18px;
				margin-bottom: 0;
			}

			&__percentage {
				font-family: $font-third;
				font-size: $font-size-h2;
				font-style: normal;
				justify-self: flex-end;

			}

			#redirectButtonPanel {
				width: 100%;

				a {
					width: 100%;
				}
			}

			.progress__bar__container {
				position: relative;
				width: 100%;
				height: 10px;
				grid-column: 1/span 3;

				@include color(background-color, third-color);
				border-radius: $border-radius-small;

				.progress__bar {
					position: absolute;
					top: 0;
					left: 0;
					height: 10px;

					@include color(background-image, background);
					width: 0;
					transition: width 0.5s;
					border-radius: $border-radius-small;
				}

				.progress__ball {
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate(-5px, -50%);
					width: 14px;
					height: 14px;
					border-radius: 50%;
					background-color: #fff;
					transition: left 0.5s;
					z-index: 99;
					border: 2px solid $dark-orange;
				}
			}

			@media (min-width: $breakpoint-tablet-small) {

				.progress__bar__container {
					grid-column: 1/span 3;
				}

				&.progress--done {
					grid-template-columns: 50px 1fr max-content;
					position: relative;
					width: 100%;
					padding: 0;
					background-color: unset;
					box-shadow: none;

					.BuildingApp__progress__header__action__wrapper {
						display: unset;
						width: 100%;
						grid-column: unset;
					}

					~ .BuildingApp__progress__wrap__text {
						padding-top: 0;
					}

				}

			}

			@media (min-width: $breakpoint-tablet) {

				&__title {
					font-size: 24px;
				}

				&__logo {
					width: 48px;
				}
			}
		}

		&__wrap__text {
			padding-top: 120px;
			margin: 2em 0;
			font-size: 14px;
		}

	}

}

.Introduction__videos {
	position: relative;

	.progress__done__overlay {
		z-index: 999;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		opacity: 1;
	}
}

.ApplicationReady {

	.BuildingApp__subtitle,
	.BuildingApp__text,
	.BuildingApp__title.BuildingApp--mobile {
		display: none !important;
	}

	.BuildingApp__title.BuildingApp--desktop {
		display: block !important;
	}

	#redirectButtonPanel {
		margin-top: 65px;
	}

	&--spam {

		.BuildingApp__text.BuildingApp--desktop {
			display: block !important;
		}
	}
}

@media (max-width: 1024px) {

	.ApplicationReady.ApplicationReady.ApplicationReady {

		.BuildingApp {

			.BuildingApp__text.BuildingApp--desktop {
				display: block !important;
			}
		}
	}
}

/* -------------------------- PASSING DATA SCREEN -------------------------- */
#createButtonmain[disabled],
[data-id="createButtonmain"][disabled] {

	.WorkingPanel {

		display: flex !important;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 5;
		margin-right: 12px;

		.gear-wheels {
			position: relative;
			z-index: 9;
			width: 37px;
			height: 37px;
		}

	}
}
