/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

body.login {
	max-height: 100vh;
	overflow: hidden;


	.Newsletter,
	.Footer {
		display: none !important;
	}

	@media (min-width: $breakpoint-desktop) {

		#app {
			height: 100vh;
		}
	}
}

#app .LoginBlock {

	.wrapper {
		max-width: 60em !important;

		> .elementor-widget-wrap {
			position: relative;
			display: block !important;
			z-index: 2;
			margin: 0 auto;
			text-align: center;
			background-color: $lightest-gray;
			box-shadow: 0 4px 10px 0 rgba($black-real, 0.2);
			padding: 1.5em !important;
			border-radius: 1em;
		}
	}


	@media (min-width: $breakpoint-tablet) {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 !important;
		height: calc(100vh - 90px);
		padding: 0 !important;

		.wrapper {

			&::after {
				position: absolute;
				content: "";
				height: 160%;
				width: 100%;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: url(../../images/login_bg.png?ver=#{$version}) center center no-repeat;
				background-size: contain;
			}

			> .elementor-widget-wrap {
				padding: 5em 7.25em !important;
			}

			h1 {
				font-size: 2.5rem;
				line-height: 1.33;
			}

			.elementor-widget-text-editor {
				margin: 0 auto;
			}
		}
	}

	@media (min-width: $breakpoint-desktop) {

		.wrapper {
			height: 29.5em;
		}
	}

	@media (max-device-height: 1080px) {
		align-items: flex-start !important;
		padding-top: 8em !important;
	}

	.elementor-col-50 {
		width: 100% !important;

		&:first-of-type {
			display: none;
		}
	}
}

.Login {
	position: relative;
	max-width: 470px;
	margin: 0 auto;

	input[type="url"] {
		width: 100%;
	}

	.Button {
		width: 100%;
		margin-bottom: 1em;
	}

	.Signup__form__item {
		margin-bottom: 0;
	}
}

.Login__overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	flex-flow: wrap row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);

	&.active {
		display: flex;
		flex-direction: row;
	}
}

.Login__popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1001;
	display: none;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 570px;
	max-height: 330px;
	padding: 50px;
	background-color: #fff;
	text-align: center;

	h3 {
		font-size: 32px;
		line-height: 48px;
	}

	p {
		color: #000;
	}

	.Button {
		margin-right: 0;
	}

	&__close {
		position: absolute;
		right: 15px;
		top: 15px;
		display: flex;
		width: 25px;
		height: 25px;
		background-image: url(../../images/icon-close.svg);
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center;
		cursor: pointer;
		transition: opacity 0.3s;

		&:active,
		&:focus,
		&:hover {
			opacity: 0.6;
		}
	}

	&.active {
		display: flex;
	}
}

.Button--login {
	padding: 0 !important;
	margin-left: 30px !important;
	transition: opacity 0.3s;

	&:active,
	&:focus,
	&:hover {

		.tooltip {
			display: flex;
		}
	}

	span {

		&:not(.tooltip) {
			font-size: 0 !important;
		}

		&::before {
			content: "";
			display: block;
			width: 17px;
			height: 20px;
			background-image: url(../../images/icon-login.svg);
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center;
		}
	}

	.tooltip {
		position: absolute;
		top: 49px;
		display: none;
		margin-left: 9px;
		padding: 8px 25px;
		font-size: 14px;
		line-height: 21px !important;
		text-align: center;
		word-break: keep-all;
		color: #212121;
		box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
		background-color: #fff;
		border-radius: 4px;

		&::before {
			position: absolute;
			top: -10px;
			left: calc(50% - 10px);
			background: none;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px;
			border-color: transparent transparent #fff;
		}
	}

	@media (max-width: $breakpoint-desktop) {
		display: block;
		width: 100%;
		text-align: center;
		margin-top: -10px !important;
		margin-left: 0 !important;

		span {
			font-size: 14px;
			color: #000;

			&::before {
				display: none !important;
			}
		}

		.tooltip {
			display: none !important;
		}
	}
}
