/* stylelint-disable selector-class-pattern,
scss/at-extend-no-missing-placeholder */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/Button" as *;


$nl-input-height: 44;

%footer-newsletter-input {
	height: em($nl-input-height, $font-size-smaller);
	font-size: $font-size-smaller;
}

.Newsletter {
	padding-top: 0;
	padding-bottom: 0;

	.elementor-widget:not(:last-child) {
		margin-bottom: 0 !important;
	}

	.elementor-widget-wrap {
		align-content: center;
	}

	&__text {
		width: 45%;

		p {
			margin-bottom: 0;
		}
	}

	&__form {
		display: flex;
		flex-flow: wrap row;
		justify-content: flex-end;
		width: 55%;

		footer.Footer & {
			display: flex;
			width: 100%;
			max-width: em(450);
		}

		form {

			footer.Footer & {
				display: flex;
				align-items: center;
				width: 100%;

				&::before {

					@include square(em($nl-input-height));
					color: $medium-gray-quotes;
					pointer-events: none;
					position: absolute;
					top: 0;
					left: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: fontello, sans-serif;
					font-style: normal;
					font-weight: $font-weight-normal;
					content: "\e82e";
					font-variant: normal;
					text-transform: none;
				}
			}
		}

		.Input {
			min-width: 320px;
			margin-right: 40px;
			text-align: center;

			footer.Footer & {

				@extend %footer-newsletter-input;
				border-color: $black;
				width: 70%;
				min-width: initial;
				padding: 0.25em 1em 0.25em em($nl-input-height, $font-size-smaller);
				margin-right: em(8, $font-size-smaller);
				text-align: left;
			}
		}

		.Button {

			@extend .Button--full;
			min-width: 185px;

			footer.Footer & {

				@extend %footer-newsletter-input;
				@extend .Button--small;
				@extend .Button--outline;
				@extend .Button--outline__white;
				width: 30%;
				min-width: initial;
				background: transparent;

				&::before,
				&::after {
					display: none;
				}
			}
		}
	}

	.elementor-shortcode {

		.Newsletter__form {
			width: 100%;
		}
	}

	@media (max-width: $breakpoint-desktop-box) {
		padding-top: 0;
		padding-bottom: 0;
	}

	@media (max-width: $breakpoint-desktop) {

		&__text,
		&__form {
			justify-content: center;
			width: 100%;
			text-align: center;
		}

		form {
			margin-top: 40px;
		}
	}

	@media (max-width: $breakpoint-tablet) {

		.elementor-col-50 {
			width: 100% !important;
		}

		form {
			display: flex;
			flex-flow: wrap column;
			align-items: center;

			.Input {
				min-width: 240px !important;
				margin-right: 0 !important;
				margin-bottom: 20px !important;
			}
		}
	}

	@media (max-width: $breakpoint-mobile) {

		&__form {

			form {

				footer.Footer & {
					flex-direction: column;
				}
			}

			.Input {

				footer.Footer & {
					width: 100%;
					margin-right: 0;
					margin-bottom: em(8, $font-size-smaller);
				}
			}

			.Button {

				footer.Footer & {
					width: 100%;
				}
			}
		}

	}
}

form.MailChimp {

	.mc-field-group {
		display: flex;
		flex-flow: wrap column;
		align-items: flex-start;
		margin-bottom: 25px;

		label {
			display: block;
			margin-bottom: 3px;
		}

		input {
			min-width: 50%;
		}

		select {

			border-color: $dark-gray;
			color: $dark-gray;
			width: auto;
			min-width: 50%;
			height: $input-height-normal;
			padding: 0 $input-padding-normal;
			border-width: $input-border-width-normal;
			border-style: solid;
			border-radius: ($border-radius - 2);
			background-color: transparent;
			font-size: $input-font-size-normal;
			font-weight: $font-weight-normal;

			option {
				padding: 0 $input-padding-normal;
			}
		}
	}

	input[type="submit"],
	button {

		@extend .Button;
		@extend .Button--full;
	}
}
