/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Reviews__Gallery {

	.splide__arrow {

		@include square(2.125rem, !important);
		border-radius: 50%;
		background-color: rgba($dark-gray, 0.7) !important;

		&--prev {
			left: 1rem;
		}

		&--next {
			right: 1rem;
		}

		&::before {
			color: $white;
			font-size: 1.25rem;
		}

		@media (hover: hover) {

			&:hover {
				background-color: rgba($dark-gray, 1);
			}
		}
	}

	.splide__slide {
		position: relative;
		overflow: hidden;
		cursor: pointer;

		img,
		picture {

			@include square(100%);
			max-width: 100%;
			object-fit: cover;
			object-position: left top;
		}
	}

	&--main {

		.splide__arrow {
			top: calc(50% - 2rem);
		}

		.splide__slide {
			width: 100%;
		}

		.splide__inn {
			display: block;
			position: relative;
		}

		&__image {
			border-radius: $border-radius-16;
			border: 1px solid $medium-gray-inputs;
			overflow: hidden;
			height: 22.5em;
		}

		&__desc {
			text-align: center;
			padding: 1em;
			width: 100%;

			p {
				font-family: $font-secondary;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&--thumbs {
		visibility: visible !important;
		margin-top: 1.5em;

		.splide__slide {
			width: 5.3125rem;
			height: 5rem;
			flex: 0 0 auto;
			border-radius: $border-radius;
			border: 1px solid $medium-gray-inputs;

			&.is-active {
				border-color: $dark-gray;
			}

			@media (hover: hover ) {

				&:hover {
					border-color: $dark-gray;
				}
			}

			+ .splide__slide {
				margin-left: 0.75em;
			}
		}

		img {
			cursor: pointer;
		}
	}

	@media (min-width: $breakpoint-desktop) {
		width: 35.625em;
		min-height: 34em;

		&--main {
			height: 27.25em;
			overflow: hidden;
		}

		&--thumbs {

			ul {
				display: flex;
				height: 5em;
				overflow: hidden;
			}
		}
	}
}
