/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Reviews__categoryAbout {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: $border-radius-16;
	margin-top: 6em;

	&--description {
		padding: 1.5em;
	}

	&--image {

		@include square(100%);
		object-fit: contain;

		&__wrapper {
			height: 100%;
			max-width: 11em;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		display: flex;
		align-items: flex-end;
		padding: 0 4.5em;
		margin-top: 10em;

		&--description {
			padding: 4.5em 0 1.5em;
			width: 50%;
		}

		&--image {

			&__wrapper {
				position: relative;
				width: 50%;
				max-width: none;
				margin-right: 6em;
				margin-top: -4em;
			}
		}
	}
}
