/* stylelint-disable selector-class-pattern */

.ShortTrial {
	margin-bottom: 0 !important;

	&.margin-bottom {
		margin-bottom: 100px !important;
	}

	.elementor-widget:not(:last-child) {
		margin-bottom: 0;
	}

	.wrapper.wrapper.wrapper {
		background-image: linear-gradient(90deg, rgba(189, 249, 251, 1) 0%, rgba(91, 241, 246, 1) 100%);
		padding-top: 50px !important;
		padding-bottom: 50px !important;
	}

	h2 {
		max-width: 85%;
		font-size: $font-size-h2;
		line-height: $line-height-h2 !important;
	}

	.elementor-text-editor {

		p {
			max-width: 85%;
			font-size: $font-size-default;
			line-height: $line-height-default;
		}
	}

	.Portals__text__details {
		margin-left: 2px;
		margin-top: 15px;

		a {
			display: inline-block;
			margin-left: 30px;
		}

		img {
			height: 16.5px;
		}

		&__stars {

			&__item {
				background-image: url(../images/icon_star_black.svg);
				background-repeat: no-repeat;
			}
		}
	}

	.Newsletter__form {
		width: 100%;
		justify-content: flex-start;

		form {
			display: flex;
			flex-flow: wrap row;
			justify-content: flex-start;
			align-items: center;
		}

		input[type="email"] {

			@include color(background-color, content-color-light);
			@include color(border-color, content-color-light);
		}

		.Button--full {

			@include color(background, content-color-dark);
			margin-top: 0;
			margin-right: 0;

			&::before {

				@include color(background, content-color-dark);
			}

			&::after {

				@include color(background, content-color-normal);
			}
		}
	}

	@media (max-width: $breakpoint-desktop-box) {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		background-image: linear-gradient(90deg, rgba(189, 249, 251, 1) 0%, rgba(91, 241, 246, 1) 100%);

		.wrapper {
			background-image: none;
			background-color: transparent;
		}
	}

	@media (max-width: $breakpoint-desktop) {

		&__form {
			padding-left: 20px;
		}

		.Newsletter__form {

			form {
				display: flex;
				flex-flow: wrap column;
				justify-content: flex-start;
				align-items: flex-start;
				width: 100%;

				input[type="email"] {
					width: 100%;
					margin-right: 0;
				}

				.Button {
					margin-top: 15px;
				}
			}
		}

		.Portals__text__details {
			margin-left: 0;

			p {

				a {
					margin-left: 0;
					margin-right: 30px;

					&:first-child {
						margin-left: 30px;
					}
				}
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {
		padding-top: 0 !important;
		padding-bottom: 0 !important;

		&.margin-bottom {
			margin-bottom: 50px !important;
		}

		&__form {
			padding-left: 0;
		}

		h2 {
			max-width: none;
			text-align: center;
		}

		.elementor-text-editor {

			p {
				max-width: none;
				text-align: center;
			}
		}

		.elementor-container .elementor-column:last-of-type {
			margin-top: 40px;
		}

		.Newsletter__form {
			width: 100%;

			form {
				width: 100%;
				align-items: center;
			}

			input[type="email"] {
				width: 100%;
			}
		}

		.Portals__text__details {
			margin-left: 0;
			max-width: none;
			text-align: center;
		}
	}

	@media (max-width: $breakpoint-mobile) {

		.Newsletter__form {

			input[type="email"] {
				min-width: 250px;
			}
		}

		.Portals__text__details {
			margin-top: 35px;
			text-align: center;

			p {

				a {
					margin-top: 8px;
				}
			}
		}
	}
}
