/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.SimilarSources {

	.wrapper {
		border-top: 1px solid #f0f0f0;
		padding-top: 20px;
		margin-bottom: 30px;
	}

	&__title {

		@include color(color, font-color-normal);
		font-size: 14px;
		margin-top: 0 !important;
		margin-bottom: 8px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		position: relative;
		display: inline-block;
		width: 50%;
		font-size: 12px;
		line-height: 18px;
		margin: 5px 0;

		a {

			@include color(color, font-color-normal);
			display: inline-block;
			position: relative;
			padding-left: 15px;
			text-decoration: none;

			&::before {
				content: "● ";
				margin-right: 5px;
				position: absolute;
				left: 0;
			}

			&:active,
			&:focus,
			&:hover {
				text-decoration: underline;

				&::before {
					text-decoration: none;
				}
			}
		}
	}

	&--blog {
		margin-top: 25px;

		.wrapper {
			padding-left: 0;
			padding-right: 0;
		}

		li {
			width: 100% !important;
		}
	}

	@media (max-width: $breakpoint-mobile) {

		li {
			width: 100% !important;
		}
	}
}

.Post__content__resources {

	.SimilarSources {

		ul {
			display: flex;
			flex-flow: wrap row;
		}
	}
}

.Post__sidebar__resources {

	.SimilarSources {

		li {
			width: 100% !important;
		}
	}
}

.SimilarSources + .ShortTrial {
	margin-top: 0 !important;
}

body.login .SimilarSources {
	display: none !important;
}


.urlslab-rel-res-items {
	display: flex;
	flex-flow: wrap row;
}

.urlslab-rel-res-item {
	width: 100%;
	margin-top: 0.75em;

	&:first-of-type {
		margin-top: 0;
	}

	a {
		display: flex;
		flex-flow: nowrap;
		align-items: center;
		padding: 1em;
		background-color: #f9f9fa;
		border-radius: 0.75em;
		text-decoration: none !important;
		transition: background-color 0.3s ease;
	}

	&:hover {

		a {
			background-color: #e4e5e9;
		}
	}

	&-screenshot {
		border: 1px solid #bec2c9;
		border-radius: 0.25em;
		margin-right: 1em;

		img {
			max-width: 95px !important;
			height: auto;
			border-radius: 0.25em;
		}
	}

	&-text {
		position: relative;
		padding-right: 5em;
		width: 100%;

		&::after {
			content: "\e821";
			font-family: fontello, sans-serif;
			color: #050505 !important;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(-50%, -50%) rotate(-90deg);
		}
	}

	&-title {
		font-size: 0.85em !important;
		line-height: 1.4 !important;
		font-weight: 700;
		color: #050505 !important;
		margin: 0 !important;
		max-height: 1.5em;
		overflow: hidden;
	}

	&-summary {
		font-size: 0.75em !important;
		line-height: 1.4 !important;
		font-weight: 400;
		color: #050505 !important;
		max-height: 4.25em;
		overflow: hidden;
		margin: 0.25em 0 0 !important;
	}

	@media (max-width: $breakpoint-mobile) {

		a {
			flex-flow: wrap row;
		}

		&-screenshot {
			margin-bottom: 1em;
		}
	}
}

body.elementor-page {

	.urlslab-rel-res-item {
		width: calc(50% - 0.75em);
		margin: 0.375em;

		@media (max-width: $breakpoint-tablet) {
			width: 100%;
		}
	}
}
