/* stylelint-disable selector-class-pattern, selector-id-pattern */

.SoftphoneTable {

	&#SoftphoneTable__desktop {
		display: grid;
	}

	&#SoftphoneTable__mobile {
		display: none;
	}

	&.SoftphoneTable__container {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(4, 65px);
	}

	.SoftphoneTable__cell {
		border: 1px solid #d7d3d3;
		padding: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		vertical-align: center;
		line-height: 18px;

		&:nth-child(n) {
			border-left: none;
			border-top: none;
		}

		&:nth-child(6n) {
			border-right: none;
		}

		&:nth-last-child(-n+6) {
			border-bottom: none;
		}
	}

	.SoftphoneTable__column__title {
		font-family: Poppins, sans-serif;
		font-size: 13px;
		font-weight: 700;
		display: flex;
		justify-content: left;
	}

	.SoftphoneTable__row__title {
		font-family: Poppins, sans-serif;
		font-size: 12px;
		font-weight: 700;
		display: flex;
		justify-content: left;
	}

	.SoftphoneTable__cell__text--price {
		font-size: 11px;
		color: #808080;
	}

	.SoftphoneTable__cell__text--name {
		font-size: 13px;
		font-weight: 700;
		color: #ff7e1b;
	}

	.SoftphoneTable__cell__content {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.SoftphoneTable__cell__yellow {
		background-color: #fff7e4;
	}

	.checked {
		color: #ffa500;
	}
}


@media (max-width: $breakpoint-desktop) {

	.SoftphoneTable {

		.SoftphoneTable__cell {
			padding: 16px 10px;
		}
	}
}

@media (max-width: 1024px) {

	.SoftphoneTable {

		.SoftphoneTable__cell {
			padding: 16px 10px;
		}
	}
}

@media (max-width: 830px) {

	.SoftphoneTable {

		&.SoftphoneTable__container {
			display: grid;
			grid-template-columns: repeat(6, 20%);
			grid-template-rows: repeat(11, 48px);
			padding: 0;
			overflow-y: scroll;
			height: 100%;
		}

		.SoftphoneTable__cell {
			padding: 16px 10px;
		}
	}
}

@media (max-width: 702px) {

	.SoftphoneTable {

		&.SoftphoneTable__container {
			grid-template-columns: repeat(6, 33%);
		}
	}
}

@media (max-width: 480px) {

	.SoftphoneTable {

		&.SoftphoneTable__container {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(60, 50px);
		}

		&#SoftphoneTable__desktop {
			display: none;
		}

		&#SoftphoneTable__mobile {
			display: grid;
		}

		.SoftphoneTable__column__title {
			font-size: 13px;
			color: #808080;
		}

		.SoftphoneTable__row__title {
			font-size: 15px;
		}

		.SoftphoneTable__cell {

			&:nth-child(n) {
				border-left: none;
				border-top: none;
				border-right: none;
			}

			&:nth-child(2n) {
				border-right: none;
			}

			&:nth-last-child(-n+2) {
				border-bottom: none;
			}

			&:nth-last-child(-n+6) {
				border-bottom: 1px solid #d7d3d3;
			}
		}
	}
}
