/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Text {

	&--faq {
		margin-top: $block-space;
		margin-bottom: $block-space;

		@media (max-width: $breakpoint-tablet) {
			margin-top: $block-space-sm !important;
			margin-bottom: $block-space-sm !important;
		}

		.Faq {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
	}
}
