/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.ai-assistant {
	position: relative;

	> .elementor-container {
		padding: 5em 2.5em;
		column-gap: 3.75em;
		position: relative;
		max-width: 73.75em;
		width: 100%;

		&::before {

			@include square(100%);
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: url(../../images/ai_assistent_background.jpg) center no-repeat;
			background-size: cover;
			border-radius: $border-radius-16;
		}

		.elementor-widget-wrap {
			align-content: center;

			.elementor-widget-image {

				img {
					max-height: 32.5em;
					width: 100%;
					max-width: 36.25em;
				}
			}
		}


		@media (min-width: $breakpoint-desktop-box) {
			padding: 1.875em 7.5em;
			margin: 0 auto;
			width: 100%;
		}

	}

	&.image-right {

		.elementor-widget-text-editor {
			width: 100%;
		}


		.elementor-widget-heading {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1em;
			margin-bottom: 1em !important;

			.elementor-heading-title {
				margin-bottom: 0 !important;
				line-height: 1 !important;

			}

			svg {

				@include square(2.125em);
				fill: #9154ce;
			}

			@media (min-width: $breakpoint-tablet) {
				justify-content: flex-start;
			}
		}

	}

	&__cta {
		margin-bottom: 0;
	}

}
