/* stylelint-disable */

@use "../common/variables" as *;
@use "../common/mixins" as *;

$Announcement_bar_height: 120px;
$Announcement_bar_height_mobile: 120px;

body {

	.Announcement__bars__slider {
		animation: slideDown 0.3s ease;
		width: 100%;
		height: $Announcement_bar_height_mobile;
		z-index: 101;
		position: fixed;
		left: 0;
		top: 0;

		@media (max-width: ($breakpoint-tablet - 1px)) {
			display: none;
		}

		.Announcement__bar {

			@include square(100%);
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			text-decoration: none;
			transition: opacity 0.5s;
			background-size: cover !important;
			background-repeat: no-repeat !important;

			&.active {
				opacity: 1;
			}

			&.black-friday-2025 {

					.wrapper{
						display: flex;
						justify-content: space-between;

							@media (max-width: ($breakpoint-desktop)) {
								padding: 0 16px ;
							}

					}
			}

			&.negative {

				.Announcement__bar__col__left {

					h2,
					p {
						color: $white;
					}
				}
			}

			.wrapper {
				display: flex;
				height: 100%;
				justify-content: center;
				max-width: 1280px;


				.Announcement__bar__col__left,
				.Announcement__bar__col__right {
					display: flex;
					flex-direction: column;
					justify-content: center;
					z-index: 1;
				}

				.Announcement__bar__col__left {

					h2 {
						font-size: 1.125em;
						line-height: 1.2;
						margin-bottom: 0;

						small {
							font-size: 0.9rem;
							margin-left: 0.7em;
						}

						svg {

							@include square(1em);
						}
					}

					h5 {
						color: $white;
						font-weight: 400;
						margin-bottom: 0;
					}

					p {
						font-weight: 400;
						font-size: 1rem;
						margin-bottom: 0;
					}
				}

				.Announcement__bar__col__right {
					display: none;

					img {

						width: 100%;
						height: auto;
						object-fit: contain;
						object-position: left;
						overflow: visible;
					}
				}
			}

			&.ai-assistant {

				.wrapper {

					.Announcement__bar__col__right {

						img,
						picture {
							height: 100%;
							object-fit: cover;
						}
					}
				}


				.Announcement__bar__col__left {

					h2 {

						svg {
							fill: #9154ce;
						}
					}

					p {
						font-size: 1.275rem !important;
					}

				}
			}

			&.Ai__whisper__assistent {
				background: linear-gradient(291deg, #ffd3b8 0%, $black 100%);

				&::before {

					@include posZero();
					position: absolute;
					content: "";
					background: url(../../images/ai-announcement-bar-bg.png);
					z-index: 1;
				}

				.Announcement__bar__col__left {

					h2 {
						color: $white;

						small {
							color: #a4d6a3;
						}
					}

					p {
						color: $white;
					}
				}

			}

			&.black-friday-2025 {
				background-color: $black;
				overflow: hidden;
				text-decoration: none !important;

				* {
					text-decoration: none !important;
				}

				@media (max-width: ($breakpoint-tablet)) {
							display: none;
				}

				h2 {

					&.text-stroke-primary {

						filter:
							drop-shadow(-1px -1px 0 rgba(253, 186, 116, 0.8))
							drop-shadow(1px -1px 0 rgba(253, 186, 116, 0.8))
							drop-shadow(-1px 1px 0 rgba(253, 186, 116, 0.8))
							drop-shadow(1px 1px 0 rgba(253, 186, 116, 0.8))
							drop-shadow(0 0 9px rgba(253, 186, 116, 0.5));


						font-size: 42px !important;
						font-style: normal;
						font-weight: 700;
						line-height: 40px; /* 100% */
						letter-spacing: 2.4px;

							@media (max-width: ($breakpoint-desktop)) {
								font-size: 30px !important;
							}
					}
				}

				.Announcement__bar__col__left {

					.title-wrapper {
						display: flex;
						align-items: center;
						gap: 0.5em;

						.title-additional-content {
							display: flex;
							align-items: center;
							gap: 10px;
							padding: 5px 10px;
							border-radius: 4px;
							border: 1px solid var(--border-brand, #CD975F);

							span {
								font-size: 40px;
								color: $white;
								line-height: 1;

								@media (max-width: ($breakpoint-desktop)) {
								font-size: 30px !important;
								}

							}

							p {
								font-size: 14px;
								color: $white;
								width: 125px;
								line-height: 1.2;
							}
						}
					}

					h2,p {
						color: $white;
					}

					h2.text-stroke-primary {
						color: $black;
						width: fit-content;
						line-height: 1;

						.icon {
							display: none;
						}
					}


					.additional-content {
						color: $white;
						display: flex;
						margin-top: 4px;

						.BlockCoupon__code {
							display: flex;
							gap: 0.5em;
							color: $white;
							margin: 0;
							padding: 0;
							font-size: 14px;

								button {
									color: $white;
									margin: 0;
									padding: 0;
									font-size: 14px;
									width: fit-content;

									span {
										color: $white;
										font-size: 14px;
										gap: 0.5em;
										line-height: 1;
										transition: all 0.3s;

										&:hover {
											color: #FDBA74;
											transition: all 0.3s;
										}
									}
								}

							p {
										color: $white;
										font-size: 14px !important;
								}
						}

					}
				}

				.Announcement__bar__col__right {
					width: 40%;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: right;
						overflow: visible;
					}

							@media (max-width: ($breakpoint-tablet - 1px)) {
								display: none;
							}
				}
			}

		}

		button.Announcement__bar__close {

			@include square(1.5em);
			position: absolute;
			top: 0.625em;
			right: 0.625em;
			z-index: 3;
			padding: 0;
		}

		@media (min-width: $breakpoint-tablet-landscape ) {
			height: $Announcement_bar_height;

			.Announcement__bar {

				.wrapper {
					display: grid;
					grid-template-columns: repeat(2, 1fr);

					.Announcement__bar__col__right {
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
					}

					.Announcement__bar__col__left {

						h2 {
							font-size: 2.125em;
							line-height: 1.2;

							small {
								font-size: 1rem;
							}
						}

						p {
							font-size: 1.375rem;
						}
					}
				}
			}
		}
	}

	#app.announcement--active {

		.Header {
			animation: top 0.3s ease;
		}

		@media (min-width: $breakpoint-tablet-landscape ) {
			padding-top: calc($Announcement_bar_height + 5.625em) !important;

			.Header {
				top: $Announcement_bar_height;

				.sub-menu {
					top: calc($Announcement_bar_height + 4.5em);
				}
			}
		}
	}

	#app.announcement--hidden {

		.Announcement__bars__slider {
			transform: translateY(-100%);
			animation: slideUp 0.2s ease;
		}
	}

	&.logged-in {

		#app {

			&.announcement--active {

				.Announcement__bars__slider {
					top: 1.85em;
				}

				@media (min-width: $breakpoint-tablet-landscape ) {

					.Header {
						top: calc($Announcement_bar_height + 1.4375em);

						.sub-menu {
							top: calc($Announcement_bar_height + 4.5em + 1.4375em);
						}
					}
				}
			}
		}
	}
}

