/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;

$Announcement_bar_height: 7.5em;
$Announcement_bar_height_mobile: 5em;

body {

	.Announcement__bars__slider {
		animation: slideDown 0.3s ease;
		width: 100%;
		height: $Announcement_bar_height_mobile;
		z-index: 101;
		position: fixed;
		left: 0;
		top: 0;

		@media (max-width: ($breakpoint-tablet - 1px)) {
			display: none;
		}

		.Announcement__bar {

			@include square(100%);
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			text-decoration: none;
			transition: opacity 0.5s;
			background-size: cover !important;
			background-repeat: no-repeat !important;

			&.active {
				opacity: 1;
			}

			&.negative {

				.Announcement__bar__col__left {

					h2,
					p {
						color: $white;
					}
				}
			}

			.wrapper {
				display: flex;
				height: 100%;
				justify-content: center;

				.Announcement__bar__col__left,
				.Announcement__bar__col__right {
					display: flex;
					flex-direction: column;
					justify-content: center;
					z-index: 1;
				}

				.Announcement__bar__col__left {

					h2 {
						font-size: 1.125em;
						line-height: 1.2;
						margin-bottom: 0;

						small {
							font-size: 0.9rem;
							margin-left: 0.7em;
						}

						svg {

							@include square(1em);
						}
					}

					p {
						font-weight: 400;
						font-size: 1rem;
						margin-bottom: 0;
					}
				}

				.Announcement__bar__col__right {
					display: none;

					img {

						width: 100%;
						height: auto;
						object-fit: contain;
						object-position: left;
						overflow: visible;
					}
				}
			}

			&.ai-assistant {

				.wrapper {

					.Announcement__bar__col__right {

						img,
						picture {
							height: 100%;
							object-fit: cover;
						}
					}
				}


				.Announcement__bar__col__left {

					h2 {

						svg {
							fill: #9154ce;
						}
					}

					p {
						font-size: 1.275rem !important;
					}

				}
			}

			&.Ai__whisper__assistent {
				background: linear-gradient(291deg, #ffd3b8 0%, $black 100%);

				&::before {

					@include posZero();
					position: absolute;
					content: "";
					background: url(../../images/ai-announcement-bar-bg.png);
					z-index: 1;
				}

				.Announcement__bar__col__left {

					h2 {
						color: $white;

						small {
							color: #a4d6a3;
						}
					}

					p {
						color: $white;
					}
				}

			}

		}

		button.Announcement__bar__close {

			@include square(1.5em);
			position: absolute;
			top: 0.625em;
			right: 0.625em;
			z-index: 3;
			padding: 0;
		}

		@media (min-width: $breakpoint-tablet-landscape ) {
			height: $Announcement_bar_height;

			.Announcement__bar {

				.wrapper {
					display: grid;
					grid-template-columns: repeat(2, 1fr);

					.Announcement__bar__col__right {
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
					}

					.Announcement__bar__col__left {

						h2 {
							font-size: 2.125em;
							line-height: 1.2;

							small {
								font-size: 1rem;
							}
						}

						p {
							font-size: 1.375rem;
						}
					}
				}
			}
		}
	}

	#app.announcement--active {

		.Header {
			animation: top 0.3s ease;
		}

		@media (min-width: $breakpoint-tablet-landscape ) {
			padding-top: calc($Announcement_bar_height + 5.625em) !important;

			.Header {
				top: $Announcement_bar_height;

				.sub-menu {
					top: calc($Announcement_bar_height + 4.5em);
				}
			}
		}
	}

	#app.announcement--hidden {

		.Announcement__bars__slider {
			transform: translateY(-100%);
			animation: slideUp 0.2s ease;
		}
	}

	&.logged-in {

		#app {

			&.announcement--active {

				.Announcement__bars__slider {
					top: 1.85em;
				}

				@media (min-width: $breakpoint-tablet-landscape ) {

					.Header {
						top: calc($Announcement_bar_height + 1.4375em);

						.sub-menu {
							top: calc($Announcement_bar_height + 4.5em + 1.4375em);
						}
					}
				}
			}
		}
	}
}

