/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.AreaCodes__CallcenterBanner {
	display: block;
	background: url(../../images/areacodes_banner_callcenter_bg.jpg?ver=#{$version});
	background-size: cover;
	border-radius: 1rem;
	color: $white;

	* {
		color: inherit;
	}

	&__img {

		img {
			max-width: 100%;
		}
	}

	&__text {
		margin-top: 1.5em;

		&--title {
			font-size: 1.75rem;
			line-height: 1.25;
		}
	}

	@media (min-width: $breakpoint-tablet) {
		margin-top: 10em;

		.wrapper {
			position: relative;
		}

		&__img {
			width: 50%;
			margin: -10em auto 0;
		}

		&__text {

			&--title {
				font-size: 2.5rem;
			}
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		.wrapper {
			display: flex;
		}

		&__img {
			position: absolute;
			right: 0;
			bottom: -2.75em;
			width: 50%;
		}

		&__text {
			margin-top: 0;
			width: 50%;
			padding-right: 2.75em;
			order: -1;
		}
	}

	@media (min-width: $breakpoint-desktop-box) {

		&__img {
			width: calc(50% + 2.75em * 2);
			right: -5.5em;
		}
	}
}
