/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.BannerTypingTest {

	&[class] {
		margin-top: 1rem;
	}

	.wrapper__wide {
		display: block;
		background: linear-gradient(90.24deg, #483ff0 1.93%, #9d3cf9 98.49%);
		border-radius: $border-radius-16;
		padding: 1.5em;

		* {
			position: relative;
			z-index: 1;
		}

		.elementor-widget-text-editor *,
		.elementor-widget-heading * {
			color: $white;
		}

		.elementor-heading-title {
			line-height: 1.375 !important;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		.wrapper__wide[class] {
			display: flex;
			background: url(../images/banner_typingtest.jpg?ver=#{$version}) center center no-repeat;
			background-size: contain;
		}

		&__text[class] {
			width: 55%;

			.elementor-heading-title {
				font-size: 1.875rem;
			}
		}
	}

	@media (min-width: $breakpoint-desktop) {

		&__text[class] {

			.elementor-heading-title {
				font-size: 2.5rem;
			}
		}
	}

	@media (min-width: $breakpoint-desktop-box) {

		&__text[class] {
			width: 45%;
		}
	}
}
