/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Block--switcher {

	[data-targetid] {
		opacity: 0;
		transition: opacity 0.05s;

		&.visible {
			opacity: 1;
			transition: opacity 0.05s;
		}
	}

	[class*="checklist"] .elementor-widget-text-editor.elementor-widget-text-editor ul:not([class]) li::before {
		background: $medium-orange url(/app/themes/liveagent/assets/images/icon-post-check.svg) center center no-repeat;
		background-size: 50%;
	}

	.wrapper__wide,
	&.wrapper__wide {
		background: transparent url(../images/background__elements.jpg) center center no-repeat;
		background-size: cover;

		> .elementor-container {
			padding: 8em 5em 8em 7em;
		}
	}

	@media (max-width: ($breakpoint-tablet-landscape - 1px)) {

		&.wrapper__wide > .elementor-container,
		.elementor-top-column.wrapper__wide .elementor-inner-section {
			padding: 2em !important;
		}

		.elementor-container {
			display: block;

			.elementor-column.elementor-column {
				width: 100% !important;
			}
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		.wrapper__wide,
		&.wrapper__wide {
			background: url(../images/switcherBlock_bg.jpg) center center no-repeat;
			background-size: contain;

			.elementor-container {

				.elementor-column {

					&:not(:last-of-type) {
						width: 35%;

						> * {
							margin-left: -5em;
							width: auto !important;
						}
					}

					&:last-of-type {
						width: 65%;

						> * {
							margin-right: -3em;
							width: auto;
						}
					}
				}
			}
		}


	}

	@media (min-width: $breakpoint-desktop-box) {

		.elementor-widget-image .elementor-widget-container {
			padding: 0 !important;
			width: 120% !important;
			max-width: none !important;
			max-height: none;
		}

		.elementor-container {

			.elementor-column.elementor-column {
				padding-left: 2.5em !important;
				padding-right: 2.5em !important;
			}
		}
	}
}
