/* stylelint-disable selector-class-pattern, no-descending-specificity,
scss/at-extend-no-missing-placeholder */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "Box";

.Block {
	margin-top: $block-space;
	margin-bottom: $block-space;

	&.sm-margin-top {

		@media (min-width: $breakpoint-tablet) {
			margin-top: $block-space-sm !important;
		}
	}

	&.sm-margin-bottom {

		@media (min-width: $breakpoint-tablet) {

			margin-bottom: $block-space-sm !important;

			+ .Block {
				margin-top: $block-space-sm !important;
			}
		}
	}

	&.no-margin-bottom {
		margin-bottom: 0;

		+ .Block {
			margin-top: 0;
		}
	}

	.elementor-widget:not(:last-child):not(.elementor-widget-spacer) {
		margin-bottom: 0;
	}

	.wrapper {

		.elementor-widget-wrap {
			display: flex;
			flex-flow: wrap column;
			justify-content: center;
		}
	}

	.wrapper__wide {
		padding: 2.5em;

		&.no-padding {
			padding: 0;
		}

		@media (min-width: $breakpoint-desktop-box) {
			padding: 3.25em 7.5em;
		}
	}

	h1,
	h2 {
		margin-bottom: 15px !important;
	}

	h1 {
		font-size: $font-size-h1;
		line-height: $line-height-h1 !important;
	}

	h2 {
		font-size: $font-size-h2-xxl;
		line-height: $line-height-h2-xxl !important;
	}

	.Button {
		margin-top: 20px;
		margin-right: 30px;

		+ .Button {
			margin-top: 10px !important;
			margin-left: 0 !important;
		}

		@media (max-width: $breakpoint-mobile) {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	img[src*="Medal.svg"] {
		max-width: 2.5rem;
	}

	.no-cc {
		margin-top: 1.5em;
	}

	&--big,
	&--new {

		.elementor-widget-text-editor {

			p {
				font-size: 24px;
				line-height: 36px;
			}
		}
	}

	&--redesign {

		h2,
		h3 {
			line-height: 1.36 !important;
			text-align: center;

			a {
				color: inherit;
				font-size: inherit;
				line-height: inherit;
				text-decoration: none;
			}
		}

		h2 {
			font-size: 2.5rem;
		}

		h3 {
			font-size: 1.875rem;
		}

		.elementor-widget-text-editor {

			@include color(color, font-color-medium);
			font-size: 1rem;
			line-height: 1.625;
			text-align: center;
		}

		.elementor-widget-text-editor.learn-more {

			a {

				@include learn-more();
				@include color(color, font-color-level3);
			}
		}

		&__basic {
			margin-top: 5em !important;
			margin-bottom: 3em !important;

			*:not(.elementor-inner-section) {

				h2,
				h3 {
					text-align: center !important;
				}

				.elementor-widget-text-editor.elementor-widget-text-editor {
					width: 100%;
					text-align: center;
				}
			}

		}

		@media (min-width: ($breakpoint-tablet + 1px) ) {

			h2,
			h3 {
				text-align: left;
			}

			.checklist {
				max-width: none;
			}

			.elementor-widget-text-editor {

				width: 88%;
				text-align: left;
			}

			.elementor-widget-image .elementor-widget-container {
				padding: 0;
			}

			&.image-left {

				.elementor-section .elementor-container .elementor-column:first-of-type {
					width: 53%;
					margin-right: 4%;
				}
			}

			&.image-right {

				.elementor-section .elementor-container .elementor-column:last-of-type {
					width: 53%;
					margin-left: 4%;
				}
			}
		}


		&__testimonials {

			.wrapper {
				background: $lightest-gray url(../images/earth.png?ver=#{$version}) left center no-repeat;
			}

			.Button--full {
				padding: 0 5em;
			}

			.elementor-section .elementor-container .elementor-column {

				&:first-of-type {
					width: 33%;

					@media (max-width: ($breakpoint-tablet - 1px)) {
						text-align: center;
					}
				}

				&:last-of-type {
					width: 65%;
					margin-left: auto;
					margin-right: -2em;

					@media (max-width: $breakpoint-desktop-box) {
						margin-right: 0;
					}
				}

				@media (max-width: $breakpoint-tablet) {

					&:first-of-type,
					&:last-of-type {
						width: 100%;
						margin: 0;
					}
				}
			}

			@media (max-width: $breakpoint-desktop-box) {

				&.Block--background {
					padding-top: 2rem !important;
					padding-bottom: 2rem !important;
				}
			}
		}

		&__successtories {
			margin-top: 5em !important;
			margin-bottom: 5em !important;

			.elementor-widget-heading {

				&,
				* {
					text-align: center;
				}
			}

			@media (min-width: $breakpoint-desktop) {

				.wrapper {
					background-image: url(../images/earth.png);
					background-repeat: no-repeat;
					background-position: left bottom;
					background-size: 100%;
				}
			}

			@media (max-width: ($breakpoint-desktop - 1px)) {

				background-image: url(../images/earth.png);
				background-repeat: no-repeat;
				background-position: left top;
				background-size: cover;

				.wrapper {
					background-color: transparent;
				}
			}
		}

		.value__boxes {
			background: #feefe0 url(../images/value-boxes_bg.svg) left bottom no-repeat;
			background-size: contain;
			border-radius: $border-radius * 2;
			width: 100% !important;
			margin-left: 0 !important;

			@media (max-width: ($breakpoint-tablet - 1px)) {
				order: 2 !important;
				width: 100% !important;
				margin-top: $block-space-sm !important;
			}

			@media (min-width: $breakpoint-tablet-landscape) {
				width: 65% !important;
			}

			@media (min-width: $breakpoint-desktop) {
				left: 4% !important;
			}

			.elementor-widget-wrap {
				padding: 4rem 2.5rem !important;
			}

			.Button {
				font-size: 0.875rem;
				width: 100%;
				padding: 1.75em 1em;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.value__box {

				@include color(background-color, main-background);
				display: flex;
				align-items: center;
				margin-bottom: 2.4em;
				border-radius: $border-radius * 2;
				box-shadow: 0 1px 20px 0 rgba(250, 149, 49, 0.15);
				overflow: hidden;

				&--value {
					display: flex;
					align-items: center;
					width: 38%;
					padding: 2.75em 2.5em;
					background: url(../images/value-boxes-path.svg) right center no-repeat;
					background-size: auto 100%;

					strong {

						@include color(background, background);
						background-clip: text;
						color: transparent;
						font-size: 3rem;
						line-height: 1.5;
					}
				}

				@media (max-width: $breakpoint-desktop-box) {
					margin-bottom: 1.5em;

					&--value {
						padding: 2em;
					}
				}

				&--text {
					width: 60%;
					padding: 0 1.5em;

					h4 {
						font-size: 1.25rem;
					}

					p {

						@include color(color, font-color-normal);
					}
				}

				@media (max-width: ($breakpoint-tablet - 1px)) {
					flex-direction: column;

					&--value,
					&--text {
						display: block;
						text-align: center;
						background-image: none;
						padding: 1em;
						width: 100%;
					}

					&--value {
						padding-bottom: 1.5em;
						background: url(../images/box-star-white_bg.svg) 0 bottom no-repeat;
						background-size: cover;
					}
				}
			}
		}
	}

	&.image-left {

		.elementor-section .elementor-container .elementor-column:first-of-type {
			padding-right: 0 !important;
		}
	}

	&.image-right {

		.elementor-section .elementor-container .elementor-column:last-of-type {
			padding-left: 0 !important;
		}
	}

	&--big.image-left {

		.elementor-section .elementor-container .elementor-column {

			&:first-of-type {
				width: 60%;
			}

			&:last-of-type {
				width: 40%;
				padding-left: 0 !important;
			}
		}
	}

	&--big.image-right {

		.elementor-section .elementor-container .elementor-column {

			&:first-of-type {
				width: 40%;
				padding-right: 0 !important;
			}

			&:last-of-type {
				width: 60%;
			}
		}
	}

	.checklist.elementor-widget-text-editor {
		max-width: 100% !important;
	}

	@media (min-width: $breakpoint-desktop) {

		&--big,
		&--new {

			.elementor-section .elementor-container {

				.elementor-column {

					&:first-of-type {
						padding-right: 85px;
					}

					&:last-of-type {
						padding-left: 85px;
					}
				}
			}

			.elementor-widget-image {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	@media (max-width: $breakpoint-desktop) {

		h1,
		h2 {
			font-size: $font-size-h2;
			line-height: 42px !important;
		}

		&--big,
		&--new {

			.elementor-widget-text-editor {

				p {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {

		&[class] {

			margin-top: 1.5em !important;
			margin-bottom: 1.5em !important;
		}

		&.image-left,
		&.image-right {

			.elementor-widget-image .elementor-widget-container {
				padding-left: 0;
				padding-right: 0;
			}
		}

		&.image-right {

			.elementor-container {

				.elementor-col-50 {

					&:first-of-type {
						margin-top: 50px;
						order: 2;
					}

					&:last-of-type {
						margin-top: 0;
						order: 1;
					}
				}
			}
		}

		.elementor-container {

			.elementor-column {

				&:last-of-type:not(:first-of-type) {
					margin-top: 1.5em;
				}

				&.videoBlock[class] {
					margin-bottom: 1.5em;
				}
			}
		}

		h1 {
			font-size: 32px;
			line-height: 42px !important;
		}

		h2 {
			font-size: 28px;
			line-height: 38px !important;
		}

		.elementor-widget-image {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media (max-width: $breakpoint-mobile) {

		.Button {
			margin-top: 15px;
			margin-right: 15px;
		}
	}
}

.Reviews {

	&__images-hover {

		.elementor-column {

			width: 100%;

			&:first-child {

				@include posZero();
				position: absolute;
				z-index: 5;
				opacity: 0;
				background-color: transparent;
				transition: all 0.3s;
				cursor: pointer;

				&:active,
				&:focus,
				&:hover {
					opacity: 1;
				}

				[class^="elementor"] {

					@include fullSize();
					position: relative;
				}

				a {
					position: absolute;
					top: 50%;
					left: 50%;
					justify-content: center;
					align-items: center;
					display: flex;
					margin: 0;
					transform: translate3d(-50%, -50%, 0);
				}
			}
		}
	}

}

.elementor-section-wrap {

	.Block:not(.Block--background).no-margin-top:first-child {
		margin-top: 50px !important;
	}
}

.Block--background {

	@extend .Box;
	@extend .Box--gray;
	padding-top: 0 !important;
	padding-bottom: 0 !important;

	.wrapper {
		padding-top: 100px !important;
		padding-bottom: 100px !important;
	}

	&.space-between {

		.elementor-container {
			justify-content: space-between;

			.elementor-col-50 {
				width: 46.5%;
			}
		}
	}

	@media (max-width: $breakpoint-desktop-box) {
		padding-top: 100px !important;
		padding-bottom: 100px !important;

		.wrapper {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}

	@media (max-width: $breakpoint-desktop) {

		.wrapper {
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
	}

	@media (max-width: $breakpoint-tablet) {

		.wrapper {
			padding-top: 2em !important;
			padding-bottom: 2em !important;
		}

		&.space-between {

			.elementor-container {
				justify-content: space-between;

				.elementor-col-50 {
					width: 100%;
				}
			}
		}
	}
}

.Block--elements {
	background-color: rgba($lightest-gray, 0.4);

	[class*=" wrapper"] {
		background-color: rgba($lightest-gray, 0.4);
		border-radius: $border-radius-16;
	}

	@media (min-width: $breakpoint-desktop-box) {
		background-color: transparent;

		[class*=" wrapper"] {
			background: transparent url(../images/background__elements.jpg) center center no-repeat;
			background-size: cover;
			border-radius: $border-radius-16;
		}
	}
}

.Block--background-orange {

	@extend .Box--orange;
}

.Block-orange--glass {

	.wrapper {

		@include color(background-color, orange-background);
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		.wrapper {

			background: url(../images/orange_glass_effect_bg.jpg) center center no-repeat;
			background-size: cover;
		}
	}
}

.Block--background-violet {

	@extend .Box--violet;
}

.Block--background--glassy {
	position: relative;
	max-width: $breakpoint-desktop-box;
	margin: 0 auto;

	.wrapper {
		max-width: 100%;
		padding: 0;
	}

	&::after {

		@include posCustom(-1em, 2em, -2em, 2em);
		content: "";
		position: absolute;
		background-image: url(../../images/bg_glassy.jpg?ver=#{$version});
		background-image: url(../../images/bg_glassy.webp?ver=#{$version});
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: $border-radius-16;
		z-index: -1;
	}
}

.Block--background-glass {
	padding: 0 !important;

	.wrapper,
	.wrapper__wide {
		background-color: $lightest-gray !important;
		padding: 2.5em 1.5em 3em !important;
		border-radius: 1rem;

		.badge {
			width: auto !important;
			margin: 0 auto;
		}
	}

	&.orange {

		.wrapper {
			background-color: $medium-orange !important;
		}
	}

	.elementor-inner-section .elementor-row {
		align-items: center;
	}

	@media (max-width: $breakpoint-tablet) {

		.startusing .Button + .Button {
			margin-top: 1.5em !important;
		}
	}

	@media (min-width: $breakpoint-tablet) {

		.wrapper,
		.wrapper__wide {
			padding: 2.5em 4.5em 3em !important;

			&-narrow {
				padding: 2.5em !important;
			}
		}

		.startusing .Button + .Button {
			margin-top: 0 !important;
		}
	}

	@media (min-width: $breakpoint-desktop-box) {

		&.orange {

			.wrapper {
				background-color: rgba($medium-orange, 0.8) !important;
			}
		}

		.wrapper,
		.wrapper__wide {
			padding: 4.5em 12.25em 6em !important;
			background-color: rgba($lightest-gray, 0.8) !important;

			&-narrow {
				padding: 3.5em 7.5em !important;
			}

			&::after {

				@include posCustom(-2.375em, -3em, -5em, -3em);
				content: "";
				position: absolute;
				background: url(../images/bg_glass_elements.svg) -1.5em 0 no-repeat;
				background-size: calc(100% + 2em);
				z-index: -1;
			}
		}
	}
}
