/* stylelint-disable selector-class-pattern,
no-descending-specificity, scss/at-extend-no-missing-placeholder */

@use "../common/variables" as *;
@use "../common/mixins" as *;

%pressToPlay {
	position: relative;
	padding: 0;
	height: 100%;

	.elementor-widget-container {
		padding-bottom: 0;
		overflow: visible;
	}

	@media (min-width: ($breakpoint-tablet + 1px)) {

		.elementor-widget-container,
		.elementor-widget-container * {
			height: 100% !important;
			padding-bottom: 0;
		}
	}

	.youtube_urlslab_loader {
		overflow: visible;
		min-height: 29em;
		background-color: transparent;

		&--wrapper {

			picture {
				display: none;
			}

			&::before,
			&::after {
				display: none;
			}
		}

		&--title,
		&--duration,
		&--bottom {
			display: none;
		}

		&--img {
			border-radius: 4.375em;
		}

		&::before {
			all: unset;
			position: absolute;
			content: "";
			width: 50%;
			height: 0;
			padding-bottom: 52%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			top: 58%;
			transform: translateY(-50%);
			z-index: 3;

			@media (max-width: ($breakpoint-tablet)) {
				top: initial;
				bottom: 0;
				left: 50%;
				width: 10em;
				height: 11em;
				padding-bottom: 0;
				transform: translate(-50%, 27%);
				background-image: url(../../images/press_to_play_bottom.svg);
				background-position: center bottom;
			}

			@media (min-width: ($breakpoint-tablet + 1px)) {
				width: 29.69%;
			}

			@media (min-width: ($breakpoint-desktop-box + 1px)) {
				width: 28.1%;
				transform: translate(-3.7%, -50%);
			}
		}

		&::after {
			//gradient is placed in $positions
			@include square(100%);
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			font-size: $font-size-default;
			overflow: hidden;
			z-index: 2;
		}
	}
}

$positions: ("left", "right");

.Block--video:not(.Block--video__vertical) {
	overflow: hidden;

	.videoTitle {
		position: absolute;
		pointer-events: none;
		z-index: 3;
		padding: 0 1.5em 9em 1.5em;

		@media (min-width: ($breakpoint-tablet + 1px)) {
			top: auto;
			width: 65%;
			padding: 0;
		}

		@media (min-width: ($breakpoint-desktop-box + 1px)) {
			width: 55%;
		}

		@media (min-width: ($breakpoint-desktop-hd + 1px)) {
			width: 65%;
		}

		&.elementor-widget-text-editor .elementor-widget-container {
			width: 100%;
		}

		h2,
		h3 {

			@include color(background, background);
			background-clip: text;
			color: transparent;
			box-decoration-break: clone;
			font-size: 2.18rem;
			line-height: 1.3 !important;
			margin-bottom: 0 !important;
		}

		p {

			@include color(color, font-color-light);
			font-weight: $font-weight-semi;
			font-size: 0.75rem;
		}
	}

	.elementor-heading-title {
		text-align: left !important;
	}

	.title-with-logo {

		.elementor-widget-container {
			position: relative;
			display: flex;
			align-items: flex-start;
			margin-bottom: 1em;

			> * {
				margin-bottom: 0 !important;
				text-align: left;

				&:first-child {
					margin-right: 1em;
				}
			}

			h2 {
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				> *:not(:last-child) {
					margin-right: 0.5em;
				}
			}

			img {
				position: relative;
				transform: translateY(10%);
			}

			small {
				font-size: 45%;
				line-height: 1.4;
			}
		}
	}

	.elementor-widget-text-editor .elementor-widget-container {

		@media (max-width: ($breakpoint-tablet)) {

			&,
			* {
				text-align: left;
			}
		}
	}

	.elementor-widget-text-editor.learn-more {

		a {

			@include learn-more();
			@include color(color, font-color-level3);
		}
	}

	.elementor-widget-video {

		@extend %pressToPlay;
	}

	.elementor-custom-embed {

		&-play {
			display: none;
		}
	}

	.youtube_urlslab_loader,
	.elementor-custom-embed-image-overlay,
	.elementor-widget-image {
		position: relative;
		background-size: cover;

		&--img,
		&::after,
		& {
			border-radius: $border-radius-16;
			overflow: hidden;
			background-size: cover;
		}
	}

	.youtube_urlslab_loader--inn {
		all: unset;

		&::before {
			background: transparent none;
		}
	}

	.elementor-custom-embed-image-overlay {

		@include posZero();
		position: absolute;
		z-index: 1;
	}

	.elementor-widget-image {

		position: relative;
		height: 29em;
		overflow: hidden;

		.elementor-widget-container {

			@include posCustom(0);
			position: absolute;
			z-index: 5;// safari image overflow fix
			overflow: hidden;
			padding: 0;
			border-radius: $border-radius-16;

			&::after {
				//gradient is placed in $positions
				@include posCustom(0);
				position: absolute;
				content: "";
				font-size: $font-size-default;
				overflow: hidden;
				z-index: 2;
			}

			img {

				@include fullSize;
				appearance: none;
				position: relative;
				z-index: -1;// safari image overflow fix
				object-fit: cover;
			}
		}
	}

	@media (min-width: ($breakpoint-tablet + 1px)) {

		.title-with-logo {

			.elementor-widget-text-editor {

				img {
					transform: translateY(10%);
				}
			}
		}

		.elementor-widget-image {

			@include posCustom(0);
			position: absolute;
			height: initial;
		}

		&.image-left {

			.elementor-widget-video {
				margin-left: -1.5em;

				.youtube_urlslab_loader {

					&--img,
					&::after {
						border-radius: 0 4.375em 4.375em 0;
					}
				}

				.elementor-custom-embed-image-overlay {
					border-radius: 0 4.375em 4.375em 0;
				}
			}

			.elementor-widget-image {
				border-radius: 0 4.375em 4.375em 0;
			}
		}

		&.image-right {

			.elementor-widget-video {
				margin-right: -1.5em;

				.youtube_urlslab_loader {

					&--img,
					&::after {
						border-radius: 4.375em 0 0 4.375em;
					}
				}

				.elementor-custom-embed-image-overlay {
					border-radius: 4.375em 0 0 4.375em;
				}
			}

			.elementor-widget-image {
				border-radius: 4.375em 0 0 4.375em;
			}
		}
	}

	@media (min-width: ($breakpoint-desktop + 1px)) {

		.wrapper {
			max-width: none;
		}
	}

	@media (min-width: ($breakpoint-desktop-big + 1px)) {

		.wrapper {
			padding-right: 0;
			padding-left: 0;
		}
	}

	&.image {

		@each $pos in $positions {
			&-#{$pos} {

				.elementor-widget-image::after {
					background: linear-gradient(to #{$pos}, rgba($black, 0.3) 10%, rgba($black, 0.8));
				}

				.elementor-widget-video .youtube_urlslab_loader::after {
					background: linear-gradient(to #{$pos}, rgba($black, 0.8), rgba($black, 0.3) 90%);
				}

				@media (min-width: ($breakpoint-tablet + 1px)) {

					.wrapper {
						width: 100vw;
						padding-top: 3em;
						padding-bottom: 3em;

						.elementor-column {

							@if $pos == left {

								&:first-of-type {
									position: relative;
									width: 100% !important;
									height: auto;
									margin-top: -3em;
									margin-bottom: -3em;
									margin-left: -5vw;
									margin-right: 5% !important;
								}
							} @else {

								&:last-of-type {
									position: relative;
									width: 100% !important;
									height: auto;
									margin-top: -3em;
									margin-bottom: -3em;
									margin-right: -5vw;
									margin-left: 5% !important;
								}
							}
						}

						@if $pos == left {

							.elementor-column:last-of-type {
								width: 80%;
							}
						}

						@if $pos == right {

							.elementor-column:first-of-type {
								width: 80%;
							}
						}

						.youtube_urlslab_loader::before {

							@if $pos == left {

								right: -10%;
								background-image: url(../../images/press_to_play.svg);
							}

							@if $pos == right {

								left: -10%;
								background-image: url(../../images/press_to_play_right.svg);
							}
						}

						.videoTitle {

							@if $pos == left {

								right: 20%;

								&,
								* {
									text-align: right !important;
								}
							}

							@if $pos == right {

								left: 20%;

								&,
								* {
									text-align: left !important;
								}
							}
						}
					}
				}

				@media (min-width: ($breakpoint-desktop-box + 1)) {

					.wrapper {
						width: 100%;

						@if $pos == left {

							.elementor-column:first-of-type {
								margin-left: -14vw;
								margin-right: 10% !important;
							}

							.elementor-column:last-of-type {
								width: 60%;
								min-height: 32em;
							}
						}

						@if $pos == right {

							.elementor-column:first-of-type {
								width: 60%;
								min-height: 32em;
							}

							.elementor-column:last-of-type {
								margin-right: -14vw;
								margin-left: 10% !important;
							}
						}
					}

				}

				@media (min-width: ($breakpoint-desktop-hd + 1px)) {

					.wrapper {

						@if $pos == left {

							.elementor-column:first-of-type {
								margin-left: initial;
							}
						}

						@if $pos == right {

							.elementor-column:last-of-type {
								margin-right: initial;
							}
						}
					}

				}
			}
		}
	}

	@media (min-width: ($breakpoint-desktop-hd + 1px)) {

		.youtube_urlslab_loader,
		.elementor-custom-embed-image-overlay,
		.elementor-widget-image {

			&--img,
			&::after,
			& {
				border-radius: 4.375em !important;
			}
		}
	}
}

.Block--video__vertical {

	@include color(background-color, main-background);
	border-radius: $border-radius-16;
	box-shadow: 0 50px 90px rgba(0, 0, 0, 0.06);
	padding: 0.5em;

	.youtube_urlslab_loader--inn {
		display: none;
	}

	@media (min-width: ($breakpoint-tablet-landscape + 1px)) {

		+ .Block--video__vertical {
			margin-left: 3em;
		}
	}

	.videoTitle {
		position: absolute;
		pointer-events: none;
		z-index: 2;
		width: 100%;
		padding: 2em;
		top: 4em;

		@media (min-width: $breakpoint-tablet) {
			top: 0;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			top: 6em;
		}

		&.elementor-widget-text-editor .elementor-widget-container {
			width: 100%;
			text-align: center;
		}

		h2,
		h3,
		h4 {

			@include color(background, background);
			background-clip: text;
			color: transparent;
			box-decoration-break: clone;
			font-size: 1rem;
			line-height: 1.3 !important;
			margin-bottom: 0 !important;
		}

		p {

			@include color(color, font-color-light);
			font-weight: $font-weight-semi;
			font-size: 0.75rem;
		}
	}

	.elementor-widget-video {

		.elementor-video,
		.elementor-video-new,
		.youtube_urlslab_loader {

			&::after {
				display: none;
			}

			@media (min-width: ($breakpoint-tablet + 1px)) {

				@include posZero;
				position: absolute;
				height: 100% !important;
				padding-bottom: 0;
			}
		}

		div:not(.elementor-element-edit-mode) > .elementor-widget-container {

			.elementor-fit-aspect-ratio {
				padding-bottom: 0 !important;
				height: auto !important;
			}
		}

		.elementor-widget-container {

			position: relative;
			overflow: visible;
			border-radius: $border-radius-16;
			z-index: 1;

			.playBtn {

				position: absolute;
				width: 10em;
				height: 0;
				padding-bottom: 20%;
				background: url(../../images/play_videoHorizontal.svg) center center no-repeat;
				background-size: contain;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, calc(50% - 0.15em));
				z-index: 3;
				cursor: pointer;
			}

			&::after {

				@include posZero;
				position: absolute;
				content: "";
				background: linear-gradient(to bottom, rgba($black, 0.15), rgba($black, 0.6));
				border-radius: $border-radius-16;
				z-index: 2;
			}

			.elementor-video,
			.elementor-video-new,
			.elementor-custom-embed-image-overlay {
				border-radius: $border-radius-16;
				overflow: hidden;
			}

			.elementor-custom-embed-image-overlay {

				@include posZero;
				position: absolute;
				background-size: cover;
				z-index: 1;
			}
		}

		~ .elementor-widget {
			text-align: center;
		}

		~ .elementor-widget-heading {
			padding: 3em 2em 0;

			.elementor-heading-title {
				font-size: 1.875rem;
				line-height: 1.4;
				max-width: 20ch;
				margin: 0 auto;
			}
		}

		~ .elementor-widget-text-editor {
			padding: 0 2em 2em;
		}
	}
}
