/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.BlockSolution {
	margin-bottom: 12.5rem;

	.elementor-inner-section {
		position: relative;
	}

	.business-solution-wrapper {
		max-width: $breakpoint-desktop-box;

		@media (min-width: $breakpoint-desktop) {
			padding: 4.5em 7.5em 3.7em !important;
		}
	}

	.elementor-row {
		display: flex;
		flex-flow: wrap column;

		@media (min-width: $breakpoint-desktop) {
			flex-flow: row;
		}
	}

	.elementor-container {
		display: flex;
		flex-flow: row wrap;

		@media (min-width: $breakpoint-desktop) {
			flex-wrap: nowrap;
		}

		@media (max-width: ($breakpoint-tablet-small + 1)) {
			justify-content: center;
		}
	}

	.column--solution {
		position: relative;
		width: 18.75rem !important;
		align-self: flex-start;
		flex-shrink: 0;

		@media (min-width: $breakpoint-desktop) {
			margin: 2em 0 0 1em;
		}

		@media (max-width: ($breakpoint-desktop + 1)) {
			margin: 2em 1em 0 0;
		}

		@media (max-width: ($breakpoint-tablet-small + 1)) {
			margin: 2em 0 0 0;
		}

		&::after {

			@include square(100%);
			border-radius: $border-radius-16;
			content: "";
			position: absolute;
			background: $white;
			z-index: 1;
		}

		&-main-text {
			width: 100%;

			@media (min-width: $breakpoint-desktop) {
				margin-right: 8%;
				max-width: 26.875em;
				min-width: auto;
			}

			@media (max-width: ($breakpoint-desktop + 1)) {
				max-width: 48em;
			}

			@media (max-width: ($breakpoint-tablet-small + 1)) {
				text-align: center;
			}

			.tag {
				margin-bottom: 0;
			}

			.elementor-widget-html {
				margin-top: 0;
			}

			.elementor-widget-heading {

				h2 {
					font-size: 1.875rem;
					line-height: 1.4;
					font-weight: $font-weight-bold;
					margin-bottom: 0;

					@media (min-width: $breakpoint-tablet-small) {
						max-width: 80%;
					}
				}
			}
		}
	}

	.solution {

		&--image {
			margin: 0.5em;
			z-index: 2;
		}

		&--heading {
			position: absolute;
			padding-left: 2.5em;
			margin: 0;
			margin-top: 6em;

			&,
			* {

				color: $white;
			}
		}

		&--text {
			z-index: 2;
			font-weight: $font-weight-normal;
			line-height: 1.7;
			padding-left: 2.5em;
			margin-top: 1.2em;
		}

		&--text span {
			display: block;
		}

		&--learn-more {
			opacity: 0.3;
			padding-left: 2.5em;
			margin: 0;
			margin-bottom: 1em;
			z-index: 2;

			a {
				font-weight: $font-weight-normal;
			}
		}
	}
}

