/* stylelint-disable */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "../shortcodes/Countdown";

.BlockCoupon {
	--maxHeight: 500;
	$gradient-1: #c04297;
	$gradient-2: #ff4c6c;
	$gradient-3: #ff7b6c;

	text-align: center;
	max-width: 1140px;
	margin-left: auto !important;
	margin-right: auto !important;
	padding: 0.5em 2em;
	margin-top: 2em;
	background: $black;
	background-size: cover;
	color: $saturated-red;
	border-radius: $border-radius-16;
	overflow: hidden;

	&.elementor-section[class] {

		@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
			padding: 1.5em 1em !important;
			margin: 2em 16px !important;
		}
	}


	.elementor-container {
		margin: 0;
	}

	.elementor-column {
		padding: 0 !important;
		margin: 0;

		.elementor-element  {

			&.wrap-fit-content {
				margin: 0;
				padding: 5px 0;
				display: flex;
				align-items: center;
				margin-right: 0.5em;

				@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
						width: 100%;
						justify-content: flex-start;
				}
			}

			.elementor-widget-container {
					justify-content: start;
					align-items: start;
					text-align: left;
					flex-direction: row;

					@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
							justify-content: flex-start;
							align-items: flex-start;
							text-align: left;
							flex-direction: column;
					}
			}

		}
	}


	.wrap-fit-content {
				width: fit-content;
				margin: 0;

				.additional-content {
					display: flex;
					flex-wrap: nowrap;
					padding: 5px 10px;
					border-radius: 4px;
					border: 1px solid var(--border-brand, rgba(253, 186, 116, 0.8));

					h2 {
							color: $white;
							font-size: 40px;
							font-style: normal;
							font-weight: 500;
							line-height: 40px;
							letter-spacing: 2.4px;
							margin: 0 10px 0 0;

							@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
								font-size: 28px;
							}
					}

					p {
						width: 125px;
						font-size: 14px;
						font-style: normal;
						font-weight: 400 !important;
						line-height: 20px;
						margin: 0;

						@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
							//text-align: center;
						}
					}
				}
		}



	.elementor {

		&-widget {

			&-heading {

				&:not(:last-child) {
					margin-bottom: 0;

					@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
						margin-bottom: em(10);
					}
				}

				h2 {

				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				line-height: 1;
				letter-spacing: 2.4px;
				margin: 0;

							@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
								text-align: left;
							}

				span {
					font-weight: $font-weight-bold;
					color: $black;

					&.text-stroke-primary {

						filter:
							drop-shadow(-1px -1px 0 rgba(253, 186, 116, 0.8))
							drop-shadow(1px -1px 0 rgba(253, 186, 116, 0.8))
							drop-shadow(-1px 1px 0 rgba(253, 186, 116, 0.8))
							drop-shadow(1px 1px 0 rgba(253, 186, 116, 0.8))
							drop-shadow(0 0 9px rgba(253, 186, 116, 0.5));

						font-size: 42px;
						font-style: normal;
						font-weight: 700;
						line-height: 40px; /* 100% */
						letter-spacing: 2.4px;
					}
				}
				}

				h2,
				h3,
				h4,
				h5,
				h6,
				p,
				span,
				div {
					margin: 0;
					color: $white;

							@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
								text-align: left;

							}
				}

				h3 {
					line-height: 24px;
					font-weight: $font-weight-normal;
					font-size: 1rem;
				}


			}

			&-shortcode {

				&:not(:last-child) {
					margin-top: em(16);
					margin-bottom: em(16);
				}

				.elementor-shortcode {
					display: inline-block;

					.Countdown__item {
						line-height: 1;
					}
				}
			}

			&-text-editor {

				&,
				* {
					color: $white;
				}

				&:not(:last-child) {
					margin-bottom: 0;
				}

				p {
					font-size: $font-size-default;
					margin-bottom: 0;
				}
			}

			&-html {

				&:not(:last-child) {
					margin-bottom: em(16);
				}

				.elementor-widget-container {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
					gap: em(10);

					> * {
						margin: 0;
					}

					p {
						font-weight: $font-weight-semi;
						color: $white;
					}
				}
			}
		}

		&-background-overlay {

			@include posZero;
			position: absolute;
			background-position: right center;
			background-repeat: no-repeat;
			background-size: contain;
			border-radius: 0 $border-radius-16  $border-radius-16 0;

			@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
				background-size: cover !important;
				background-position: left center !important;
				margin-left: 150px;
			}

			@media (max-width: ($breakpoint-tablet - 1px)) {
				display: none;
			}
		}
	}


	&__btn[class] {

		&.Button--copy {
			color: $white;
			margin: 0;
			padding: 0;
			font-size: 14px;

			span {
				line-height: 1 !important;
			}
		}


		span.textarea-pseudo {
			display: none;
		}

		span::before {
			display: none !important;
		}

		span::after {
			display: none !important;
		}

		svg {
			width: 1.5em;
			margin-right: 0;
			fill: currentcolor;
			transition: all 0.3s;
		}

		&:hover {

			color: rgba(253, 186, 116, 0.8);

			svg {
				fill: rgba(253, 186, 116, 0.8);
			}
		}
	}

	&__code {
		display: flex;
		overflow: hidden;
		border-radius: $border-radius - 2;
		align-items: center;
		flex-direction: row;
		gap: 0.5em;

			@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
				flex-direction: column;
				align-items: flex-start;
				display: none;
			}

		&-text {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0 $button-padding-normal;
			font-size: $button-font-size-normal;
			background-color: rgba($white, 0.5);
			color: $black;
			font-weight: 400;


			&.textarea-pseudo {
				font-size: $font-size-default;
			}
		}

		&-btn[class] {
			font-size: 16px;
			line-height: 1;
		}

		p {
			margin-bottom: 0;
			font-weight: 400 !important;
			font-size: 16px !important;
		}

		@media (max-width: ($breakpoint-mobile - 1)) {

			&-btn[class] {
				min-width: em(150);
				padding: 0 1em;
			}

			&-text {
				padding: 0 1em;
				height: auto;
			}
		}
	}
}
