/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.BlockResources {

	background-color: $lightest-gray;
	margin: 40px 0;
	padding: 30px 40px !important;
	border-radius: $border-radius;

	p {

		color: $black;
		display: flex;
		flex-flow: wrap row;
		justify-content: flex-start;
		align-items: center;
		font-size: $font-size-bigger;
		line-height: $line-height-bigger;
		font-weight: $font-weight-bold;
		margin-bottom: 0;

		&::before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			margin-right: 15px;
			background-image: url(../images/icon_knowledgebase.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100% auto;
		}
	}
}
