/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/Checklist" as *;

%imgalign {
	margin-top: -0.2em;
	margin-bottom: -0.2em;
	user-select: none;
}

.Block--learnMore {
	position: relative;

	.Post__content {

		.SmallPhoto__slider {
			max-width: 100%;

			&__desc {
				text-align: left !important;
			}
		}

		figure {
			max-width: 100%;
		}

		img {

			&.alignleft {

				@extend %imgalign;
				margin-right: 1em;
				float: left;
			}

			&.alignright {

				@extend %imgalign;
				margin-left: 1em;
				float: right;
			}
		}
	}

	&__header {

		border-radius: $border-radius-16;
		padding: 1.5em;
		background: url(../../images/background__elements.jpg) center center no-repeat;
		background-size: cover;

		h2,
		h3 {
			font-size: 3rem;
			line-height: 1.4;
			margin-top: 0;
		}

		p:last-of-type {
			margin-bottom: 0;
		}

		.elementor-widget-container {

			&::before {
				content: url(../../images/lightbulb.svg);
			}
		}

		+ .elementor-widget-text-editor pre,
		+ .Post__container > .Post__content > .elementor-widget-text-editor:first-child pre {

			@include color(background-color, main-background);
			@include color(color, font-color-dark);
			border: none;
			border-radius: $border-radius-16;
			overflow: visible;
			white-space: break-spaces;
			margin: 0 0 1.5em;
			padding: 2em;
			box-shadow: 0 20px 90px 10px rgba(55, 55, 55, 0.08);

			.flex {
				margin-bottom: 1.5em;

				strong {
					margin-right: auto;
				}
			}
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		.wrapper__wide {
			padding-top: 0;
			padding-bottom: 0;
		}

		.elementor-widget-wrap {
			display: block !important;

			.elementor-element:not(.Block--learnMore__header) {
				max-width: $wrapper-aside;
				margin: 0 auto;
			}
		}

		&__header {
			margin: 0;
			padding: 3em 0;

			.elementor-widget-container {
				max-width: $wrapper-aside;
				margin: 0 auto;
			}
		}
	}

	@media (max-width: ($breakpoint-tablet-landscape - 1)) {

		.wrapper__wide {
			max-width: 100%;
		}
	}
}
