/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Boxes--dotted {

	overflow: hidden;

	> .elementor-container {
		max-width: $breakpoint-desktop !important;

		> .elementor-column {
			width: 100% !important;
		}


	}

	.elementor-column:not(.pillar) {

		box-shadow: none;
		overflow: visible;
		padding: 1.5em;
		flex-wrap: wrap;

		&:hover {
			background-color: $white !important;
			color: $black !important;
			box-shadow: 0 20px 90px 10px rgba(55, 55, 55, 0.08);
			z-index: 1;

			.elementor-widget-heading {

				&::before {
					box-shadow: 0 0 0.5em 0.15em rgba($dark-orange, 0.6);
				}

				&::after {
					opacity: 0;
				}
			}
		}

		.elementor-widget-image:first-of-type {

			@include square(5em);
			background-color: transparent;
			padding: 0;
			margin-bottom: 1.5rem !important;

			.elementor-widget-container {
				width: auto;
				max-width: 100%;
				max-height: 100%;
				padding: 0.5em;

				img {

					@include square(100%);
					max-width: 100%;
					max-height: 100%;
				}
			}
		}

		.elementor-widget-heading {
			margin-bottom: 1em;
			position: relative;

			@media (min-width: $breakpoint-tablet-landscape) {

				&::before,
				&::after {
					display: block;
					content: "";
					transition: all 0.2s;
				}

				&::before {

					@include circle(0.875em);
					background-color: $dark-orange;
					position: relative;
					margin: 0 auto 1em;
					box-shadow: 0 0 0.5em 0 rgba($dark-orange, 0.8);
					z-index: 1;
				}

				&::after {
					position: absolute;
					height: 0.0625em;
					width: calc(100% + 12em);
					top: calc(0.4375em - 0.0625em);
					left: 50%;
					transform: translateX(-50%);
					background: $light-gray;
				}
			}
		}

		.elementor-widget-text-editor p {
			font-size: 0.875rem;
		}

		@media (min-width: $breakpoint-mobile) {
			width: 50% !important;
			border-radius: $border-radius-16;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			padding: 2.5em;
			width: 25% !important;

			&:first-of-type .elementor-widget-heading {

				&::after {
					background: linear-gradient(to left, $light-gray 75%, rgba($light-gray, 0));
				}
			}

			&:last-of-type .elementor-widget-heading {

				&::after {
					background: linear-gradient(to right, $light-gray 75%, rgba($light-gray, 0));
				}
			}
		}

	}

	@media (min-width: $breakpoint-tablet) {

		&.Boxes {
			margin-top: 0;
		}
	}
}
