/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/Button" as *;


.Boxes {
	margin-top: $block-space !important;
	margin-bottom: $block-space !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;

	.elementor-widget:not(:last-child):not(.elementor-widget-text-editor) {
		margin-bottom: 0 !important;
	}

	.wrapper {
		padding-top: 0 !important;
		padding-bottom: 0 !important;

		&.elementor-top-column {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.elementor-inner-section .elementor-column {

		h3,
		.elementor-heading-title {
			text-align: left !important;
		}
	}

	&--shadow {

		.wrapper .elementor-column {

			.elementor-widget-wrap {

				box-shadow: 0;
				background-color: $white;
			}

			.elementor-widget-image {

				a {
					border-radius: $border-radius;
					overflow: hidden;
					max-height: 15em;
				}
			}

			.elementor-widget-heading {
				padding: 30px 40px 0 !important;
			}

			.elementor-widget-text-editor {
				padding: 0 40px 30px !important;
			}
		}
		//learnmore align to bottom on home
		body.home & {

			.wrapper .elementor-column {

				.elementor-widget-wrap {
					position: relative;
					padding-bottom: 4em !important;
				}

				.learn-more {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 2.3em;
					padding-bottom: 0 !important;

					p {
						margin: 0;
					}
				}
			}
		}
	}

	&--shadow.Block--redesign {

		.elementor-inner-section {

			.elementor-column .elementor-widget-wrap {
				box-shadow: 0 4px 64px rgba(0, 0, 0, 0.08);
			}

			.elementor-heading-title {
				line-height: 1.33;
				font-size: 1.25rem;
				margin-bottom: 0.5em;
			}

			.elementor-widget-text-editor p {

				color: $dark-gray;
				line-height: 1.625;
				font-size: 0.875rem;
			}
		}

		&.Block--text-default {

			.elementor-inner-section {

				.elementor-widget-text-editor p {

					color: $black;
				}
			}
		}
	}

	&--border {
		padding: 0 1rem;

		@media (min-width: $breakpoint-tablet) {
			padding: 0 2.5rem;

			.elementor-container {
				justify-content: center;
			}
		}

		@media (min-width: $breakpoint-desktop) {
			padding: 0;
		}

		.elementor-inner-section > .elementor-container {
			display: flex;
			justify-content: center;
		}

		.elementor-inner-section .elementor-column {

			+.elementor-column {
				margin-top: 1.5em;
			}

			@media (min-width: $breakpoint-tablet) {

				+.elementor-column {
					margin-top: 0;
				}

				&.elementor-col-50 {
					width: calc(45% - 0.75rem) !important;
					padding: 0;
				}

				+ .elementor-column:nth-child(even) {
					margin-left: 1.5rem;
				}
			}

			@media (min-width: $breakpoint-desktop) {

				&.elementor-col-50 {
					width: calc(45% - 1.5rem) !important;
				}

				+ .elementor-column:nth-child(even) {
					margin-left: 3rem;
				}
			}

			.elementor-column-wrap {
				position: relative;
			}

			.elementor-widget-wrap {
				display: flex;
				align-content: flex-end;
				justify-content: center;
				text-align: center;
				border: 5px solid $pricing-gray;
				border-radius: 1.875rem;
				padding-top: 1em;
				transition: border-color 0.2s;

				&:hover {
					border-color: $lighter-gray;
				}

				.elementor-widget-image {
					margin-top: 1.5rem;
					position: static;

					a {

						&::before {

							@include posZero;
							position: absolute;
							content: "";
						}
					}

					.elementor-widget-container {
						padding: 0;
					}
				}

				.elementor-widget-heading {
					margin-bottom: 0;
				}

				h3 {
					font-size: 1.5rem;
					line-height: 1.5;
					padding: 0 1em;
				}

				p {
					padding: 0 1em;
				}

				.la-button {
					margin-bottom: 1.5rem;
				}

				@media (min-width: $breakpoint-desktop) {

					.elementor-widget-image {
						margin-top: 4rem;
					}

					p {
						padding: 0 22.5%;
					}

					.la-button {
						margin-bottom: 4rem;
					}
				}
			}
		}
	}

	&--hover {

		.elementor-inner-section .elementor-column {

			&:active,
			&:focus,
			&:hover {

				.Button--full {

					@extend %Button--full--hover;
				}
			}

			.elementor-widget-html {
				position: initial;
			}

			.Boxes__hover {

				@include posZero();
				position: absolute;
				z-index: 10;
				cursor: pointer;
			}
		}
	}

	h2 {
		font-size: $font-size-h1;
		line-height: $line-height-h1 !important;
		text-align: center;
	}

	.elementor-widget-text-editor {
		margin-bottom: 40px;
		text-align: center;

		p {
			margin-bottom: 0;
			text-align: center;
		}
	}

	.elementor-widget-image {
		max-height: 275px;

		.elementor-widget-container {
			height: 100%;
		}
	}

	&.Boxes--home {

		.wrapper,
		.elementor-container {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

		.elementor-widget {
			margin: 0;
		}

		.wrapper .elementor-column {
			transition: all 0.3s ease-in-out;

			@include hover() {
				transform: translateY(-2em);

				.learn-more a {

					@include learn-more-hover;
				}
			}

			.box-link {
				position: initial;

				a {

					@include posZero;
					position: absolute;
					z-index: 10;
				}
			}

			.elementor-widget-wrap {

				box-shadow: 0;
				background-color: $white;
				flex-direction: column;
			}

			.elementor-widget-image {
				padding: 1.75em 1.7em 0;

				.elementor-widget-container {
					padding: 0;
				}

				a {
					border-radius: $border-radius;
					overflow: hidden;
					max-height: 15em;
				}

				&.box-image-wide {
					padding: 0;

					a,
					img {
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
			}

			.elementor-widget-heading {
				padding: 1.75em 2.4em 0;

				.elementor-heading-title {
					line-height: initial;
					font-size: 1.25em;
					font-weight: $font-weight-bold;
				}
			}

			.elementor-widget-text-editor {
				width: 100%;
				padding: 0 2.4em 1.75em;

				&:last-child {
					margin-top: auto;
				}

				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.elementor-col-50,
	.elementor-col-33 {
		position: relative;
		padding: 1.125em;

		.elementor-widget-wrap {
			border-radius: $border-radius-16;
			align-items: flex-start;
		}

		.elementor-widget-image {
			overflow: hidden;
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;

			&.wide .elementor-widget-container {
				padding: 0;
			}

			.elementor-widget-container {
				display: block;
				height: 100%;
				padding: 30px 40px 0;

				a {
					display: block;
					height: 100%;
				}

				img {
					display: block;
					margin: auto;
					width: auto !important;
					max-width: 100%;
				}
			}
		}

		.elementor-widget-text-editor {
			margin-bottom: 0;
			text-align: left;

			p {
				max-width: none;
				text-align: left;
			}

			a:not(.Button) {

				color: $black;
				text-decoration: none;

				&:active,
				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}

			a {

				color: $black;
				font-weight: $font-weight-bold;
			}
		}

		.elementor-widget-heading,
		.elementor-widget-text-editor {
			position: static;
			padding: 15px 0 0;

			h3 {
				font-size: 24px;
				line-height: 28px;

				a {

					&::before {

						@include posZero;
						position: absolute;
						content: "";
						z-index: 1;
					}
				}
			}
		}
	}

	@media (max-width: $breakpoint-desktop) {

		h2 {
			font-size: $font-size-h2;
			line-height: 42px !important;
		}

		.elementor-container {
			padding-left: 5px;
			padding-right: 5px;
		}

		.elementor-col-50,
		.elementor-col-33 {
			padding: 15px;
		}
	}

	@media (max-width: $breakpoint-tablet) {
		margin-top: $block-space-sm !important;
		margin-bottom: $block-space-sm !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;

		.elementor-widget-image {
			max-height: none;
		}

		.elementor-col-33 {
			width: 100%;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}
