/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Boxes {
	$widgetPadding: 2.5rem;

	.elementor-col-33 {

		.elementor-widget-heading {

			h3 {

				a {

					&::before {
						content: none;
					}
				}
			}
		}
	}

	&.Boxes--stars {

		.learn-more {

			a {

				@include learn-more();
				@include color(color, font-color-dark);
				margin-top: auto;
			}
		}

		.elementor-row {
			display: flex;
			flex-flow: wrap column;

			@media (min-width: $breakpoint-tablet) {
				flex-flow: wrap row;
				justify-content: space-around;

				.elementor-inner-column {
					width: 45%;
				}
			}

			@media (min-width: $breakpoint-desktop) {
				flex-flow: wrap row;
				justify-content: space-around;

				.elementor-inner-column {
					width: 33%;
				}
			}
		}

		.elementor-column.elementor-column {
			padding: 20px;
		}

		.elementor-col-50 {
			width: 33.333%;
		}

		.elementor-inner-column {

			.elementor-widget-wrap.elementor-widget-wrap {

				position: relative;
				border-radius: 1.25rem;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				max-width: 350px;
				margin: 1.5em auto;

				@media (max-width: ($breakpoint-tablet - 1px)) {
					padding: 0 1.5em 1.5em !important;
				}

				&::after {
					width: 100%;
					min-height: 31em;
					position: absolute;
					left: 47%;
					content: "";
					background: linear-gradient(174.1deg, rgba(9, 0, 44, 0.12) 14.69%, rgba(255, 255, 255, 0) 78.55%);
					opacity: 0.3;
					transform: rotate(45deg);
				}

				div:nth-child(4) {
					margin-top: auto;
				}

				.elementor-column {

					@media (min-width: $breakpoint-desktop-box) {
						transition: transform 0.2s;

						&:hover {
							transform: translateY(-1em);

							.elementor-widget-heading:last-of-type .elementor-widget-container {

								*::after {
									transform: translateX(1em);
								}
							}
						}
					}
				}
			}
		}


		.elementor-widget-image.elementor-widget-image {
			position: relative;
			width: 100%;
			height: 6.25em;
			margin-top: 1.5em;
			text-align: left;

			a {
				overflow: visible;
				border-radius: 0;
				max-height: none;
			}

			img {
				display: inline-block;
				margin: 0;
				width: auto !important;
				max-width: none;
				max-height: 4.5em;

				@media (max-width: $breakpoint-desktop) {
					max-height: 3.5em;
				}
			}

			.elementor-widget-container {

				@include square(100%);
				position: absolute;
				display: flex;
				align-items: center;
				top: 0;
				left: 0;
				padding: 0;
				padding-left: $widgetPadding;
			}
		}

		&-white {

			.wrapper .elementor-inner-section .elementor-widget-wrap {
				box-shadow: 0 0 1.25rem 0 rgba(250, 149, 49, 0.15);
			}

			.elementor-widget-image.elementor-widget-image {
				background: url(../images/box-star-white_bg.svg) -2px center no-repeat;
				background-size: cover;
			}
		}

		.elementor-inner-section .elementor-widget-container.elementor-widget-container {
			text-align: left;
			padding: 1.75rem $widgetPadding 0;
		}

		.elementor-inner-section .elementor-widget-text-editor .elementor-widget-container {
			padding-top: 0;
			padding-bottom: $widgetPadding;

			p {
				text-align: left;
				line-height: 1.625;
				z-index: 2;
				position: relative;
			}
		}

		.elementor-widget-heading.elementor-widget-heading {

			margin-top: -1.5em;

			&:last-of-type .elementor-widget-container {
				padding: 1.75rem $widgetPadding $widgetPadding;
			}
		}

		.elementor-col-25 {

			.elementor-widget-image img {
				max-height: 3.5em;
			}

			.elementor-widget-heading {

				&.elementor-widget-heading {

					h3 {
						font-size: 1rem;
					}
				}
			}
		}

		.elementor-widget-heading.elementor-widget-heading,
		.elementor-widget-text-editor.elementor-widget-text-editor {
			padding: 0 !important;

			h3 {
				font-size: 1.25rem;
				margin-bottom: 0.75em;

				a {
					text-decoration: none;
				}
			}

			&:last-of-type h3 {
				margin-bottom: 0;
			}

			+ .elementor-widget-heading:last-of-type .elementor-widget-container {
				padding: 0 $widgetPadding $widgetPadding;

				* {

					@include color(background-image, background);
					font-family: $font-secondary;
					font-weight: $font-weight-bold;
					color: transparent;
					background-clip: text;

					&::after {
						display: inline-block;
						position: relative;
						top: 0.25em;
						content: url(../images/box-star-arrow.svg);
						margin-left: 0.5em;
						transition: transform 0.2s;
					}
				}
			}
		}
	}
}
