/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Exit-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999998;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(25px);

	&__container {

		@include square(95%);
		max-width: 75em;
		max-height: 53.125em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $white;
		padding: 4.75em 3.75em 5.625em 3.75em;
		border-radius: $border-radius-16;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

		@media ( min-width: $breakpoint-desktop ) {

			padding: 4.75em 7.8125em 5.625em 7.8125em;
			width: 100%;
			height: 100%;
		}

	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 42.1875em;
		margin: 0 auto 3.375em auto;
	}

	&__title {
		font-size: 3rem;
		line-height: 1.26;
		margin-bottom: 0.875em;

		@media ( min-width: $breakpoint-desktop ) {
			font-size: 3.75rem;

		}
	}

	&__text {
		color: #646c75;
		font-size: 1.25em;
		line-height: 1.2;
		margin-bottom: 1.6em;

		@media ( min-width: $breakpoint-desktop ) {
			font-size: 1.5rem;
			line-height: 1.3;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: row;
		align-items: center;

		.Button--full {
			color: $white;
		}
	}

	&__image {
		position: relative;
		height: 20.625em;

		img:not(.Exit-popup__chat__avatar) {

			@include square(100%);
			padding-left: 30%;

			@media (min-width: $breakpoint-tablet-landscape + 1px) {
				padding-left: 44%;
			}
		}

	}


	&__chat {
		display: flex;
		flex-direction: row;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: fit-content;
		max-width: 36.25em;
		background-color: #f4f6f8;
		box-shadow: 12px 17px 8px rgba(0, 0, 0, 0.01), 7px 10px 7px rgba(0, 0, 0, 0.05), 3px 4px 5px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1);
		border-radius: 0.25em 1.5em 1.5em 1.5em;
		padding: 1.5em 1.5em 1.125em 1.5em;
	}

	&__chat__avatar {

		@include square(2.625em);

		border-radius: 50%;
		margin-right: 1em;
	}

	&__chat__text {

		> * {
			color: #646c75;
			font-size: 1rem;
			line-height: 1.75;
		}

		p {
			margin: 0;
		}

		span {
			font-size: 0.75em;
			width: 100%;
			display: flex;
			justify-content: flex-end;
		}
	}

	&__or {
		margin: 0 1.25em;
		vertical-align: middle;
		color: #646c75;
	}


	&__close {
		cursor: pointer;
		font-size: 1.25rem;
		position: absolute;
		right: 1em;
		top: 1em;
		z-index: 10;
		color: $dark-gray;
	}


}
