/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.FeaturesTableNew__section--rectangular {

	.elementor-widget-heading,
	.elementor-widget-text-editor {
		padding: 0 1.5em;
	}
}

.FeaturesTableNew {
	$transition: 0.3s ease;
	padding: 0 1.5em;

	.elementor-row {
		display: block;
	}

	.elementor-widget-wrap {
		z-index: 1;
	}

	&__feature {
		position: relative;
		background: $lightest-gray;
		border-radius: $border-radius-16;
		overflow: hidden;

		.elementor-widget-image {
			order: -1;
		}

		.elementor-widget-text-editor.elementor-element {

			@include color(color, font-color-dark);
			padding: 1.5em 2em;

			a {
				font-size: inherit;
				font-family: inherit;
				transition: initial;

				&:not([target*="_blank"]) {

					@include learn-more();
					margin-top: 1em;

					&::before {

						@include posZero;
						position: absolute;
						content: "";
					}

					&:hover::after {
						filter: brightness(200);
					}
				}
			}

			[class*="elementor"] {
				margin-bottom: 0;
			}

			* {
				margin-bottom: 0.5em;
				text-align: left !important;
				color: currentcolor;
			}

			p {
				font-size: 0.875rem;
				margin-bottom: 0;

				&:last-of-type a:first-of-type:last-of-type {
					display: flex !important;
					align-items: center;

					&::after {
						position: relative;
						top: 0.15em;
						content: url(../../images/arrow_small_right.svg);
						margin-left: 0.25em;
					}
				}
			}

			h3,
			h4 {
				font-size: 1rem !important;
			}
		}

		@media (max-width: $breakpoint-tablet-landscape) {
			margin-top: 2em;
		}

		@media (max-width: ($breakpoint-tablet-landscape - 1px)) {

			&.elementor-column {
				width: 100% !important;
			}
		}

		@media (min-width: $breakpoint-tablet) {

			.elementor-widget-wrap.elementor-widget-wrap {
				flex-wrap: nowrap;
				align-items: center;

				.elementor-element {
					margin: 0;
				}
			}

			.elementor-widget-image {
				width: 40%;
				height: auto !important;
			}

			.elementor-widget-text-editor.elementor-element {
				width: 60%;
				height: 100% !important;
			}

		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&:hover {

				cursor: pointer;

				.elementor-widget-text-editor.elementor-element {

					@include color(background, background);
					@include color(color, font-color-light);
					transition: color $transition;
				}
			}

			$colors: (
				"red": #ff492b,
				"blue": $saturated-blue,
				"violet": $saturated-violet,
				"orange": $dark-orange,
				"cyan": $saturated-cyan,
				"green": $saturated-green
			);

			@each $color, $value in $colors {
				&.#{$color} {

					&:hover {

						.elementor-widget-text-editor.elementor-element {
							background: $value;
						}
					}
				}
			}
		}
	}

	@media (max-width: ($breakpoint-tablet-landscape - 1px)) {

		> .elementor-container {
			display: block;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		padding: 0 0 2em 0;

		.elementor-row {
			display: flex;
		}

		&__feature + &__feature {
			margin-top: 0;
			margin-left: 1.5em;
		}
	}
}
