/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/mixins" as *;
@use "../common/variables" as *;

.IconTabs {

	.Block--redesign__basic + &.Block {
		margin-top: 0 !important;
	}

	> .elementor-container {
		flex-direction: column;

		> .elementor-column {
			width: 100%;
		}
	}


	&__tabs {
		text-align: center;

		.elementor-icon-list-icon {

			@include square(1.5em);
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			top: -0.1em;
			border-radius: 50%;
			background-color: $lighter-gray;
			transition: background-color 0.15s;
			margin-right: 0.5em;
			padding: 0.25em !important;

			svg {
				--e-icon-list-icon-size: 1.5em;
				margin: 0 !important;
				fill: currentcolor;
			}

			@media (min-width: $breakpoint-tablet) {

				@include square(2.875em);
			}
		}

		ul {

			@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
				justify-content: center;
			}

			li {
				position: relative !important;
				$counter: 10;

				@for $i from 1 through $counter {
					&:nth-child(#{$i}) {
						z-index: $counter - $i;
					}
				}

				&:not(:first-of-type) {
					margin-left: -0.5rem;
				}

				&:last-of-type a {
					box-shadow: none;
				}

				a {

					@include color(color, font-color-level3);
					display: flex;
					align-items: center;
					position: relative;
					line-height: 1.3;
					font-weight: $font-weight-semi;
					text-transform: none;
					transition: all 0.15s;
					text-decoration: none !important;
					border-radius: 0.5rem 0.5rem 0 0;
					background: $lightest-gray;
					box-shadow: 5px 0 5px 0 rgba($black-real, 0.05);
					padding: 0.65em 1em;

					&::after {

						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 2px;
						background-color: $lighter-gray;
					}
				}

				&:hover,
				&.active {

					.elementor-icon-list-icon {
						background-color: transparent;
					}
				}

				&:hover {

					a {

						background: $medium-orange;
						color: $dark-orange;

						&::after {
							background-color: $dark-orange;
						}
					}
				}

				&.active {
					z-index: 12;
					box-shadow: none;

					.elementor-icon-list-icon {
						box-shadow: inset 0 0 0 2px currentcolor;
					}

					a {

						@include color(background, background);
						color: $white;

						&::after {
							background-color: $dark-orange;
						}
					}
				}

				@media (min-width: $breakpoint-tablet-landscape) {

					a {
						padding: 0.65em 1.5em;
					}
				}
			}
		}
	}

	&__content {

		&:not(.elementor-element-edit-mode) {
			overflow: hidden;
		}

		&.elementor-element-edit-mode > .elementor-column-wrap > .elementor-widget-wrap {
			flex-direction: column;

			> * {
				flex: auto;
			}
		}

		> .elementor-widget-wrap {
			display: flex;
			flex-wrap: nowrap;
			align-items: stretch;
			transform: translateX(0);
			transition: transform 0.5s;

			> * {
				flex: 1 0 100%;
			}
		}

		a {
			text-decoration: none !important;
		}
	}

	&__block {
		position: relative;

		&.wrapper {
			opacity: 0.7;
			background: radial-gradient(103.53% 342.47% at 18.26% 29.64%, $white 0%, #fff4f4 33.92%, #ffe9dc 83.38%, #ffeef3 100%);
		}

		&.active {
			transform: translateX(0);
		}

		&--chart {
			position: relative;

			.elementor-widget-text-editor {
				width: 100%;
				text-align: center;

				b,
				strong {
					font-size: 1.125rem;
				}
			}
		}

		@media (min-width: $breakpoint-desktop-box) {

			&--chart {
				right: -3em;
			}
		}
	}

	&__chartText {
		position: relative;
		margin-top: -5em;

		p {

			@include color(background, background);
			background-clip: text;
			color: transparent;
			box-decoration-break: clone;
			text-align: center;

			font-size: 3.5rem;
			line-height: 1;
			font-family: $font-third;

			&.big {
				font-size: 5rem;
			}
		}

		&.big {
			margin-top: -7em;

			p:not(.big) {
				font-size: 5rem;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			margin-top: -8em;

			p {
				font-size: 6.25rem;

				&.big {
					font-size: 9.375rem;
				}
			}

			&.big {
				margin-top: -13em;

				p {
					font-size: 9.375rem;
				}
			}
		}

	}

	&__textBubble {

		@include color(background, main-background);
		position: relative;
		border-radius: $border-radius-16;
		margin: -1em auto 0;
		padding: 2em;
		max-width: 30.25em;
		box-shadow: 0 15px 41px rgba(145, 145, 145, 0.28), inset 0 -15px 20px rgba(157, 157, 157, 0.1);

		.big + & {

			@media (min-width: $breakpoint-tablet-landscape) {
				margin: -2em auto 0;
			}
		}

		p:last-of-type {
			margin-bottom: 0;
		}

		&::before {
			content: "";

			@include square(2em);
			@include color(background, main-background);
			position: absolute;
			top: -0.75em;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
			border-radius: 6px;
		}

		.active & {
			animation: bounceIn 0.5s 0.3s;
		}
	}
}
