/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Migrations__item {
	display: flex;
	flex-direction: column;
	gap: 0.375em;
	padding: 0.75em 1em;
	border-radius: $border-radius-10;
	border: 1px solid $light-gray;
	background: $white;
	box-shadow: 0 15px 20px -15px rgba(9, 0, 44, 0.12);
	box-sizing: border-box;
	transition: border-width 0.3s ease;

	&:hover {
		border-radius: $border-radius;
		border: 2px solid $light-orange;
	}

	&__image {
		width: auto;
		height: 1.5em;
	}

	&__title {
		color: $black;
		font-size: $font-size-bigger;
		font-weight: $font-weight-bold;
		line-height: 1;
	}
}
