/* stylelint-disable selector-class-pattern, no-descending-specificity */

@import "../common/mixins";
@import "../common/variables";

.NiceFaq {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 3em;
	font-size: 0.875rem;
	line-height: 1.35;

	&__sidebar {

		@include color(background-color, main-background);
		border-radius: $border-radius-16;
		box-shadow: 0.3125em 0.625em 5.625em -0.625em rgba($black-real, 0.15);
		width: 100%;
		padding: 2em 1.5em;
		margin-bottom: 3em;
		order: -1;

		&--items {
			font-family: $font-secondary;
			text-align: center;
			margin-bottom: 0;
		}

		&--item {

			@include color(background-color, secondary-background);
			@include color(color, font-color-dark);
			font-size: 0.875rem;
			padding: 0.15em 1.5em;
			border-radius: $border-radius-16 / 2;
			cursor: pointer;
			transition: all 0.2s;

			+ li {
				margin-top: 1em;

				&:hover {

					@include color(color, primary-color);
				}
			}

			&.active {

				@include color(color, primary-color);
				@include color(background-color, third-color);
				font-weight: 600;
				cursor: default;
			}

			@media (min-width: $breakpoint-tablet) {
				display: inline-block;

				+ li {
					margin-left: 1em;
				}
			}
		}
	}

	@at-root {

		@keyframes nicefaqItems {

			from {
				transform: scaleY(0);
			}

			to {
				transform: scaleY(1);
			}
		}
	}

	&__item {

		&.active {

			.NiceFaq {

				&__question,
				&__answer {
					display: flex;
					align-items: center;
					animation: nicefaqItems 0.5s ease-in-out, fadeIn 1.5s;

					span {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}

		&--person {

			@include square(4.5em);
			position: absolute;
			border-radius: 50%;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__question,
	&__answer {
		position: relative;
		display: none;
		padding: 1.5em 2.5em;
		border-radius: 1.25em;
		box-shadow: 0 -1em 1.125em -1em rgba(157, 157, 157, 0.1) inset, 0 1em 2.265em -0.5em rgba(144, 144, 144, 0.28);
		min-height: 6em;
		transform-origin: center center;

		span {
			visibility: hidden;
			opacity: 0;
			transition: opacity 1s;
		}
	}

	&__question {

		@include color(background-color, main-background);
		padding-left: 3.5em;
		margin-bottom: 1.5em;

		.NiceFaq__item--person {
			left: calc(4.5em / -2);
			border: 4px solid $white;
			box-shadow: -1em 1em 2.265em -0.5em rgba(144, 144, 144, 0.28);
		}
	}

	&__answer {

		@include color(color, font-color-light);
		@include color(background, background);
		padding-right: 2.5em;

		.NiceFaq__item--person {
			right: calc(4.5em / -2);
			top: calc(100% - 3.5em);
			border: 4px solid $dark-orange;
			box-shadow: 1em 1em 2.265em -0.5em rgba(144, 144, 144, 0.28);
		}
	}

	@media (min-width: $breakpoint-tablet) {
		font-size: 1rem;
		line-height: 1.71;
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		flex-direction: row;
		padding: 0 2em;

		&::after {

			@include posCustom(-2.375em, -3em, -5em, -3em);
			content: "";
			position: absolute;
			background: url(../../images/bg_glass_elements.svg) -1.5em 0 no-repeat;
			background-size: calc(100% + 2em);
			z-index: -1;
		}

		&__main {
			display: flex;
			flex-direction: column;
			width: 60%;
		}

		&__question {
			position: relative;
			width: 65.5%;
			margin-left: auto;

			&::before {
				position: absolute;
				content: url(../../images/nicefaq_question_oh.svg);
				left: -5em;
				top: -2.5em;
			}
		}

		&__answer {
			width: 90%;
		}

		&__sidebar {
			position: absolute;
			width: 32%;
			top: 2em;
			right: 1.5em;
			margin-left: auto;
			margin-bottom: 0;
			order: 1;

			&--items {
				text-align: left;
			}

			&--item {
				display: block;

				+ li {
					margin-left: 0;
				}
			}
		}
	}

	@media (min-width: $breakpoint-desktop-box) {

		&__sidebar {
			width: calc(30% - 1.5em);
			top: 0;
		}
	}
}
