/* stylelint-disable selector-class-pattern, selector-id-pattern */
/* stylelint-disable no-descending-specificity */

@use "../common/mixins" as *;
@use "../common/variables" as *;

.Reviews {

	.Reviews__items {
		display: flex;
		align-items: center;
		gap: 2em;

		.Reviews__items__item {

			@include square(100%);
			max-width: 200px;
		}
	}
}
