/* stylelint-disable selector-class-pattern,
no-descending-specificity, value-keyword-case, selector-id-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "../elements/FilterMenu";

.Signup__sidebar {
	padding: 1.5em;
	background: url(../../images/signup_sidebar_bg.svg) center top no-repeat;
	background-size: cover;
	border-radius: $border-radius-16;
	transition: transform 0.5s;

	&.scrolled {
		transform: translateY(-100%);
	}

	&__title,
	&__subtitle {
		font-family: $font-secondary;
		text-align: center;
	}

	&__title {
		font-size: 1.375rem;
		font-weight: $font-weight-bold;
		margin-bottom: 0.5em;
	}

	&__subtitle {
		font-weight: $font-weight-normal;
		font-size: 0.8125rem;
		margin-bottom: 1rem;
	}

	&-wrapper {
		display: none;
		max-width: 16.875em;
		z-index: 3;
		order: 2;

		.Post--sidebar-right & {
			height: 100%;
		}
	}

	.Signup__sidebar__item {

		input {

			@include color(background-color, main-background);
			@include color(color, font-color-level3);
			width: 100%;
			height: 2.75rem;
			border: 1px solid $medium-gray-inputs;
			border-radius: ($border-radius - 2);
			font-size: 0.8125rem;
			padding-left: 1em;

			@include input-placeholder() {
				color: currentColor;
			}

			&::placeholder {

				color: currentcolor;
				opacity: 1;
			}

			&:focus {

				@include color(border-color, font-color-dark);
				@include color(color, font-color-dark);
			}

		}

		.FilterMenu {

			&__title {

				@include color(background-color, main-background);
				@include color(color, font-color-level3);
				width: 100%;
				height: 2.75rem;
				border: 1px solid $medium-gray-inputs;
				border-radius: ($border-radius - 2);
				font-size: 0.8125rem;
				padding-left: 1em;

				&.active {

					@include color(border-color, font-color-dark);
					@include color(color, font-color-dark);
				}

				span {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			&__item {
				font-size: 0.8125rem;
			}
		}
	}

	.DescriptionText {

		color: $dark-gray;
		font-size: 0.6875rem;
		line-height: 1.3;
		margin-top: 0.4em;
	}

	.ErrorMessage {

		@include color(color, error-color);
		font-size: 0.6875rem;
		line-height: 1.3;
		margin-bottom: 0;
		margin-top: 0.5em;
	}

	.signUpError {

		@include color(color, error-color);
		line-height: 1.3;
		margin-bottom: 1em;
	}

	.Button {
		padding: 0 0.5em;
		width: 100%;
	}

	&__item {
		position: relative;
		margin-bottom: 0.75em;

		&.Error {

			input {
				border-color: $saturated-red;
				color: $saturated-red;
			}

			.FilterMenu {

				&__title {
					border-color: $saturated-red;
					color: $saturated-red;
				}
			}
		}

		&.Valid {

			.ErrorMessage {
				display: none;
			}

			input {
				border-color: $saturated-green;
				color: $saturated-green;
			}

			.FilterMenu {

				&__title {
					border-color: $saturated-green;
					color: $saturated-green;
				}
			}
		}

		&.domain {

			input {
				padding-right: 7em;
			}
		}

		&__domain {

			@include color(background-color, secondary-background);
			@include color(color, font-color-normal);
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 0.6875rem;
			padding: 0 1em;
			border-radius: 0 6px 6px 0;
			height: calc(2.75rem - 2px);
			top: 1px;
			right: 1px;
		}

		&__info {
			position: absolute;
			top: -0.5em;
			right: -0.5em;
			font-size: 1rem;

			.ComparePlans__tooltip__text {
				left: auto;
				right: -1em;

				&::after {
					left: auto !important;
					right: 1.25em;
				}
			}
		}
	}

	&__terms {

		p {

			font-size: 0.625rem;
			color: $medium-gray-quotes;
			text-align: center;

			a {

				font-weight: $font-weight-semi;
				color: $medium-gray-quotes;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__reviews {
		display: flex;
		justify-content: space-between;

		&__title {
			text-align: center;
			font-size: 0.75rem;
			font-weight: $font-weight-bold;
			margin-bottom: 0;
		}

		&--item {
			text-align: center;

			a {
				display: inline-flex;
				align-items: center;
				text-decoration: none;

				&:active,
				&:focus,
				&:hover {
					text-decoration: underline;
				}

				.logo-trustpilot {
					position: relative;
					top: -0.025em;
				}

				span {

					@include color(color, font-color-dark);
					font-size: 0.8125rem;
					margin-left: 0.5em;
					text-decoration: none !important;
				}
			}
		}

		.stars {

			&__item {

				@include square(1em);
				margin: 0;
			}
		}
	}


	[data-id="createButtonmain"][disabled] {

		.WorkingPanel {

			display: flex !important;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 5;
			margin-right: 0.75em;

			.gear-wheels {
				position: relative;
				z-index: 9;

				@include square(2.3125em);
			}

		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		&-wrapper {
			display: block;
		}
	}
}
