/* stylelint-disable selector-class-pattern, selector-id-pattern */
/* stylelint-disable no-descending-specificity */

@use "../common/mixins" as *;
@use "../common/variables" as *;
@forward "./SignupFormSimple";
@forward "../elements/FilterMenu";

.Signup {

	&__form {

		@include color(background-color, main-background);
		@include color(box-shadow, box-shadow);
		overflow: hidden;
		position: relative;
		max-width: 425px;
		margin: auto 10px auto auto;
		padding: 0.5em 2.5em 2em;
		border-radius: $border-radius-16;

		@media (max-width: 768px) {
			margin-left: auto;
			margin-right: auto;
		}

		&__title {

			@include color(background-color, third-color);
			font-size: 30px;
			line-height: 48px;
			text-align: center;
			padding: 0.5em;
			border-radius: 13px;

			@media (min-width: $breakpoint-tablet) {
				margin: 0 -1.1em;
			}
		}

		&__subtitle {
			text-align: center;
			margin-bottom: 30px;
		}

		&__labels {
			display: flex;
			flex-flow: wrap row;
			justify-content: center;
			align-items: center;
			margin: 1em -0.5em;

			&__label {
				display: flex;
				margin: 0.5em;
				padding: 0 13px;
				font-size: 12px;
				line-height: 26px;
				font-weight: $font-weight-semi;
				border-radius: 13px;
				color: #1e1e1e;
				background-color: #efe6f8;

				&:last-of-type {
					background-color: #e3f2ff;
				}

				.ComparePlans__tooltip {

					.fontello-info {
						margin-left: 0.3em;
					}
				}
			}
		}

		input,
		input[type="text"],
		input[type="url"],
		input[type="email"] {
			width: 100%;
		}

		.Button {
			margin-top: 0;
			margin-bottom: 1em;
			margin-right: 0;
			width: 100%;
			height: 3.5em;
			font-size: 1rem;
			text-align: center;
		}

		[data-id="signUpError"] {
			position: relative;
			font-size: 14px;
			text-align: center;
			color: $red;

			div {
				position: absolute;
				bottom: 8px;
				width: 100%;
				background-color: #fff;
			}
		}

		[data-id="domainFieldmain"] {

			input[type="url"],
			input[type="text"] {
				padding-right: 115px;
			}
		}

		[data-id="promoFieldmain"] {

			@include color(color, font-color-normal);
			text-align: center;
			font-size: 14px;
			padding: 0 2em;
			margin: 1.5em 0;
			cursor: pointer;

			[type="checkbox"] {
				display: none;

				+ label {
					margin: 2em 0;

					&::before {

						@include square(1.5em);
						position: relative;
						top: 0.35em;
						display: inline-block;
						content: "";
						background: url(../../images/checkbox-inactive.svg) center center no-repeat;
						background-size: contain;
						cursor: pointer;
						margin-right: 0.5em;
					}

					p {
						font-family: $font-primary;
						margin-bottom: 0;
					}
				}

				&:checked + label {

					&::before {
						background-image: url(../../images/checkbox-active.svg);
					}
				}
			}

			p {

				@include color(color, font-color-normal);
				display: inline;
				font-size: 14px;
				cursor: pointer;
			}
		}

		&__item {
			position: relative;
			margin-bottom: 1.125em;

			&::before {

				@include color(color, font-color-level3);
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 20px;
				font-size: 18px;
				line-height: 48px;
				text-align: center;
				width: 22px;
			}

			input {

				@include color(border-color, border-color-inputs);
				@include color(color, font-color-level3);
				@include color(background-color, main-background);
				width: 100%;
				height: $input-height-normal;
				border-width: $input-border-width-normal;
				border-style: solid;
				border-radius: ($border-radius - 2);
				font-size: $input-font-size-normal;
				font-family: $font-primary;
				font-weight: $font-weight-normal;
				padding-left: 60px;

				&:-ms-input-placeholder,
				&::-ms-input-placeholder {

					color: currentcolor;
					opacity: 1;
				}

				&::placeholder {

					color: currentcolor;
					opacity: 1;
				}

				&:focus {

					@include color(border-color, font-color-dark);
					@include color(color, font-color-dark);
				}
			}

			.FilterMenu {
				z-index: initial;

				&__title {

					@include color(border-color, border-color-inputs);
					@include color(color, font-color-level3);
					@include color(background-color, main-background);
					height: $input-height-normal;
					border-width: $input-border-width-normal;
					border-style: solid;
					border-radius: ($border-radius - 2);
					font-size: $input-font-size-normal;
					font-family: $font-primary;
					font-weight: $font-weight-normal;
					padding-left: 60px;

					// override display none in responsive styles of FilterMenu default styles
					display: flex !important;

					&.active {

						@include color(border-color, font-color-dark);
						@include color(color, font-color-dark);
					}

					span {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				// styles from FilterMenu we need to keep also in responsive design
				&__items {

					@include color(background-color, main-background);
					position: absolute;
					top: 100%;
					left: 0;
					display: none;
					opacity: 0;
					overflow: hidden;
					border-radius: 0.625em;
					width: 100%;
					padding: 1em 1.45em;
					transition: opacity 0.1s;
					box-shadow: 0 0.063em 0.375em rgba($black, 0.16);

					&--inn {
						max-height: 19em;
						position: relative;
						margin-left: -1.45em;
						margin-right: -1.85em;
					}

					&.scrollbar-visible {

						&::before {

							@include color(background-color, secondary-background);
							display: block;
							content: "";
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							width: 0.7em;
						}

						.FilterMenu__items--inn {

							@include scrollbar(0.5em);
							overflow-y: scroll;
							margin-right: -1.35em;
						}
					}

					&.active {
						display: block;
						z-index: 3;
					}

					&.visible {
						opacity: 1;
					}
				}

				&__item {
					overflow: visible;
					position: relative;
					display: flex;
					align-content: center;
					margin-bottom: 0.25em;
					text-decoration: none !important;

					&:last-of-type {
						margin-bottom: 0;
					}

					@media (hover: hover) {

						&:hover {
							background-color: $pricing-gray;
						}
					}
				}

				&__item [type="checkbox"] + label,
				&__item [type="radio"] + label,
				a[href] &__item-title {
					line-height: 1.4;
					padding: 0.5em 1em;
					border-radius: 0;
					box-shadow: none;
				}

				&.active {

					svg {

						@include color(fill, font-color-dark);
					}
				}

			}

			.Button {
				position: absolute;
				right: 0;
				height: 100%;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				width: auto;
				z-index: 2;
				transition: opacity 0.2s;

				span {
					pointer-events: none;
				}

				&[disabled] {
					opacity: 0.6;

					&:hover {
						cursor: default;

						&::before {
							opacity: 1;
						}
					}
				}
			}

			&.has-svg {

				svg {

					@include color(fill, font-color-level3);
					position: absolute;
					top: 50%;
					left: 20px;
					transform: translateY(-50%);
					z-index: 4; // FilterMenu with icon
				}
			}

			&:focus-within {

				&::before {

					@include color(color, font-color-dark);
				}

				svg {

					@include color(fill, font-color-dark);
				}
			}

			&__domain {

				@include color(color, font-color-normal, !important);
				position: absolute;
				display: flex;
				align-items: center;
				top: 1px;
				right: 1px;
				font-size: 1rem;
				font-weight: $font-weight-semi;
				height: calc(#{$input-height-normal} - 2px);
				background-color: $lightest-gray;
				padding: 0 20px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}

			&__info {
				position: absolute;
				top: -8px;
				right: -7px;
				z-index: 1;
				width: 16px;
				height: 16px;
				line-height: 16px;

				&__icon {
					position: relative;
					cursor: pointer;

					&::before {

						@include color(color, font-color-normal);
						background-color: $white;
						border-radius: 100%;
					}

					&:hover {

						+ .Signup__form__item__info__content {
							display: block !important;
						}
					}

					.ComparePlans__tooltip__text {
						left: auto;
						right: -0.5em;

						&::after {
							left: auto !important;
							right: 1em;
						}
					}
				}

				&__content {

					@include color(color, font-color-medium);
					@include color(background-color, main-background);
					@include color(border-color, border-color-gray, !important);
					display: none;
					position: absolute;
					top: 10px;
					right: 10px;
					min-width: 310px;
					padding: 15px 20px;
					border: 1px solid transparent;
					font-size: 12px;
					line-height: 18px;
				}
			}

			.DescriptionText {

				color: $dark-gray;
				font-size: 12px;
				line-height: 1.8;
				margin-top: 0.4em;
			}

			.ErrorMessage {

				@include color(color, error-color);
				position: absolute;
				left: 20px;
				font-size: 12px;
				line-height: 1.3;
			}

			.InfoMessage {
				padding: 0.5em 1em;
				border-radius: 0.33em;
				font-size: 0.75em;
				line-height: 1.667;
				color: $saturated-blue;
				white-space: nowrap;
				background-color: $desaturated-blue;

				&:not(:first-child) {
					margin-top: 0.5em;
				}

				> * {
					display: inline-block;
					vertical-align: middle;
					white-space: initial;
				}

				&__icon {

					@include square(1em);
					margin-right: 0.5em;
					fill: $saturated-blue !important;
				}

				&__text {
					margin-right: 1.5em;
				}
			}

			&.Valid {

				input[type="url"],
				input[type="text"],
				input[data-type="text"], // fix for removed default "type" attr by urlslab html optimisation
				input[type="email"] {

					@include color(border-color, successful-color);
					@include color(color, successful-color);

					&::placeholder {

						@include color(color, successful-color);
						opacity: 1;
					}
				}

				.FilterMenu {

					&__title {

						@include color(border-color, successful-color);
						@include color(color, successful-color);

					}

					svg {

						@include color(fill, successful-color);
					}

				}

				&::before {

					@include color(color, successful-color);
				}

				svg {

					@include color(fill, successful-color);
				}

				.ErrorMessage {
					display: none;
				}

				.Signup__form__item__domain {

					@include color(color, successful-color);
				}
			}

			&.Error {

				input[type="url"],
				input[type="text"],
				input[data-type="text"], // fix for removed default "type" attr by urlslab html optimisation
				input[type="email"],
				input.textfield {

					@include color(border-color, error-color);
					@include color(color, error-color);

					&::placeholder {

						@include color(color, error-color);
						opacity: 1;
					}
				}

				.FilterMenu {

					&__title {

						@include color(border-color, error-color);
						@include color(color, error-color);

					}

					svg {

						@include color(fill, error-color);
					}

				}

				&::before {

					@include color(color, error-color);
				}

				svg {

					@include color(fill, error-color);
				}

				.Signup__form__item__domain {

					@include color(color, error-color);
				}
			}

			&.Waiting {

				.ErrorMessage {

					@include color(color, font-color-dark);
				}
			}
		}

		&__submit {

			@include color(color, font-color-normal);
			display: flex;
			flex-flow: wrap column;
			justify-content: flex-start;
			align-items: center;

			a {

				@include color(color, font-color-normal);
				text-decoration: none;
				font-weight: $font-weight-bold;

				&:active,
				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}

			p {

				@include color(color, font-color-normal);
				max-width: 100% !important;
				font-size: 14px;
				line-height: 1;
				opacity: 1;
			}

			&__label {

				@include color(color, font-color-medium);
				position: relative;
				left: 195px;
				top: 37px;
				font-size: 12px;
				margin-top: -24px;
			}
		}

		&__terms {
			text-align: center;
			font-size: 13px;

			p {

				@include color(color, font-color-level3);
				font-size: inherit;
				line-height: 22px;
				margin-bottom: 0;
			}
		}

		@media (max-width: 480px) {
			margin-bottom: 50px;
			padding: 25px;
			box-shadow: none;
		}
	}

	&__block {
		margin: 100px 0;
	}
}

.elementor-shortcode {

	.Signup__form__submit__label {
		display: none !important;
	}
}

.activeOverlay {
	overflow: hidden;

	.Signup__block {
		z-index: 999999;
	}
}
