/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

body:not(.pricing) {

	figure.wp-block-table,
	.AlternativeTable,
	.Content {

		table {
			width: 100%;
			max-width: none;
			border-collapse: separate;
			border-spacing: 0;

			@media (max-width: ( $breakpoint-tablet-landscape - 1px)) {
				table-layout: fixed;
			}
		}

		table,
		tbody {

			@media (max-width: ($breakpoint-tablet - 1px)) {
				display: block;
				width: 100%;
				border-radius: 1rem;
				overflow: hidden;
			}
		}


		tr,
		td {
			padding: 0;
			border: none;
		}


		td,
		th {
			padding: 0.75em;
			vertical-align: middle;
			border-top: 1px solid $light-gray;
			border-left: 1px solid $light-gray;
			border-right: none;
			border-bottom: none;

			&:last-of-type {
				border-right: 1px solid $light-gray;
			}

			&.hasTooltip,
			.MobileHeader {

				svg {
					margin-left: 0.25em;
					fill: $light-gray-icon;
				}
			}

			.MobileHeader {
				position: relative;
				width: 8em;
				margin-right: 1em;

				&::after {
					content: "";
					display: block;
					position: absolute;
					top: -0.75em;
					right: 0;
					bottom: -0.75em;
					border-right: 1px solid $light-gray;
				}
			}

			@media (max-width: ($breakpoint-tablet - 1px)) {
				display: flex;
				align-items: center;
				border-right: 1px solid $light-gray;

				&:first-of-type {
					background-color: $medium-gray-inputs;
					font-weight: 600;
				}

				&:nth-of-type(even) {
					background-color: $lightest-gray;
				}

				&.hasTooltip {

					svg {
						fill: $black;
					}
				}
			}

			svg {

				@include square(1em);

				&.icon {

					&-check {

						@include square(1em);
						fill: $saturated-green;
					}

					&-close {

						@include square(0.875em);
						fill: $saturated-red;
					}
				}
			}
		}


		thead {
			border-bottom: none;

			tr {
				font-weight: 700;

				th {

					&:first-of-type:empty {
						border-left: none;
						border-top: none;

						* {
							display: none;
						}
					}

					svg {
						fill: $black !important;
					}
				}

				@media (max-width: ($breakpoint-tablet - 1px)) {
					display: none;
				}

				@media (min-width: $breakpoint-tablet) {

					th:first-of-type {
						border-top-left-radius: 1rem;

						&:empty + th {
							border-top-left-radius: 1rem;
						}
					}

					th:last-of-type {
						border-top-right-radius: 1rem;
					}
				}
			}
		}

		tbody {

			tr {

				+tr {

					td {
						border-top: 1px solid $light-gray;
					}
				}


				&:last-of-type td {
					border-bottom: 1px solid $light-gray;
				}

				@media (max-width: ($breakpoint-tablet - 1px)) {
					display: block;
				}

				@media (min-width: $breakpoint-tablet) {

					&:nth-of-type(odd) {
						background-color: $lightest-gray;
					}

					&:last-of-type {

						td:first-of-type {
							border-bottom-left-radius: 1rem;
						}

						td:last-of-type {
							border-bottom-right-radius: 1rem;
						}
					}
				}
			}
		}

		&.table-bright-contrast {

			table {
				margin: 0;

				tbody {

					tr {

						&:nth-of-type(even) {
							background-color: $white;
						}
					}
				}

				th,
				td {
					color: $black;

					&.accent {
						background: $medium-orange;
					}
				}

				th {
					padding: 1.875rem 1.5625rem;
					font-size: 0.875rem;
					background-color: $white;

					&:first-child {
						padding: 1.875rem 2.1875rem;
						text-align: left;
					}

					span {
						display: block;
						font-size: 0.8125rem;
						font-weight: $font-weight-normal;
					}
				}

				td {
					padding: 0.75rem 1rem;
					text-align: left;

					&:first-child {
						padding: 0.75rem 1.25rem 0.75rem 2.1875rem;
					}

					&.info-wrap {

						.info {
							display: flex;
							justify-content: space-between;

							svg {

								@include square(1.125em);
								fill: $light-gray-icon;
							}
						}
					}

					&.icn-check,
					&.icn-close {

						svg {

							@include square(1.125em);
						}

						div {
							font-size: 0.8125rem;
							line-height: 1;
						}
					}

					&:not(:first-child) {
						text-align: center;
					}
				}
			}

			&--basic {

				th {
					width: 26.25em;

					&:first-child {
						width: 18.75em;
					}
				}
			}

			&--wide {

				table {

					th {
						width: 9em;

						&:first-child {
							width: 17.5em;
						}
					}
				}
			}

			@media (max-width: $breakpoint-tablet - 1px) {

				table {

					&.responsive-table {

						thead {
							display: none;
						}

						tbody,
						tr,
						td {
							display: block;
							width: 100%;
						}

						tr {
							margin-bottom: 1em;
						}

						td {
							text-align: left;
							position: relative;
							font-size: 0.875rem;

							&:first-child {
								font-weight: $font-weight-bold;
								border-top-left-radius: 1rem;
								border-top-right-radius: 1rem;
							}

							&:last-child {
								border-bottom-left-radius: 1rem;
								border-bottom-right-radius: 1rem;
							}

							&:not(:first-child)::before {
								content: attr(data-label);
								display: inline-block;
								font-weight: $font-weight-bold;
								margin-right: 1em;
								min-width: 6em;
							}
						}
					}

					th,
					td {
						width: 50%;
						text-align: left;
					}

					td {

						&:not(:first-child) {
								text-align: left;
						}
					}
				}

				&.table-bright-contrast--basic,
				&.table-bright-contrast--wide {

					table {

						thead {
							border-bottom-left-radius: 0;
							border-bottom-right-radius: 0;
						}

						tbody {
							border-top-left-radius: 0;
							border-top-right-radius: 0;
						}

						th {
							width: auto;
						}

						td {
							padding: 0.75em;
							font-size: 0.875em;
						}
					}
				}

				&.table-bright-contrast--basic {

					table {

						thead,
						tbody {
							display: block;

							tr {
								display: flex;
								background-color: $white;

								&:nth-of-type(even) {
									background-color: $lightest-gray;
								}
							}
						}

						th {
							width: 50%;
							background-color: $medium-gray-inputs;
							font-weight: 600;

							&:first-child {
								width: 50%;
							}
						}

						td {
							font-weight: $font-weight-normal;
							background-color: transparent;
						}
					}
				}

				&.table-bright-contrast--wide {

					table {

						th {

							&:first-child {
								width: 10em;
							}
						}
					}
				}
			}
		}
	}
}

body.page {

	.AlternativeTable {
		overflow-x: scroll;
	}
}
