/* stylelint-disable selector-class-pattern */

@keyframes chatDots {

	0% {
		opacity: 0.5;
	}

	15% {
		transform: translateY(-0.25em);
	}

	25% {
		transform: translateY(0);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}

@keyframes fadeIn {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@mixin shakeX($distanceX: 1em) {

	@at-root {

		@keyframes shakeX {

			from,
			to {
				transform: translate3d(0, 0, 0);
			}

			10%,
			30%,
			50%,
			70%,
			90% {
				transform: translate3d(-#{$distanceX}, 0, 0);
			}

			20%,
			40%,
			60%,
			80% {
				transform: translate3d(#{$distanceX}, 0, 0);
			}
		}

		.shakeX {
			animation-name: shakeX;
		}
	}
}

@keyframes bounceIn {

	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	40% {
		transform: scale3d(0.9, 0.9, 0.9);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	80% {
		transform: scale3d(0.97, 0.97, 0.97);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
}

@keyframes down {

	0% {
		transform: translate(0);
	}

	20% {
		transform: translateY(1em);
	}

	40% {
		transform: translate(0);
	}
}

@keyframes slideDown {

	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes slideUp {

	from {

		transform: translateY(0);
	}

	to {
		transform: translateY(-100%);
	}
}

@keyframes pulse {

	0% {
		box-shadow: 0 0 0 0 rgba(245, 145, 44, 0.6);
	}

	70% {
		box-shadow: 0 0 0 15px rgba(245, 145, 44, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(245, 145, 44, 0);
	}
}
