/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "variables" as *;
@use "mixins" as *;

@media (max-width: $breakpoint-tablet) {

	.BlockPricing,
	.Block .startusing {

		.Button--full {
			margin-bottom: 1.5em !important;
		}
	}
}

.elementor-widget-image img {
	height: auto;
	max-width: 100%;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

// Fix for Start using LiveAgent now

.Block .elementor-widget-image.badge ~ .elementor-widget {
	text-align: center;

	.elementor-widget-container {
		margin: 1em 0 1em 0;
	}
}
//hotfix removal of custom-frontend-legacy padding suddenly appearing
.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated > .elementor-widget-wrap {
	padding: 0 !important;
}

.elementor:not(:lang(en)) {
	hyphens: auto;
}

.elementor-element-populated {
	padding: 0 !important;

	@media (max-width: ($breakpoint-tablet - 1px)) {
		margin: 0 !important;
	}
}

.elementor-section.elementor-section-boxed {

	&.section__wide--hd {

		> .elementor-container {
			max-width: $breakpoint-desktop-hd;
		}
	}

	> .elementor-container {
		width: 100%;
		max-width: $breakpoint-desktop-box;
	}
}


.elementor-widget-heading {

	.elementor-widget-container {

		h2.large-heading {
			font-size: $font-size-h1;
		}
	}

	h2.elementor-heading-title {
		line-height: $line-height-h2;

		&.elementor-size-large {
			font-size: 2.5rem;
			line-height: 1.375 !important;
			margin-bottom: 0.75em !important;

			@media (max-width: ($breakpoint-tablet - 1px)) {
				font-size: $font-size-h2;
			}
		}

		&.elementor-size-xl {
			font-size: $font-size-h2-xl;
			line-height: 1.5 !important;

			@media (max-width: ($breakpoint-tablet - 1px)) {
				font-size: 1.75rem;
			}
		}
	}

	h3,
	h4,
	h5,
	h6 {

		&.elementor-heading-title {
			line-height: 1.25;
		}
	}
}

.elementor-widget-heading .elementor-heading-title {
	margin-bottom: $default-element-margin;
}

@media (min-width: ($breakpoint-desktop + 1)) {

	.elementor-column-gap-wider {

		.elementor-col-50 {

			&:first-of-type {
				padding-right: 2em;
			}

			&:last-of-type {
				padding-left: 2em;
			}
		}
	}
}

@media (max-width: $breakpoint-desktop) {

	.elementor-container {

		.elementor-col-50 {

			&:first-of-type {
				padding-right: 15px;
			}

			&:last-of-type {
				padding-left: 15px;
			}
		}
	}
}

body:not(.elementor-editor-active) {

	@media (max-width: $breakpoint-tablet) {

		.elementor-column.elementor-col-50,
		.elementor-column[data-col="50"] {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media (min-width: 769px) {

		.elementor .elementor-hidden-desktop {
			display: none !important;
		}
	}

	@media (max-width: 768px) and (min-width: 481px) {

		.elementor .elementor-hidden-tablet {
			display: none !important;
		}
	}

	@media (max-width: 480px) {

		.elementor .elementor-hidden-phone {
			display: none !important;
		}
	}
}

ul:not([class]) li::before {

	.page-template-elementor &,
	.page-template-elementor .checklist & {
		background-image: url(/app/themes/liveagent/assets/images/icon-post-check.svg);
	}

	.page-template-elementor .checklist--pros & {
		background-image: url(../images/icon-post-pros.svg);
	}

	.page-template-elementor .checklist--cons & {
		background-image: url(../images/icon-post-cons.svg);
	}
}


// .elementor-widget-image .elementor-widget-container {
// 	width: auto !important;
// 	max-width: 100% !important;
// 	max-height: 100%;
// 	padding-left: 50px;
// 	padding-right: 50px;
// }

.elementor-widget-video {
	max-width: 100% !important;
	max-height: 100%;

	justify-content: center !important;

	.elementor-widget-container {
		padding-left: 0 !important;
	}

	@media (max-width: $breakpoint-desktop) {
		padding-left: 0;
		padding-right: 0;
	}
}

.elementor-element[class*="elementor-element-"] .elementor-wrapper {
	aspect-ratio: auto !important;
}

.Block--video__vertical.Block--video__vertical .elementor-wrapper {
	aspect-ratio: 16 / 9 !important;
}
