/* stylelint-disable selector-class-pattern, no-descending-specificity,
scss/at-extend-no-missing-placeholder */
@use "variables" as *;
@use "mixins" as *;

:root {

	@each $name, $var in $vars {
		--#{$name}: #{$var};
	}
}

@media (prefers-color-scheme: dark) {
	$vars: (
		header-background: #fff,
	);

	:root {

		@each $name, $var in $vars {
			--#{$name}: #{$var};
		}
	}
}

html {
	scroll-behavior: smooth;

	:where(img[class*="wp-image-"]) {
		height: auto;
		max-width: 100%;
	}
}

body {

	@include color(background-color, main-background);
	font-family: $font-primary;
	font-size: $font-size-default;
	font-weight: $font-weight-normal;
	line-height: $line-height-default;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-x: hidden;

	&.overlay {
		overflow: hidden !important;

		&::before {
			content: "";

			@include posZero;
			position: fixed;
			z-index: 999998;
			background-color: rgba($black-real, 0.6);
			animation: fadeIn 0.25s;
		}
	}
}

.home .AppContainer {
	overflow: hidden;
}

.wrapper {
	position: relative;
	width: 100%;
	max-width: $wrapper-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $wrapper-padding;
	padding-right: $wrapper-padding;
	border-radius: 1rem;

	@media (max-width: $breakpoint-desktop) {
		padding-left: ($wrapper-padding * 2);
		padding-right: ($wrapper-padding * 2);
	}

	@media (max-width: $breakpoint-tablet) {
		padding-left: ($wrapper-padding * 2) !important;
		padding-right: ($wrapper-padding * 2) !important;
	}

	@media (max-width: 415px) {
		padding-left: $wrapper-padding !important;
		padding-right: $wrapper-padding !important;
	}

	&__extended {
		max-width: $breakpoint-desktop-box;

		@media (min-width: $breakpoint-tablet-landscape) {
			padding: 3em 8.7%;
		}

		@media (min-width: $breakpoint-desktop-box) {

			padding: 5.25em 7.5em;
		}
	}

	&__wide {
		position: relative;
		max-width: 1380px;
		margin-left: auto;
		margin-right: auto;
		padding: 1.5em 0;

		@media (min-width: $breakpoint-tablet) {
			padding: 2.75em 0;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			display: flex;
		}
	}

	&__narrow {
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}
}

.grecaptcha-badge {
	display: none !important;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
	opacity: 0 !important;
	cursor: default;

	*,
	&:hover * {
		cursor: default !important;
	}

}

.pos {

	&-relative {
		position: relative;
	}

	&-absolute {
		position: absolute;
	}

	&-fixed {
		position: fixed;
	}

	&-sticky {
		position: sticky;
	}
}

.flex {
	display: flex !important;

	@media (min-width: $breakpoint-tablet) {

		&-tablet {
			display: flex !important;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		&-tablet-landscape {
			display: flex !important;
		}
	}

	&-wrap {
		flex-wrap: wrap !important;
	}

	&-direction {

		&-row {
			flex-direction: row !important;
		}

		&-column {
			flex-direction: column !important;
		}
	}

	&-align-center {
		align-content: center !important;
		align-items: center !important;

		.elementor-widget-wrap {
			align-content: center !important;
			align-items: center !important;
		}
	}

	&-justify-center {
		justify-content: center !important;
	}
}

.text-align {

	&-left {

		* {
			text-align: left;
		}
		text-align: left !important;
	}

	&-center {
		text-align: center !important;
	}

	&-justify {
		text-align: justify !important;
	}
}

.text-decoration {

	&-none {
		text-decoration: none;
	}

	&-underline {
		text-decoration: underline;
	}
}

.mobile--only {

	@media (min-width: $breakpoint-tablet) {
		display: none;
	}
}

.tablet--only {

	@media (min-width: $breakpoint-tablet-landscape ) {
		display: none;
	}
}

.desktop--only {

	@media (max-width: ($breakpoint-desktop-box - 1px)) {
		display: none;
	}
}

.w-100 {
	width: 100%;
}

.col-4 {

	.elementor-container {

		@media (min-width: $breakpoint-tablet) {
			display: grid;
			grid-template-columns: repeat(2, calc(50% - 0.75em));
			grid-gap: 3em 1.5em;

			.elementor-column.elementor-column {
				width: 100%;
				margin: 0 !important;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			grid-template-columns: repeat(4, calc(25% - 1.125em));
		}
	}
}

.no-margin[class] {
	margin: 0 !important;
}

.no-padding[class] {
	padding: 0 !important;
}

$marginSide: (
	left, right, top, bottom
);

@each $side in $marginSide {

	[class].ma-#{$side} {
		margin-#{$side}: auto;
	}
}

$sizes: (
	"xxs": 0.15em,
	"xs": 0.25em,
	"s": 0.5em,
	"m": 1em,
	"l": 1.5em,
	"xl": 2em,
	"xxl": 2.5em,
	"xxxl": 3.25em,
	"extreme": 4.5em,
	"ultra": 6em
);


@each $size, $val in $sizes {
	.mt-#{$size}[class] {
		margin-top: $val;
	}

	.mr-#{$size}[class] {
		margin-right: $val;
	}

	.mb-#{$size}[class] {
		margin-bottom: $val;
	}

	.ml-#{$size}[class] {
		margin-left: $val;
	}

	.pt-#{$size}[class] {
		margin-top: $val;
	}

	.pr-#{$size}[class] {
		margin-right: $val;
	}

	.pb-#{$size}[class] {
		margin-bottom: $val;
	}

	.pl-#{$size}[class] {
		margin-left: $val;
	}
}

@media (min-width: $breakpoint-tablet) {

	@each $size, $val in $sizes {
		.mt-#{$size}-tablet[class] {
			margin-top: $val;
		}

		.mr-#{$size}-tablet[class] {
			margin-right: $val;
		}

		.mb-#{$size}-tablet[class] {
			margin-bottom: $val;
		}

		.ml-#{$size}-tablet[class] {
			margin-left: $val;
		}

		.pt-#{$size}-tablet[class] {
			margin-top: $val;
		}

		.pr-#{$size}-tablet[class] {
			margin-right: $val;
		}

		.pb-#{$size}-tablet[class] {
			margin-bottom: $val;
		}

		.pl-#{$size}-tablet[class] {
			margin-left: $val;
		}
	}
}

@media (min-width: $breakpoint-tablet-landscape) {

	@each $size, $val in $sizes {
		.mt-#{$size}-tablet-landscape[class] {
			margin-top: $val;
		}

		.mr-#{$size}-tablet-landscape[class] {
			margin-right: $val;
		}

		.mb-#{$size}-tablet-landscape[class] {
			margin-bottom: $val;
		}

		.ml-#{$size}-tablet-landscape[class] {
			margin-left: $val;
		}

		.pt-#{$size}-tablet-landscape[class] {
			margin-top: $val;
		}

		.pr-#{$size}-tablet-landscape[class] {
			margin-right: $val;
		}

		.pb-#{$size}-tablet-landscape[class] {
			margin-bottom: $val;
		}

		.pl-#{$size}-tablet-landscape[class] {
			margin-left: $val;
		}
	}
}

@each $size, $val in $sizes {
	.pt-#{$size}[class] {
		padding-top: $val;
	}

	.pr-#{$size}[class] {
		padding-right: $val;
	}

	.pb-#{$size}[class] {
		padding-bottom: $val;
	}

	.pl-#{$size}[class] {
		padding-left: $val;
	}
}

.Footer,
.Reviews,
.Block--redesign__successtories,
.Block--redesign__testimonials,
.SimilarSources {
	content-visibility: auto;
}
