// Fonts
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Poppins", sans-serif;

// Font Sizes
$font-size-default: 16px;
$line-height-default: 24px;
$font-size-smaller: 14px;
$line-height-smaller: 24px;
$font-size-bigger: 18px;
$line-height-bigger: 26px;

$font-size-h1: 48px;
$line-height-h1: 64px;
$font-size-h2: 32px;
$line-height-h2: 48px;
$font-size-h2-xl: 44px;
$font-size-h3: 18px;
$line-height-h3: 24px;
$font-size-h4: 18px;
$line-height-h4: 24px;
$font-size-h5: 16px;
$line-height-h5: 24px;
$font-size-h6: 16px;
$line-height-h6: 24px;

$font-weight-normal: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;

$main-nav-font-size: 16px;
$main-nav-line-height: 60px;
$main-nav-submenu-font-size: 14px;
$main-nav-submenu-line-height: 30px;

// Sizes
$breakpoint-desktop-hd: 1920px;
$breakpoint-desktop-big: 1600px;
$breakpoint-desktop-box: 1380px;
$breakpoint-desktop: 1180px;
$breakpoint-tablet-small: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-mobile: 480px;
$breakpoint-iphone-new: 415px;
$breakpoint-iphone-old: 376px;

$wrapper-width: 1180px;
$wrapper-padding: 20px;

$default-element-margin: 15px;

$border-radius: 8px;
$border-radius-16: 1rem;
$border-radius-small: 4px;

$button-font-size-normal: 14px;
$button-height-normal: 48px;
$button-padding-normal: 35px;

$input-font-size-normal: 16px;
$input-height-normal: 60px;
$input-padding-normal: 20px;
$input-border-width-normal: 1px;

$header-height: 90px;

// Colors
$black-real: #000;
$black: #050505;
$white: #fff;
$gray: #231f20;
$dark-gray: #65676b;
$medium-gray: #b0b4bb;
$medium-gray-quotes: #8c9097;
$medium-gray-inputs: #ced0d4;
$light-gray: #e4e5e9;
$lighter-gray: #d8dadf;
$light-gray-icon: #bec2c9;
$lightest-gray: #f5f5f7;
$ultralightest-gray: $lightest-gray;
$pricing-gray: #edeff3;
$dark-orange: #fa9531;
$orange-new: #ffb928;
$medium-orange: #feefe0;
$light-orange: #ffbd39;
$light-green: #3cc33e;
$light-blue: #1089f8;
$green: #080;
$red: #f00;
$yellow: #ff0;

$saturated-violet: #ae54fd;
$desaturated-violet: #f3e6ff;
$saturated-blue: #2570ed;
$desaturated-blue: #dfeafd;
$saturated-green: #07b65d;
$desaturated-green: #daf4e7;
$saturated-red: #f72f49;
$desaturated-red: #fee0e4;
$saturated-cyan: #48c6ce;
$desaturated-cyan: #e4f7f8;

$vars: (
	primary-color: $dark-orange,
	secondary-color: $light-orange,
	third-color: $medium-orange,
	package-color-1: $light-green,
	package-color-2: $light-blue,
	package-color-3: $dark-orange,
	package-color-4: $medium-gray,
	new-item-color: $yellow,
	extension-item-color: $black,
	successful-color: $saturated-green,
	error-color: $saturated-red,
	font-color-normal: $dark-gray,
	font-color-level3: $medium-gray-quotes,
	font-color-medium: $medium-gray,
	font-color-dark: $black,
	font-color-light: $white,
	content-color-normal: $dark-gray,
	content-color-dark: $black,
	content-color-light: $white,
	button-full-font-color: $white,
	button-full-background-color-1: $dark-orange,
	button-full-background-color-2: $light-orange,
	button-outline-color: $light-gray,
	border-color-normal: $dark-gray,
	border-color-gray: $light-gray,
	border-color-gray-icon: $light-gray-icon,
	border-color-inputs: $medium-gray-inputs,
	border-color-dark: $black,
	border-color-light: $white,
	main-background: $white,
	invert-main-background: $black,
	secondary-background: $lightest-gray,
	light-background: $ultralightest-gray,
	header-background: $white,
	main-nav-font-color: $black,
	main-nav-font-color-highlight: $dark-orange,
	main-nav-underline: $dark-orange,
	main-nav-submenu-background: $white,
	main-nav-submenu-font-color: $black,
	main-nav-submenu-font-color-hover: $black,
	cookie-background: #fff3e0,
	newsletter-background: $lightest-gray,
	tabs-background: $lightest-gray,
	orange-background: $medium-orange,
	violet-background: $desaturated-violet,
	footer-column-border-color: $light-gray,
	footer-middle-background-color-1: $dark-orange,
	footer-middle-background-color-2: $light-orange,
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08),
	box-shadow-big: 0 0.25em 4em 0 rgba($black-real, 0.07),
	background: linear-gradient(90deg, $light-orange 0%, $dark-orange 100%),
	background-invert: linear-gradient(90deg, $dark-orange 0%, $light-orange 100%),
);

:root {

	@each $name, $var in $vars {
		--#{$name}: #{$var};
	}
}

@media (prefers-color-scheme: dark) {
	$vars: (
		header-background: #fff,
	);

	:root {

		@each $name, $var in $vars {
			--#{$name}: #{$var};
		}
	}
}
