/* stylelint-disable value-keyword-case */

// Variables
@use "sass:map";
$version: "3.1";

$sizes: (
	"0": 0,
	"xxs": 0.15em,
	"xs": 0.25em,
	"s": 0.5em,
	"m": 1em,
	"l": 1.5em,
	"xl": 2em,
	"xxl": 2.5em,
	"xxxl": 3.25em,
	"extreme-small": 3.75em,
	"extreme": 4.5em,
	"extreme-plus": 5em,
	"ultra": 6em,
	"ultra-xl": 9.375em,
	"2xultra": 10em
);

$fontSizes: (
	"xxs": 0.5rem,
	"xs": 0.625rem,
	"s": 0.75rem,
	"xm": 0.8125rem,
	"m": 0.875rem,
	"normal": 1rem,
	"l": 1.5rem,
	"xl": 2rem,
	"xxl": 2.5rem,
	"xxxl": 3.25rem,
);

$levels: (
	"0": 0,
	"10": 10,
	"20": 20,
	"30": 30,
	"40": 40,
	"50": 50,
	"60": 60,
	"70": 70,
	"80": 80,
	"90": 90,
	"100": 100,
);

// Fonts
$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-third: "Patrick Hand", "Brush Script MT", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font Sizes
$font-size-default: 16px;
$line-height-default: 24px;
$font-size-smaller: 14px;
$line-height-smaller: 24px;
$font-size-bigger: 18px;
$line-height-bigger: 26px;

$font-size-h1: 48px;
$line-height-h1: 64px;
$font-size-h2: 32px;
$line-height-h2: 1.5;
$font-size-h2-xl: 44px;
$font-size-h2-xxl: 48px;
$line-height-h2-xxl: 1.2916;
$font-size-h3: 24px;
$line-height-h3: 1.17;
$font-size-h4: 18px;
$line-height-h4: 24px;
$font-size-h5: 16px;
$line-height-h5: 24px;
$font-size-h6: 16px;
$line-height-h6: 24px;

$font-weight-normal: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;

$main-nav-font-size: 16px;
$main-nav-line-height: 60px;
$main-nav-submenu-font-size: 14px;
$main-nav-submenu-line-height: 30px;

// Sizes
$breakpoint-desktop-hd: 1920px;
$breakpoint-desktop-big: 1600px;
$breakpoint-desktop-box: 1380px;
$breakpoint-desktop-medium: 1240px;
$breakpoint-desktop: 1180px;
$breakpoint-tablet-small: 600px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-mobile: 480px;
$breakpoint-iphone-new: 415px;
$breakpoint-iphone-old: 376px;

$wrapper-width: 1180px;
$wrapper-padding: 20px;
$wrapper-aside: 41em;

$default-element-margin: 20px;

$border-radius-small: 4px;
$border-radius-6: 6px;
$border-radius: 8px;
$border-radius-12: 12px;
$border-radius-16: 16px;

$button-font-size-normal: 0.875rem;
$button-height-normal: 46px;
$button-padding-normal: 24px;

$input-font-size-normal: 16px;
$input-height-normal: 60px;
$input-height-sm: 2.375rem;
$input-padding-normal: 20px;
$input-border-width-normal: 1px;

$header-height: 90px;

$block-space: 9.5em;
$block-space-sm: 5em;
$block-bg-space: 5em;
$block-bg-space-sm: 2.5em;

// Colors
$black-real: #000;
$black: #050505;
$white: #fff;
$gray: #231f20;
$dark-gray: #65676b;
$medium-gray: #b0b4bb;
$medium-gray-quotes: $dark-gray;
$medium-gray-inputs: #ced0d4;
$level3: #8c9097;
$level4: #f9f9fa;
$light-gray: #e4e5e9;
$lighter-gray: #d8dadf;
$light-gray-icon: #bec2c9;
$lightest-gray: #f5f5f7;
$ultralightest-gray: $lightest-gray;
$pricing-gray: #edeff3;
$dark-orange: #fa9531;
$primary: #fa9531;
$orange-new: #ffb928;
$medium-orange: #feefe0;
$light-orange: #ffbd39;
$light-green: #3cc33e;
$light-blue: #1089f8;
$green: #080;
$red: #f00;
$yellow: #ff0;
$dark-pink: #b44b85;
$light-pink: #f478a5;

$saturated-violet: #ae54fd;
$desaturated-violet: #f3e6ff;
$saturated-blue: #2570ed;
$desaturated-blue: #dfeafd;
$saturated-green: #07b65d;
$desaturated-green: #daf4e7;
$saturated-red: #f72f49;
$desaturated-red: #fee0e4;
$saturated-cyan: #48c6ce;
$desaturated-cyan: #e4f7f8;

$primary-gradient: linear-gradient(90deg, $light-orange 0%, $dark-orange 100%);
$primary-gradient-reverse: linear-gradient(90deg, $dark-orange 0%, $light-orange 100%);


$vars: (
	primary-color: $dark-orange,
	secondary-color: $light-orange,
	third-color: $medium-orange,
	package-color-1: $light-green,
	package-color-2: $light-blue,
	package-color-3: $dark-orange,
	package-color-4: $medium-gray,
	new-item-color: $yellow,
	extension-item-color: $black,
	successful-color: $saturated-green,
	error-color: $saturated-red,
	font-color-normal: $dark-gray,
	font-color-level3: $medium-gray-quotes,
	font-color-medium: $medium-gray,
	font-color-dark: $black,
	font-color-light: $white,
	content-color-normal: $dark-gray,
	content-color-dark: $black,
	content-color-light: $white,
	button-full-font-color: $white,
	button-full-background-color-1: $dark-orange,
	button-full-background-color-2: $light-orange,
	button-outline-color: $light-gray,
	border-color-normal: $dark-gray,
	border-color-gray: $light-gray,
	border-color-gray-icon: $light-gray-icon,
	border-color-inputs: $medium-gray-inputs,
	border-color-dark: $black,
	border-color-light: $white,
	main-background: $white,
	invert-main-background: $black,
	secondary-background: $lightest-gray,
	light-background: $ultralightest-gray,
	header-background: $white,
	main-nav-font-color: $black,
	main-nav-font-color-highlight: $dark-orange,
	main-nav-underline: $dark-orange,
	main-nav-submenu-background: $white,
	main-nav-submenu-font-color: $black,
	main-nav-submenu-font-color-hover: $black,
	cookie-background: #fff3e0,
	newsletter-background: $lightest-gray,
	tabs-background: $lightest-gray,
	orange-background: $medium-orange,
	violet-background: $desaturated-violet,
	footer-column-border-color: $light-gray,
	footer-middle-background-color-1: $dark-orange,
	footer-middle-background-color-2: $light-orange,
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08),
	box-shadow-big: 0 0.25em 4em 0 rgba($black-real, 0.07),
	background: $primary-gradient,
	background-invert: $primary-gradient-reverse,
);
