.elementor-element {
	--flex-direction: initial;
	--flex-wrap: initial;
	--justify-content: initial;
	--align-items: initial;
	--align-content: initial;
	--gap: initial;
	--flex-basis: initial;
	--flex-grow: initial;
	--flex-shrink: initial;
	--order: initial;
	--align-self: initial;
	flex-direction: var(--flex-direction);
	flex-wrap: var(--flex-wrap);
	justify-content: var(--justify-content);
	align-items: var(--align-items);
	align-content: var(--align-content);
	gap: var(--gap);
	flex-basis: var(--flex-basis);
	flex-grow: var(--flex-grow);
	flex-shrink: var(--flex-shrink);
	order: var(--order);
	align-self: var(--align-self);
}

.elementor-element.elementor-absolute,
.elementor-element.elementor-fixed {
	z-index: 1;
}

.elementor-invisible {
	visibility: hidden;
}

.elementor-align-center {
	text-align: center;
}

.elementor-align-center .elementor-button {
	width: auto;
}

.elementor-align-right {
	text-align: right;
}

.elementor-align-right .elementor-button {
	width: auto;
}

.elementor-align-left {
	text-align: left;
}

.elementor-align-left .elementor-button {
	width: auto;
}

.elementor-align-justify .elementor-button {
	width: 100%;
}

.elementor-section {
	position: relative;
}

.elementor-section .elementor-container {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

@media (max-width: 768px) {

	.elementor-section .elementor-container {
		flex-wrap: wrap;
	}
}

.elementor-section {

	&.elementor-section-boxed > .elementor-container {
		max-width: 1140px;
	}

	&.elementor-section-stretched {
		position: relative;
		width: 100%;
	}

	&.elementor-section-items-top > .elementor-container {
		align-items: flex-start;
	}

	&.elementor-section-items-middle > .elementor-container {
		align-items: center;
	}

	&.elementor-section-items-bottom > .elementor-container {
		align-items: flex-end;
	}
}

.elementor-row {
	width: 100%;
	display: flex;

	@media (max-width: 768px) {

		flex-wrap: wrap;
	}
}


.elementor-widget-wrap {
	position: relative;
	width: 100%;
	flex-wrap: wrap;
	align-content: flex-start;
}

.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
	display: flex;
}

.elementor-widget-wrap > .elementor-element {
	width: 100%;
}

.elementor-widget {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	&-image {
		text-align: center;
	}
}

.elementor-widget:not(:last-child).elementor-widget__width-auto,
.elementor-widget:not(:last-child).elementor-widget__width-initial,
.elementor-widget:not(:last-child).elementor-absolute {
	margin-bottom: 0;
}

.elementor-column {
	position: relative;
	min-height: 1px;
	display: flex;
}

.elementor-column-wrap {
	width: 100%;
	position: relative;
	display: flex;
}

.elementor-heading-title {
	padding: 0;
	margin: 0;
	line-height: 1;
}

.elementor-widget-heading {

	.elementor-heading-title {

		&[class*="elementor-size-"] > a {
			color: inherit;
			font-size: inherit;
			line-height: inherit;
		}

		&.elementor-size-small {
			font-size: 15px;
		}

		&.elementor-size-medium {
			font-size: 19px;
		}

		&.elementor-size-large {
			font-size: 29px;
		}

		&.elementor-size-xl {
			font-size: 39px;
		}

		&.elementor-size-xxl {
			font-size: 59px;
		}
	}
}

.elementor-widget-icon-box {

	.elementor-icon-box-wrapper {
		display: block;
		text-align: center;
	}

	.elementor-icon-box-icon {
		margin-bottom: var(--icon-box-icon-margin, 15px);
		margin-right: auto;
		margin-left: auto;
	}
}

ul.elementor-icon-list-items {

	&.elementor-inline-items {
		display: flex;
		flex-wrap: wrap;

		.elementor-inline-item {
			word-break: break-word;
		}
	}
}

$columns: (
	"10": 10%,
	"11": 11.111%,
	"12": 12.5%,
	"14": 14.285%,
	"16": 16.666%,
	"20": 20%,
	"25": 25%,
	"30": 30%,
	"33": 33.333%,
	"40": 40%,
	"50": 50%,
	"60": 60%,
	"66": 66%,
	"70": 70%,
	"75": 75%,
	"80": 80%,
	"83": 83.333%,
	"90": 90%,
	"100": 100%,
);

@media (min-width: 481px) {

	.elementor-column {

		@each $size, $value in $columns {
			&.elementor-col-#{$size},
			&[data-col="#{$size}"] {
				width: $value;
			}
		}
	}
}
