/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "sass:math";
@use "../common/variables" as *;
@use "../common/mixins" as *;

.BlockPricing {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	max-width: $breakpoint-desktop-box;
	margin: 0 auto;
	position: relative;

	&::before {
		position: absolute;
		content: "";
		background-color: $lightest-gray;
		border-radius: $border-radius-16;

		@media (min-width: 1300px) {
			content: url(../../images/bg_pricing.svg);
			background-size: contain;
			background-color: transparent;
		}
	}

	.wrapper {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
		display: flex;
		flex-direction: column;
		background: none !important;
		max-width: $breakpoint-desktop-box;

		@media (min-width: 1300px) {
			padding-left: 10em !important;
			padding-right: 0 !important;
		}

		.elementor-container {
			align-items: center;
			display: block !important;
			width: 100%;
		}

		.elementor-element {
			width: 100%;

			.tag {

				p {
					display: none;
				}
			}
		}

		.elementor-widget-html {

			.Button {
				display: none;
			}
		}
	}

	.elementor-widget-heading {

		h2 {
			font-size: 40px;
			font-weight: $font-weight-bold;
			padding-top: 1.5em;
		}
	}

	.elementor-element.elementor-widget-text-editor {

		@media (min-width: $breakpoint-tablet) {
			width: 60%;
		}
	}

	.pricing__tags {
		$gutter: 1em;
		display: flex;
		flex-flow: wrap row;
		justify-content: flex-start;
		align-items: center;
		margin: math.div(-$gutter, 2);

		> * {
			$font-size: 12;
			display: flex;
			margin: math.div($gutter, 2);
			padding: 0 em(13, $font-size);
			font-size: em($font-size);
			line-height: em(26, $font-size);
			font-weight: $font-weight-semi;
			border-radius: em(13, $font-size);
			color: #1e1e1e;
			background-color: #e3f2ff;

			> span {
				display: flex;
			}

			&:first-of-type {
				background-color: #efe6f8;
			}

			&:last-of-type {
				color: $black;
				background-color: transparent;

				&::after {
					content: "…";
				}
			}
		}
	}

	&__container {
		display: flex;
		flex-flow: wrap column;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 1em;

		@media (min-width: $breakpoint-tablet) {
			flex-flow: wrap row;
			justify-content: flex-start;
			max-width: 100%;
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&.startups {
				max-width: calc(100% + 3.5em);
				width: calc(100% + 3.5em);
			}
		}

		@media (min-width: 1300px) {
			justify-content: flex-start;
			max-width: 95%;
		}

		&__item {
			position: relative;
			width: 100%;
			margin-top: 5em;

			@media (min-width: $breakpoint-tablet) {
				max-width: 285px;
				margin-left: 0;

				&:nth-of-type(2n + 1):not([class*="startups"]) {
					margin-right: auto;
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {
				margin: 5em;

				&:nth-of-type(2n + 1):not([class*="startups"]) {
					margin-right: 0;
				}
			}

			@media (min-width: 1300px) {
				margin: 0;
				margin-top: 3.125em;
			}

			&::before {

				@include posZero();
				display: inline-block;
				position: absolute;
				background-color: $white;
				box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
				border-radius: $border-radius-16;
				content: "";
				z-index: 2;

				@media (min-width: 1300px) {
					content: none;
				}
			}

			.popular {

				.PricingTable__header {
					position: relative;

					&__price {

						&::after {
							content: url(../../images/icon-crown.svg);
							position: absolute;
							top: -2em;
							right: 0;
							z-index: 2;
						}

						&.crossed {

							[class*="amount"] {

								&::before {

									@include square(120%);
									position: absolute;
									background: url(../../images/pricing_crossover.svg) center center no-repeat;
									background-size: 100%;
									top: -0.15em;
									right: -0.125em;
									z-index: 3;
									content: "";
								}
							}
						}

						&::before {
							content: url(../../images/pricing-banner-popular.svg);
						}
					}

					&__most-popular {
						position: absolute;
						background: -webkit-linear-gradient(left, $light-orange, $dark-orange);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						font-family: $font-secondary;
						font-size: 13px;
						font-weight: $font-weight-semi;
					}
				}
			}

			.PricingTable__header {
				display: flex;
				flex-direction: column;
				position: relative;
				padding: 1.5em;
				z-index: 2;

				&__price {
					display: flex;
					align-content: center;
					font-family: $font-secondary;
					position: relative;
					font-weight: $font-weight-bold;
					font-size: 30px;
					margin-top: -7px;
					margin-right: -0.5em;
					height: calc(100% - 1em);

					&::before {
						position: relative;
						display: inline-block;
						content: url(../../images/pricing-banner.svg);
						margin-top: -1.4em;
						margin-left: auto;
						z-index: 0;
					}

					&--wrap {

						position: absolute;
						top: 0;
						right: 1.5em;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						color: $white;
					}

					&__month {
						font-size: $font-size-smaller;
						font-weight: $font-weight-normal;
					}
				}

				&__title h3 {
					font-size: 24px;
					margin-top: -0.5em;
					margin-bottom: 1em;
				}

				&__description {
					font-family: $font-primary;
					white-space: nowrap;
					position: relative;
					margin-bottom: 2em;

					li {
						margin-bottom: 0.5em;
					}

					&::before {
						background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%);
						position: absolute;
						width: 110%;
						height: 100%;
						left: -10%;
						content: "";
						z-index: 5;
					}

					.checkmark {
						position: relative;
						left: 1.75em;

						&::before {
							position: absolute;
							top: 2px;
							left: -1.75em;
							z-index: 4;
							content: url(../../images/icon_checkmark_circle.svg);
							background: none;
						}
					}

					.italic {
						font-style: italic;
					}
				}

				&__button {

					a {
						width: 100%;
						text-align: center;
						margin-bottom: 0;
					}

					.Button {
						margin-top: 0;
					}
				}
			}
		}

		.Block--startups__graphics--last[class] {
			width: 100%;
			margin-top: 4em;
			font-size: 0.75rem;

			* {
				font-size: inherit;
			}

			.price {
				margin: 0;
			}

			.elementor-widget-text-editor {
				width: 100%;
			}

			@media (min-width: $breakpoint-tablet) {
				width: 10em;
			}
		}

		@media (min-width: 1300px) {

			&__item:nth-child(1) {

				&::before {
					background-color: $white;
					box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
					border-radius: $border-radius-16;
					content: "";
					width: 300%;
					height: 100%;
					position: absolute;
				}
			}

			&__item:nth-child(2),
			&__item:nth-child(3) {
				border-left: 1px solid $light-gray;
				z-index: 5;
			}

			&__item:nth-child(4),
			&__item--last {
				margin-left: 0;

				&::before {
					background-color: $white;
					box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
					border-radius: $border-radius-16;
					content: "";
					display: inline-block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
				}
			}
		}
	}

	&__button {
		margin-top: 2.2em;

		.Button--full {
			width: 16em;
		}

		a {
			overflow: hidden;
			white-space: nowrap;
		}

		.ButtonPricing--arrow {
			margin: 0 0 0.4em 0.8em;
			transform: scale(1.5);
		}
	}
}

.BlockPricing.Block--background {
	background: none;

	.wrapper {
		padding-right: 0;
	}
}
