/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.block-badges {

	&__bg {
		position: relative;
		background-position: left center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__wrap {
		display: flex;
		max-width: $wrapper-width;
		padding: 0 $wrapper-padding;
		margin: 0 auto;
	}

	&__title {
		margin: 0 0 0.7em 0 !important;
	}

	&__subtitle {
		margin: 0 0 0.5em 0 !important;

		img {
			display: inline-flex;
		}
	}

	.Post__content & {
		margin: 2.5em auto;
	}

	@media (min-width: $breakpoint-tablet) {

		&__bg {
			padding: $block-bg-space 0;
			border-radius: 1rem 35rem 35rem 1rem;
		}

		&__wrap {
			justify-content: space-between;
			align-items: center;
		}

		&__content {
			position: relative;
			z-index: 5;
			width: 30em;
			max-width: 45%;
		}

		&__image {

			@include posCustom($left: 50%);
			content: "";
			position: absolute;
			z-index: 5;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			pointer-events: none;
		}

		.Post__content & {

			.block-badges {
				text-align: center;

				&__bg {
					padding: $block-bg-space-sm 0;
				}

				&__wrap {
					position: relative;
					z-index: 5;
					flex-direction: column;
					align-items: center;
					text-align: center;

					> * {
						max-width: 30em;
					}
				}

				&__content {
					position: static;
					width: 100%;
				}

				&__image {
					position: static;
				}
			}
		}
	}

	@media (max-width: ($breakpoint-tablet + 1)) {

		&__bg {
			padding: $block-bg-space-sm 0;
		}

		&__wrap {
			position: relative;
			z-index: 5;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
}
