/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "sass:math";
@use "../common/variables" as *;
@use "../common/mixins" as *;

.BlockPricing {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	max-width: $breakpoint-desktop-box;
	margin: 0 auto;
	position: relative;
	background-color: $lightest-gray;

	&::before {
		position: absolute;
		content: "";
		background-color: $lightest-gray;
		border-radius: $border-radius-16;

		@media (min-width: 1300px) {
			content: url(../../images/block-pricing-bg.png);
			background-size: contain;
			background-color: transparent;
		}
	}

	.wrapper {

		display: flex;
		flex-direction: column;
		background: none !important;
		max-width: $breakpoint-desktop-box;

		.elementor-container {
			align-items: center;
			display: block !important;
			width: 100%;
		}

		.elementor-element {
			width: 100%;
			padding-left: 0;

			.tag {

				p {
					display: none;
				}
			}
		}

		.elementor-widget-html {

			.Button {
				display: none;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			padding-top: 3.125em !important;
			padding-bottom: 3.125em !important;
		}

	}

	.elementor-widget-heading {

		h2 {
			font-size: 2.5rem;
			font-weight: $font-weight-bold;
			padding-top: 1.5em;
		}
	}

	.elementor-element.elementor-widget-text-editor {

		@media (min-width: $breakpoint-tablet) {
			width: 60%;
		}
	}

	.pricing__tags {
		$gutter: 1em;
		display: flex;
		flex-flow: wrap row;
		justify-content: flex-start;
		align-items: center;
		margin: math.div(-$gutter, 2);

		> * {
			$font-size: 12;
			display: flex;
			margin: math.div($gutter, 2);
			padding: 0 em(13, $font-size);
			font-size: em($font-size);
			line-height: em(26, $font-size);
			font-weight: $font-weight-semi;
			border-radius: em(13, $font-size);
			color: #1e1e1e;
			background-color: #e3f2ff;

			> span {
				display: flex;
			}

			&:first-of-type {
				background-color: #efe6f8;
			}

			&:last-of-type {
				color: $black;
				background-color: transparent;

				&::after {
					content: "…";
				}
			}
		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 1em;

		&__item {
			position: relative;
			width: 100%;
			margin-top: 5em;
			background-color: $white;
			border-radius: $border-radius-16;

			&--startup-label {

				&::before {
					border-radius: $border-radius-16 $border-radius-16 0 0 !important;
				}
			}

			.popular {

				.PricingTable__header {
					position: relative;

					&__price {

						&::after {
							content: url(../../images/icon-crown.svg);
							position: absolute;
							top: -2em;
							right: 0;
							z-index: 2;
						}

						&.crossed {

							[class*="amount"] {

								&::before {

									@include square(120%);
									position: absolute;
									background: url(../../images/pricing_crossover.svg) center center no-repeat;
									background-size: 100%;
									top: -0.15em;
									right: -0.125em;
									z-index: 3;
									content: "";
								}
							}
						}

						&::before {
							content: url(../../images/pricing-banner-popular.svg);
						}
					}

					&__most-popular {
						position: absolute;
						background: -webkit-linear-gradient(left, $light-orange, $dark-orange);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						font-size: 0.8125rem;
						font-weight: $font-weight-semi;
					}
				}
			}

			.PricingTable__header {
				display: flex;
				flex-direction: column;
				position: relative;
				padding: 1.5em;
				z-index: 2;

				&__price {
					display: flex;
					align-content: center;
					position: relative;
					font-weight: $font-weight-bold;
					font-size: 1.875rem;
					margin-top: -0.4375em;
					margin-right: -0.5em;
					height: calc(100% - 1em);

					&::before {
						position: relative;
						display: inline-block;
						content: url(../../images/pricing-banner.svg);
						margin-top: -1.4em;
						margin-left: auto;
						z-index: 0;
					}

					&--wrap {

						position: absolute;
						top: 0;
						right: 1.5em;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						color: $white;
					}

					&__month {
						font-size: $font-size-smaller;
						font-weight: $font-weight-normal;
					}
				}

				&__title h3 {
					font-size: 1.5rem;
					margin-top: -0.5em;
					margin-bottom: 1em;
				}

				&__startup__label {
					position: absolute;
					bottom: -2em;
					left: 0;
					transform: translateY(100%);
					background-color: $saturated-green;
					border-radius: $border-radius-16;
					z-index: 1;
					padding: 0.5625em;
					display: flex;
					flex-direction: column;
					gap: 1em;
					width: 100%;

					h3,
					p {
						color: $white;
						margin-bottom: 0;
						text-align: center;
						font-weight: $font-weight-bold;
					}

					&__title {
						color: $white;
					}

					&__price {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 0.5em;

						h3 {
							font-size: 2.375rem;
						}

						p {
							font-weight: $font-weight-normal;
						}
					}
				}

				&__description {
					white-space: nowrap;
					position: relative;
					margin-bottom: 2em;

					li {
						margin-bottom: 0.5em;
					}

					&::before {

						@include square(100%);
						background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%);
						position: absolute;
						content: "";
						z-index: 5;
					}

					.checkmark {
						position: relative;
						left: 1.75em;

						&::before {
							position: absolute;
							top: 0.125em;
							left: -1.75em;
							z-index: 4;
							content: url(../../images/icon_checkmark_circle.svg);
							background: none;
						}
					}

					.italic {
						font-style: italic;
					}
				}

				&__button {

					a {
						width: 100%;
						text-align: center;
						margin-bottom: 0;
					}

					.Button {
						margin-top: 0;
					}
				}
			}
		}

		.Block--startups__graphics--last[class] {
			width: 100%;
			margin-top: 4em;
			font-size: 0.75rem;

			* {
				font-size: inherit;
			}

			.price {
				margin: 0;
			}

			.elementor-widget-text-editor {
				width: 100%;
			}
		}
	}

	&__button {
		margin-top: 2.2em;

		.Button--full {
			width: 16em;
		}

		a {
			overflow: hidden;
			white-space: nowrap;
		}

		.ButtonPricing--arrow {
			margin: 0 0 0.4em 0.8em;
			transform: scale(1.5);
		}
	}

	@media (min-width: $breakpoint-tablet) {

		&__container {
			grid-template-columns: repeat(2, 17.1875em);
			flex-flow: wrap row;
			justify-content: flex-start;
			max-width: 100%;

			&__item {

				margin-top: 3.125em;
			}

			.PricingTable__header {

				&__startup__label {
					position: absolute;
					right: 0;
					top: 0;
					left: unset;
					bottom: unset;
					transform: translateX(100%);
					background-color: $saturated-green;
					border-radius: $border-radius-16;
					z-index: 1;
					padding: 0.5625em;
					max-width: 6.25em;
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 1em;

					h3,
					p {
						color: $white;
						margin-bottom: 0;
						text-align: center;
						font-weight: $font-weight-bold;
					}

					p {
						font-size: 0.8125em;
						line-height: 1.5;
					}

					&__title {
						color: $white;
					}

					&__price {
						display: flex;
						flex-direction: column;
						align-items: center;

						h3 {
							font-size: 1.875em;
						}

						p {
							font-weight: $font-weight-normal;
						}
					}
				}
			}

			.Block--startups__graphics--last[class] {
				width: 10em;
			}
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		.wrapper {
			padding-left: 2.5em !important;
			padding-right: 0 !important;
		}

		&__container {
			grid-template-columns: repeat(3, 17.1875em);

			&__item--last {
				margin-left: 0;
			}

			&__item:nth-child(2),
			&__item:nth-child(3) {
				border-left: 1px solid $light-gray;
				z-index: 5;
			}
		}
	}

	@media (min-width: 1300px) {
		background-color: unset;

		.wrapper {
			padding-left: 7.5em !important;
		}

		&__container {
			justify-content: flex-start;
			grid-template-columns: repeat(4, 16.25em);

			&__item {

				margin-top: 3.125em;

				&--last {
					margin-top: 3.125em;
					margin-left: 7.1875em;
					box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
				}

				.PricingTable__header {

					&__description {

						&::before {
							width: 110%;
						}
					}
				}
			}

			&__item:nth-child(2),
			&__item:nth-child(3) {
				border-left: 1px solid $light-gray;
				z-index: 5;
			}
		}


	}

}

.BlockPricing.Block--background {
	background: none;

	.wrapper {
		padding-right: 0;
	}
}
