/* stylelint-disable selector-class-pattern, no-descending-specificity,
scss/at-extend-no-missing-placeholder */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.BlockDiscover {
	position: relative;
	margin: 2.5em auto;
	padding: 40px !important;
	border-radius: $border-radius-16;
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;

	&__right__img {

		@media (min-width: $breakpoint-tablet) {

			@include posCustom($left: 50%) ;
			position: absolute;
			content: "";
			pointer-events: none;
			background-repeat: no-repeat;
			background-position: 100% bottom;
			background-size: contain;
		}
	}

	&__title {

		@include color(color, font-color-light, !important);
		margin: 0 0 1rem !important;
		font-size: 1.75rem;
		line-height: 1.285;
		font-weight: $font-weight-semi;
	}

	&__text {
		margin-bottom: 1rem !important;
		letter-spacing: 0 !important;

		&,
		* {

			@include color(color, font-color-light, !important);
		}

		a {
			text-decoration: underline;
		}

		strong {

			font-size: $font-size-bigger;
			line-height: $line-height-bigger;
		}
	}

	.Newsletter__form {
		width: 100%;
		margin-top: 15px;
		justify-content: flex-start;

		form {
			width: 100%;

			.Input {
				min-width: 355px;
			}
		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;

		.Button {
			flex: 1;
			min-width: 13em;
			padding: 0.5em;
			margin: 1em 1em 0 0 !important;
		}

	}

	&__agent {
		display: none;

		@media (min-width: $breakpoint-tablet) {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			flex-flow: wrap row;
			align-items: center;
			padding: 1em;
			background: rgba(5, 5, 5, 0.5);
			border-top-left-radius: 65px;
			border-bottom-left-radius: 65px;
			box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);

			&__photo {
				border-radius: 50%;
				overflow: hidden;
				margin-right: 1em;
				width: 100px;
				height: 100px;
			}

			&__name {

				@include color(color, font-color-light, !important);
				font-size: 1.5rem;
				line-height: 1.285;
				font-weight: $font-weight-semi;
			}

			&__position {

				@include color(color, font-color-light, !important);
				font-size: 1rem;
				line-height: 1.285;
				font-weight: $font-weight-normal;
			}
		}
	}

	@media (min-width: $breakpoint-tablet) {

		h4,
		p,
		&__buttons {
			max-width: 48%;
		}
	}

	@media (min-width: $breakpoint-desktop) {

		h4,
		p,
		&__buttons {
			max-width: 50%;
		}
	}
}
