/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Clients {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin-top: 10em;
	column-gap: 2em;
	overflow: hidden;
	width: 100%;

	&__item {
		filter: brightness(0) opacity(0.18);
		transition: filter 0.3s;
		margin: 1.5em 0 !important;
		width: 6.25em;
	}

	img {
		display: block;
		width: 100%;
		height: 1.4em;
	}

	.Reviews & {
		margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: $breakpoint-tablet-small) {
		justify-content: center;
	}


	@media (min-width: $breakpoint-tablet) {
		justify-content: space-between;
	}
}

.Block .Clients {
	margin-top: 2.5em;
	justify-content: space-between;

	&__item {
		display: flex;
		flex-wrap: wrap;
		margin: 1.25em 0 !important;

		img {
			max-width: 85%;
		}
	}
}
