/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Clients {
	display: flex;
	flex-flow: wrap row;
	align-items: center;
	margin-top: 10em;
	column-gap: 2em;
	overflow: hidden;
	width: 100%;

	.Clients__item {
		filter: brightness(0) opacity(0.18);
		transition: filter 0.3s;
		margin: 1.5em 0.5em !important;
	}

	img {
		display: block;
		max-width: 7.8125em;
		height: 1.125em;
	}

	.Reviews & {
		margin-left: auto;
		margin-right: auto;
	}

	@media (max-width: $breakpoint-desktop) {
		margin-top: 4.6875em;

		&__item {
			margin: 1.25em 0.5em !important;
			height: 1.125em;
		}
	}

	@media (max-width: $breakpoint-mobile) {
		margin-top: 3.125em;
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		justify-content: center;

		&__item {
			height: 4.0625em;
		}
	}
}


.Block .Clients {
	margin-top: 2.5em;
	justify-content: flex-start;

	&__item {
		display: flex;
		flex-flow: wrap row;
		justify-content: flex-start;
		width: 30% !important;
		margin: 1.25em 0 !important;

		img {
			max-width: 85%;
		}
	}

	@media (max-width: $breakpoint-mobile) {

		&__item {
			width: 50% !important;
		}
	}
}
