/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Countdown {

	&__items {
		display: flex;
	}

	&__item {
		position: relative;
		margin: 0 !important;
		font-size: em(24);

		@media (min-width: $breakpoint-tablet) {
			font-size: em(32);
		}

		&:not(:last-child) {
			padding-right: 0.75em;

			&::after {
				content: ":";
				position: absolute;
				right: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 0.75em;
				height: 1.875em;
				color: $white;
			}
		}
	}

	&__digits {

		@include square(1.875em);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.5em;
		color: $black;
		background-color: $white;
	}

	&__label {
		font-size: 0.4375em;
		text-align: center;
		color: $black;
	}
}
