/* stylelint-disable selector-class-pattern,
scss/at-extend-no-missing-placeholder */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../components/Block" as *;


.WordCloud {

	@extend .Block--background;

	h2 {
		text-align: center;
	}

	&__container {
		margin-top: 20px;
		column-count: 2;

		@media (min-width: $breakpoint-tablet) {
			column-count: 3;
		}

		@media (min-width: $breakpoint-desktop) {
			column-count: 4;
		}

		a {

			color: $black;
			background-color: $white;
			display: flex;
			align-items: center;
			padding: 0.82em 1em;
			margin-bottom: 7px;
			font-size: 0.75rem;
			line-height: 1.25;
			font-weight: $font-weight-bold;
			border-radius: 0.65em;
			transition: 0.3s all;
			transform: translate3d(0, 0, 0) scale(1);
			break-inside: avoid-column;
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				text-decoration: none;
			}

			@media (min-width: $breakpoint-tablet) {
				font-size: 0.875rem;
			}

			&::before {

				background-color: $dark-orange;
				@include square(0.82rem);
				content: "";
				display: block;
				border-radius: 50%;
				margin-right: 0.75em;
				flex: 0 0 auto;
			}

			&::after {

				content: url(../../images/icon-arrow.svg);
				display: block;
				width: 0.5rem;
				margin-left: auto;
			}

			&:active,
			&:focus {
				transform: translate3d(0, 0, 0) scale(1.07);
			}

			@media (min-width: $breakpoint-desktop-box) {

				&:hover {
					transform: translate3d(0, 0, 0) scale(1.07);
				}
			}
		}
	}
}
