/* stylelint-disable selector-class-pattern, no-descending-specificity */
/* stylelint-disable value-keyword-case */

@use "../common/variables" as *;
@use "../common/mixins" as *;


.Archive {

	.Archive__filter {

		.wrapper {
			justify-content: flex-start;
			padding-top: 35px;
			padding-bottom: 35px;
		}

		&__item {
			position: relative;
			margin-right: 35px;

			i {

				color: $dark-gray;
				position: absolute;
				margin-left: 20px;
				line-height: 48px;
				pointer-events: none;
			}
		}

		ul {
			display: flex;
			flex-flow: wrap row;
			margin: -0.5em -0.75em;

			li {
				padding: 0.5em 0.75em;
				font-size: 16px;
				line-height: 1.2;
				font-weight: $font-weight-bold;

				a {

					color: $dark-gray;
					text-decoration: none !important;
				}

				&.current-menu-item,
				&:active,
				&:focus,
				&:hover {

					a {

						color: $dark-orange;
					}
				}
			}
		}
	}

	.Archive__container {
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 80px;
		padding-bottom: 100px;

		&__content {
			width: 100%;
			max-width: none;

			&__item {
				display: flex;
				flex-flow: wrap row;
				justify-content: space-between;
				align-items: flex-start;

				&__title {

					color: $dark-orange;
					width: 50px;
					font-size: 42px;
					line-height: 42px;
					text-transform: uppercase;
					margin-bottom: 0;
				}

				&__content {

					border-left-color: $light-gray;
					width: calc(100% - 51px);
					padding: 0 25px;
					border-left-width: 1px;
					border-left-style: solid;

					ul {
						margin-bottom: 0;
					}

					li {
						display: inline-block;
						width: 33%;
						padding: 8px 0;
					}
				}
			}
		}

		&.sticky {
			padding-top: 180px;
		}
	}


	@media (max-width: $breakpoint-desktop) {

		.Archive__container {
			padding-top: 80px !important;
		}

		.Archive__container__content {

			&__item {

				&__content {

					li {
						width: 49%;
						padding-right: 15px;
					}
				}
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {

		.Archive__container__content {

			&__item {

				&__content {

					li {
						width: 100%;
						padding-right: 0;
					}
				}
			}
		}
	}
}
