/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../components/CategoryHeader" as *;
@use "../components/CategorySidebar" as *;
@use "../components/CategoryItem" as *;

.Category {

	&__container {
		padding-top: 1.5em;
		padding-bottom: 2em;
	}

	&__content {
		position: relative;
		z-index: 1;

		&__description {
			font-size: 1.125rem;
			line-height: 2.66;
			margin-bottom: 1.33em;
			font-family: $font-secondary;
			font-weight: $font-weight-bold;

			div {

				display: inline;
				font-size: 0.875rem;
				line-height: 1.714;
				margin-left: 0.35em;
			}
		}

		&__items {

			&.empty,
			&:empty {

				&::before {
					content: "No results found... 😢";
					display: block;
				}
			}
		}
	}

	@media (min-width: $breakpoint-tablet) {

		&__content {

			&__items {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
		}

		&__item {
			width: calc(50% - 11px);

			&.pillar {
				width: 100%;
			}
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		&__container {
			display: flex;
			align-items: flex-start;
		}

		&__content {
			//width: 52.5em;
			margin-left: auto;

			&__items {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-column-gap: 1.25em;

				&.wider {
					grid-column-gap: 1.875em;
				}
			}
		}

		&__item {
			width: auto;

			&.pillar {
				grid-column: span 3;
			}
		}
	}
}


@media (min-width: $breakpoint-tablet-landscape) {

	.post-type-archive-ms_features {

		.Category {

			.Category__content__items {
				column-gap: 30px;
			}
		}
	}
}
