/* stylelint-disable selector-class-pattern */

@use "../common/mixins" as *;
@use "../common/variables" as *;

.Checklists {

	.Category {

		&__header {

			.wrapper {
				background: $desaturated-green url(../../images/checklists_archive_header.svg?ver=#{$version}) right center no-repeat;
				background-size: auto 80%;

				@media (min-width: $breakpoint-tablet-landscape) {
					background-position: center;
					background-size: cover;
				}
			}
		}
	}
}
