/* stylelint-disable selector-class-pattern */

@import "../common/mixins";
@import "../common/variables";

.Directory {

	&__blocks {

		&__items {
			display: flex;
			flex-flow: wrap row;
			justify-content: space-between;

			&__item {
				position: relative;
				width: 50%;
				margin: 25px 0;
				padding-left: 55px;

				h3 {
					margin-top: 0;
					margin-bottom: 0;
					font-size: 16px;
					font-weight: 700;
					max-width: 240px;
				}

				p {
					font-size: 14px;
					line-height: 21px;
					font-weight: 400;
					color: #777;
					margin: 0;
					max-width: 240px;
				}

				img {
					position: absolute;
					top: 5px;
					left: 0;
					display: flex;
					width: 40px;
					height: 40px;
				}
			}

			iframe {
				margin-top: 25px;
				margin-bottom: 0;
				height: 275px;
			}

			.Faq {
				width: 100%;
				margin-top: 25px;
				margin-bottom: 25px;

				h2 {
					display: none;
				}
			}

			@media (max-width: $breakpoint-tablet) {

				&__item {
					width: 100%;
				}
			}
		}
	}
}

body.single-ms_directory,
body.post-type-archive-ms_directory {

	div[id*="443a9d07"] {
		display: none !important;
	}
}
