/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Directory {

	&__screenshot {
		position: relative;
		display: block;
		margin-bottom: 2.5em;
		border-radius: $border-radius-16;
		box-shadow: 3px 6px 50px -6px rgba($black-real, 0.1);
		overflow: hidden;

		&::after {
			display: none !important;
		}

		@media (hover: hover) {

			&:hover {

				.Directory__screenshot--url {
					border-radius: $border-radius-16;
					opacity: 1;
					transform: scale(1) translate3d(-50%, -50%, 1px);
				}
			}
		}

		&--url {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 0.85rem;
			background-color: rgba($dark-orange, 0.95);
			color: $white !important;
			border-radius: $border-radius-16;
			overflow: hidden;
			z-index: 1;
			top: 50%;
			left: 50%;
			padding: 0.5em 1em;
			transition: all 0.2s;
			opacity: 0;
			transform: scale(0) translate3d(-50%, -50%, 1px);
			transform-origin: -25% -25%;

			&::after {
				content: "\e832" !important;
				font-family: fontello, sans-serif;
				font-style: normal;
				font-weight: $font-weight-normal;
				display: inline-block;
				width: 1em;
				text-align: center;
				font-variant: normal;
				text-transform: none;
				margin-left: 4px;
				text-decoration: none !important;
			}
		}
	}

	&__blocks {

		&__items {
			display: flex;
			flex-flow: wrap row;
			justify-content: space-between;

			&__item {
				position: relative;
				width: 50%;
				margin: 25px 0;
				padding-left: 55px;

				h3 {
					margin-top: 0;
					margin-bottom: 0;
					font-size: 16px;
					font-weight: $font-weight-bold;
					max-width: 240px;
				}

				p {
					font-size: 14px;
					line-height: 21px;
					font-weight: $font-weight-normal;
					color: #777;
					margin: 0;
					max-width: 240px;
				}

				img {
					position: absolute;
					top: 5px;
					left: 0;
					display: flex;
					width: 40px;
					height: 40px;
				}
			}

			iframe {
				margin-top: 25px;
				margin-bottom: 0;
				height: 275px;
			}

			.Faq {
				width: 100%;
				margin-top: 25px;
				margin-bottom: 25px;

				h2 {
					display: none;
				}
			}

			@media (max-width: $breakpoint-tablet) {

				&__item {
					width: 100%;
				}
			}
		}
	}
}

body.single-ms_directory,
body.post-type-archive-ms_directory {

	div[id*="443a9d07"] {
		display: none !important;
	}
}
