/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "../elements/ReviewsRating";
@forward "../components/ReviewsGallery";
@forward "../components/ReviewsCategoryAbout";
@forward "../layouts/ReviewsCategories";
@forward "../layouts/ReviewsPosts";

$version: "3.0";

.Reviews {

	&__how {

		@media (min-width: $breakpoint-tablet-landscape) {

			.Split__title,
			.Content > *:not([class*="FAQ"]) {
				max-width: 40.625rem;
				margin-left: auto;
				margin-right: auto;
			}

			.Content {

				.Post__m__negative[class*="FAQ"] {
					margin-left: auto;
					margin-right: auto;
				}

				.Post__m__negative,
				.BlockDiscover,
				.BlockQuote--discover,
				.wide,
				.wp-block-embed,
				.youtube__loader {
					margin-left: -3.125em;
					margin-right: -3.125em;
				}
			}
		}
	}

	&__header {
		position: relative;
		max-width: $breakpoint-desktop-hd;
		margin: 0 auto;
		background: url(../../images/reviews_header_bg.jpg) center center no-repeat;
		background-size: cover;

		.wrapper {
			z-index: 2;
		}

		&-level1 {
			background: url(../../images/reviews_1st_level_header_bg.jpg) center center no-repeat;
			background-size: cover;

			@media (min-width: $breakpoint-desktop-box) {

				&::after {

					@include posZero();
					position: absolute;
					content: "";
					background: url(../../images/reviews_1st_level_header_img.png?ver=#{$version}) calc(100% - 1em) top no-repeat;
					background-size: auto 100%;
				}
			}

			@media (min-width: $breakpoint-desktop-big) {

				&::after {
					background-position: calc(100% - 1em) calc(100% - 2.5em);
				}
			}
		}

		&-level2 {
			margin-bottom: 4.5em;

			.wrapper {
				padding: 1.5em;
			}

			@media (min-width: $breakpoint-tablet) {

				&.narrow {
					padding: 1.5em 0;
				}

				.FullHeadline {

					&__subtitle {
						max-width: 40.625rem;
						margin: 0 auto 1em;
					}
				}

				.wrapper {
					display: flex;
					flex-direction: column;
					justify-content: center;
				}

				.Filter {
					margin: 0;
				}
			}

			@media (min-width: $breakpoint-desktop-box) {

				&::after {

					@include posZero();
					position: absolute;
					content: "";
					background: url(../../images/reviews_2nd_level_header_img.png?ver=#{$version}) calc(100% - 1em) top no-repeat;
					background-size: auto 100%;
				}
			}
		}

		&--post {
			background: url(../../images/reviews_header_post_bg.jpg) center top no-repeat;
			background-size: cover;
			padding: 1.5em 0;
			margin-bottom: 3em;
			height: 13rem;

			.wrapper {
				height: 100%;
			}

			&__title {
				font-size: 1.5rem;
				line-height: 1.45;
				margin-right: 0.5em;
			}

			&__bottom {
				flex-flow: wrap column;
				margin-top: auto;

				.Reviews__update {
					margin-top: 0.5em;
					padding-bottom: 1em;
				}
			}

			@media (min-width: $breakpoint-tablet) {

				&__title {
					font-size: 2rem;
					max-width: 50%;
					margin-bottom: 0;
				}
			}

			@media (min-width: $breakpoint-desktop-big) {

				&__bottom {
					flex-flow: wrap row;

					.Reviews__update {
						margin-top: auto;
					}
				}

				&::after {

					@include posZero();
					position: absolute;
					content: "";
					background: url(../../images/reviews_header_post_img.png?ver=#{$version}) calc(100% - 1em) top no-repeat;
					background-size: auto 100%;
				}
			}
		}

		@media (min-width: ($breakpoint-desktop-hd + 1px)) {
			border-radius: $border-radius-16;
		}
	}

	&__update {
		display: flex;
		align-items: center;
		line-height: 1;
		color: $dark-gray;
		font-size: 0.75rem;

		em {
			color: $black;
			font-style: normal;
			margin-left: 0.5em;
		}

		&.small {

			&::before {

				@include square(1em);
			}
		}

		&.fit {
			font-size: 1em;
			font-family: inherit;
			color: currentcolor;

			&::before {

				@include square(1em);
			}
		}

		&::before {

			@include square(1.5em);
			content: "";
			background: url(../../images/update_icon.svg) center center no-repeat;
			background-size: contain;
			margin-right: 0.5em;
		}
	}

	&__info {
		margin-bottom: 3em;

		&--title {
			font-size: 1.25rem;
		}

		&--details {
			font-size: 0.875rem;
		}

		.currency {
			font-size: 1.143em;
		}

		.price {
			font-size: 2.285em;
		}

		&--desc {

			@media (min-width: $breakpoint-tablet) {
				display: inline-block;
				width: 25%;
			}
		}
	}

	&__equalPlan {
		display: flex;
		align-items: center;
		background: linear-gradient(to right, #c04297, #ff4c6c, #ff7b6c);
		color: $white;
		font-family: $font-secondary;
		font-size: 0.875rem;
		font-weight: $font-weight-semi;
		line-height: 1.3;
		border-radius: 0.714em;
		width: fit-content;
		padding: 0.75em 1em;

		.alert-icon {

			@include square(2em);
			background: url(../../images/icon-alert.svg) no-repeat;
			margin-right: 0.5em;
		}

		a {
			display: block;
			color: currentcolor !important;
			text-decoration: underline;
		}
	}

	&__editor {
		background: url(../../images/reviews_editor_bg.jpg) center center no-repeat;
		background-size: cover;
		padding: 1.5em;

		&--top {
			margin-bottom: 3em;
		}

		@media (min-width: $breakpoint-tablet) {
			padding: 4em 0 3em;

			&--top {
				display: flex;
			}

			&--titles {
				margin-top: auto;
				width: 50%;

				.tag {
					text-transform: uppercase;
				}

				h3 {
					font-size: 2rem;
					margin-bottom: 0;
				}
			}

			.progressBar__wrapper + .progressBar__wrapper {
				margin-top: 0.75em;
			}

			.Reviews__rating {
				max-width: 18.375em;
				margin-left: auto;
			}
		}
	}

	.checklist {

		h3,
		h4 {
			color: inherit;
			font-style: italic;
		}

		&--pros {

			li::before {
				background-color: $desaturated-green !important;
				background-image: url(../../images/icon-post-pros.svg) !important;
			}
		}

		&--cons {

			li::before {

				background-color: $desaturated-red !important;
				background-image: url(../../images/icon-post-cons.svg) !important;
			}
		}
	}

	.col-50 {

		@media (min-width: $breakpoint-tablet-landscape) {
			width: 50%;
		}
	}
}
