/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../components/BlockStartups" as *;

.Startups {

	&__signin {

		strong {
			font-weight: $font-weight-semi;
			font-size: 1.125rem;
		}

		.elementor-icon-list-icon {
			min-width: 3em;

			i {
				font-size: 1rem !important;
			}
		}


		.SideRibbon__wrapper {
			top: -2em;
			overflow: hidden;
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			.wrapper {
				padding-top: 12em !important;
			}

			.SideRibbon__wrapper {
				left: -8.25em;
				top: -10em;
			}
		}

	}

	&__ideal {
		margin-top: 8em;

		[class*="wrapper"] {
			padding: 0;
			height: 85%;

			background-position: right center;
			background-size: 75% 100%;
		}

		&__image {
			margin-top: -6em;
			top: -1em;

			.elementor-widget-container {
				padding: 1em;
			}
		}

		.elementor-col-50[class]:last-of-type {
			padding-left: 2em;
			padding-right: 2em;

			.elementor-heading-title {
				font-size: 2.5rem;
				line-height: 1.375;
			}

			.tag {

				p {
					margin-bottom: 0;
				}
			}

			@media (min-width: $breakpoint-tablet) {
				padding-left: 4em;
				padding-right: 9em;
			}
		}
	}
}
