/* stylelint-disable selector-class-pattern, selector-id-pattern */
/* stylelint-disable no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "../shortcodes/IntroductionVideos";

.page-template-template-thank-you {

	@include color(background-color, main-background);

	.Header,
	.Newsletter,
	.Footer,
	.GoodHands {
		display: none;
	}

	#app {
		padding-top: 0;
	}


	#loader {
		width: 100%;
		padding: 3.125em 0;
		display: flex;
		flex-flow: wrap row;
		justify-content: center;
		align-items: center;

		.loaderIn {
			text-align: center;

			.opacity--low > *:not(.progress__done__overlay) {
				opacity: 0.2;
			}

			.BuildingApp {

				.progress__done__overlay {
					z-index: 999;
					position: absolute;
					top: 20%;
					left: 0;
					height: 100%;
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					opacity: 1;
				}
			}

			h2 {
				margin-top: 1.5625em;
				margin-bottom: 0.9375em;
			}
		}

	}


	[data-id="redirectButtonPanel"][style*="block"] + .mobileSignupFinal {

		@media (max-width: $breakpoint-tablet-landscape) {
			display: flex;
		}
	}

	[data-id="redirectButtonPanel"][style*="block"] {
		display: flex;
	}

	[data-id="redirectButtonPanel"],
	.redirectButtonPanel {
		flex-flow: wrap row;
		justify-content: center;
		align-items: center;

		.FinalButton {
			background: linear-gradient(90deg, $light-orange 0%, $dark-orange 100%);
			color: $white;
			display: inline-block;
			margin: 0;
			padding: 0 3.5625em 0 2.1875em;
			border: 0;
			border-radius: $border-radius-small;
			font-size: 0.875rem;
			line-height: 3.428;
			font-weight: $font-weight-bold;
			text-align: center;
			text-decoration: none;
			transition: all 0.3s;
			cursor: pointer;
			position: relative;
			overflow: hidden;

			&.disabled {
				opacity: 0.5;
				pointer-events: none;
			}

			&::after {
				content: url(/assets/images/arrow_right_white.svg);
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(-100%, -44%);
			}


			&:active,
			&:focus,
			&:hover {

				background: linear-gradient(90deg, $dark-orange 0%, $light-orange 100%) !important;
				color: $white;
				outline: 0;
				text-decoration: none;
			}

			@media (max-width: $breakpoint-mobile) {

				&::after {
					right: unset;
					transform: translate(70%, -44%);
				}
			}

			&__counter {
				margin-left: .5em;
			}
		}
	}

	[class*="--mobile"] {
		display: none !important;
	}

	@media (max-width: $breakpoint-tablet-landscape) {

		[class*="--desktop"] {
			display: none !important;
		}

		[class*="--mobile"] {
			display: block !important;
		}
	}

	.BuildingApp {
		display: flex;
		flex-flow: wrap column;
		justify-content: center;
		align-items: center;
		max-width: $wrapper-width;
		cursor: initial !important;

		&__progress {
			width: 100%;
			max-width: 55em;
			padding: 0 1.3125em;

			&__header {

				display: grid;
				grid-template-columns: 45px 1fr max-content;
				align-items: center;
				gap: 1em;
				margin-bottom: 0.75em;

				~ .BuildingApp__progress__wrap__text {
					padding-top: 0;
				}

				&.progress--done {
					position: fixed;
					width: 100%;
					top: 0;
					left: 0;
					padding: 1.3125em;
					z-index: 90;
					background-color: $white;
					margin-bottom: 0;
					box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);

					.BuildingApp__progress__header__action__wrapper {
						display: flex;
						width: 100%;
						grid-column: 1 / span 2;
						justify-content: center;
					}

					~ .BuildingApp__progress__wrap__text {
						padding-top: 7.5em;
					}
				}

				&__logo {
					display: block;
					width: 2.25em;
					height: auto;
				}

				&__title {
					display: block;
					text-align: left;
					font-size: 1.125rem;
					margin-bottom: 0;
				}

				&__percentage {
					font-family: $font-third;
					font-size: $font-size-h2;
					font-style: normal;
					justify-self: flex-end;

				}

				[data-id="redirectButtonPanel"] {
					width: 100%;

					a {
						width: 100%;
					}
				}

				.progress__bar__container {
					position: relative;
					width: 100%;
					height: 0.625em;
					grid-column: 1/span 3;

					background-color: $medium-orange;
					border-radius: $border-radius-small;

					.progress__bar {
						position: absolute;
						top: 0;
						left: 0;
						height: 0.625em;


						background: linear-gradient(90deg, $light-orange 0%, $dark-orange 100%);
						width: 0;
						transition: width 0.5s;
						border-radius: $border-radius-small;
					}

					.progress__ball {
						position: absolute;
						top: 50%;
						left: 0;
						transform: translate(-5px, -50%);

						@include square( 0.875em );
						border-radius: 50%;
						background-color: $white;
						transition: left 0.5s;
						z-index: 99;
						border: 2px solid $dark-orange;
					}
				}

				@media (min-width: $breakpoint-tablet-small) {

					.progress__bar__container {
						grid-column: 1/span 3;
					}

					&.progress--done {
						grid-template-columns: 50px 1fr max-content;
						position: relative;
						width: 100%;
						padding: 0;
						background-color: unset;
						box-shadow: none;

						.BuildingApp__progress__header__action__wrapper {
							display: unset;
							width: 100%;
							grid-column: unset;
						}

						~ .BuildingApp__progress__wrap__text {
							padding-top: 0;
						}

					}

				}

				@media (min-width: $breakpoint-tablet) {

					&__title {
						font-size: 1.5rem;
					}

					&__logo {
						width: 3em;
					}
				}
			}

			&__wrap__text {
				padding-top: 7.5em;
				margin: 2em 0;
				font-size: 0.875rem;
			}

		}

	}


	.ApplicationReady {

		.BuildingApp__subtitle,
		.BuildingApp__text,
		.BuildingApp__title.BuildingApp--mobile {
			display: none !important;
		}

		.BuildingApp__title.BuildingApp--desktop {
			display: block !important;
		}

		[data-id="redirectButtonPanel"] {
			margin-top: 4.0625em;
		}

		&--spam {

			.BuildingApp__text.BuildingApp--desktop {
				display: block !important;
			}
		}
	}

	@media (max-width: $breakpoint-tablet-landscape) {

		.ApplicationReady.ApplicationReady.ApplicationReady {

			.BuildingApp {

				.BuildingApp__text.BuildingApp--desktop {
					display: block !important;
				}
			}
		}
	}

}
