/* stylelint-disable selector-class-pattern, selector-id-pattern */
/* stylelint-disable no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.page-template-template-trialredesign,
.page-template-template-trial-redesign,
.page-template-template-redeem-code {

	@include color(background-color, main-background);

	@media (min-width: $breakpoint-tablet-landscape) {

		@include color(background-color, secondary-background);
	}

	.Header,
	.Newsletter,
	.Footer {
		display: none;
	}

	#app {
		padding-top: 0;
	}

	[data-id="createButtonmain"][disabled] + .WorkingPanel {
		top: -5px;
	}
}

.Trial {
	$width-left: 45em;
	$width-left-sm: 34em;
	$bg-radius: 1.25em;
	display: block;


	@media (min-width: $breakpoint-tablet-landscape) {
		display: flex;
	}

	&__logo__top {
		position: relative;
		display: block;
		z-index: 2;
		margin: 0;

		img {
			height: 2em;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			position: absolute;
			top: 1.875em;
			left: 1.875em;
		}

		@media (max-width: ($breakpoint-tablet-landscape - 1)) {
			padding: $wrapper-padding;
		}
	}

	.heroBanner__awards {
		position: absolute;
		z-index: 10;
		top: 0;
		right: 1em;

		&__wrapper {
			position: static;
			width: 8em;
			height: 24em;
			padding-top: 1.5em;

			.heroBanner__awards__img {
				// width: 67%;
			}
		}
	}

	&__container {
		width: 100%;
		padding: 0;
		margin: 0 auto;
		border-radius: $border-radius-16;

		* {
			font-family: $font-secondary;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			display: flex;
			padding: 2em 0;
		}

		@media (max-height: 63rem) and (min-width: $breakpoint-tablet-landscape) {
			position: relative;
			min-height: 100vh;
			padding-top: 4em;
		}
	}

	&__sidebar {
		display: none;

		&::before {

			@include posCustom(0, 0, 0, 0);
			content: "";
			position: absolute;
			z-index: 1;
			display: block;
			width: $width-left-sm;
			background: url(../../images/trial_sidebar_bg.png) 63% center no-repeat;
		}

		&__inner {
			position: relative;
			z-index: 5;
			width: 100%;
		}

		&__content {
			position: absolute;
			z-index: 5;
			top: 0;
			right: 6%;
			width: 53%;

			ul:not([class]) {
				margin-bottom: 0;

				li {
					font-size: 0.875rem;
				}
			}
		}

		&__title {
			font-weight: $font-weight-semi;
			font-size: 1.2em;
			line-height: 1.3;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			display: flex;
			width: $width-left-sm;
		}

		@media (min-width: $breakpoint-desktop-box) {
			width: $width-left;

			&::before {
				width: $width-left;
				background-position: left center;
			}

			&__content {
				right: 5%;
				width: 46%;


				ul:not([class]) li {
					font-size: 1rem;
				}
			}

			&__title {
				font-size: 1.5em;
			}
		}
	}

	&__main {
		display: flex;
		justify-content: center;

		&__inner {
			position: relative;
			z-index: 5;
			width: 100%;
			max-width: 35em;
			padding: 0 $wrapper-padding;
		}

		&__title {
			font-size: 1.5em;
			line-height: 1.2;
			margin: 0 0 0.25em 0;
			text-align: center;
		}

		&__text {
			margin-bottom: 0;
			font-size: 0.875rem;
			font-family: $font-primary;
			text-align: center;
		}

		.Signup__form {
			all: unset;

			&__title {
				display: none;
			}

			&__labels {
				margin: 0.8em -0.5em;

				&__label {
					margin: 0.5em;

					&:first-of-type {
						background-color: #efe6f8;
					}

					&:last-of-type {
						background-color: #e3f2ff;
					}
				}

				&:not(.Trial__labels) {
					display: none;
				}
			}

			&__item {
				margin-bottom: 1.25em;

				&#promoFieldmain {
					text-align: left;
					padding: 0;
					margin-top: 1.5em;
					margin-bottom: 2em;

					p {

						@include color(color, font-color-normal);
					}
				}

				&::before {
					line-height: 1;
					top: 2em !important;
					transform: translateY(-50%);
				}

				&__domain {
					display: flex;
					align-items: center;
					line-height: 1;
					height: calc(100% - 2px);
					font-family: $font-primary;
					font-weight: $font-weight-semi;
				}

				.ErrorMessage {
					line-height: 1.3;
				}
			}

			input {
				height: 4.25em;
			}

			.FilterMenu {

				&__title {
					height: 4.25em;
				}
			}

			[data-id="promoFieldmain"] {
				position: relative;
				display: flex;
				justify-content: center;
				padding: 0;
				margin: 2em -0.8em;

				label {

					@include color(background-color, main-background);
					position: relative;
					display: block;
					padding: 0 0.8em;
					margin: 0 !important;
				}

				&::before {

					@include color(background-color, border-color-inputs);
					position: absolute;
					top: 52% !important;
					left: 0.8em;
					right: 0.8em;
					content: "";
					display: block;
					width: initial;
					height: 1px;
				}
			}

			.Button {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 4em;
				margin-bottom: 1em;
				font-size: 1rem;
			}

			&__terms {
				width: 100%;

				p {
					font-size: 0.75rem;
					font-family: $font-primary;
					text-align: center;
				}
			}
		}

		&__logos {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 3em -0.8em 0 -0.8em;
		}

		&__logo a {
			display: block;
			padding: 0.8em;

			img {
				max-width: 100%;
				max-height: 3.5em;
			}
		}

		@media (min-width: $breakpoint-mobile) {

			&__logos {
				flex-direction: initial;
				justify-content: space-between;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			width: calc(100% - #{$width-left-sm});

			&::before {

				@include posCustom(0);
				@include color(background-color, main-background);
				content: "";
				position: absolute;
				z-index: 1;
				left: $width-left-sm;
				display: block;
				border-bottom-left-radius: $bg-radius;
				border-top-left-radius: $bg-radius;
				box-shadow: 0 0.25em 2.5em 0 rgba(0, 0, 0, 0.08), 0.25em 0 0.1875em 0 $white inset;
			}
		}

		@media (min-width: $breakpoint-desktop-box) {
			width: calc(100% - #{$width-left});

			&::before {

				@include posCustom(0, 0, 0, $width-left);
			}

			&__title {
				font-size: 2.375em;
			}

			&__text {
				font-size: 1rem;
			}
		}

		@media (max-width: ($breakpoint-tablet-landscape - 1)) {

			padding-top: 3em;
			padding-bottom: 3em;
		}
	}
}


.rtl {

	.Trial {

		&__sidebar__content {
			left: 5%;
		}
	}
}
