//stylelint-disable selector-class-pattern

@use "sass:math";
@use "../common/variables" as *;
@use "../common/mixins" as *;

.Awards {

	&__container {
		position: relative;
		padding-top: 0 !important;

		&--year {
			color: $black;
			font-size: 2.5rem;
			line-height: 1;
			text-align: center;
			margin: 0.5em 0;


			@media (min-width: $breakpoint-desktop-box) {
				margin: 2em 0;
			}

		}
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2em;

		@media (min-width: $breakpoint-tablet) {
			grid-template-columns: repeat(2, 1fr);

		}

		@media (min-width: $breakpoint-tablet-landscape) {
			grid-template-columns: repeat(3, 1fr);
		}

	}

	&__item {
		max-width: 100%;
		width: 100%;
		opacity: 1;
		transition: opacity 0.5s;

		&.inactive {
			opacity: 0;
		}

		a {
			display: block;
			text-decoration: none;
		}

		article {
			margin: 0;
			display: flex;
			flex-direction: column;
			height: 100%;
			cursor: pointer;
		}

		&--thumbnail {
			position: relative;
			z-index: 1;

			img {
				width: 100%;
				max-width: 100%;
				height: 100% !important;
			}
		}

		&--text {

			background-color: $white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 12em;
			padding: 2em !important;
			margin-top: -3em;
			height: 100%;
			border-radius: $border-radius-16;
			box-shadow: 0 0.25em 4em 0 rgba($black-real, 0.08);
			text-align: center;
			transition-duration: 0.2s;

			p {
				color: $dark-gray;
			}

			&:hover {
				background-color: $medium-orange;

				a {
					color: $primary;
					text-decoration: none !important;
				}
			}

			h3 {

				@media (min-width: $breakpoint-iphone-old) {
					font-size: 1.5rem;
					line-height: 1.2;
				}
			}
		}

		@media (min-width: $breakpoint-tablet) {

			&--text {
				min-height: 11.875em;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&--text {
				padding: 2.625em !important;
			}
		}

		@media (min-width: $breakpoint-desktop) {

			&--thumbnail {
				min-height: 12.8125em;
			}
		}
	}

	&__items__loading {
		text-align: center;
		font-size: 1.5rem;


		line-height: 1.5;
		font-weight: $font-weight-semi;
		margin-bottom: 1em;

		span {
			$animationTime: 1.5s;

			display: inline-block;
			font-size: 1.5em;
			margin-left: 0.05em;
			animation: chatDots 1.5s linear infinite;

			&:nth-child(2) {
				animation-delay: math.div($animationTime, 6);
			}

			&:nth-child(3) {
				animation-delay: math.div($animationTime, 3);
			}
		}
	}
}
