/* stylelint-disable selector-class-pattern,
no-descending-specificity, value-keyword-case */

@use "sass:math";
@use "../common/variables" as *;
@use "../common/mixins" as *;

.Blog {

	&__searchResults {

		.Blog__container {

			margin-top: -3em;

			@media (min-width: $breakpoint-desktop-box) {

				margin-top: -5em;
			}
		}
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 3.45em;

		.Blog__item {
			opacity: 1;
			transition: opacity 0.2s;

			&.inactive {
				opacity: 0;
			}
		}

		&__loading {
			text-align: center;
			font-size: 1.5rem;
			line-height: 1.5;
			font-weight: $font-weight-semi;
			margin-bottom: 1em;

			span {
				$animationTime: 1.5s;

				display: inline-block;
				font-size: 1.5em;
				margin-left: 0.05em;
				animation: chatDots 1.5s linear infinite;

				&:nth-child(2) {
					animation-delay: math.div($animationTime, 6);
				}

				&:nth-child(3) {
					animation-delay: math.div($animationTime, 3);
				}
			}
		}

	}

	@media (min-width: $breakpoint-tablet) {

		.Blog__items {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {

		.Blog__items {
			grid-template-columns: repeat(3, 1fr);
			gap: 2.625em;
		}
	}

	&__item {

		background-color: $white;
		box-shadow: 0;
		border-radius: $border-radius-16;
		overflow: hidden;
		transition: all 0.2s;

		@media (min-width: $breakpoint-desktop) {

			&:hover {
				box-shadow: 0 0.25em 4em 0 rgba($black-real, 0.16);

				.Blog__item__title,
				.learn-more {

					color: $dark-orange;
				}
			}
		}

		a {
			text-decoration: none !important;
		}

		&__tag-top.post__tag-star {

			position: absolute;
			top: 1em;
			left: 1em;
		}

		&__label {
			position: absolute;
			top: 4em;
			left: 1.5em;

			&__title {
				color: $black;
				font-size: $font-size-default;
				font-weight: $font-weight-bold;
			}

			&__text {
				color: $black;
				font-size: $font-size-smaller;
			}
		}

		&__thumbnail {
			display: block;
			height: 10em;
			position: relative;

			.Blog__item__label {
				top: 1.25em;
				left: 1.875em;
			}

			img {

				@include square(100%);
				object-fit: cover;

				&[src*=".svg"] {
					object-position: 25% center;
				}
			}
		}

		&__meta {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			font-size: 0.75rem;
			margin-bottom: 2.5em;

			&__categories {
				margin-right: auto;

				span span,
				.Blog__item__meta__category {

					background-color: $medium-orange;
					color: $black;
					display: inline-block;
					font-size: 0.75rem;
					font-weight: $font-weight-semi;
					border-radius: 1.5em;
					padding: 0.25em 1.16em;
					margin-bottom: 0.5em;

					+ span,
					+ .Blog__item__meta__category {
						margin-left: 0.15em;
					}
				}
			}

			&__date {

				color: $light-gray-icon;
				display: flex;
				align-items: center;
				margin-bottom: 0.5em;

				svg {

					@include square(1em);
					position: relative;
					fill: currentColor;
					margin-right: 0.25em;
					top: -1px;
				}
			}
		}

		&__content {
			padding: 1.625em 1.5em;

			p {
				font-size: 0.875rem;
			}

			.learn-more {
				display: flex;
				align-items: center;
				margin-top: 1.5em;

				svg {
					margin-left: 0.5em;
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {
				padding: 1.625em 2.5em;
			}
		}
	}

	.Pagination {
		margin: 2em auto;

		@media (min-width: $breakpoint-tablet) {
			margin: 3em auto 5em;
		}
	}
}
