/* stylelint-disable selector-class-pattern,
no-descending-specificity, value-keyword-case */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@forward "../components/BlogPostHeader";

.BlogPost {

	&__thumbnail {
		margin: 0;
		overflow: hidden;
		border-radius: $border-radius-16;
		width: 100%;
		height: 10em;
		margin-bottom: 1.5em;

		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			width: 50%;
			height: 15em;
			margin-right: 2em;
			margin-bottom: 0;
			flex: 0 0 auto;
		}

		@media (min-width: $breakpoint-desktop) {
			width: 37.5em;
			height: 21em;
			margin-right: 4.2em;
			flex: 0 0 auto;
		}
	}

	&__category {
		text-transform: uppercase;
		margin-bottom: 1em;

		a {

			@include color(color, font-color-dark);
			display: inline;
			font-size: 0.75rem;
			line-height: 2;
			letter-spacing: 0.2em;
			font-weight: $font-weight-bold;
			text-decoration: none !important;

			+ a {

				&::before {
					display: inline;
					content: ", ";
				}
			}
		}

		@media (min-width: $breakpoint-tablet) {
			margin-bottom: 1.75em;
		}
	}

	h1.BlogPost__title {
		font-size: 1.5rem;
		line-height: 1.25;
		margin-bottom: 0.85em;

		@media (min-width: $breakpoint-tablet) {
			font-size: 2.25rem;
		}
	}

	&__author {

		@include color(color, font-color-level3);
		display: flex;
		flex-direction: column;

		&-box {

			background-color: $ultralightest-gray;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			align-items: center;
			max-width: 670px;
			margin: 0 auto 40px;
			border: 1px solid $lightest-gray;
			border-radius: 30px;
			overflow: hidden;

			&__avatar {

				img {
					width: 100%;
					object-fit: cover;
					object-position: top;
					max-height: 300px;
				}
			}

			&__content {
				padding: 1.5em;
				display: flex;
				flex-direction: column;
				gap: 0.9em;

				&__name {

					color: $black;
					font-size: 1.2rem;
					font-weight: $font-weight-bold;
					margin-bottom: 0;
				}

				&__position {

					color: $black;
					font-size: 0.75rem;
				}

				&__description {
					color: $black;
					font-size: 0.75rem;
					line-height: 1.7;
					overflow: hidden;
					margin-bottom: 0;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					max-height: 7em;
				}

				&__social {
					display: flex;
					flex-flow: wrap row;
					justify-content: flex-start;
					margin-left: -0.3125em;

					a {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 1.875em;
						height: 1.875em;
						margin: 0 0.3125em;
						background-color: $dark-gray;
						border-radius: 50%;
						color: $white !important;
						font-size: 0.875rem;
						line-height: 2;
						transition: all 0.3s ease;

						&:active,
						&:focus,
						&:hover {
							background-color: #000;
						}

						&::after {
							display: none !important;
						}
					}
				}
			}

			&__archive--button {
				font-size: 0.875rem;
				line-height: 1;
				width: fit-content;
			}

			@media (min-width: $breakpoint-tablet) {
				grid-template-columns: 0.6fr 1fr;

				&__avatar {
					display: block;
				}

				&__content {
					padding: 0.9375em 2.5em;
				}
			}
		}

		&__avatar {
			margin: 0.5em 0;

			img {
				width: 1.625rem;
				height: auto;
				border-radius: 50%;
				margin-right: 0.625em;
			}
		}

		&__name {

			font-size: 0.875rem;
			line-height: 1;
			font-weight: $font-weight-bold;
			margin-bottom: 0;
		}

		&__position {

			font-size: 0.75rem;
			line-height: 1;
			margin: 1em 0;
		}

		@media (min-width: $breakpoint-tablet) {
			align-items: center;
			flex-direction: row;

			&__avatar {
				margin: 0;
			}

			&__position {
				border-left: 1px solid currentColor;
				padding-left: 1.5em;
				margin: 0;
				margin-left: 1.5em;
			}
		}
	}

	&__co-author {

		@include color(background-color, light-background);
		display: flex;
		flex-flow: nowrap row;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0;
		border: 1px solid $lightest-gray;
		border-radius: 30px;
		overflow: hidden;

		&__image {
			width: 13.5em;
			flex-shrink: 0;
			align-self: stretch;

			picture,
			img {

				@include square(100%, !important);
				object-fit: cover;
				max-width: auto;
			}
		}

		&__content {

			&__title {

				@include color(color, font-color-dark);
				font-size: 11px;
				font-weight: $font-weight-bold;
				margin-bottom: 0 !important;
			}

			&__name {

				@include color(color, font-color-dark);
				font-size: 14px;
				font-weight: $font-weight-bold;
				margin-bottom: 10px !important;

				&:empty {
					display: none;
				}
			}

			&__description {

				@include color(color, font-color-dark, !important);
				font-size: 12px;
				line-height: 20px;
				margin-bottom: 0 !important;
				max-height: 98px;
				overflow: hidden;
			}
		}
	}

	&__content {

		.Content {

			> p:first-of-type::first-letter {
				font-size: 100px;
				line-height: 75px;
				font-weight: $font-weight-bold;
				float: left;
				margin-right: 10px;
			}
		}
	}
}
