/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.ComparePlans {
	$padding: 0.5em 0.75em;

	&.elementor-section[class] {
		padding: 0 0.5em !important;
	}

	.wrapper__wide {
		padding: 0;
	}

	[data-expand="collapsed"] {

		.elementor-widget-wrap {

			.elementor-element {

				.elementor-posts-container {
					height: 815px;
					overflow: hidden;

					&::after {
						content: "";
						display: block;
						width: 100%;
						height: 100%;
						background: linear-gradient(0deg, #fff 0%, #fff0 100%);
						position: absolute;
						top: 0;
						left: 0;
					}
				}

				.ExpandButton {
					margin-top: -100px;
				}
			}
		}

	}


	&__sectionTitle.elementor-section {
		margin-top: 4em !important;
		margin-bottom: 2em !important;
		padding: 0 0.5em !important;
		text-align: center;
	}

	&__fake__section {
		background-color: $white;
		height: 31px;
		width: 100%;
		margin: 0;
	}

	&__header {
		position: sticky;
		top: $header-height;
		background-color: $white;
		z-index: 20;

		&.is-sticky {

			&::after {
				position: absolute;
				left: 50%;
				bottom: 0;
				content: "";
				width: 100vw;
				box-shadow: 0 3px 3px rgba($black, 0.12);
				height: 1px;
				transform: translateX(-50%);
			}

			.Pricing__program[class] {

				.elementor-widget-image {
					max-height: 0;
					opacity: 0;
				}
			}
		}

		&--switchers {
			display: none;
		}

		.Pricing__program[class] {
			width: 25%;
			padding: 3.6em 0.5em 1em !important;
			margin-bottom: 0;
			border: none;
			border-radius: 0;


			@media (min-width: $breakpoint-mobile) {
				padding: 3.6em 1.25em 1.875em !important;
			}

			.elementor-widget-heading {
				text-align: center;

				h3 {
					margin-bottom: 0;
					font-size: 1.125rem;

					@media (min-width: $breakpoint-mobile) {
						margin-bottom: 0.5em;
						font-size: 1.25rem;
					}
				}

			}

			.enterprise & {
				width: 50%;
			}

			.elementor-widget-image {
				opacity: 1;
				max-height: 2.375em;
				transition: 0.5s all ease-out;
				overflow: hidden;
			}

			.elementor-heading-title {
				font-size: 1rem;
				margin-bottom: 0;

				small {
					font-size: 0.7em;
				}
			}

			.Pricing__price {
				display: none;
				margin: 0.15em 0 0.5em;
				font-size: 1.125rem;

				sup,
				small {
					font-weight: $font-weight-normal;
				}

				sup {
					top: 0.1em;
					font-size: 0.65em;
					margin-right: 0;
				}

				small {
					font-size: 0.83em;
				}
			}

			.Button {
				display: none;
			}

			.LabelTag.popular {
				top: 0 ;
				padding: 0.45em 0.5em;

				p {
					text-align: center;
					font-size: 0.9em;
				}
			}
		}

		@media (max-width: $breakpoint-desktop) {

			.switcher__simple {

				.switcher__switch {
					transform: scale(0.75);
					margin: 0 0.25em;
				}

				label {
					font-size: 0.75em;
				}
			}

			.Pricing__program[class] {
				padding: 1em;

				.elementor-widget-wrap {
					flex-direction: column;
				}

				.elementor-heading-title {

					small {
						display: block;
					}
				}

				.Button {
					margin-top: auto;
				}
			}
		}

		@media (min-width: $breakpoint-tablet) {

			.Pricing__program[class] {

				.elementor-heading-title {
					font-size: 1.25rem;
					margin-bottom: 0.625em;
				}

				.Button {
					display: flex;
					padding: 0 1em;
					height: 2.85em;
				}
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&--switchers {

				&[class] {
					display: flex;
					width: 26%;
					align-items: flex-end;
					padding-bottom: 2em;

					.enterprise & {
						width: 30%;
					}

					label {
						font-size: 0.875rem;
					}
				}
			}

			.Pricing__program[class] {
				width: 18.5%;

				.enterprise & {
					width: 35%;
				}

				.Pricing__price {
					display: block;
				}
			}

		}
	}

	.elementor-post {
		overflow: visible;
		margin-bottom: 10px !important;

		.wp-block-table {
			display: grid;
			grid-template-rows: 1fr;
			transition: grid-template-rows 0.2s ease-in-out,
			opacity 0.2s ease-in-out,
			max-height 0.2s ease-in-out;
			opacity: 1;
			visibility: visible;
			max-height: 4000px;
			overflow: visible;

		}

		&:has(.elementor-post__title.inactive) {

			.wp-block-table {
				grid-template-rows: 0fr;
				opacity: 0;
				transition: grid-template-rows 0.25s ease-in-out,
				opacity 0.25s ease-in-out, max-height 0.2s ease-in-out;
				z-index: -10;
				max-height: 0;
				visibility: hidden;
			}

		}


		.wp-block-table > * {
			min-height: 0;
		}


		&__title {
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: $font-weight-bold;
			color: $black;
			background-color: $lighter-gray;
			padding: $padding;
			margin-bottom: 10px;
			cursor: pointer;
			border-radius: $border-radius;

			@media (min-width: $breakpoint-mobile) {
				justify-content: unset;
			}

			&::after {
				content: "";

				@include square(0.75em);
				display: inline-block;
				transform: rotate(-90deg) scaleX(1);
				transition: all ease-in-out 0.25s;
				margin-left: 1em;
				background: url(../../images/icon-arrow.svg) center center no-repeat;
				background-size: contain;

				@media (min-width: $breakpoint-mobile) {
					margin-left: auto;
				}
			}

			a {
				color: currentcolor;
				pointer-events: none;
				text-decoration: none;
			}

			&.inactive {

				&::after {
					transform: rotate(90deg) scaleX(1);
					transition: all ease-in-out 0.25s;
				}
			}

		}
	}

	.Pricing__program.popular {
		margin-top: 0;
		border-left: 1px solid $saturated-blue;
		border-right: 1px solid $saturated-blue;
		border-color: $saturated-blue !important;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
	}

	&.enterprise table {

		td {

			&:not(:first-of-type) {
				display: none;
			}

			&:nth-of-type(4),
			&:last-of-type {
				display: table-cell;
			}

			@media (min-width: $breakpoint-tablet-landscape) {
				width: 35%;

				&:first-of-type {
					width: 30%;
				}
			}
		}

	}

	figure {
		border-radius: 0 0 12px 12px;
	}

	table.compare-price {

		td {
			font-weight: 600;

			&:first-child {
				font-weight: 400;
			}

			.price:has(.price--sale) {

				.price--basic {
					text-decoration: line-through;
					font-weight: 400;
				}

			}

			.price {
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 0.425em;

				.price--basic {
					font-weight: 600;
				}

				&--sale {
					color: $saturated-red;
					font-weight: 600;
				}
			}
		}
	}

	table {
		width: 100%;
		table-layout: fixed;
		border: none;


		tr {
			border-bottom: 1px dotted $light-gray;
			transition: background-color 0.1s ease-in-out;

			&:last-child {
				border-bottom: 0;
			}

			&:hover {
				background-color: $lightest-gray;
			}
		}

		td {

			padding: $padding;

			border-right: 1px solid;
			border-color: $light-gray;

			@media (min-width: $breakpoint-tablet-landscape) {
				border-right: none;
			}

			&:first-of-type,
			&:last-of-type {
				border-right: none ;
			}

			&:not(:first-of-type) {
				text-align: center;
				font-size: 16px;
			}

			&:nth-child(3),
			&:nth-child(4) {
				border-right: 1px solid $saturated-blue !important;

			}


			&.popular-border-bottom {
				border-bottom: 1px solid $saturated-blue;
			}


			&:nth-child(5) {
				display: none;
			}

			&[class^="icn-"] {
				color: transparent;

				svg {

					@include square(1.125em);
					margin-left: 0.75ch;

					&.icon-check-narrow {
						fill: $dark-orange;
					}
				}
			}

			.Tooltip {

				.icon {

					margin-left: 0.25em;
					fill: $light-gray-icon;
				}

				&__text {
					left: -50%;
					z-index: 10;
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {
				width: 18.5%;

				&:first-of-type {
					width: 26%;
				}
			}
		}

		@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
			display: block;

			tbody {
				display: block;
			}

			tr {
				display: flex;
				flex-wrap: wrap;
			}

			td {
				display: flex;
				width: 25%;
				background-color: $white;
				justify-content: center;
				align-items: center;

				.enterprise & {
					width: 50%;
				}

				&:first-of-type {
					width: 100%;
					background-color: $lightest-gray;
				}
			}
		}
	}

	.Button[data-expand="false"] {
		display: flex;
		justify-self: center;
		margin: 0 auto;
		width: fit-content;
	}
}
