/* stylelint-disable selector-class-pattern */

body.free-live-chat-software,
body.free-call-center-software,
body.free-ticketing-software,
body.free-help-desk-software {

	.Signup__form {
		max-width: 440px;
	}
}

.Nununun.Nununun.Nununun {
	margin-bottom: 15px !important;

	img {
		margin: 0 !important;
		padding: 0 !important;
		width: 40px !important;
		max-width: 40px !important;
	}

	h3 {
		margin-bottom: 0 !important;
	}
}
