/* stylelint-disable selector-class-pattern, no-descending-specificity */

@mixin footerGrid() {
	$h-gutter: 20px;

	&__row {
		position: relative;
		width: initial;
		display: flex;
		flex-flow: wrap row;
		justify-content: center;
		margin-left: (-$h-gutter / 2);
		margin-right: (-$h-gutter / 2);

		> * {
			position: relative;
			padding-left: ($h-gutter / 2);
			padding-right: ($h-gutter / 2);
		}
	}
}

.Footer {

	@include color(color, content-color-light);
	@include color(background-color, invert-main-background);

	padding-top: 110px;
	padding-bottom: 20px;

	@media (max-width: $breakpoint-mobile) {
		padding-top: 60px;
	}
}

/* ------------------------------- FOOTER TOP ------------------------------- */
.Footer__top {

	@include footerGrid();
	padding-bottom: 40px;

	.wrapper {
		align-items: flex-start;
	}

	&__column {
		width: 20%;
		padding-bottom: 40px;

		&__title {
			display: flex;
			flex-flow: wrap row;
			align-items: center;
			height: 30px;

			@include color(color, content-color-light);

			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
			}

			&--image {
				font-size: 0 !important;
			}
		}

		a:not(.Button) {

			@include color(color, content-color-light);

			&:active,
			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}

		ul {
			font-size: 14px;
			margin-bottom: 0;
		}
	}

	&__cta {

		&:not(:first-child) {
			margin-top: 8px;
		}

		.Button {
			width: 170px;
			height: 44px;
			padding: 0 5px;
		}
	}

	@media (max-width: $breakpoint-desktop) {
		padding: 0;

		&__column {
			display: flex;
			flex-flow: wrap column;
			align-items: center;
			text-align: center;
			width: 33.33%;

			&__title {
				justify-content: center;
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {

		&__column {
			width: 50%;
		}
	}

	@media (max-width: $breakpoint-mobile) {

		padding-bottom: 20px;

		&__column {
			width: 100%;
			padding-bottom: 40px;
		}
	}
}

/* ------------------------------ FOOTER MIDDLE ----------------------------- */
.Footer__middle {

	padding-bottom: 20px;

	@include footerGrid();

	.wrapper {
		align-items: initial;
	}

	ul {
		display: flex;
		flex-flow: wrap row;
		margin-bottom: 0;
	}

	p {

		@include color(color, font-color-light);
		margin-bottom: 0;
		font-family: $font-secondary;
		font-size: $font-size-smaller;
		line-height: $line-height-smaller;
	}

	a {

		@include color(color, font-color-light);
		transition: opacity 0.5s;

		&:active,
		&:focus,
		&:hover {
			opacity: 0.75;
		}
	}

	&__contacts,
	&__social,
	&__newsletter {
		padding-bottom: 40px;
	}

	&__title {

		@include color(color, font-color-light);
	}

	&__contacts {
		width: 20%;

		ul {
			flex-direction: column;

			li {

				@include color(color, font-color-light);
				font-family: $font-secondary;
				font-size: $font-size-smaller;
				line-height: $line-height-smaller;
				font-weight: $font-weight-semi;
			}
		}

		a {

			&::before {
				content: "\e828";
				font-family: fontello, sans-serif;
				font-weight: 900;
				display: inline-block;
				margin-right: 10px;
			}
		}

		ul &__phone a::before {
			content: "\e828";
			transform: rotate(90deg);
		}

		ul &__calendar a::before {
			content: "\e813";
		}
	}

	&__social {
		width: 40%;

		ul {
			margin-left: -10px;
			margin-right: -10px;

			li {
				padding-left: 10px;
				padding-right: 10px;
				font-size: 24px;

			}
		}
	}

	&__newsletter {
		width: 40%;

		&__text {
			margin-top: 8px;
		}
	}

	@media (max-width: $breakpoint-desktop) {

		.wrapper {
			flex-flow: wrap column;
		}

		&__title {
			text-align: center;
		}

		&__contacts,
		&__social,
		&__newsletter {
			width: 100%;
			display: flex;
			flex-flow: wrap column;
			align-items: center;
		}
	}

	@media (max-width: $breakpoint-tablet) {

		&__contacts {

			li {
				width: 100%;
				text-align: center;
			}
		}
	}

	@media (max-width: $breakpoint-mobile) {

		&__contacts,
		&__social,
		&__newsletter {
			width: 100%;
		}

		&__contacts {

			ul {
				flex-flow: wrap column;
				align-items: center;

				li {
					margin: 5px 0 !important;
				}
			}
		}

		&__newsletter {

			&__text {
				text-align: center;
			}
		}
	}
}

/* ------------------------------ FOOTER BOTTOM ----------------------------- */
.Footer__bottom {

	@include footerGrid();

	ul {
		display: flex;
		flex-flow: wrap row;
	}

	p,
	ul {

		@include color(color, font-color-normal);
		font-size: $font-size-smaller;
		line-height: $line-height-smaller;
		margin-bottom: 0;
	}

	a {

		@include color(color, font-color-normal);

		&:active,
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}

	&__row {
		justify-content: space-between;
	}

	&__navigation {

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: -2px -10px;

			li {
				padding: 2px 10px;
			}
		}
	}

	@media (max-width: $breakpoint-desktop) {

		&__row {
			flex-flow: nowrap column;
			align-items: center;

			> *:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		&__copyright {
			text-align: center;
		}
	}
}

.Footer__bottom__flags {
	max-width: 140px;
	margin-left: 20px;

	.wpml-ls {
		display: flex;
		flex-flow: wrap row;
		justify-content: flex-end;
	}

	.wpml-ls-item-toggle {
		border: 0;
		text-decoration: none !important;

		&::after {
			border: 0.35em solid transparent !important;
			border-bottom: 0.5em solid !important;
			top: calc(50% - 0.56em) !important;
		}
	}

	.wpml-ls-sub-menu {
		border: 0;
		top: -311px;
		min-width: 130px;

		.wpml-ls-item {
			position: relative;

			a {
				border: 0;
				text-decoration: none !important;
			}
		}
	}

	.wpml-ls-legacy-dropdown-click {

		a {
			border-radius: 8px;
			margin-bottom: 3px;
		}
	}
}

body.facebook,
body.liveagent-huawei,
body.single-ms_glossary,
body.post-type-archive-ms_glossary,
body.single-format-standard,
body.category-blog,
body.single-ms_academy,
body.post-type-archive-ms_academy,
body.single-ms_templates,
body.post-type-archive-ms_templates,
body.typing-test,
body.tipptest,
body.prueba-de-tipeo,
body.test-de-saisie,
body.test-di-digitazione,
body.teste-de-digitacao,
body.typetest,
body.gepelesi-teszt,
body.test-pisania,
body.test-na-umenie-nabirat-tekst,
body.dazi-ceshi,
body.post-type-archive-ms_directory,
body.single-ms_directory,
body.shopify-chat-software {

	.Footer__middle {
		display: none !important;
	}

	.Footer__top {
		padding: 60px 0 15px;
	}
}
