/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

#app {
	padding-top: $header-height;
}

.Header {

	@include color(background-color, header-background);
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: $header-height;
	padding: 15px 0;

	.wrapper {
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		align-items: center;
	}
}

.admin-bar {

	.Header {
		top: 32px;
	}
}

.Header__logo {
	display: flex;

	a {
		display: block;
		width: 100%;
		height: 100%;
		padding: 15px 15px 15px 0;

		img {
			display: block;
			max-width: 130px;
			height: 30px;
		}
	}
}

.Header__items {
	display: flex;
	flex-flow: wrap row;
	justify-content: flex-end;
	align-items: center;

	@media (max-width: $breakpoint-desktop) {
		flex-flow: wrap row-reverse;
	}
}

.Header__navigation {
	display: none;

	@media (max-width: ($breakpoint-tablet-landscape - 1px)) {

		&.active {

			@include color(background-color, main-background);
			display: block;
			position: absolute;
			border-top-width: 1px;
			border-top-style: solid;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			width: 100%;
			top: 75px;
			left: 0;
			z-index: 9999999;
			max-height: calc(85vh - 90px);
			overflow: auto;
			text-align: center;
			padding-bottom: 1.5em;
		}
	}

	@media (min-width: $breakpoint-tablet-landscape) {
		display: flex;
		flex-flow: wrap row;
		justify-content: center;
		align-items: center;
	}

	&__promo {
		max-width: 184px;
		cursor: pointer;

		* {
			width: 100%;
		}
	}

	.Button {
		margin-left: 15px;
		height: 44px;

		span {
			line-height: 44px;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;

		.Button {
			padding-left: 1.7em;
			padding-right: 1.7em;
		}

		@media (min-width: ($breakpoint-tablet-landscape + 1px)) {
			flex-direction: row;

			.Button:first-child {
				margin-left: 0;
			}
		}

		@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
			flex-direction: column;

			.Button {
				margin-left: 0;

				&:not(:last-child) {
					margin-bottom: 1.2em;
				}
			}
		}
	}

	ul.nav {
		position: relative;
		margin-bottom: 0;

		@media (min-width: $breakpoint-tablet-landscape) {
			display: flex;
			flex-flow: wrap row;
			justify-content: flex-end;
			align-items: center;
		}

		li {
			position: static;
			padding: 0 20px;
			user-select: none;

			&.one-column {

				ul {
					left: -25px;

					li {
						padding: 0 45px;

						ul {
							padding-bottom: 0;

							li {
								padding: 0;
							}
						}
					}
				}
			}

			a {

				@include color(color, main-nav-font-color);
				position: relative;
				display: block;
				font-size: $main-nav-font-size;
				line-height: $main-nav-line-height;
				font-family: $font-secondary;
				font-weight: $font-weight-semi;

				&::before {

					@include color(background-color, main-nav-underline);
					content: "";
					position: absolute;
					bottom: 13px;
					left: 50%;
					width: 0;
					height: 3px;
					transition: all 0.3s;
				}
			}

			&.active {

				a {

					&::before {
						left: 0;
						width: 100%;
					}
				}
			}

			@media (hover: hover) {

				&:active,
				&:focus,
				&:hover {

					a {

						&::before {
							left: 0;
							width: 100%;
						}
					}
				}

				&:hover {

					ul {

						@media (min-width: $breakpoint-tablet-landscape) {
							display: flex;
							justify-content: center;
						}
					}
				}
			}

			&:last-of-type {

				a {
					padding-right: 0;
				}
			}

			&.menu-item-has-children {

				a {

					&::after {
						content: "\e821";
						font-family: fontello, sans-serif;
						font-size: 12px;
						font-weight: 900;
						display: inline-block;
						margin-left: 10px;
					}
				}
			}
		}

		ul {

			display: none;
			position: relative;

			&.active {
				display: block;
			}

			@media (min-width: $breakpoint-tablet-landscape) {

				.admin-bar & {
					top: 104px;
				}

				&.active {
					display: flex;
				}

				flex-flow: nowrap row;
				justify-content: flex-start;
				align-items: flex-start;
				position: fixed;

				top: 73px;
				left: 0;
				right: 0;
				z-index: 2;
				margin: auto;
				width: $breakpoint-tablet-landscape;
				padding: 45px 0 25px;

				&::after {
					content: "";

					@include color(background-color, main-nav-submenu-background);
					position: absolute;
					top: 0;
					width: 100vw;
					height: 100%;
					box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.08);
					z-index: -1;
				}
			}

			@media (min-width: $breakpoint-desktop) {
				width: $breakpoint-desktop;
			}

			li {
				padding: 0 0 0 30px;
				width: 100%;

				.sub-menu {
					width: calc(100% + 30px);
				}

				@media (min-width: $breakpoint-tablet-landscape) {
					width: 20%;
				}
			}

			a {

				@include color(color, main-nav-submenu-font-color, !important);
				font-size: $main-nav-submenu-font-size;
				line-height: $main-nav-submenu-line-height;
				font-family: $font-secondary;
				font-weight: $font-weight-semi;
				white-space: nowrap;
				text-align: left;

				&:active,
				&:focus,
				&:hover {

					@include color(color, main-nav-submenu-font-color-hover, !important);
				}

				&::before,
				&::after {
					display: none !important;
				}
			}

			a[href="#"] {
				margin-bottom: 20px;
				font-size: 14px;
				line-height: 0;
				pointer-events: none;
				cursor: default;
				padding: 10px 0;
			}

			ul {
				display: flex;
				position: static;
				flex-flow: wrap column;
				justify-content: flex-start;
				align-items: flex-start;

				li {
					position: relative;
					display: flex;
					flex-flow: wrap row;
					justify-content: flex-start;
					align-items: center;
					width: 100%;
					margin-bottom: 20px;
					padding: 0;
					overflow: visible;

					&.label {

						a {
							position: relative;
							width: 100%;
							overflow: hidden;

							&::after {

								@include color(background-color, primary-color);
								@include color(color, font-color-light);
								content: "";
								position: absolute;
								top: 8px;
								right: 0;
								display: inline-block !important;
								font-family: $font-primary !important;
								padding: 2px 4px;
								border-radius: 2px;
								font-size: 10px;
								line-height: 1;
								text-transform: uppercase;
							}
						}

						&-new {

							a {

								&::after {
									content: "new";
								}
							}
						}

						&-top {

							a {

								&::after {
									content: "top";
								}
							}
						}

						&-trending {

							a {

								&::after {
									content: "trending";
								}
							}
						}
					}

					.icon {

						@include square(1.25rem);
						display: block;
						position: absolute;
						pointer-events: none;
						z-index: 1;
						left: 0.15em;
						top: 0.25em;
					}

					&::after {
						content: "";
						position: absolute;
						left: -20px;
						bottom: -10px;
						height: calc(100% + 20px);
						width: 0;
						background-color: #feefe0;
						transition: all 0.5s ease;
					}

					&:hover {

						&::after {
							width: 100%;
						}
					}

					a {
						font-family: $font-secondary;
						padding-left: 33px;
						z-index: 1;
					}

					&:first-of-type {
						padding-right: 0;
					}

					.menu-item-description {
						display: none;

						@media (min-width: $breakpoint-tablet-landscape) {

							@include color(color, font-color-level3);
							display: block;
							font-size: 12px;
							line-height: 1.5;
							font-weight: $font-weight-normal;
							margin-top: -3px;
							width: calc(100% - 33px);
							white-space: break-spaces;
						}
					}
				}

				@media (min-width: $breakpoint-tablet-landscape) {
					padding: 15px 0 0;
				}
			}
		}
	}

	.icon-header-menu {
		left: 0;
		width: 24px;
		background-size: 176px;

		&::before {

			@include square(1.5rem);
			display: block;
			position: absolute;
			pointer-events: none;
			z-index: 1;
			content: "";
			font-size: 20px;
			left: 0;
			top: 2px;
		}
	}

	$iconHeader: (
		"wordpress": "-20px 0",
		"prestashop": "-67px 0",
		"magento": "1px 0",
		"shopify": "-94px 0",
		"mailchimp": "-120px 0",
		"pipedrive": "-151px 0",
		"slack": "-43px 0",
	);

	@each $icon, $pos in $iconHeader {
		.icon-header-menu-#{$icon}:before {
			background: url(../images/icons-menu-integrations.png) #{$pos};
			background-size: 176px;
		}
	}

	.label-overview {

		a[href="#"],
		.icon,
		li::before {
			color: $saturated-violet !important;
		}

		.sub-menu {
			width: 100%;
		}

		::after {
			background-color: #f3e6ff !important;
		}
	}

	.label-product {

		a[href="#"],
		.icon {
			color: $dark-orange !important;
		}

		::after {
			background-color: $medium-orange !important;
		}
	}

	.label-use-for {

		a[href="#"],
		.icon {
			color: $saturated-blue !important;
		}

		::after {
			background-color: $desaturated-blue !important;
		}
	}

	.label-integrations {
		padding: 0 70px 0 30px !important;

		ul li {
			padding: 0 !important;
			margin: 0 !important;
		}

		a[href="#"] {
			color: #ababab !important;
		}

		> * {
			position: relative;
			z-index: 1;
		}

		::after {
			background-color: $lightest-gray !important;
			left: -10px !important;
			bottom: 2px !important;
			height: 30px !important;
			z-index: 0;
		}

		li:last-child {

			a {
				color: #ababab !important;
				font-size: 12px !important;
			}
		}
	}

	.label-learn {

		a[href="#"],
		.icon {
			color: $saturated-green !important;
		}

		::after {
			background-color: $desaturated-green !important;
		}
	}

	.label-company {

		a[href="#"],
		.icon {
			color: $saturated-red !important;
		}

		::after {
			background-color: $desaturated-red !important;
		}
	}

	.label-liveagent {

		a[href="#"],
		.icon {
			color: $saturated-cyan !important;
		}

		::after {
			background-color: $desaturated-cyan !important;
		}
	}

	.label-sub {

		a[href="#"] {
			color: transparent !important;

			@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
				display: none;
			}
		}
	}
}

.Header__mobileNavigation {
	display: block;
	font-size: 26px;
	line-height: 60px;

	@media (min-width: $breakpoint-tablet-landscape) {
		display: none;
	}
}

html[lang="de-DE"],
html[lang="et"],
html[lang="es-ES"],
html[lang="hr"],
html[lang="lv-LV"],
html[lang="lt-LT"],
html[lang="ru-RU"],
html[lang="sk-SK"],
html[lang="vi-VN"] {

	.Header__navigation .icon-header-menu {
		left: 0;
		width: 24px !important;
		background-size: 182px !important;
	}

	.Header__navigation .icon-header-menu-wordpress {
		background: url(../images/icons-menu-integrations.png) -19px 0;
	}

	.Header__navigation .icon-header-menu-magento {
		background: url(../images/icons-menu-integrations.png) 4px 0;
	}
}

html[lang="bg-BG"],
html[lang="lv-LV"] {

	.Header__navigation__buttons .Button {
		padding-left: em(24, $font-size-smaller);
		padding-right: em(24, $font-size-smaller);
	}
}

html[lang="vi-VN"] {

	.Header .Button--login {
		margin-left: 28px !important;
	}
}

@media (min-width: $breakpoint-tablet-landscape) and (max-width: ($breakpoint-desktop - 1px)) {

	.Header__navigation ul.nav li {
		font-size: 0.875rem;
		padding: 0 0.5em;
	}

	.Header__flags,
	.Button--login {
		margin-left: 1em !important;
	}

	.Header__navigation__buttons .Button {
		padding-left: 1em;
		padding-right: 1em;
		margin-left: 0.5em;
	}
}
