/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/Checklist" as *;
@use "../elements/PostTypography" as *;
@use "../components/AuthorCard" as *;

$sidebarWidth: 13.5em;
$signupSidebarWidth: 16.875em;

.Post {

	&__header {

		.wrapper__wide {
			border-radius: $border-radius-16;
			height: 9.375em;

			@media (min-width: $breakpoint-tablet) {
				height: 14.375em;
			}

			&.has-image {
				padding: 0;
				overflow: hidden;

				img,
				picture {

					@include square(100%);
					object-fit: cover;
				}
			}
		}
	}

	&__logo {

		@include square(9.375em);
		@include color(background-color, main-background);
		box-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.08);
		padding: 1.5em;
		border-radius: $border-radius-16;
		display: none;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}

		@media (min-width: $breakpoint-tablet) {
			display: block;
			position: absolute;
			top: -8em;
		}
	}

	&__sidebar {
		display: none;

		&__buttons {
			margin-bottom: 2em;

			.Button[class] {
				width: 100%;
				padding: 0 1em;
				text-align: center;
				white-space: nowrap;
				margin: 0;

				+ .Button {
					margin-top: 0.75em;
				}
			}
		}

		&__social {
			display: inline-block;
			margin-bottom: 1.5em;

			+ a {
				margin-left: 0.75em;
			}

			&::after {
				display: none !important;
			}
		}

		@media (min-width: $breakpoint-desktop-box) {
			display: block;
			width: $sidebarWidth;
			padding-left: 2em;
		}
	}

	.Signup__sidebar-wrapper {

		@media (min-width: $breakpoint-desktop-box) {
			padding-right: 0.25em;
		}
	}

	&__content {
		padding: 0 1.5em;
		margin: 0 auto;

		@media (min-width: $breakpoint-tablet-landscape) {
			width: calc(100% - #{$signupSidebarWidth} + 3em);
			padding: 0 5em;

			.Content {

				> {

					.Post__m__negative {

						&--small {
							margin-left: -1.5em;
							margin-right: -1.5em;
						}

						&--mid {
							margin-left: -2.5em;
							margin-right: -2.5em;
						}
					}

					.Post__m__negative,
					.BlockDiscover,
					.BlockQuote--discover,
					.wide,
					.wp-block-embed,
					.youtube__loader {
						margin-left: -3.125em;
						margin-right: -3.125em;
					}

					figure {

						&.size-full,
						&.wide,
						&.size-large {
							display: flex;
							justify-content: center;
							flex-wrap: wrap;
							margin-left: -3.125em;
							margin-right: -3.125em;
							overflow: hidden;
							border-radius: $border-radius-16;

							&.alignleft {
								float: left;
								margin: -0.25em 1em 0 0;
								border-radius: 0;

								img {
									max-width: 3em;
									border: 0;
								}

								+ h3 {
									clear: none;
									margin-bottom: 1.5em;
								}
							}

							figcaption {
								width: 100%;
							}
						}
					}
				}

				.wp-block-embed,
				.youtube__loader {
					border-radius: $border-radius-16;
					overflow: hidden;
				}
			}
		}

		@media (min-width: $breakpoint-desktop-box) {
			width: calc(100% - #{$sidebarWidth} - #{$signupSidebarWidth});
			padding: 0 7.5em;

			.Content {

				> {

					.Post__m__negative,
					.BlockDiscover,
					.BlockQuote--discover,
					.wide,
					.wp-block-embed,
					.youtube__loader {
						margin-left: -6em;
						margin-right: -6em;
					}
				}
			}
		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;

		.Button {
			margin: 1em 1em 0 0;
		}

		@media (max-width: ($breakpoint-mobile - 1px)) {

			.Button {
				width: 100%;
				margin: 1em 0 0 0;
			}
		}
	}

	&--sidebar-right {
		$wider-margin: 0;
		$wider-margin-sm: 0;
		$content-width: 60%;
		$sidebar-width: 33%;

		.Post {

			&__sidebar,
			&__content {
				display: block;
				padding: 0;
				margin: 0;
			}

			&__content {

				&__whatis-headline {
					padding-left: 1.125em;
					padding-right: 1.125em;
					margin-left: -$wider-margin-sm;
					margin-right: -$wider-margin-sm;

					@media (min-width: $breakpoint-desktop-box) {
						margin-left: -$wider-margin;
						margin-right: -$wider-margin;
					}
				}

				.Content {

					> {

						:first-child {
							margin-top: 0 !important;
						}

						.Post__m__negative,
						.Post__m__negative--small,
						.Post__m__negative--mid,
						.BlockDiscover,
						.BlockQuote--discover,
						.wide,
						.wp-block-embed,
						.youtube__loader,
						.Signup__form--simple {
							margin-left: -$wider-margin-sm;
							margin-right: -$wider-margin-sm;

							@media (min-width: $breakpoint-desktop-box) {
								margin-left: -$wider-margin;
								margin-right: -$wider-margin;
							}
						}

						figure {

							&.size-full,
							&.wide,
							&.size-large {
								margin-left: -$wider-margin-sm;
								margin-right: -$wider-margin-sm;
							}
						}
					}
				}
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			.Post {

				&__container {
					display: flex;
					justify-content: space-between;
				}

				&__sidebar {
					order: 2;
					width: $sidebar-width;
				}

				&__content {
					order: 1;
					width: $content-width;
				}
			}

			&.Research .Post__content {
				width: 100%;

				.Research--wrapper {
					width: $content-width;
				}
			}
		}

		@media (max-width: ($breakpoint-tablet-landscape - 1)) {

			.Post {

				&__sidebar {
					display: none;
				}
			}
		}
	}
}
