/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/LabelTag" as *;


.Pricing__programs {
	position: relative;
	padding: 3em 0 0;

	&.Pricing__programs__new {

		> .elementor-container {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 0.625em;

			> .Pricing__program {
				width: 100%;
				margin-bottom: 0;
			}
		}


		@media (min-width: $breakpoint-tablet-small ) {

			> .elementor-container {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		@media (min-width: $breakpoint-desktop ) {

			> .elementor-container {
				grid-template-columns: repeat(4, 1fr);
			}
		}


	}

	> .elementor-container,
	> .elementor-widget-container {
		position: relative;
		z-index: 1;
	}

	> .elementor-container {
		flex-wrap: wrap;
	}

	&::after {

		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
		height: 100%;
		background-color: $lightest-gray;
	}

	&.Deal__startups {

		* {
			color: $white;
			margin-bottom: 0;
		}

		a {
			text-decoration: none;

			&:hover {
				color: $black;
			}
		}

		> .elementor-container {
			padding: 1.5em;
			border-radius: $border-radius-16;
			background-color: $saturated-green;
			overflow: hidden;

			&::after {

				@include posCustom(-1.5em);
				content: "";
				position: absolute;
				background-color: rgba($white, 0.5);
				opacity: 0.15;
				transform: skewX(-45deg)  translateX(50%);

				@media (min-width: $breakpoint-tablet) {

					@include posCustom(-1.5em, 0, -1.5em, 50%);
				}
			}
		}

		.elementor-widget {
			width: auto;

			&-wrap {
				width: auto;
				flex-wrap: nowrap;
				align-items: center;
			}

			&-image {
				margin-right: 0.5em;

				img,
				picture {
					width: 3.85em;
				}
			}

			&-heading {
				margin-right: auto;
			}
		}

		.Button--outline {
			padding: 0.5em 1.4em;
		}

		@media (max-width: $breakpoint-tablet-landscape) {

			.elementor-heading-title {

				font-size: 1.25rem;
			}
		}


		.Deal__startups--buttons {
			justify-content: flex-end;

			.Button {
				margin-left: 1.5em;
			}
		}

		&--note {
			padding: 0 0 3em;

			p {
				text-align: right;
				font-size: 0.75rem;
				margin-bottom: 0;
			}

			&--new {
				margin-bottom: 0;
				padding: 0.625em 0;
			}
		}

	}

	.enterprise & .Pricing__program {

		.checklist.elementor-widget-text-editor {
			border: none;
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&:first-child {
				width: 36.85%;
			}

			&:last-child {
				width: 62.28%;
				margin-left: auto;
			}
		}
	}

	&.Deal__startups__Free__accounts {
		padding: 0.625em 0 3em 0;

		> .elementor-container {
			background-color: unset;
			border-radius: 0;
			padding: 0;
			gap: 1%;

			> .elementor-inner-column {
				width: 100%;

				@media (min-width: $breakpoint-desktop ) {
					width: 49.5%;
					height: 8.125em;
				}
			}

		}

		.elementor-heading-title {
			font-size: 1.875rem;
			line-height: 1.5;

		}

		.elementor-widget-wrap {
			flex-wrap: wrap;
			flex-direction: row;
			width: 100%;
		}

		.Free__accounts,
		.Deal__startups {
			padding: 1.125em 1.5em !important;
			border-radius: $border-radius-16;


			.col__one {
				width: 100%;
				margin-bottom: 0;

				> .elementor-widget-wrap {
					flex-direction: column;
					align-items: flex-start;
				}
			}

			.col__two {
				width: 100%;
			}

			.Button--outline {
				width: 100%;
				height: auto;
			}

			@media (min-width: $breakpoint-tablet-small ) {

				.col__one {
					width: 60%;
				}

				.col__two {
					width: 40%;

					.elementor-widget-wrap {
						justify-content: flex-end;
						align-content: flex-end;
					}
				}
			}
		}

		.Free__accounts {
			background-color: transparent;
			border: 1px solid $medium-gray-inputs;
			margin-bottom: 0.625em;

			* {
				color: $black;
				margin-bottom: 0;
			}

			.col__one {

				a {

					color: $dark-orange;

					&:hover {
						color: $black;
					}
				}
			}

			.price__per__month {
				font-weight: 700;
				font-size: 1.875rem;
				line-height: 1;
				margin-bottom: 1rem;

				small,
				sup {
					font-weight: 400;
					font-size: 1.5rem;
				}

				sup {
					font-size: 1rem;
				}

			}

			.Button--outline {

				&:hover {

					border-color: $dark-orange;
					background: $lightest-gray;

					span {
						color: $dark-orange;
					}

				}

				span {
					transition: 0.3s all;
				}
			}

			@media (min-width: $breakpoint-desktop ) {
				margin-bottom: 0;
			}
		}

		.Deal__startups {
			background-color: $saturated-green;
			overflow: hidden;

			.col__one {
				margin-bottom: 1.5em;
			}

			.col__two {
				align-self: flex-end;
			}

			@media (min-width: $breakpoint-tablet-small ) {

				.col__one {
					margin-bottom: 0;
				}
			}
		}

	}

}

.Pricing__program {

	.checklist {

		ul {

			li {
				display: flex;
				align-items: center;
			}
		}
	}


	&[class] {
		padding: 2.5em 1.5em 1.5em !important;
		width: 100%;
	}

	background-color: $white;
	border-radius: $border-radius-16;
	margin-bottom: 1.5em;

	@media (min-width: 481px) {

		&[class] {
			width: 50%;
		}
	}

	@media (min-width: $breakpoint-desktop-box) {

		&[class] {
			width: 25%;
			margin-bottom: 0;
		}
	}

	.elementor-widget {
		margin-bottom: 0;
	}

	.LabelTag {
		width: auto;
		align-self: flex-start;
		margin: 0.35em 0 1.5em auto;
	}

	.elementor-widget-image:not(.Woman) {
		display: flex;
		margin-bottom: 1.5em;
		width: 5em;
		height: 2.875em;

		img,
		picture {

			@include square(100%);
			object-fit: contain;
		}
	}

	.elementor-heading-title[class] {
		font-size: 1.875rem;
		margin-bottom: 0.5em;

		small {
			font-size: 50%;
		}
	}

	.elementor-widget-text-editor {
		margin-bottom: 1.5em;

		p {
			margin-bottom: 0;
		}
	}

	.checklist.elementor-widget-text-editor {
		padding-top: 1.5em;
		margin-bottom: 1.5em;
		border-top: 2px solid $lightest-gray;

		ul {
			margin-bottom: 0;
		}

		li {
			margin-bottom: 0.45em;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.Pricing__price {
		font-size: 2.5rem;
		font-weight: $font-weight-semi;
		margin: 0.8em 0 0.35em;

		sup {
			position: relative;
			font-size: 0.4em;
			font-weight: $font-weight-normal;
			margin-right: -0.15em;
			top: -0.25em;
		}

		small {
			font-size: 0.6em;
		}
	}

	+ .Pricing__program {
		border: 2px solid $lightest-gray;
	}

	&.popular {
		border-color: $dark-orange;
		left: -2px;
	}

}

