/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/PricingTabsMasks" as *;

.Pricing__top.enterprise {

	.Tabs {

		&__inn {
			border-top-left-radius: $border-radius-16;

			&::before {
				background-color: $medium-gray-inputs;
				box-shadow: inset 1em -3px 0.5em 0 rgba($black-real, 0.1);
				z-index: 2;
			}

			&::after {
				background-color: $lightest-gray;
				box-shadow: none;
			}
		}

		&__tab {

			&.active {
				border-top-left-radius: 0;
				border-top-right-radius: $border-radius-16;

				&::before {
					background: url(../../images/pricing/tab_enterprise_active.png) center center no-repeat;
					background-size: contain;
				}
			}

			&:not(.active) {
				border-top-left-radius: $border-radius-16;

				&::before {

					background: url(../../images/pricing/tap_pricing_business.png) center center no-repeat;
					background-size: contain;
				}

				&::after {
					left: 0.5em;
					right: -0.75em;
					mask-position: top right;
					box-shadow: inset -1em -3px 0.5em 0 rgb($black-real, 0.12);
				}
			}
		}
	}

	.learn-more p {
		text-align: right;

		a {
			display: inline-flex;
			font-size: 1rem;

			&::after {
				top: 0;
			}
		}
	}

	.Main__title {
		background-size: 80% 0.35em;

		.elementor-heading-title[class] {
			font-size: 2.5rem;
		}
	}

	.elementor-heading-title[class] {
		font-size: 1.375rem;
	}

	.Pricing__price {
		margin: 0 0 0.35em;
	}

	.Woman {

		img {
			height: auto;
		}
	}

	.Button + .Button {
		margin-top: 1em;
		margin-bottom: 3.5em;
	}

	.Clients {
		display: flex;
		justify-content: flex-start;
		margin-top: 0;
		margin-bottom: 2em;
		column-gap: 1em;
		row-gap: 1em;
		height: auto;

		&__item {

			img {
				height: 1.25em;
				width: auto;
				max-width: none;
				margin: 1.25em 0 !important;
			}
		}

		@media (min-width: $breakpoint-tablet) {
			column-gap: 2em;
			min-height: 4.0625em;
		}

	}

	.AwardsSmall {

		&__list {
			justify-content: flex-start;
			margin-bottom: 0;
			column-gap: 2em;
		}

		&__item {
			margin-left: 0;
		}

		@media (min-width: $breakpoint-tablet) {

			&__item {
				width: calc(20% - 2em);
				padding-bottom: calc(20% - 2em);
			}
		}
	}


	.Pricing__program {

		.checklist {

			ul {

				li {
					display: block;
				}
			}
		}

		.Button {
			margin-left: 0;
		}

		.Woman {
			margin-bottom: 3.5em;
		}

		@media (max-width: $breakpoint-tablet-landscape) {

			&[class] {
				width: 100%;
			}

			&:first-of-type {

				.checklist {
					max-width: none;

					ul {
						columns: 1;
						column-gap: 2em;
						break-inside: avoid;
					}

					li {
						padding-left: 2em;
						display: block;

						&::before {
							left: 0;
						}
					}
				}
			}

			&:last-of-type {
				order: -1;
			}
		}


		@media (min-width: $breakpoint-tablet) {

			&[class] {
				padding: 2.625em !important;
			}

			&:first-of-type {

				.checklist li {
					font-size: 0.875rem;
					color: $dark-gray !important;

					&::before {

						font-size: 1.25rem;
					}

					strong {
						font-size: 1rem;
						color: $black;
					}

					+ li {
						margin-top: 2em;
					}
				}
			}

			&:last-of-type {
				padding-left: 4.375em;
			}

			.LabelTag,
			.Main__title,
			.Main__text,
			.Button {
				width: 50%;
				margin-left: 0;
				margin-right: 50%;
			}

			.LabelTag {
				padding: 0.25em 1em;
			}

			.Woman {
				position: absolute;
				top: 3em;
				right: 1.5em;
				width: 40%;
				max-width: 14.5em;
			}
		}
	}
}
