/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/LabelTag" as *;

html {

	&:not(
	[lang="en-US"],
	[lang="de-DE"],
	[lang="it-IT"],
	[lang="hu-HU"],
	[lang="ro-RO"],
	[lang="sk-SK"],
	[lang="sl-SI"],
	[lang="zh-hans"],
	[lang="ar"]
) {

		.Pricing__program {

			&__desc {

				.elementor-widget-container {

					* {
						font-size: 0.85rem;
						line-height: 1.375;
						height: 4.23em;

						display: -webkit-box;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
						line-clamp: 3;
						-webkit-line-clamp: 3;
					}
				}
			}
		}
	}
}


.Pricing__programs {
	position: relative;
	padding: 3em 0 0;

	&.Pricing__programs__new:has(.Pricing__price--sale) {

		.Pricing__price {
			margin-top: 3.175em !important;
		}
	}

	&.Pricing__programs__new {

		> .elementor-container {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 1em;

			> .Pricing__program {
				width: 100%;
				margin-bottom: 0;
			}
		}


		@media (min-width: $breakpoint-tablet-small ) {

			> .elementor-container {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		@media (min-width: $breakpoint-desktop ) {

			> .elementor-container {
				grid-template-columns: repeat(4, 1fr);
			}
		}


	}

	> .elementor-container,
	> .elementor-widget-container {
		position: relative;
		z-index: 1;
	}

	> .elementor-container {
		flex-wrap: wrap;
	}


	.enterprise & .Pricing__program {

		.checklist.elementor-widget-text-editor {
			border: none;
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&:first-child {
				width: 36.85%;
			}

			&:last-child {
				width: 62.28%;
				margin-left: auto;
			}
		}
	}


}


.PromoBanners {
	padding: 0.625em 0 3em 0 !important;

	> .elementor-container {

		background-color: unset;
		border-radius: 0;
		padding: 0;
		gap: 16px;
		display: grid;
		grid-template-columns: 1fr 1fr;

		@media (max-width: $breakpoint-tablet-landscape ) {
			grid-template-columns: 1fr;
		}

		> .elementor-inner-column {
			width: 100%;
		}

		> .elementor-column {
			padding: 1.125em 1.5em !important;
			border-radius: $border-radius-16;

			&:first-child {

				background-color: transparent;
				border: 1px solid $medium-gray-inputs;
				margin-bottom: 0.625em;

				* {
					color: $black;
					margin-bottom: 0;
				}

				a {

					&:hover {
						text-decoration: underline;
						color: $dark-orange;
					}
				}

				.Button--outline {

					&:hover {

						border-color: $dark-orange;

						span {
							color: $dark-orange;
						}

					}

					span {
						transition: 0.3s all;
					}
				}

				@media (min-width: $breakpoint-desktop ) {
					margin-bottom: 0;
				}


			}

			&:last-child {
				background-color: $pricing-gray;
				border: 1px solid $medium-gray-inputs;
				overflow: hidden;


				&::after {

					@include posCustom(-1.5em);
					content: "";
					position: absolute;
					opacity: 0.98;
					background: linear-gradient(166deg, rgba($white, 0.70) 16.9%, rgba($white, 0) 86.96%);
					transform: skewX(-45deg)  translateX(50%);

					@media (min-width: $breakpoint-tablet) {

						@include posCustom(-1.5em, 0, -1.5em, 0);
					}
				}

				* {
					color: $black;
					margin-bottom: 0;
				}

				a {

					&:hover {
						text-decoration: underline;
						color: $black;
					}
				}


				.Button--outline {

					&:hover {

						span {
							color: $black;
						}

					}

					span {
						transition: 0.3s all;
					}
				}
			}

			.PromoBanners__footer {
				margin-top: auto;

				> .elementor-container {

					> .elementor-column {

						> .elementor-widget-wrap {
							flex-direction: row;
							justify-content: space-between;
							align-items: flex-end;
							align-content: center;

							.elementor-widget {
								width: 50%;
							}
						}
					}
				}
			}
		}

	}

	.elementor-heading-title {
		font-size: 1.875rem;
		line-height: 1.5;
	}

	.elementor-widget-wrap {
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;

		.Button--outline {
			width: 100%;
			height: auto;
		}
	}

}

.Pricing__program {
	border: 1px solid $medium-gray-inputs;

	&__desc {

		p {
			font-size: 0.875rem;
		}

	}

	&.popular {
		border-color: $medium-gray-inputs !important;
		border-radius: 0 0 1em 1em;
		margin-top: 1.8em;

		@media (min-width: $breakpoint-desktop) {
			margin-top: 0;
		}

		.elementor-widget-wrap {
			position: static;

			.LabelTag {

				&.popular {

					p {
						font-size: 0.9rem;
						color: $white;
						text-transform: uppercase;

						@media (min-width: $breakpoint-tablet) {
							font-size: 0.875rem;
						}
					}

				}
			}
		}
	}

	.checklist {

		ul {

			li {
				display: flex;
				align-items: center;
			}
		}
	}


	&[class] {
		padding: 1.875em 1.25em 1.875em !important;
		width: 100%;
	}

	background-color: $white;
	border-radius: $border-radius-16;
	margin-bottom: 1.5em;

	@media (min-width: 481px) {

		&[class] {
			width: 50%;
		}
	}

	@media (min-width: $breakpoint-desktop-box) {

		&[class] {
			width: 25%;
			margin-bottom: 0;
		}
	}

	.elementor-widget {
		margin-bottom: 0;
	}

	.LabelTag {
		width: auto;
		align-self: flex-start;
		margin: 0.35em 0 1.5em auto;
	}

	.elementor-widget-image:not(.Woman) {
		display: flex;
		margin-bottom: 1.5em;
		width: 5em;
		height: 2.875em;

		img,
		picture {

			@include square(100%);
			object-fit: contain;
		}
	}

	.elementor-heading-title[class] {
		font-size: 1.875rem;
		margin-bottom: 0.5em;

		small {
			font-size: 50%;
		}
	}

	.elementor-widget-text-editor {
		margin-bottom: 1.5em;

		p {
			margin-bottom: 0;
			line-height: 1.375;
		}
	}

	.checklist.elementor-widget-text-editor {
		padding-top: 0.2em;
		margin-bottom: 1.5em;

		ul {
			margin-bottom: 0;
		}

		li {
			margin-bottom: 0.45em;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&:has(.appendix) {

		.checklist.elementor-widget-text-editor {
			margin-bottom: 0.625em;
		}
	}

	.appendix {

		* {
			font-size: 0.875rem;
		}
	}

	.Pricing__price {
		display: flex;
		align-items: flex-end;
		column-gap: 0.325em;
		margin: 1.5em 0 0.3em;
		line-height: 1;

		&--basic {
			font-size: 3rem;
			font-weight: $font-weight-semi;
		}

		&:has(.Pricing__price--sale) {

			.Pricing__price--basic {
				position: relative;
				font-size: 2rem;

				sup {
					font-size: 0.8125rem;
				}

				span {
					position: relative;

					&::before {
						content: "";
						position: absolute;
						width: 100%;
						height: 2px;
						background-color: $black;
						top: 50%;
						left: 0;
					}
				}

			}
		}

		sup {
			position: relative;
			font-size: 0.9375rem;
			font-weight: $font-weight-normal;
			margin-right: 0.15em;
			top: -0.25em;
		}

		&--sale {
			color: $saturated-red;
			font-size: 3rem;
			font-weight: $font-weight-semi;
		}

		&__text {

			p {
				font-weight: 600;
				font-size: 0.875rem;
			}

		}
	}

}

