/* stylelint-disable selector-class-pattern, no-descending-specificity */

html {
	scroll-behavior: smooth;
}

.Pricing {

	@include color(background-color, secondary-background);
	padding: 90px 0;
	overflow: hidden;
	margin: 0 5%;
	border-radius: $border-radius-16;

	&__wrapper {
		position: relative;
		width: 100%;
		max-width: 1180px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	&__header {
		display: flex;
		flex-flow: wrap row;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0 0 20px;

		&__title {

			@include color(color, font-color-dark);
			font-family: $font-secondary;
			font-size: 48px;
			line-height: 64px;
			font-weight: $font-weight-bold;
			margin: 0;
			text-align: center;
		}

		&__title__second {
			margin: 0 0 20px;
			font-size: 16px;
			line-height: 1.63;
			color: #666;
			max-width: 610px;
			text-align: center;
		}

		&__tag {
			display: flex;
			flex-flow: wrap row;
			justify-content: center;

			&-title {

				@include color(color, font-color-dark);
				@include color(background-color, button-outline-color);
				margin: 0 12px 12px 0;
				padding: 3px 12px;
				border-radius: 50px;
				font-size: 12px;
				font-weight: 600;
				line-height: 1.42;
				text-align: center;
			}

			&-popular {
				margin: 0 0 0 65px;
				padding: 2px 14px;
				border-radius: 100px;
				background-color: #d0bafa;
				font-family: $font-secondary;
				font-size: $font-size-smaller;
				font-weight: 600;
				display: flex !important;
				position: absolute !important;
				align-items: center;
			}
		}

		&__settings {
			margin-right: 20px;

			&__size {
				width: 100%;
				display: flex;
				flex-flow: wrap row;
				justify-content: center;
				align-items: center;

				span {
					font-size: $font-size-default;
					line-height: 46px;
					font-weight: $font-weight-bold;
				}
			}
		}

		&__currency-switcher {
			display: flex;
			align-items: center;
			position: absolute;
			top: 14px;
			right: 52px;
		}

		&__currency-switcher-switch {
			position: relative;
			display: inline-block;
			width: 30px;
			height: 17px;
			margin: 0 10px;

			input {
				visibility: collapse;
				background-color: $white;
			}
		}

		&__currency-switcher-slider {
			position: absolute;
			cursor: pointer;
			top: -3px;
			left: -5px;
			right: -5px;
			bottom: -3px;
			background-color: $dark-orange;
			transition: 0.4s;

			&::before {
				position: absolute;
				content: "";
				height: 17px;
				width: 17px;
				left: 3px;
				bottom: 3px;
				background-color: $white;
				transition: 0.4s;
			}
		}

		input:checked + &__currency-switcher-slider::before {
			transform: translateX(16px);
		}

		&__currency-switcher-slider,
		&__currency-switcher-round {
			border-radius: 34px;

			&::before {
				border-radius: 50%;
			}
		}

		&__currency-switcher-title-usd,
		&__currency-switcher-title-eur {
			font-family: $font-primary;
			font-size: $font-size-default;
		}
	}

	&__comment {
		font-size: 12px;
		line-height: 1.33;
		color: #666;
		display: flex;
		justify-content: flex-end;

		span {
			max-width: 366px;
			margin: 15px 25px 0 0;
		}
	}

	&--4x {

		.Pricing {

			&__header {

				&__title {
					font-size: 36px;
					line-height: 48px;
					margin: 0 0 10px;
				}
			}
		}
	}

	&__currency__tooltip {
		left: -582% !important;

		&::after {
			left: 85% !important;
		}
	}

	@media (max-width: $breakpoint-desktop-box) {

		.wrapper {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	@media (max-width: $breakpoint-desktop) {
		padding-top: 75px;

		&__header {

			&__title {
				margin-left: 10px;
				max-width: none;
			}

			&__settings {
				display: none !important;
			}
		}

		.PricingTable td:nth-child(n),
		.PricingTable td:nth-child(2n),
		.PricingTable td:nth-child(3n) {

			::before {
				border-radius: $border-radius-16;
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {
		margin: 0;

		&__header {

			&__title {
				margin-left: 0;
			}
		}

		.wrapper {
			padding-right: 0 !important;
		}

		.PricingTable td:nth-child(n)::before,
		.PricingTable td:nth-child(2n)::before,
		.PricingTable td:nth-child(3n)::before {
			border-radius: $border-radius-16;
		}
	}

	@media (max-width: 690px) {

		&__header {

			&__title {
				margin: 0 !important;
			}

			&__currency-switcher {
				position: initial;
				margin: 10px 0;
			}
		}
	}

	@media (max-width: $breakpoint-mobile) {

		&__header {

			&__title {
				font-size: 38px;
				line-height: 38px;
			}
		}
	}
}

.PricingTable {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: wrap column;
	justify-content: flex-start;
	align-items: center;

	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0);
		transition: background-color 0.3s;
		pointer-events: none;
	}

	&.active {

		&::before {
			background-color: rgba(255, 255, 255, 0.85);
			pointer-events: visible;
		}
	}

	thead,
	tbody,
	tfoot {
		display: flex;
		flex-flow: wrap column;
		justify-content: flex-start;
		align-items: center;
		width: 95%;
	}

	tr {
		position: relative;
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		width: 100%;

		&::before {
			content: "";
			display: block;
			width: 120px;
			height: 100%;
			position: absolute;
			top: 0;
			left: -120px;
		}

		&::after {
			content: "";
			display: block;
			width: 120px;
			height: 100%;
			position: absolute;
			top: 0;
			right: -120px;
		}
	}

	tr:last-of-type {

		td {

			&:nth-child(n)::before {
				border-radius: 0 0 0 $border-radius-16;
			}

			&:nth-child(2n)::before {
				border-radius: 0;
			}

			&:nth-child(3n)::before {
				border-radius: 0 0 $border-radius-16;
			}

			&:nth-child(4n)::before {
				border-radius: 0 0 $border-radius-16 $border-radius-16;
			}
		}
	}

	th {
		width: 25%;
		padding: 40px;
		padding-left: 0 !important;
		text-align: left;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		vertical-align: top;
	}

	td {
		position: relative;
		width: 25%;
		padding: 40px;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		vertical-align: top;

		span,
		div {
			display: block;
			position: relative;
		}

		&::before {

			@include color(background-color, main-background);
			content: "";
			display: inline-block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		&:nth-child(n)::before {
			border-radius: $border-radius-16 0 0;
		}

		&:nth-child(2n)::before {
			border-radius: 0;
		}

		&:nth-child(3n)::before {
			border-radius: 0 $border-radius-16 0 0;
		}

		&:nth-child(4n)::before {
			border-radius: $border-radius-16 $border-radius-16 0 0;
		}
	}

	thead {

		th {

			span {
				font-family: $font-secondary;
				font-size: $font-size-h2;
				line-height: $line-height-h2;
			}
		}
	}

	tbody {

		th,
		td {
			padding: 0 40px;
			font-size: $font-size-smaller;
			line-height: 28px;
		}

		th {

			@include color(color, font-color-normal);
			font-weight: $font-weight-normal;
		}
	}

	tfoot {

		th,
		td {
			padding: 30px 40px;
		}
	}

	&__header {
		display: flex;
		flex-flow: wrap column;
		justify-content: flex-start;
		align-items: flex-start;

		&__icon {
			display: flex !important;
			flex-flow: wrap row;
			margin-bottom: 20px;

			img {
				display: inline-block;
				max-width: 100%;
				max-height: 48px;
				margin: 12px 0;
			}
		}

		&__title {
			margin-bottom: 40px;

			h3 {
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 0;

				span {

					@include color(color, font-color-normal);
					display: inline-block !important;
				}
			}
		}

		&__description {
			margin-bottom: 40px;

			p {
				margin-bottom: 0;
				height: 72px;
				overflow: hidden;
			}
		}

		&__price {
			display: flex;
			flex-flow: wrap row;
			justify-content: flex-start;
			margin-bottom: 0;

			&__amount {
				display: inline-block !important;
				font-family: $font-secondary;
				font-size: 20px;
				font-weight: 700;
				line-height: $line-height-h1;
			}

			&__label {

				@include color(color, font-color-normal);
				display: inline-block !important;
				font-family: $font-secondary;
				line-height: $line-height-bigger;
				font-size: 20px;
			}

			+ .PricingTable__header__list {
				display: none !important;
			}
		}

		&__button {
			margin-bottom: 40px;

			&__see-all {
				margin: 0 0 20px;

				:hover {
					outline: 0;

					span {

						&::before {
							left: 0;
							width: 100px;
						}
					}
				}

				span {
					font-size: 14px;
					line-height: 2.14;
					color: #fa9531;

					&::before {
						background-color: #f5912c;
						content: "";
						position: absolute;
						bottom: 0;
						left: 25%;
						width: 0;
						height: 3px;
						transition: all 0.3s;
					}
				}
			}

			.Button {
				width: 100%;
				text-align: center;
			}

			&__note {

				@include color(color, font-color-medium);
				display: block;
				font-size: 13px;
				line-height: 23px;
			}
		}

		&__list {

			ul {
				font-size: 14px;
				margin-left: 0 !important;
			}
		}
	}

	&__content {

		&__header {

			th {
				padding-top: 30px !important;
				padding-bottom: 10px !important;

				span {

					@include color(color, font-color-dark);
					font-size: 18px;
					line-height: 24px;
					font-weight: $font-weight-bold;
				}
			}
		}
	}

	&--4x {

		th,
		td {
			width: 25%;
			padding: 30px 30px 15px;
			border-left-width: 0;
			border-right: 1px solid #f1f1f1;
			border-bottom: 1px solid #f1f1f1;

			p {
				font-size: 14px;
				line-height: 20px;
			}
		}

		th:last-child,
		td:last-child {
			border-left-width: 20px !important;
		}

		.PricingTable {

			&__header {

				&__title {
					margin-bottom: 25px;

					h3 {
						font-size: 30px;
					}
				}

				&__description {
					margin-bottom: 25px;

					p {
						height: 40px;
					}
				}

				&__price {

					&__amount {
						font-size: 20px;
						font-family: $font-secondary;
					}

					&__label {
						font-size: $font-size-h6;
						display: block !important;
						margin-left: 0;
					}
				}

				&__button {
					margin: 40px 0 0;
				}

				&__list {

					p {

						@include color(color, font-color-dark);
						font-size: 14px;
						font-weight: 700;
						font-style: italic;
						margin: 0 0 8px;
					}

					ul {
						line-height: 1.5;

						li {
							margin-bottom: 8px;
							display: flex;
						}
					}
				}
			}
		}
	}

	.Pricing__tooltip {
		position: relative;
		display: inline-block;
	}

	.Pricing__tooltip .Pricing__tooltip__text {
		visibility: hidden;
		width: 250px;
		background-color: $black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 10px;
		position: absolute;
		z-index: 9999;
		top: 125%;
		left: 7%;
		margin-left: -60px;
		font-size: 12px;
		line-height: 1.56;

		a,
		a:visited {

			@include color(color, font-color-light);
			text-decoration: underline;
		}
	}

	.Pricing__tooltip .Pricing__tooltip__text::after {
		content: "";
		position: absolute;
		bottom: 100%;
		left: 55%;
		margin-left: -20px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent #000;
	}

	.Pricing__tooltip:hover .Pricing__tooltip__text {
		visibility: visible;
	}

	.circle_checkmark_icon {
		width: 24px;
		height: 24px;
		background: url(../../images/circle_checkmark_icon.png) no-repeat;
		margin: 0 5px 0 0;
		padding: 0 20px 0 0;
	}

	.smile-icon {
		background: url(../../images/smile_icon.png) no-repeat;
		width: 16px;
		height: 16px;
		margin: 0 5px 0 0;
	}

	@media (max-width: 1260px) {

		&__header {

			&__title {

				h3 {
					height: 56px;
					overflow: hidden;
				}
			}
		}

		.PricingTable__header__price + .PricingTable__header__list {
			display: block !important;
		}

		.Pricing__header__tag-popular {
			padding: 3px 9px;
			margin: 0 0 0 94px;
		}

		thead {
			margin-bottom: 50px;

			tr {
				background-color: transparent !important;

				&::before,
				&::after {
					display: none !important;
				}

				&:last-of-type {
					display: none;
				}
			}

			th {
				display: none !important;
			}

			td {
				width: 33.33%;
				margin-bottom: 20px;
			}

			th,
			td {
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
			}
		}

		tbody {

			th,
			td {
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				padding: 5px 20px;
				line-height: 20px;
			}
		}
	}

	@media (max-width: $breakpoint-desktop-box) {

		.Pricing__header__tag-popular {
			margin: 0 0 0 50px;
		}
	}

	@media (max-width: 1150px) {

		.Pricing__header__tag-popular {
			margin: 0 0 0 50px;
		}
	}

	@media (max-width: $breakpoint-tablet) {

		&__header {

			&__button {

				+ .PricingTable__header__list {
					display: block !important;
					margin-top: 25px;
				}
			}
		}

		thead {

			th,
			td {
				width: 100%;
				margin-bottom: 50px;
				border-left: 0;
				border-right: 0;
			}

			tr:last-of-type {
				display: none !important;
			}
		}

		tbody {
			position: relative;
			max-width: 100%;
			overflow-x: auto;
			overflow-y: visible;
			padding: 15px 0;

			tr {
				flex-flow: nowrap row;

				&::before,
				&::after {
					display: none !important;
				}

				th {
					min-width: 230px;
				}

				td {
					min-width: 200px;
				}

				&:last-of-type {

					th,
					td {
						padding-bottom: 40px;
					}
				}
			}
		}

		tfoot {
			display: none !important;
		}

		.PricingTable .Pricing__header__tag-popular {
			margin: 0 0 0 390px;
		}
	}

	@media (max-width: $breakpoint-mobile) {

		&__header {

			&__title {
				margin-bottom: 15px;
			}

			&__description {
				margin-bottom: 10px;
			}

			&__price {
				margin-bottom: 40px;
			}
		}

		thead {
			margin-bottom: 40px;
		}

		tbody {

			tr {

				td {
					min-width: 150px;
				}
			}
		}

		.PricingTable .Pricing__header__tag-popular {
			margin: 0 0 0 70px;
		}
	}

	@media (max-width: $breakpoint-iphone-new) {

		thead {
			margin-bottom: 15px;
		}

		tbody {

			tr {

				th {
					min-width: 190px;
				}
			}
		}
	}

	@media (max-width: $breakpoint-iphone-old) {

		tbody {

			tr {

				th {
					min-width: 170px;
				}

				td {
					min-width: 140px;
				}
			}
		}
	}
}

.price-show {
	display: table-cell !important;
}

.price-hide {
	display: none !important;
}

.shadow-price-title {
	color: #808080;
}

html[lang="sk-SK"],
html[lang="ru-RU"],
html[lang="fr-FR"],
html[lang="nl-NL"] {

	.Pricing__header__tag-popular {
		font-size: 10px;
	}
}

html[lang="pt-BR"],
html[lang="nl-NL"],
html[lang="pl-PL"] {

	.PricingTable--4x .PricingTable__header__title h3 {
		font-size: 23px;
	}
}

html[lang="nl-NL"],
html[lang="pl-PL"] {

	.PricingTable--4x .PricingTable__header__price__amount {
		font-size: 14px;
	}
}
