/* stylelint-disable selector-class-pattern, value-keyword-case */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/menuArrow" as *;

%counter {

	color: $medium-gray;
	margin-right: 0.75em;
	text-align: right;
	transition: color 0.2s;
	flex: 0 0 auto;
}

.Research {

	.outline-text {

		@include textStroke(1px, $dark-orange);
		color: $white;
		font-weight: $font-weight-semi;
		font-size: 1.189em;
	}

	.checklist {
		max-width: none;

		ul:not([class]) li::before {
			background-image: url(/app/themes/liveagent/assets/images/icon-post-check.svg);
		}
	}

	.SidebarTOC-wrapper.Research__sidebar__wrapper {
		display: none;
		position: relative;
		top: 0;
		width: 15.625em;

		@media (min-width: 1380px) {
			display: block;

			.SidebarTOC {
				position: absolute;
				margin-top: 0;
			}

			~ * .Research--wrapper {
				position: relative;
				left: 4.5em;
			}
		}
	}

	&--wrapper__navigation {
		position: sticky;
		top: 6em;
		z-index: 1;

		@media (min-width: $breakpoint-tablet-landscape) {
			position: relative;
			top: auto;
		}
	}

	&--navigation {
		$num-width: 1.8em;
		$num-margin: 0.875em;

		color: $medium-gray-quotes;
		display: flex;
		justify-content: space-between;
		border-radius: $border-radius-16;

		@media (min-width: $breakpoint-tablet) {

			background-color: $lightest-gray;
			width: 30em;
		}

		&__title {
			display: none;
			padding: 0 0.625em;
			color: currentColor;
			font-weight: $font-weight-semi;
			font-size: 0.75em;

			@media (min-width: $breakpoint-tablet) {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				min-width: 20%;
			}
		}

		&__selected,
		a.Research--navigation__post__title {

			color: $black;
			font-size: 0.875rem;
			font-weight: $font-weight-semi;
		}

		&__selected {

			@extend %menuArrow;
			background-color: $white;
			position: relative;
			z-index: 2;
			display: flex;
			align-items: center;
			width: 100%;
			margin: 0 !important;
			padding: 0.375em 1.125em 0.375em 0.375em;
			border: 1px solid $medium-gray-inputs;
			border-radius: $border-radius-16;
			cursor: pointer;

			&::after {

				@include square(0.625em);
				border: 2px solid $black;
				border-top: 0;
				border-right: 0;
			}

			@media (min-width: $breakpoint-tablet) {

				@include square(100%);
			}
		}

		&__menu {

			background-color: $white;
			position: absolute;
			top: 100%;
			left: 0;
			opacity: 0;
			pointer-events: none;
			overflow: hidden;
			border-radius: 0.625em;
			width: 100%;
			padding: 1em 1.45em;
			transition: opacity 0.1s;
			box-shadow: 0 0.063em 0.375em rgba($black, 0.16);

			&::before {

				background-color: $lightest-gray;
				display: block;
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 0.7em;
			}

			&.active {
				opacity: 1;
				pointer-events: initial;
			}

			&__inn {

				@include scrollbar(0.5em);
				max-height: 19em;
				overflow-y: scroll;
				position: relative;
				margin: 0 -1.35em 0 -1.45em;
			}
		}

		&__posts {
			display: flex;
			align-items: center;
			position: relative;
			min-width: 100%;
			z-index: 1;

			@media (min-width: $breakpoint-tablet) {
				min-width: 80%;
			}
		}

		&__counter {

			@extend %counter;
			@include square(2.071em);
			margin-right: 1em;
			margin-left: 0.429em;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__post {
			display: flex;
			align-items: center;
			padding: 0.25em 0;
			cursor: pointer;

			&__title {
				display: flex;
				align-items: center;
				text-decoration: none !important;
			}

			&:hover {
				text-decoration: none;

				a:not(.Button) {
					text-decoration: none !important;
					color: var(--post-color);
				}

				.Research--navigation__counter {
					color: currentColor;
				}

				&::after {
					border-color: var(--post-color);
				}
			}
		}

		.Research--post__counter {

			@include square(1.813em);
			padding: 0;
			margin-right: 0.875em;
			font-size: 1rem;
		}

		@media (min-width: $breakpoint-tablet) {

			&__menu__inn {
				max-height: 28.5em;
			}

			&__post {

				&::after {

					@include square(0.45em);
					flex: 0 0 auto;
					content: "";
					border: 2px solid transparent;
					border-top: 0;
					border-left: 0;
					transition: all 0.2s;
					transform: rotate(-45deg);
					margin-left: 0.5em;
				}
			}
		}
	}

	&--toc {

		background-color: $lightest-gray;
		display: none;
		border-radius: $border-radius-16;

		&__title {
			font-size: 2rem;
			line-height: 1.25;
		}

		&__category {

			&__title {

				color: $medium-gray-quotes;
				display: flex;
				align-items: center;
				font-size: 0.75em;
				margin: 2em 0 0.75em !important;
			}

			&__image {

				@include square(2.33em);
			}
		}

		&__counter {

			@extend %counter;
			position: relative;
			margin-right: 0.65em;
			flex: 0 0 auto;
		}

		&__post {
			font-weight: $font-weight-semi;

			a.Research--toc__post__title {

				color: $black;
				display: flex;
				text-decoration: none !important;

				&:hover {
					color: var(--post-color);
					text-decoration: none !important;

					span {
						color: currentColor;
					}
				}
			}
		}

		@media (min-width: $breakpoint-tablet) {
			display: block;
			padding: 1.5em;
			margin: 3em 0 5em;

			&__categories {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			&__category {
				width: 45%;
			}
		}

		@media (min-width: $breakpoint-desktop) {
			padding: 3.65em 7.785em 5em;


			&__category {
				width: 30%;
			}

			&__post {
				padding: 0.65em 0;
			}
		}

		@media (min-width: $breakpoint-desktop-box) {
			margin-left: -7.5em;
			margin-right: -7.5em;
		}
	}
}
