/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.Reviews__relatedReviews {

	&:not([data-sortedBy*="ourrating"]) {

		.Reviews__rating.editor {
			display: none;
		}
	}

	&[data-sortedBy*="ourrating"] {

		.Reviews__rating:not(.editor) {
			display: none;
		}
	}

	.Reviews__rating--avatar {

		@include square(3.25em);
		border: none;
		box-shadow: 0 0 0 0.25em $dark-orange;

		@media (min-width: $breakpoint-tablet-landscape) {
			position: absolute;
			left: -2.35em;
		}
	}

	&--post {
		display: block;
		background-color: $white;
		border-radius: $border-radius-16;
		box-shadow: 0 1em 66px 0 rgba($black-real, 0.12);
		margin-top: 0.75em;
		overflow: hidden;

		&:not(.active) {
			border-bottom-right-radius: 0;
		}

		@media (hover: hover) {

			&:hover {

				.Reviews__relatedReviews--post {

					&__inn[class] {
						color: $black;
					}

					&__arrow {
						background: var(--background);
					}
				}
			}
		}

		&__number {
			font-size: 1.5rem;
			margin-left: 0.25rem;
			text-align: right;
			color: $medium-gray-quotes;

			.active & {
				color: $dark-orange;
			}
		}

		&__title {
			font-size: inherit;
			font-weight: $font-weight-bold;
			margin: 0;
			color: currentcolor;

			@media (min-width: $breakpoint-tablet) {
				margin-right: auto;
			}
		}

		&__excerpt {
			font-size: 1rem;
			line-height: 1.4;
			font-weight: $font-weight-normal;
			color: $medium-gray-quotes;
			max-height: 4.2em;
			overflow: hidden;
		}

		&__arrow {
			position: absolute;
			display: none;
			width: 2.75em;
			height: 100%;
			top: 0;
			right: 0;
			background-color: $light-gray-icon;
			border-bottom-left-radius: $border-radius-16;

			svg {
				flex: 0 0 0.75em;
			}

			@media (min-width: $breakpoint-tablet) {

				.Reviews__relatedReviews--post:not(.active) & {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}

		&__inn[class] {
			position: relative;
			flex-direction: column;
			padding: 1.125em;
			font-size: 1.125rem;
			font-weight: $font-weight-semi;
			line-height: 1;
			color: $medium-gray-quotes;
			text-decoration: none !important;

			.active & {
				color: $black;
				pointer-events: none;
			}

			@media (min-width: $breakpoint-tablet) {
				flex-direction: row;
				align-items: center;
			}
		}

		&__level2 {

			.Reviews__relatedReviews--post {

				&__inn[class] {
					color: $black;
				}

				&__main {
					max-width: 33.125em;
				}

				&__arrow {
					background: var(--background);
				}
			}

			.Reviews__rating {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				align-content: center;
				align-self: stretch;
				font-size: 1rem;

				&--rating {
					padding-right: 0;
				}

				&--count {
					width: 100%;
					font-weight: $font-weight-bold;
					text-align: center;
					margin-top: 0.5em;
				}
			}

			@media (min-width: $breakpoint-tablet) {
				margin-top: 1.25em;

				.Reviews__relatedReviews--post {

					&__inn[class] {
						min-height: 9.125em;
					}

					&__main {
						padding-right: 1.5em;
						max-width: 28em;
					}
				}

				.Reviews__rating {
					justify-content: center;
					margin: -1.125em;
					margin-left: auto;
					max-width: 14em;
					padding-left: 2.5em;
					padding-right: 4.5em;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {

				.Reviews__rating {
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: flex-end;
					padding-left: 0;
					padding-right: 5.5em;
					max-width: 19em;
					font-size: 1.125rem;

					&--count {
						text-align: right;
					}
				}
			}

			@media (hover: hover) {
				transform: translateX(0) translateZ(0);
				transition: all 0.2s;

				&:hover {
					transform: translateX(2em) translateZ(0);

					.Reviews__relatedReviews--post {

						&__number {
							color: $dark-orange;
						}
					}
				}
			}
		}
	}
}
