/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "sass:math";
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../components/Portals" as *;
@use "../components/Newsletter" as *;

@mixin footerGrid() {
	$h-gutter: 20;

	&__row {
		position: relative;
		display: flex;
		flex-flow: wrap row;
		justify-content: center;
		width: initial;
		margin-left: em(math.div(-$h-gutter, 2));
		margin-right: em(math.div(-$h-gutter, 2));

		> * {
			position: relative;
			padding-left: em(math.div($h-gutter, 2));
			padding-right: em(math.div($h-gutter, 2));
		}
	}
}

.Footer {

	@include color(color, content-color-light);
	@include color(background-color, invert-main-background);

	padding-top: em(110);
	padding-bottom: em(20);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	body:not(.home) & {
		margin-top: em(100);

		@media (max-width: $breakpoint-mobile) {
			margin-top: em(60);
		}
	}

	@media (max-width: $breakpoint-mobile) {
		padding-top: em(60);
	}
}

/* ------------------------------- FOOTER TOP ------------------------------- */
.Footer__top {

	@include footerGrid();
	padding-bottom: em(40);

	.wrapper {
		align-items: flex-start;
	}

	&__column {
		width: 20%;
		padding-bottom: em(40);

		&__title {
			display: flex;
			flex-flow: wrap row;
			align-items: center;

			@include color(color, content-color-light);

			img {
				display: block;
				max-width: 100%;
				max-height: 100%;
			}

			&--image {
				width: 100%;
				max-width: em(119, $font-size-default, "rem");
				font-size: 0;
			}
		}

		a:not(.Button) {

			@include color(color, content-color-light);
			text-decoration: none;

			&:active,
			&:focus,
			&:hover {
				text-decoration: underline;
			}
		}

		ul {
			font-size: $font-size-smaller;
			margin-bottom: 0;
		}
	}

	&__cta {

		&:not(:first-child) {
			margin-top: em(16);
		}

		.Button {
			min-width: em(170, $font-size-smaller);
			height: em(44, $font-size-smaller);
			padding: 0 em(5, $font-size-smaller);
		}
	}

	@media (max-width: $breakpoint-desktop) {
		padding: 0;

		&__column {
			display: flex;
			flex-flow: wrap column;
			align-items: center;
			text-align: center;
			width: 33.33%;

			&__title {
				justify-content: center;

				&--image {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	@media (max-width: $breakpoint-tablet) {

		&__column {
			width: 50%;
		}
	}

	@media (max-width: $breakpoint-mobile) {

		padding-bottom: em(20);

		&__column {
			width: 100%;
			padding-bottom: em(40);
		}
	}
}

/* ------------------------------ FOOTER MIDDLE ----------------------------- */
.Footer__middle {

	padding-bottom: em(20);

	@include footerGrid();

	.wrapper {
		align-items: initial;
	}

	ul {
		display: flex;
		flex-flow: wrap row;
		margin-bottom: 0;
	}

	p {

		@include color(color, font-color-light);
		margin-bottom: 0;
		font-family: $font-primary;
		font-size: $font-size-smaller;
		line-height: $line-height-smaller;
	}

	a {

		@include color(color, font-color-light);
		text-decoration: none;
	}

	&__contacts,
	&__social,
	&__newsletter {
		padding-bottom: em(40);
	}

	&__title {

		@include color(color, font-color-light);
	}

	&__contacts {
		width: 20%;

		ul {
			flex-direction: column;

			li {

				@include color(color, font-color-light);
				font-family: $font-primary;
				font-size: $font-size-smaller;
				line-height: $line-height-smaller;
				font-weight: $font-weight-semi;
			}
		}

		a {

			position: relative;
			display: inline-flex;
			align-items: center;
			padding-left: 1.5em;

			&:active,
			&:focus,
			&:hover {
				text-decoration: underline;
			}

			&::before {

				@include square(0.875rem);
				position: absolute;
				left: 0;
				content: "\e828";
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: fontello, sans-serif;
				font-weight: 900;
				text-decoration: none !important;
			}
		}

		ul &__phone a::before {
			content: "\e828";
			transform: rotate(90deg);
		}

		ul &__calendar a::before {
			content: "\e813";
		}

		ul &__whatsapp a::before {
			content: "\e836";
			font-size: 1.1em;
		}
	}

	&__social {
		width: 40%;

		ul {
			margin-left: em(-10, $font-size-default);
			margin-right: em(-10, $font-size-default);

			li {
				padding-left: em(10, $font-size-default);
				padding-right: em(10, $font-size-default);

				a {
					opacity: 1;
					display: block;

					svg {

						@include square(em(24, $font-size-default));
						display: block;
						fill: $white;
						transition: fill 0.5s;
					}

					&:active,
					&:focus,
					&:hover {
						opacity: 1;

						svg {

							@include color(fill, primary-color);
						}
					}
				}

			}
		}
	}

	&__newsletter {
		width: 40%;

		&__text {
			margin-top: em(8);
		}
	}

	@media (max-width: $breakpoint-desktop) {

		.wrapper {
			flex-flow: wrap column;
		}

		&__title {
			text-align: center;
		}

		&__contacts,
		&__social,
		&__newsletter {
			display: flex;
			flex-flow: wrap column;
			align-items: center;
			width: 100%;
		}
	}

	@media (max-width: $breakpoint-tablet) {

		&__contacts {

			li {
				width: 100%;
				text-align: center;
			}
		}
	}

	@media (max-width: $breakpoint-mobile) {

		&__contacts,
		&__social,
		&__newsletter {
			width: 100%;
		}

		&__contacts {

			ul {
				flex-flow: wrap column;
				align-items: center;

				li {
					margin: em(5) 0 !important;
				}
			}
		}

		&__newsletter {

			&__text {
				text-align: center;
			}
		}
	}
}

/* ------------------------------ FOOTER BOTTOM ----------------------------- */
.Footer__bottom {

	@include footerGrid();

	ul {
		display: flex;
		flex-flow: wrap row;
	}

	p,
	ul {

		@include color(color, font-color-normal);
		font-size: em(12);
		line-height: 1.66;
		margin-bottom: 0;
	}

	a {

		@include color(color, font-color-normal);

		&:active,
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}

	&__row {
		justify-content: space-between;
	}

	&__navigation {

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: em(-2) em(-10);

			li {
				padding: em(2) em(10);
			}
		}
	}

	@media (max-width: $breakpoint-desktop) {

		&__row {
			flex-flow: nowrap column;
			align-items: center;

			> *:not(:last-child) {
				margin-bottom: em(8);
			}
		}

		&__copyright {
			text-align: center;
		}
	}
}

.Footer__bottom__flags {
	max-width: em(140);
	margin-left: em(20);

	.wpml-ls {
		display: flex;
		flex-flow: wrap row;
		justify-content: flex-end;
	}

	.wpml-ls-item-toggle {
		border: 0;
		text-decoration: none !important;

		&::after {
			border: 0.35em solid transparent !important;
			border-bottom: 0.5em solid !important;
			top: calc(50% - 0.56em) !important;
		}
	}

	.wpml-ls-sub-menu {
		border: 0;
		top: em(-311);
		min-width: em(130);

		.wpml-ls-item {
			position: relative;

			a {
				border: 0;
				text-decoration: none !important;
			}
		}
	}

	.wpml-ls-legacy-dropdown-click {

		a {
			border-radius: em(8);
			margin-bottom: em(3);
		}
	}
}

body.facebook,
body.liveagent-huawei,
body.single-ms_glossary,
body.post-type-archive-ms_glossary,
body.single-format-standard,
body.category-blog,
body.single-ms_academy,
body.post-type-archive-ms_academy,
body.single-ms_templates,
body.post-type-archive-ms_templates,
body.typing-test,
body.tipptest,
body.prueba-de-tipeo,
body.test-de-saisie,
body.test-di-digitazione,
body.teste-de-digitacao,
body.typetest,
body.gepelesi-teszt,
body.test-pisania,
body.test-na-umenie-nabirat-tekst,
body.dazi-ceshi,
body.post-type-archive-ms_directory,
body.single-ms_directory,
body.shopify-chat-software,
body.post-type-archive-ms_awards {

	.Footer__middle {
		display: none !important;
	}

}
