/* stylelint-disable selector-class-pattern */

@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../elements/Checklist" as *;

.FreeAccount {
	flex-flow: nowrap row;
	background-color: $lightest-gray;

	@media (max-width: ($breakpoint-tablet-landscape - 1px)) {
		display: block;
	}

	&__sidebar {
		padding: 1.5em;

		&__logo {

			img {
				height: 2rem;
			}
		}

		.Signup__form {
			background-color: transparent;
			box-shadow: none;
			padding: 0 0.5em;
			margin-right: -0.25em;
			width: 100%;
			max-width: none;

			&__title {
				background-color: transparent;
			}

			.Button.createTrialButton {
				background-color: $white;
			}
		}

		.showMainSection {
			width: 100%;

			svg {

				@include square(1.5em);
				margin-left: 0.5em;
			}

			&__image {
				width: 80%;
				margin-left: auto;
				margin-right: 1em;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			padding: 3em;
			width: 50%;
		}

		@media (min-width: $breakpoint-desktop-box) {
			width: 41%;

			.Signup__form {
				width: calc(65.56% + 6em);
				margin: auto;
			}
		}
	}

	&__main {
		padding: 1.5em;

		&__included {
			display: none;

			&--mobile {
				display: block !important;

				.checklist {

					@extend %checklist;
					max-width: none;
				}
			}
		}

		&__try {

			&--title {
				display: block;
				padding-bottom: 1.65em;
				margin-bottom: -1em;
				background-size: 95% 0.15em;

				&__option {
					display: none;
					position: absolute;
					bottom: 1.5em;
					right: 0;
					transform: scale(0.675);
				}
			}

			&--pricing {
				margin-top: 1.5em;
				align-items: flex-end;

				h3 {
					font-weight: 600;
					margin-bottom: 0;
				}

				sup {
					font-weight: 400;
				}

				.big {
					font-size: 1.5em;
				}

				&__beers {
					width: 52%;
					max-width: 16.75em;
					margin-left: 1em;
				}

				&__monthly {
					margin: 0 0 3em;
				}
			}

			&--trial[class] {
				width: 100%;
			}

			&--citation {
				margin-top: 2.5em;
				align-items: flex-start;

				&__image {
					width: 11.62%;
				}

				&__text {
					width: 83.72%;
					margin-left: auto;

					strong {
						color: $dark-gray;
						font-size: 0.875em;
					}
				}
			}

			&--logos {
				margin-top: 3em;
				justify-content: space-between;
				align-items: center;
			}
		}

		@media (min-width: $breakpoint-tablet) {
			background-color: $white;

			&.hidden {
				display: block !important;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			display: flex;
			justify-content: flex-start;
			width: 50%;
			border-radius: 1em 0 0 1em;
			box-shadow: 0 0 2.5em 0.25em rgba($black-real, 0.08);

			&__try {
				position: relative;
				padding: 0 3.375em;

				&::before {
					position: absolute;
					content: "";
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 1px;
					height: calc(100% + 7em);
					background-color: $light-gray;
				}

				&--title {
					font-size: 2.5rem;

					&__option {
						display: block;
					}
				}
			}
		}

		@media (min-width: $breakpoint-desktop-box) {
			width: 59%;


			&__included {
				display: block;
				flex-basis: 44%;
				padding: 0 3.375em;
				font-size: 0.875rem;

				h3 {
					font-size: 0.875em;
					font-weight: 400;
					color: $medium-gray;
				}

				&--mobile {
					display: none !important;
				}

				&--list {
					font-size: 1em;
				}

				&--item {
					display: flex;
					align-items: center;

					+li {
						margin-top: 1em;
					}

					img {
						flex-basis: 33%;
						max-width: 9.375em;
					}
				}

				&--text {
					margin-left: 1.5em;
					flex-basis: 66%;

					h4 {
						font-size: 1.25em;
						margin: 0;
					}
				}
			}

			&__try {
				flex-basis: 56%;
			}
		}
	}
}
