/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "../common/variables" as *;
@use "../common/mixins" as *;

.HelpDesk {

	&--wide {
		max-width: $breakpoint-desktop-box;
		margin-left: auto;
		margin-right: auto;

		.wrapper {
			max-width: 100%;
			padding: 0;

			.elementor-column-wrap {
				padding: 1.6em 0 1.1em 0 !important;
			}
		}
	}

	.wrapper {

		.learn-more {
			margin-top: 0.75em;
		}

		.elementor-container.elementor-container {
			display: flex;
			justify-content: space-between;
			gap: 1em;
			flex-flow: column;

			@media (min-width: $breakpoint-tablet) {
				flex-flow: row;
			}

			.elementor-column.elementor-col-50.elementor-inner-column {
				width: 100% !important;

				@media (min-width: $breakpoint-tablet) {
					width: 45% !important;

					h2 {
						font-size: 2.5rem;
					}
				}


				.bigger {

					img {
						transform: scale(1.2);
					}
				}
			}
		}


		.elementor-row.elementor-row {
			display: flex;
			justify-content: space-between;
			gap: 1em;
			flex-flow: column;

			@media (min-width: $breakpoint-tablet) {
				flex-flow: row;
			}

			.elementor-column.elementor-col-50.elementor-inner-column {
				width: 100% !important;

				@media (min-width: $breakpoint-tablet) {
					width: 45% !important;
				}

				h2 {
					font-size: 40px;
				}

				.bigger {

					img {
						transform: scale(1.2);
					}
				}
			}
		}
	}

	.elementor-widget-container {

		.elementor-icon-box-wrapper {
			display: flex;
			align-items: center;
			margin-bottom: 1em;

			svg {
				transform: scale(0.9);
			}

			.elementor-icon-box-content {

				margin-left: 0.2em;

				.elementor-icon-box-title {
					margin-bottom: 0 !important;
					text-align: left;
				}
			}
		}
	}

	.checklist {

		.elementor-widget-container.elementor-widget-container {
			margin-bottom: 0;

			&:empty {
				display: none;
			}
		}

	}

	.TourPageNumbers__replaces-block {
		padding-top: 2em;

		&__title {
			opacity: 0.85;
		}

		&__logos {
			opacity: 0.3;

			&.darker {
				opacity: 0.7;
			}
		}
	}

	.help-desk-logos {

		img:first-child {
			margin-right: 0.5em;
		}

		a::after {
			display: none !important;
		}
	}

}

.HelpDeskFaq.Text.Text--faq {
	margin-bottom: 0 !important;
}

