/* stylelint-disable selector-class-pattern, no-descending-specificity */

@use "sass:math";
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "../common/marginsPaddings" as *;


.LandingPPC {

	picture,
	img {
		max-width: 100%;
	}

	section {
		border-radius: $border-radius-16;

		&.bg-level4 {

			@media (max-width: $breakpoint-tablet) {
				margin: 0 1.5em;

				+ .bg-level4 {
					border-radius: 0;
				}
			}

			@media (min-width: $breakpoint-tablet) and (max-width: ($breakpoint-tablet-landscape - 1px)) {
				margin: 0 40px;
			}

			@media (min-width: $breakpoint-tablet) {

				&:not(:has(.wrapper)) {
					padding: 0 2.5em;
				}
			}

			@media (min-width: $breakpoint-tablet-landscape) {

				&:not(:has(.wrapper)) {
					padding: 0;
				}
			}
		}


		&:has(.LandingPPC-floatingBlock) {

			@media (min-width: $breakpoint-tablet-landscape) {
				margin-top: 11em;
			}
		}
	}

	.heroBanner {


		.heroBanner__content__title .elementor-heading-title {
			font-size: 2.5rem;
			line-height: 1.5;
			text-align: left;
		}

		&__image {

			img {
				height: auto;
			}
		}

		h3 {
			font-size: 1.625rem;
			text-align: left;
		}

		@media (max-width: ($breakpoint-tablet - 1px)) {

			.wrapper {
				text-align: left;
			}

			.elementor-col-50 * {
				justify-content: flex-start !important;
			}

			.heroBanner__content__footer__cta {
				width: 100%;
				text-align: left;
			}

			.elementor-col-50:has(.homeVideo) {
				display: block;
				width: calc(100% + 2em) !important;
				margin-top: 8em;
				margin-right: -1em !important;
			}
		}

		@media (min-width: $breakpoint-tablet) {

			.heroBanner__content__title .elementor-heading-title {
				font-size: 3.25rem;
				line-height: 1.3;
			}
		}

		@media (max-width: ($breakpoint-tablet-landscape - 1px)) {

			.elementor-col-50:has(.homeVideo) {
				width: calc(50% + 3.5em);
				margin-right: -3.5em;
			}
		}
	}


	&-Connect {
		position: relative;

		picture {
			display: block;
			margin: 0 auto;
			max-width: 340px !important;

			@media (min-width: $breakpoint-tablet-landscape) {
				max-width: none !important;
			}
		}

		.Button--full {
			font-size: 1.125rem;
			height: 4.333em;
		}

		.Button--outline {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: all 0.3s;
			opacity: 0;

		}

		@media (hover: hover) {

			&:hover {

				.Button--outline {
					opacity: 1;
				}
			}
		}

	}

	&-HeaderSection {
		max-width: 48em;
		margin: 5em auto;
		text-align: center;

		h2 {
			font-size: 2rem;
			line-height: 1.33;
		}

		.Button {
			height: 2.5rem;
		}

		@media (min-width: $breakpoint-tablet) {

			h2 {
				font-size: 3rem;
			}
		}
	}

	.Clients {
		margin-top: 7.5em;
		margin-bottom: 0;
	}

	&-signupForm {
		margin: 7.5em auto;

		&__inn {
			border-radius: $border-radius-16;
			overflow: hidden;
			background-color: $level4;

			@media (min-width: $breakpoint-tablet-landscape) {
				display: flex;
			}
		}

		@media (max-width: ($breakpoint-tablet - 1px)) {
			margin-left: calc(-1em - 20px);
			margin-right: calc(-1em - 20px);

			.wrapper {
				padding: 0;
			}
		}

		&__left {
			background: url(../../images/landingpcc_sign-up-form_bg.jpg) center bottom no-repeat;
			background-size: cover;
			border-radius: 0.625em;

			.title {
				font-size: 2rem;
				line-height: 1.35;
			}

			&-text {
				padding: 2.25em 3.75em 0;
			}

			img {
				width: 130%;
				margin-left: -15%;
				max-width: none;
			}

			@media (min-width: $breakpoint-tablet) {
				margin: 0.65em;

				.title {
					font-size: 2.5rem;
					line-height: 1.35;
					max-width: 15ch;
				}

				img {
					width: 100%;
					margin: 0 auto;
					max-width: none;
				}
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			&__left {
				width: 57%;
			}
		}
	}

	.SliderTestimonials__wrapper {
		position: relative;
		padding: 0 2em;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			background: url(../../images/earth.png) center top no-repeat;
			background-size: cover;
		}

		> * {
			position: relative;
			z-index: 1;
		}

		@media (min-width: $breakpoint-tablet) {
			padding: 3em 2em 4em;

			&::after {
				background-position: center bottom;
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			padding: 4em 0 7em;
			max-width: 1140px;
			margin: 0 auto;

			&::after {
				background-size: contain;
			}
		}
	}

	&-floatingBlock {
		position: relative;
		padding: 1.5em 0;
		margin: 0 auto;
		max-width: calc(100% - 3em);
		background-color: $white;
		box-shadow: 10px 20px 50px -10px rgba(0, 0, 0, 0.06);
		border-radius: $border-radius-16;
		top: -8em;
		margin-bottom: -6em;
		padding-bottom: 5.625em;

		&__header {
			margin-bottom: 12em;
		}

		.LandingPPC-cols {
			max-width: 1140px;

			p {
				margin-bottom: 0;
				display: -webkit-box;
				line-clamp: 3;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		@media (min-width: $breakpoint-tablet) {
			padding: 2em 2.5em 5.625em;
			max-width: none;
			border: 1px solid $level4;
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			padding: 5.625em 0;
			max-width: 1380px;
		}
	}

	&-discover {
		position: relative;
		display: flex;
		align-items: center;
		text-decoration: none !important;
		font-size: 0.875rem !important;
		padding: 0 0.25em;
		background-color: $white;
		margin-left: auto;
		z-index: 1;

		&__wrapper {
			display: flex;
			align-items: center;
			position: relative;
			top: 4em;
			width: calc(100% - 5em);
			max-width: 71.25em;
			margin: 0 auto 1em;

			&::before {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				content: "";
				border-top: 1px solid $light-gray;
				height: 0;
				width: calc(100% - 6em);
			}

			@media (min-width: $breakpoint-tablet) {
				width: 100%;
			}
		}

		svg {

			@include square(1.85em);
			margin-left: 0.5em;
		}
	}

	&-cols {
		display: flex;
		flex-direction: column;
		max-width: 1380px;
		margin: 0 auto;
		gap: 3.75em;
		padding: 3.75em 2.5em 0;

		.icon {

			@include square(2.625em);
			margin-bottom: 1.5em;
		}

		h4 {
			font-size: 1.125rem;
			margin-bottom: 0.5em !important;
		}

		p {
			color: $dark-gray;
			font-size: 0.875rem;
			hyphens: auto;
		}

		@media (min-width: $breakpoint-tablet) {
			display: grid;
			padding: 2em 0;

			&-3 {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {
			padding: 0;
		}
	}
}
