/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;

span.badge__new {
	color: $white;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1.5;
	text-transform: uppercase;
	padding: 0.17em 0.67em;
	border-radius: 6.25em;
	margin-left: 0.5em;
	background-color: $black;
	white-space: nowrap;
}
