/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as v;

span.badge__new {
	color: v.$white;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1.5;
	text-transform: uppercase;
	padding: 0.125em 0.5625em;
	border-radius: 6.25em;
	margin-left: 0.5em;
	background-color: #ff492b;
}
