/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;
@use "../common/mixins" as *;

%checklist {
	list-style: none;
	padding-left: 0.5em;
	text-align: left;

	li {

		color: $black;
		position: relative;
		font-size: 1rem;
		padding-left: 1.5em;
		margin-bottom: 0.35em;

		&::before {

			@include circle(1em);
			display: inline-block;
			content: "";
			position: absolute;
			top: 2px;
			left: -0.5em;
			background: $medium-orange url(/app/themes/liveagent/assets/images/icon-post-check.svg) center center no-repeat;
			background-size: 50%;
			padding: 0.25em;
			font-size: 1.25em;
			margin: 0;
		}
	}

	ul {
		list-style: none;
		margin-top: 1em;

		li {
			padding-left: 0.5em;

			&::before {

				color: $dark-orange;
				@include square(auto);
				content: "\2022";
				background: none;
				padding: 0;
				top: 0;
			}
		}
	}
}

.checklist,
.wp-block-columns {

	ul:not([class]) {

		@extend %checklist;
		color: $dark-gray;
	}

	li {
		font-size: 1rem;

		* {
			all: unset;
			font-size: inherit;
		}

		strong {
			font-weight: $font-weight-semi;
		}
	}

	&--pros,
	.wp-block-column:first-of-type .wp-block-group:not(.bullet-list__first) {

		h4 {

			color: $saturated-green;
		}

		ul:not([class]) li::before {
			background-color: $desaturated-green;
			background-image: url(../images/icon-post-pros.svg);
		}
	}

	&--cons,
	.wp-block-column:nth-of-type(2):last-of-type .wp-block-group:not(.bullet-list__first) {

		h4 {

			color: $saturated-red;
		}

		ul:not([class]) li::before {
			background-color: $desaturated-red;
			background-image: url(../images/icon-post-cons.svg);
		}
	}
}
