/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;
@use "../common/mixins" as *;

.fakeChatButton {
	position: relative;

	cursor: pointer;

	&:not(.hidden) + * {
		display: none !important;
	}

	&__text,
	img {
		opacity: 0.5;
	}

	&__icon {
		background: url(../images/fakeChatButton.svg) center center no-repeat;
		border-radius: 50%;
		background-size: 105%;
	}

	&.hover {

		.fakeChatButton__msg {
			opacity: 1;
			transform: translateY(calc(-100% + 1em));

			&.bottom {
				display: block;
				transform: translateY(0);
			}
		}
	}

	@media (min-device-width: 1366px) {

		&:hover {

			.fakeChatButton__msg {
				opacity: 1;
				transform: translateY(calc(-100% + 1em));

				&.bottom {
					display: block;
					transform: translateY(0);
				}
			}
		}
	}

	&__msg {

		color: $white;
		background-color: $black;
		position: absolute;
		display: block;
		text-align: center;
		right: 1em;
		bottom: 0;
		font-size: 0.75rem;
		line-height: 1.35;
		border-radius: 5px;
		padding: 0.75em 1em;
		opacity: 0;
		transition: opacity 0.2s;
		z-index: 10;

		&.bottom {
			display: none;
			top: 100%;
			bottom: auto;

			&::after {

				@include triangle(1em, $black, up);
				top: auto;
				bottom: 100%;
			}
		}

		&::after {

			@include triangle(1em, $black, down);
			position: absolute;
			content: "";
			top: 100%;
			right: 2em;
		}
	}
}
