/* stylelint-disable selector-class-pattern,
no-descending-specificity, value-keyword-case
*/
@use "../common/variables" as *;
@use "../common/mixins" as *;

.LabelTag {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $pricing-gray;
	border-radius: 1.25em;
	font-size: 0.75rem;
	padding: 0.25em 1.166em;

	&--free--months {
		display: flex;
		align-items: center;
		column-gap: 0.3125em;
		color: $dark-pink;
		margin-left: auto;

		.LabelTag {
			padding: 0.25em 1em 0.25em 1.1em;

			&--small {

				@include posCustom(1.525em, auto, auto, 0);
				position: absolute;
				width: fit-content;
				margin: 0 !important;
				padding: 2px 0.625em;
				font-size: 14px;
				line-height: 1.15;
				font-weight: $font-weight-semi;

				&.red {
					color: $white;
					background-color: $saturated-red;
				}

			}
		}

		&--enterprise {
			align-items: flex-start;
			margin-bottom: 1em;

			.LabelTag--small {

				@include posCustom(0,unset,0,0);
				position: relative;
				width: fit-content !important;
			}
		}

		.pink {
			background: linear-gradient(45deg, $dark-pink, $light-pink);
			color: $white;
		}

		strong {
			font-size: 1.5rem;
			margin-right: 0.3em;
		}
	}

	&.popular {
		position: absolute;
		top: -30px;
		left: -1px;
		width: calc(100% + 2px) !important;
		border-radius: 0.75em 0.75em 0 0;
		margin: 0 !important;
		background-color: $saturated-blue;
		padding: 0.45em 1.166em;

		p {
			font-weight: 500;
		}
	}

	&.green {
		background-color: #7bdb30;
		color: $white;
	}

	+ .LabelTag {
		margin-left: 0.5em;
	}

	&--big {
		font-size: 1rem;
		font-weight: $font-weight-semi;
		padding: 0.25em 1.5em;
	}


	.icon {

		@include square(1rem);
		margin-right: 0.5em;
	}

	p {
		margin: 0;
		font-size: 0.875rem;
		font-weight: $font-weight-semi;
	}

}


#app .Header__navigation ul.nav li.LabelTag--limited--offer {
		border-radius: 100px;

		@media (min-width: $breakpoint-mobile) {
			border: 1px solid  rgba(247, 47, 73, 0.3);
			padding: 4px 4px 4px 12px;
			margin-right: 0.5em;
		}

		@media (min-width: $breakpoint-tablet-landscape ) and ( max-width: $breakpoint-desktop) {
			border: none !important;
			margin-right:0.5em;

			&::before {
				content: inherit !important;
			}
		}

		a {
			align-items: center;
			flex-wrap: nowrap;
			justify-content: flex-start;

			@media (min-width: $breakpoint-mobile) {
				line-height: 1.15 !important;
				justify-content: space-between;
			}


			&::before {
				content: unset !important;
			}

		}


		.menu-item-description {
			margin-left: 1em;
			z-index: 1;
			font-size: 14px;
			font-weight: $font-weight-semi;
			padding: 4px 10px;
			background-color: $saturated-red;
			color: $white;
			border-radius: 100px;
			width: fit-content;
			height: auto;
			line-height: 1.15;
			margin-top: 0;

			@media (min-width: $breakpoint-tablet-landscape ) and ( max-width: $breakpoint-desktop) {
				display: none;
			}
		}

}
