/* stylelint-disable selector-class-pattern */
@use "../common/variables" as *;
@use "../common/mixins" as *;

%posttag {

	background-color: $white;
	color: $dark-orange;
	display: inline-flex;
	align-items: center;
	border-radius: 1.5em;
	padding: 0.15em 1.5em 0.2em 0.2em;
	font-size: 0.875rem;
	text-transform: uppercase;
}

.career__post__tags li {

	@extend %posttag;
	margin-right: 1em;

	img {

		width: 2em;
		border-radius: 50%;
		box-shadow: 2px 4px 9px 0 rgba($black-real, 0.12);
		flex: 0;
		margin-right: 0.5em;
	}
}

.post__tag-star {

	@extend %posttag;

	&::before {

		@include square(2em);
		content: "";
		position: relative;
		display: inline-flex;
		border-radius: 50%;
		overflow: hidden;
		background: url(../images/star-icon.svg) center calc(50% - 1px) no-repeat, linear-gradient(90deg, $light-orange 0%, $dark-orange 100%);
		background-size: 1em, cover;
		margin-right: 0.5em;
		box-shadow: 2px 4px 9px 0 rgba($black-real, 0.12);
	}
}
