/* stylelint-disable selector-class-pattern, no-descending-specificity */
@use "../common/variables" as *;
@use "../common/mixins" as *;
@use "Typography" as *;

%resources {

	@include color(border-top-color, secondary-background);
	border-top-style: solid;
	margin-top: 25px;
}

/* stylelint-disable-next-line no-duplicate-selectors */
%resources__text {

	p {
		font-size: $font-size-smaller;
		line-height: $line-height-smaller;
		margin-bottom: 0;
	}
}

.Post {

	&__sidebar {

		&__item {
			margin-bottom: 1.5em;
		}

		&__categories,
		&__available,
		&__related,
		&__resources,
		&__partner,
		&__item {

			@extend %resources;
			border: none;
			margin-top: 0;

			ul,
			p {
				font-size: $font-size-smaller;
				line-height: $line-height-smaller;
			}

			a {

				@include color(color, primary-color);

				&:active,
				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__related,
		&__resources {

			@extend %resources__text;
		}

		&__categories {

			&__labels {
				display: flex;
				flex-wrap: wrap;

				a {

					@include color(background-color, third-color);
					@include color(color, primary-color);
					display: inline-block;
					border-radius: 1em;
					font-size: 0.75rem;
					font-weight: $font-weight-bold;
					padding: 0 1em;
					margin-bottom: 0.5em;
					transition: all 0.2s;
					text-decoration: none !important;

					&:active,
					&:focus,
					&:hover {

						@include color(background-color, primary-color);
						@include color(color, font-color-light);
						text-decoration: none !important;
					}
				}

				&.blue {

					a {
						background-color: $saturated-blue;
						color: $white;

						&:active,
						&:focus,
						&:hover {
							background-color: $desaturated-blue;
							color: $saturated-blue;
						}
					}
				}
			}
		}

		&__base-info {

			&__item {
				margin-bottom: 2.25em;

				&__title {
					margin-bottom: 1.125em;
					color: $black-real;
					font-size: $font-size-bigger;
					font-weight: $font-weight-bold;
					line-height: 1.11;
				}

				&__content {

					p {
						color: $black;
						font-size: $font-size-smaller;
						line-height: 1.43;
					}

					.Post__sidebar__list {

						li {
							margin-bottom: 0.714em;
							padding: 0;
							border-radius: $border-radius-6;
							border: 1px solid $primary;
							background: $medium-orange;
							color: $black;
							text-align: center;
							font-size: $font-size-smaller;
							line-height: 1.28;

							&:not( :has( a ) ) {
								padding: 0.428em 0.714em;
							}

							a {
								padding: 0.428em 0.714em;
								display: block;
								text-decoration: none;

								&::after {
									content: '';
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}

	&__content {

		h1 {
			font-size: 3rem;
			line-height: 1.26;
		}

		.Post__subtitle {
			font-size: 1.125rem;
			font-weight: $font-weight-normal;
			line-height: 1.5;
			margin-bottom: 2em;
		}

		.Post__sectiontitle {
			position: relative;
			font-size: 1.5em;
			line-height: 1.166;
			margin-top: 1.875rem;

			&:first-child {
				margin-top: 0;
			}

			span {
				display: inline-block;
				padding-right: 1em;
				background-color: $white;
			}

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 4px;
				background: url(../../images/dotted-line.svg) left center no-repeat;
				background-size: auto 100%;
				z-index: -1;
			}
		}

		table {

			@include color(color, font-color-dark);
			margin-bottom: 2em;
		}

		&__breadcrumbs {

			ul {

				@include color(color, font-color-normal);
				display: flex;
				flex-flow: wrap row;
				font-size: 0.75rem;
				line-height: 1.26;

				li {
					display: inline-block;
					margin-right: 1em;

					&:last-of-type {

						@include color(color, font-color-dark);
					}

					+ li {
						margin-left: 1em;

						&::before {
							content: ">";
							margin-left: -8px;
							margin-right: 1em;
							font-weight: $font-weight-bold;
						}
					}
				}
			}

			a {

				@include color(color, font-color-normal, !important);
				text-decoration: none;

				&:active,
				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.wp-block-columns {

			.wp-block-column:first-of-type .wp-block-group:not(.bullet-list__first) {

				ul:not([class]) li::before {
					background-color: $desaturated-green;
					background-image: url(../../images/icon-post-pros.svg);
				}
			}

			.wp-block-column:nth-of-type(2):last-of-type .wp-block-group:not(.bullet-list__first) {

				ul:not([class]) li::before {
					background-image: url(../../images/icon-post-cons.svg);
				}
			}
		}

		@media (min-width: $breakpoint-tablet-landscape) {

			h1 {
				margin-bottom: 1.5rem;
			}

			h1 + h2 {
				font-size: 1.5rem;
				line-height: 1.166;
				margin-bottom: 1.66em;
			}
		}

		.Content > {

			p:empty {
				display: none;
			}

			ul:not([class]),
			ul.wp-block-list {

				@extend %checklist;

				li::before {
					background-image: url(/app/themes/liveagent/assets/images/icon-post-check.svg);
				}
			}
		}

		&__resources {

			@extend %resources__text;

			a:not(.Button) {
				position: relative;

				&::before {
					text-decoration: none;
				}

				&:hover {
					text-decoration: none;
				}
			}

			&::before {

				@extend %resources;
				display: block;
				border-top-width: 2px;
				content: "";
				max-width: 5em;
			}
		}
	}
}
