name: Build Test - Web Calc

on:
  pull_request:
    paths:
      - 'apps/web-calc/**/*'
  push:
    paths:
      - 'apps/web-calc/**/*'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./apps/web-calc/
    strategy:
      matrix:
        node_version: [ '20' ]

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}

      - name: Install Yarn dependencies
        run: yarn

      - name: Run tests
        run: yarn build
